/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#333333;outline:none;blr:expression(this.onFocus=this.blur());}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/



/**********************************弹框********************************/
.index_chu{position:absolute;height:auto;clear:both;}
.index_d{width:451px;height:auto;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);background:#000;/*实现IE背景透明*/}
.index_dan{width:451px;height:auto;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;display:inline-block;padding-bottom:10px;}
.index_dan_title{width:451px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.index_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.index_dan_title a{float:right;height:38px;width:30px;}
.index_dan_title a img{margin-top:11px;}

.index_dan_con{height:auto;width:431px;padding:0 10px;}
.index_dan_con li{width:100%;float:left;margin-bottom:10px;}

.index_dan_con .biaoge{border:1px solid #cfcfcf;max-height:155px;overflow-y:auto;margin-top:10px;clear:both;}

.index_dan_con table td{height:24px;line-height:24px;text-align:center;}
.index_dan_con table input{margin-top:3px;margin-right:5px;float:left;margin-left:17px;display:inline;}

.index_dan_con .biaoti{text-align:center;height:30px;line-height:30px;color:#333333;font-weight:bold;}
.index_dan_con table a{color:#333; text-decoration:none;}
.index_dan_con table a:hover,.index_dan_con table .wenzi1 a:active{color:#c22a2c; text-decoration:underline;}
.index_dan_con table{color:#666;}



.xgai{width:100%;height:28px;line-height:28px;clear:both;}
.xgai a{float:right;color:#FFF;}
.tijiao{height:28px;line-height:28px;width:67px;background:url(../images/ggzs_bg2.jpg) no-repeat;color:#fff;text-align:center;margin-right:10px;}
.button{height:28px;line-height:28px;width:67px;background:url(../images/ggzs_bg2.jpg) no-repeat;color:#fff;text-align:center;margin-right:10px;}
.xgai input{width:67px;height:28px;line-height:28px;background:none;border:none;color:#FFF;cursor:pointer; outline:none;}
