/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#666;}
a:hover{color:#004da7;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;padding:10px;}
/***********************通用代码结束**************************/
.dir_title{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.dir_title_left{float:left;font-weight:bold;color:#666;}
.dir_title_left span{color:#004da7;}
.dir_title_right{float:right;}
.dir_title_right a{width:37px;height:34px;line-height:34px;text-align:center;color:#666;float:right;font-size:12px;font-weight:bold;margin-right:10px;display:inline;}
.dir_title_right input{border:none;float:right;height:auto;width:auto;height:34px;line-height:34px;}

.dir_con{width:auto;margin:0 10px;margin-top:10px;position:relative;border: 1px solid #e3e3e3;}
.dir_left{width:auto;margin:0 196px 0 0;border:1px solid #e3e3e3;}
.dir_right{width:186px;height:100%;position:absolute;top:0;right:0;background:#f6f6f6;}
.dir_right .dir_right_title{margin:0;padding:0 10px;background:#004da7;width:166px;height:34px;line-height:34px;border-bottom:1px solid #d1d1d1;color:#FFF;font-size:14px;}
.dir_right li{margin:0 10px;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;}
.dir_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.dir_con_title h1{width:40%;font-size:14px;font-weight:bold;float:left;color:#004da7;}
.dir_con_title h1 b{padding-left:20px;}
.dir_con_title h2{width:12%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.dir_con_title h3{width:12%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.dir_con_title a{padding-right:10px;color:#004da7;}
.dir_con_title a:hover{padding-right:10px;}
.dir_con_title h4{width:10%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.dir_con_title h5{width:10%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.dir_con_title h6{width:16%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}



.dir_con_nr{background:#FFF;width:100%;}
.dir_con_nr ul{clear:both;min-height:410px;}
.dir_con_nr li{width:auto;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;margin:0 10px;}
.dir_con_nr .dangqian{width:auto;height:auto;background:url(../images/right_line.jpg) repeat-x bottom;padding-bottom:10px;}
.dir_con_nr .dangqian .dangqian_1{width:auto;height:31px;line-height:31px;}
.dangqian_1  a{background:url(../images/fankui/fankui_sanjiaoxing.jpg) no-repeat left center;padding-left:10px;margin-right:12px;color:#333;/**font-weight:bold;**/;overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 20%; text-align: left;}
.dir_con_nr .dangqian .dangqian_2{height:auto;width:auto;padding:10px;background:#fafafa;margin:0 10px 0px 10px;line-height:20px;color:#666;}
.dangqian_2 table{border:none;margin:0;padding:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:10px;background:#FFF;}
.dangqian_2 table td{margin:0;padding:0;border-top:1px solid #CCC;border-left:1px solid #CCC;height:30px;line-height:30px;border-bottom:none;border-right:none;}
.dangqian_2 table tr{margin:0;padding:0;border:#CCC;}
.dir_con_nr h1{width:40%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h1 a{font-weight:normal;float:left;padding-left:10px;}
.dir_con_nr h2{width:12%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h3{width:12%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h4{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h5{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h6{width:16%;*+width:9%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.dir_con_nr h6 a{color:#666666;text-decoration:underline;}
.dir_con_nr h6 a:hover{color:#e30000;text-decoration:underline;}

.dir_ss{width:auto;height:32px;line-height:32px;text-align:center;margin:30px auto 0px auto;}
.dir_ss .dir_ss_kuang{width:325px;height:30px;line-height:30px;padding-left:5px;border:1px solid #004da7;font-size:12px;}
.dir_ss a{font-size:12px;}
.dir_ss input{margin-left:-3px;padding:0;}
.dir_ss_anniu{width:90px;height:30px;line-height:30px;background:#004da7;text-align:center;color:#FFF;border:1px solid #004da7; cursor:pointer;font-size:12px;}