.gonggao_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gonggao_titile_left{float:left;font-weight:bold;color:#666;}
.gonggao_titile_left span{color:#a80d13;}
.gonggao_titile_right{float:right;}
.gonggao_titile_right a{width:67px;height:28px;line-height:28px;background:url(../images/gonggao_bg.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}

.gonggao_con{width:auto;height:460px;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}
.gonggao_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.gonggao_con_title h1{width:40%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;}
.gonggao_con_title h1 b{padding-left:20px;}
.gonggao_con_title h2{width:15%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.gonggao_con_title h3{width:15%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.gonggao_con_title h4{width:15%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.gonggao_con_title h5{width:15%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}


.gonggao_con_nr{background:#FFF;width:100%;height:426px;}
.gonggao_con_nr ul{clear:both;min-height:350px;}
.gonggao_con_nr li{width:100%;height:30px;line-height:30px;}
.gonggao_con_nr h1{width:40%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gonggao_con_nr h1 input{margin-right:8px;margin-left:20px;margin-top:8px;float:left;}
.gonggao_con_nr h1 b{font-weight:normal;float:left;}
.gonggao_con_nr h2{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gonggao_con_nr h3{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gonggao_con_nr h4{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gonggao_con_nr h5{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}



.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}


/**********************************弹框********************************/
.gonggao_d{width:461px;height:237px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
background:#000;/*实现IE背景透明*/}
.gonggao_dan{width:461px;height:237px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.gonggao_dan_title{width:461px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.gonggao_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.gonggao_dan_title a{float:right;height:38px;width:30px;}
.gonggao_dan_title a img{margin-top:11px;}
.gonggao_dan_con{width:421px;padding:0 20px;padding-top:5px;height:319px;float:left;}
.gonggao_dan_con .gonggao_an1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/gonggao_an1.jpg) no-repeat;border:none;cursor:pointer;}
.gonggao_dan_con .gonggao_an2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}


.gonggao_con_nr_fenye .dang{height:22px;line-height:22px;color:#a70e10;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dang:hover{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dang:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}






.content_title p{width:76px;height:24px;position:relative;float:left;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;position:absolute;right:0;top:0;display:block;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 *



