.gonggao_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gonggao_titile_left{float:left;color:#666;}
.gonggao_titile_left a{height:44px;line-height:44px;padding:0 10px;background:url(../images/fankui/fankui_sanjiaoxing.jpg) no-repeat left center;}
.gonggao_titile_left .none{background:none;padding-left:0;}
.gonggao_titile_right{float:right;}
.gonggao_titile_right a{width:67px;height:28px;line-height:28px;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}

.slzs_title{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.slzs_title_left{float:left;font-weight:bold;color:#666;}
.slzs_title_left span{color:#a80d13;}
.slzs_title_right{float:right;}
.slzs_title_right a{width:37px;height:34px;line-height:34px;text-align:center;color:#666;float:right;font-size:12px;font-weight:bold;margin-right:10px;display:inline;}
.slzs_title_right input{border:none;float:right;height:auto;width:auto;height:34px;line-height:34px;}

.slzs_con{width:auto;margin:0 10px;height:auto;margin-top:10px;position:relative;}
.slzs_left{width:auto;height:auto;border:1px solid #e3e3e3;margin-right:200px;padding-bottom:20px;}

.slzs_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.slzs_con_title h1{width:40%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;}
.slzs_con_title h1 b{padding-left:20px;}
.slzs_con_title h2{width:13%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.slzs_con_title h3{width:13%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.slzs_con_title a{background:url(../images/gaoji_ico1.jpg) no-repeat right center;padding-right:10px;color:#a70f0e;}
.slzs_con_title a:hover{background:url(../images/gaoji_ico2.jpg) no-repeat right center;padding-right:10px;color:#ff9500;}
.slzs_con_title a:active{background:url(../images/gaoji_ico3.jpg) no-repeat right center;padding-right:10px;color:#a70f0e;}
.slzs_con_title h4{width:10%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.slzs_con_title h5{width:10%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.slzs_con_title h6{width:10%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}



.slzs_con_nr{background:#FFF;width:100%;}
.slzs_con_nr ul{clear:both;}
.slzs_con_nr li{width:auto;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;margin:0 10px;}
.slzs_con_nr .dangqian{width:auto;height:auto;background:url(../images/right_line.jpg) repeat-x bottom;padding-bottom:10px;}
.slzs_con_nr .dangqian .dangqian_1{width:auto;height:31px;line-height:31px;}
.slzs_con_nr .dangqian .dangqian_2{height:auto;width:auto;padding:10px;background:#fafafa;margin:0 10px 0px 10px;line-height:20px;color:#666;}
.dangqian_2 a{text-decoration:none;color:#CC0000;}
.dangqian_2 table{border:none;margin:0;padding:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:10px;background:#FFF;}
.dangqian_2 table td{margin:0;padding:0;border-top:1px solid #CCC;border-left:1px solid #CCC;height:30px;line-height:30px;border-bottom:none;border-right:none;}
.dangqian_2 table tr{margin:0;padding:0;border:#CCC;}
.slzs_con_nr h1{width:40%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h1 a{font-weight:normal;float:left;padding-left:10px;}
.slzs_con_nr h2{width:13%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h3{width:13%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h4{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h5{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h6{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.slzs_con_nr h6 a{color:#666666;text-decoration:underline;}
.slzs_con_nr h6 a:hover{color:#ff9500;text-decoration:underline;}



.slzs_right{width:192px;height:100%;position:absolute;right:0;top:0;}
.slzs_right_title{width:192px;height:24px;line-height:24px;}
.slzs_right_title li{width:95px;height:24px;float:left;margin-right:1px;position:relative;}

.slzs_right_title li a{width:91px;text-align:center;height:22px;line-height:24px;text-align:center;background:#e8e8e8;float:left;border:1px solid #dfdfdf;}
.slzs_right_title li p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico1.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico3.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li:hover p,.slzs_right_title li:active p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li:hover b,.slzs_right_title li:active b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li:hover a,.slzs_right_title li:active a{background:#c23433;color:#FFF;border:none;border-bottom:1px solid #c23433;height:23px;width:93px;}

.slzs_right_title .dq a{width:93px;text-align:center;height:23px;line-height:24px;text-align:center;float:left;background:#c23433;color:#FFF;border:none;border-bottom:1px solid #c23433;}
.slzs_right_title .dq p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq:hover p,.slzs_right_title li:active p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq:hover b,.slzs_right_title li:active b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}

.slzs_right_title .dq:hover a,.slzs_right_title li:active a{background:#c23433;color:#FFF;border:none;border-bottom:1px solid #c23433;height:23px;}






.slzs_right_con{width:192px;height:100%;background:#f6f6f6;}
.slzs_right_con li{width:auto;margin:0 10px;height:31px;line-height:31px;background:url(../images/fankui/right_line.jpg) repeat-x bottom left;}


.slzs_right_con ul li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align:left;}

.slzs_right_con{width:192px;height:100%;background:#f6f6f6;}
.slzs_right_con li{width:auto;margin:0 10px;height:31px;line-height:31px;background:url(../images/fankui/right_line.jpg) repeat-x bottom left;}
.slzs_right_con input{float:left;margin-top:9px;_margin-top:5px;*+margin-top:5px;margin-right:5px;margin-left:5px;display:inline;} 
.slzs_right_con a:hover,.slzs_right_con a:active{ text-decoration:underline;color:#c23433;}
.slzs_right_con .slzs_anniu{margin-top:10px;padding-bottom:10px;height:28px;}

.slzs_anniu a{background:url(../images/gonggao_bg.jpg) no-repeat;width:67px;height:28px;line-height:28px;margin-right:10px;display:block;float:left;color:#FFF;text-align:center;}
.slzs_right_con .slzs_anniu a:hover,.slzs_right_con .slzs_anniu a:active{text-decoration:underline;color:#FFF;}



