.yiban_title{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.yiban_title_left{float:left;font-weight:bold;color:#666;}
.yiban_title_left span{color:#a80d13;}
.yiban_title_right{float:right;}
.yiban_title_right a{width:37px;height:34px;line-height:34px;text-align:center;color:#666;float:right;font-size:12px;font-weight:bold;margin-right:10px;display:inline;}
.yiban_title_right input{border:none;float:right;height:auto;width:auto;height:34px;line-height:34px;}

.yiban_con{width:auto;margin:0 10px;margin-top:10px;position:relative;}
.yiban_left{width:auto;margin:0 196px 0 0;border:1px solid #e3e3e3;}
.yiban_right{width:186px;height:100%;position:absolute;top:0;right:0;background:#f6f6f6;}
.yiban_right .yiban_right_title{margin:0;padding:0 10px;background:#c23433;width:166px;height:34px;line-height:34px;border-bottom:1px solid #d1d1d1;color:#FFF;font-size:14px;}
.yiban_right li{margin:0 10px;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;}
.yiban_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.yiban_con_title h1{width:40%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;}
.yiban_con_title h1 b{padding-left:20px;}
.yiban_con_title h2{width:12%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.yiban_con_title h3{width:12%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.yiban_con_title a{padding-right:10px;color:#a70f0e;}
.yiban_con_title a:hover{padding-right:10px;}
.yiban_con_title h4{width:10%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.yiban_con_title h5{width:10%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.yiban_con_title h6{width:16%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}



.yiban_con_nr{background:#FFF;width:100%;}
.yiban_con_nr ul{clear:both;min-height:410px;}
.yiban_con_nr li{width:auto;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;margin:0 10px;}
.yiban_con_nr .dangqian{width:auto;height:auto;background:url(../images/right_line.jpg) repeat-x bottom;padding-bottom:10px;}
.yiban_con_nr .dangqian .dangqian_1{width:auto;height:31px;line-height:31px;}
.yiban_con_nr .dangqian .dangqian_2{height:auto;width:auto;padding:10px;background:#fafafa;margin:0 10px 0px 10px;line-height:20px;color:#666;}
.dangqian_2 a{text-decoration:none;color:#CC0000;}
.dangqian_2 table{border:none;margin:0;padding:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:10px;background:#FFF;}
.dangqian_2 table td{margin:0;padding:0;border-top:1px solid #CCC;border-left:1px solid #CCC;height:30px;line-height:30px;border-bottom:none;border-right:none;}
.dangqian_2 table tr{margin:0;padding:0;border:#CCC;}
.yiban_con_nr h1{width:40%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h1 a{font-weight:normal;float:left;padding-left:10px;}
.yiban_con_nr h2{width:12%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h3{width:12%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h4{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h5{width:10%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h6{width:16%;*+width:9%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.yiban_con_nr h6 a{color:#666666;text-decoration:underline;}
.yiban_con_nr h6 a:hover{color:#ff9500;text-decoration:underline;}

.yiban_ss{width:auto;height:32px;line-height:32px;text-align:center;margin:30px auto 0px auto;}
.yiban_ss .yiban_ss_kuang{width:315px;height:30px;line-height:30px;padding-left:5px;border:1px solid #c32a2d;font-size:12px;}
.yiban_ss a{font-size:12px;}
.yiban_ss input{margin-left:-3px;padding:0;}
.yiban_ss_anniu{width:90px;height:30px;line-height:30px;background:#c32a2d;text-align:center;color:#FFF;border:1px solid #c32a2d; cursor:pointer;font-size:12px;}


.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}

.gonggao_con_nr_fenye .dang{height:22px;line-height:22px;color:#a70e10;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dang:hover{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dang:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}








