.zhishi_titile{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;color:#a50e10;font-size:14px;}
.zhishi_titile img{margin-top:8px;margin-right:8px;}
.zhishi_titile a{background:url(../images/fankui/fankui_sanjiaoxing.jpg) no-repeat left center;padding-left:10px;margin-right:12px;color:#333;font-weight:bold;}

.zhishi_con{width:auto;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}
.zhishi_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.zhishi_con_title table{width:100%;height:30px;line-height:30px;}
.zhishi_con_title tr{width:100%;}
.zhishi_con_title .biaoti{width:39%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;}
.zhishi_con_title .biaoti b{padding-left:20px;}
.zhishi_con_title td{width:20%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;}

.zhishi_con_title a{color:#a70f0e;}
.zhishi_con_nr{background:#FFF;width:100%;overflow:auto;}

.zhishi_con_nr li{width:100%;height:30px;line-height:30px;}
.zhishi_con_nr h1{width:40%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h1 img{margin-top:7px;margin-left:20px;}
.zhishi_con_nr h1 b{padding-left:10px;font-weight:normal;}
.zhishi_con_nr h2{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h3{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h4{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}



.content_title p{width:76px;height:24px;position:relative;float:left;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;position:absolute;right:0;top:0;display:block;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 *

