/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#666;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#009883;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/



.index_dankuang{position:absolute; visibility:hidden; top:0;z-index:9999;width:100px;height:auto;border:1px solid #aca899;padding:2px;background:#F0F0F0; box-shadow:3px 3px 3px rgba(100,100,100,.6);-moz-box-shadow:3px 3px 3px rgba(100,100,100,.6);-webkit-box-shadow:3px 3px 3px rgba(100,100,100,.6);}
.index_dankuang li{}


.index_dankuang li a{padding:0 5px;width:90px;height:24px;line-height:24px;background:#F0F0F0;display:block;}
.index_dankuang a:hover,.index_dankuang a:active{color:#FFF;background:#009883;width:90px;}