@charset "utf-8";
/* CSS Document */

select{ border:#d0d0d0 solid 1px; width:80%; float:left; height:30px;
    padding: 0px 0px 0px 10px; line-height:30px;
	background: -moz-linear-gradient(top, #f1f1f1 5%, #ffffff 0%); /* firefox */
	color: #959595; text-transform: uppercase;  line-height:32px;
}

fieldset{ border:none;}
label {
	float: left; clear: left; margin: 11px 0px 0px 0px;
	text-align: right; font-size: 14px; color: #525252;
	text-transform: uppercase; text-shadow: 0px 1px 0px #cccccc;
}
input:focus, textarea:focus {
	background: #ffffff;
	 -moz-box-shadow: 3px 3px 2px #eff1f3;box-shadow: 3px 3px 2px #eff1f3;-webkit-box-shadow: 3px 3px 2px #eff1f3;
}
.input_kz{border:#d0d0d0 solid 1px;}
input {
	height:30px; padding:0px 0px 0px 10px; line-height:30px;
	background: -moz-linear-gradient(top, #f1f1f1 5%, #ffffff 0%); /* firefox */
	background: -webkit-gradient(linear,left top, left bottom,color-stop(5%,#f1f1f1),color-stop(0%,#ffffff); /* webkit */
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif;  color: #959595; text-transform: uppercase; text-shadow: 0px -1px 0px #334f71; line-height:32px;
}
	input:-webkit-input-placeholder  {
    	color: #959595; text-shadow: 0px -1px 0px #38506b;  
	}
	input:-moz-placeholder {
	    color: #959595; text-shadow: 0px -1px 0px #38506b; 
	}
	
