@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td, tr, a,img
{
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0; 
	color:#525252; font-family:Microsoft YaHei,"微软雅黑"; font-size:14px; line-height:24px;
}
 

ul,li{ list-style-type:none;}
img
{
    border: none;
}
 a{ color:#848484; text-decoration:none;}
 a:hover{ color:#525252;}
 
/*------------------------------积分页面 jifen_01.html------------------------------------*/
.page_right{ padding:15px 15px; background-color:#f5f5f5;min-width:100%;
width:e xpression(document.body.clientWidth < 1040 ? "1040px" : "100%" );}
.mainr_title{ border-bottom:#ababab solid 1px; height:41px; clear:both; overflow:hidden;}
.mainr_title ul{ border-bottom:#d2d2d2 solid 1px; height:39px;}
.mainr_title ul li{ float:left; }
.mainr_title ul li a{ background:url(../images/mainbg_03.gif) no-repeat; display:block;width:163px; height:40px; text-align:center; line-height:40px;color:#525252; padding-right:7px;}
.mainr_title ul li a:hover{ background:url(../images/mainbg_05.gif) no-repeat;}
.layer1 { position:relative;top:-32px;left:130px;z-index:1;}

.height20{ height:20px; clear:both;}

.mianr_con_title li{ float:left;} 
.mianr_con_title{ position:relative; z-index:1; height:57px;}
.mianr_con_title li a{_width:80px; padding:0px 50px; height:56px; background-color:#f5f5f5; display:block; line-height:50px; border:#dddddd solid 1px; border-left:none;}
.mianr_con_title li:first-child a { border-left:#dddddd solid 1px; }
.mianr_con_title li a:hover{ background-color:#FFFFFF; border-bottom:#ffffff solid 1px;}
.mianr_con_title .focus a{background-color:#FFFFFF; border-bottom:#ffffff solid 1px;color:#525252;}

.mainr_box{ border:#dddddd solid 1px; background-color:#FFFFFF;}
.graph{ height:271px;}
.jifen_pic{ width:350px; float:left; padding:55px 0px 55px 80px; height:161px; overflow:hidden;}
.a_bg{ background:url(../images/jifen_01.gif) no-repeat;}
.b_bg{ background:url(../images/jifen_02.gif) no-repeat;}
.jifen_a{ width:161px; height:161px; float:left;}
.jifen_b{ float:right; width:160px; margin-top:38px;}
.jifen_a h1{color:#FFFFFF; font-size:20px; padding:50px 0px 5px 0px; font-weight:600;text-align:center;}
.jifen_a h2{color:#FFFFFF; font-size:30px; text-align:center;font-weight:400;}
.jifen_b span{ line-height:28px;}
.yellow{ color:#fcb53f;} .blue{ color:#57ded7;}

.jifen_table{}
.table_all{ padding:40px 30px; margin:0 auto; height:380px;}
.table_a{ background-color:#f5f5f5; border:#d6d6d6 solid 1px; width:30%; float:left; position:relative; margin-right:30px;}
.table_a_title{ font-size:16px;color:#525252; line-height:60px; text-indent:18px; height:60px;}
.table_data{
	position:absolute;
	z-index:99;
	height:50px;
	width:185px;
	top:5px;
	right:1px;
	float:right;
}
.table_data li { float:left;}
.table_data li a{height:50px;display:block; line-height:50px; width:60px; text-align:center;}
.table_data li a:hover{background-color:#FFFFFF; border:#d6d6d6 solid 1px; border-bottom:#ffffff solid 1px; width:58px; display:block;}
.title_h{ height:56px; overflow:hidden; float:left; clear:both;}
.b_focus a{background-color:#FFFFFF; border:#d6d6d6 solid 1px; border-bottom:#ffffff solid 1px;}

.table_b{ border:#d6d6d6 solid 1px; margin:5px; background-color:#FFFFFF; clear:both;}

.table_jifen tr td ,th{ height:50px; text-align:center; line-height:50px;}
.table_jifen tr th{ border-bottom:#d6d6d6 solid 1px;}
.table_jifen tr td{border-bottom:#efefef solid 1px;}

.table_jifen .num_01{ background:url(../images/numberbg.gif) no-repeat 9px 15px;  width:20px; height:20px; color:#FFFFFF; overflow:hidden; }
.table_jifen .num_02{ background:url(../images/numberbg.gif) no-repeat 9px -25px;  width:20px; height:20px; color:#FFFFFF; overflow:hidden; }
.table_jifen .num_03{ background:url(../images/numberbg.gif) no-repeat 9px -67px;  width:20px; height:20px; color:#FFFFFF; overflow:hidden;}
.table_jifen .num_04{background:url(../images/numberbg.gif) no-repeat 9px -107px;  width:20px; height:20px; color:#FFFFFF; overflow:hidden;}
.table_jifen .num_05{background:url(../images/numberbg.gif) no-repeat 9px -147px;  width:20px; height:20px; color:#FFFFFF; overflow:hidden;}

/*------------------------------积分页面 jifen_02.html------------------------------------*/

.jifen_jl{padding:40px 30px; margin:0 auto;}
.btn_cz{ margin-bottom:20px; height:30px;}
.btn_cz li{ float:left; padding-right:5px;}
.table_left tr th{ background:url(../images/tablebg_03.gif) repeat-x; height:47px;}
.table_left tr td{ height:44px; border-bottom:#dddddd solid 1px; line-height:44px; text-align:center;}
.color_gray td{ background-color:#f5f5f5; height:44px;}
.gray{color:#bbbbbb;}

.table_c{background-color:#f5f5f5; border:#d6d6d6 solid 1px;}
.jf_r_title{ height:45px; line-height:45px; text-align:center; font-size:16px;_padding-top:20px;}
.label_title{ float:left;width:20%;_width:60px; min-width:60px; margin-right:10px;}
.form_r{ float:left; width:75%; }

.form_r .input_kz{ float:left; }
.form_r .input_kz_5{ float:left; width:72%;  width:68%\9;min-width:100px; }.input_kz_5{border:none; border:#d0d0d0 solid 1px;}
.btn_browse{ float:right;  height:28px;height:30px\9; border:#d0d0d0 solid 1px; background-color:#eeeeee; line-height:30px; text-align:center; width:18%;}
.form_all .btn_browse a{ font-size:12px; color:#343434; text-decoration:none; line-height:30px;}
.input_kz{ width:100%;}
.form_r{ margin:5px 0px 0px 0px;}
.form_all{ width:100%; clear:both; float:left;padding:15px 0px; border-bottom:#f5f5f5 solid 1px;}
.form_r .red{ color:#f34541; font-size:12px;line-height:20px;}

.blue_b{color:#2fc5fd; line-height:20px;font-size:12px;}



/*------------------------------积分页面 jifen_03.html------------------------------------*/
.btn_style{ background-color:#eeeeee; height:30px; line-height:30px;}
.radio input{ float:left; margin:-5px 0px 0px 0px;}
.radio{ float:left; width:20%;min-width:60px; margin-right:10px; text-shadow:none;}
.hang_cycle .input_kz_2{   float:left;width:70%;}
.input_kz_2{ border:none; border:#d0d0d0 solid 1px;}

.input_kz_3{border:none; border:#d0d0d0 solid 1px;width:30%; min-width:50px;}
.form_r_03{ height:35px; float:left; width:100%;}
.form_r_03 .input_kz_3{ float:left;}
.form_r_03  span{ float:left;}

.jf_pz tr th{ font-weight:400; color:#959595; font-size:12px; text-align:left;}
.jf_pz tr td{ height:38px; font-size:12px;}
.jf_pz tr:first-child{ font-size:12px; color:#959595;}

.input_kz_4{border:none; border:#d0d0d0 solid 1px;width:70%;}
.form_r a{color:#1fc2ff; text-decoration:underline;}
.form_r a:hover{ text-decoration:none;}


/*------------------------------积分页面 jifen_05.html------------------------------------*/
.table_right { width:85%; margin:0 auto;}
.table_left .table_right tr th{ text-align:left;}
.table_left .table_right tr td{ text-align:left; font-size:12px;width:33%;}
.blue_b a{color:#2fc5fd;}.blue_b a:hover{color:#2fc5fd;}

.select_con tr td{ height:40px; }
.select_con tr td .control-label{text-shadow:none; line-height:30px; min-width:30px; margin-right:5px;}

.ml_l{ width:15%;white-space:nowrap; overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis; max-width:150px;}

/*------------------------------积分页面 jifen_06.html------------------------------------*/
.layer_2{ position:relative;top:-1px;}
.layer_2_box{ padding:20px 0px 20px 0px;width:100%;  position:absolute; background-color:#ffffff; border:#d0d0d0 solid 1px; margin-top:30px; }
.layer_2 ul li ul li{ float:left; padding-right:10px; min-width:20px; font-size:12px; line-height:24px;}
.layer_2 ul li ul{ width:100%; float:left;}

.lp_01{ width:10%; margin-top:-4px; padding-left:10px;}
.lp_02{ width:20%; min-width:20px; float:left;}
.lp_03{ width:40%;min-width:20px; float:left;white-space:nowrap; overflow:hidden;text-overflow:ellipsis; -o-text-overflow:ellipsis; }


/*------------------------------积分页面 jifen_07.html------------------------------------*/
.btn_cz li ul li{ margin-bottom:15px;}

.layer_3{ position:relative; width:468px; margin:0 auto; }
.layer_3_box{ position:absolute; width:100%;border:#dddddd solid 1px; background-color:#FFFFFF;}

.layer3_title{ background-color:#de1025; height:47px; margin:1px;}
.layer3_title p{ float:left; line-height:47px; padding-left:15px; color:#FFFFFF;}
.layer3_title img{ float:right;line-height:47px; margin-right:15px; margin-top:15px;}

.layer3_choose{ margin-bottom:20px; padding-bottom:20px; border-bottom:#dddddd solid 1px; clear:both;}
.layer3_choose .layer3_right{ float:right; width:340px; margin-top:8px;}

.layer_3_table{clear:both; float:left; width:100%; margin-bottom:30px;}
.layer_3_table tr td{ height:30px; line-height:30px;}


.layer_4{ position:relative; width:408px; margin:0 auto;}

.layer3_choose .range{ float:left; width:50%; }
.range .label_title{ float:left;}
.range .layer3_right_2 p{ float:left; text-align:left; margin-top:10px;}

.la_height{height:150px; }
.la_height_02{ height:47px;}

/******轮播效果********/
.fullSlide {
	clear:both;
	width:161px;
	position:relative;
	height:161px; float:left;
}
.fullSlide .bd {
	margin:0 auto;
	position:relative;
	z-index:0;
	overflow:hidden;
}
.fullSlide .bd ul {
	width:161px !important;
}
.fullSlide .bd li {
	width:161px !important;
	height:161px;
	overflow:hidden;
	text-align:center; float:left;
}
.fullSlide .bd li a {
	display:block;
	height:161px;
}

.fullSlide .prev,.fullSlide .next {
	display:block;
	position:absolute;
	z-index:99;
	top:42%;
	z-index:1;
	width:46px;
	height:60px; 
	cursor:pointer;
	filter:alpha(opacity=40);
	opacity:0.5;
}
.fullSlide .prev{ left:0px;}
.fullSlide .next {
	left:auto;
	right:-22px;
}

/******轮播效果********/

/*------------------------------top------------------------------------*/
.xiaoi_bg{ background-color:#f5f5f5;}
.top_color{ background-color:#de1025; height:80px; width:100%; display:block;}
.top_white{ background-color:#FFFFFF; height:38px; width:100%; display:block;}
.top_yy{ background:url(../images/bgyy.png) no-repeat center; height:18px;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}

.user_mess{ width:146px; }
.user_mess span{color:#FFFFFF; float:left; width:70px;margin-top:25px;}
.user_mess img{ float:right; width:61px; height:61px; margin-right:15px; margin-top:8px;}
.search{ width:32%; margin:0 auto; line-height:80px; height:39px; padding-top:20px;}

.input_main{ width:50%;height:39px; clear:both; border:none; text-indent:5px; line-height:39px;}
.search .input_main{  }
.search ul{ float:right; width:50%;width:49%\9;}
.search ul li{color:#f5f5f5;float:left;width:28%; text-align:center;}
.search_01 a{ margin-right:5%; height:39px; color:#FFFFFF;  line-height:39px;display:block; background-color:#4abd7a;}
.search_02 a{ margin-right:5%; height:39px; color:#FFFFFF; line-height:39px; display:block; background-color:#f5803b;}
.search_03 a{margin-right:5%; height:39px; color:#FFFFFF; line-height:39px;display:block; background-color:#bd0102;}

.notice{ margin-left:15px; line-height:38px; font-size:12px; color:#6a6a6a;}
.notice a{ color:#6a6a6a; font-size:12px; margin-right:50px;}
.notice span{ background:url(../images/icon_03.gif) no-repeat; width:19px; height:15px; display:block; float:left; margin-top:11px; margin-right:10px;}

.icon_s ul li{ float:left; margin-right:15px; margin-left:10px; margin-top:6px;}
.icon_s{}


.left_bar{ width:280px; color:#e9e9e9;}
.kl_search_bg{ height:54px;background-color:#de1025;}
.kl_search{ width:245px; height:29px; padding-top:12px; margin-left:17px;}
.kl_search input{ border:none; border:none; background-color:#ea6875; width:211px; height:29px;}


.kl_box{ width:280px; background-color:#e9e9e9; padding:6px 0px;}
.kl_usbox{ background-color:#f6f6f6; border:#d6d6d6 solid 1px; width:266px; margin:0 auto;}

.kl_usbox ul .zj_01 li{ height:48px; line-height:48px;}






