/* CSS Document */

.gzcontent{width:auto;margin:10px;}
.gz-cn1{width:auto;margin:10px;}
.gzbfb{width:100%;}
.gztitle1{height:24px;line-height:24px;text-align:left;color:#333;}
.gztitle1 font{padding-right:20px;}

.gzul{width:100%;padding-top:10px;}
.gzul li{width:76px;height:23px;padding-right:3px;float:left;overflow:hidden;}


.gzul li a,.gzul>.active a{width:76px;height:23px;line-height:22px;text-align:center;background:url(../images/gztab01.jpg);display:inline-block;text-decoration:none;font-size:12px;}
.gzul li a{background-position:0 0;color:#666;}
.gzul li a:hover,.gzul li a:active{color:#c22a2c;}
.gzul>.active a,.gzul>.active a:hover{background-position:-76px 0;color:#fff;}
.gzul li a{font-family: 微软雅黑;}

.gz-cn2{width:auto;border:1px solid #e3e3e3;backgroun-color:#fff;}
.gz-cn2 h2{width:100%;height:34px;line-height:34px;text-align:center;font-size:12px;color:#666;font-weight:normal;background-color:#f6f6f6;border-bottom:1px solid #e3e3e3;}
.gz-cn3{width:auto;margin:10px;}

.gztable01{width:100%;position:relative;padding-bottom:200px;}
.gztable01 .gzul02{width:100px;position:absolute;left:0;top:0;z-index:100;}
.gztable01 .gzul02 li{float:left;text-align:center;}
.gztable01 .gzul02 li a{width:100px;padding:18px 0px;display:inline-block;background-color:#f6f6f6;font-size:12px;}
.gztable01 .gzul02 li a:hover,.gztable01 .gzul02 li a:active{color:#009883;}
.gztable01 .gzul02>.active a,.gztable01 .gzul02>.active a:hover{width:100px;padding:18px 0px;border-bottom:1px solid #ccc;background-color:#009883;color:#fff;}
.gzul02 li a{font-family: 微软雅黑;font-size:3;color:#000080;}


.gztable01 .gzform01{width:auto;margin-left:110px;}
.gztable01 .gzform01 table td{background-color:#fff;}
.gztable01 .gzform01 table td.question{font-size:14px;font-family: 微软雅黑;font-size:2;color:#000080;line-height:24px;}
td.answer{font-size:14px;font-family: 微软雅黑;font-size:2;color:#000000;line-height:20pt;}

.gztable02{width:100%;height:33px;overflow:hidden;background-color:#f6f6f6;}
.gztable02 li{width:20%;height:33px;float:left;}
.gztable02 li a{width:100%;height:33px;display:inline-block;font-size:12px;color:#666;text-decoration:none;text-align:center;line-height:33px;}
.gztable02 li a:hover,.gztable02 li a:active{color:#333;background-color:#e8e8e8;}

.yulan iframe{height:300px;width:600px;}
.yulan a{color:blue}
.yulan a:hover{color:#009883;}


/**********************************弹框********************************/
.increase_d{width:851px;height:auto;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
background:#000;position:absolute;top:50px;left:100px;z-index:100001;display:none;}
.increase_dan{width:851px;height:auto;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;display:inline-block;padding-bottom:10px;}
.increase_dan_title{width:851px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;margin-bottom:10px;}
.increase_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.increase_dan_title a{float:right;height:38px;width:30px;}
.increase_dan_title a img{margin-top:11px;}
.increase_dan_con{height:auto;width:831px;padding:0 10px;height:400px;overflow-y:auto;}
.increase_dan_con li{width:100%;float:left;margin-bottom:10px;}
.increase_dan_con .biaoge{border-top:1px solid #eee;border-left:1px solid #eee;clear:both;background:#fff;}
.increase_dan_con table td{line-height:24px;border-right:1px solid #eee;border-bottom:1px solid #eee;word-break:break-all;word-wrap:break-word;}
.increase_dan_con table a{color:#333;text-decoration:none;}
.increase_dan_con table a:hover,.increase_dan_con a:active{color:#c22a2c; text-decoration:underline;}


/**********************************菜单********************************/
.index_dankuang{position:absolute; visibility:hidden; top:0;z-index:9999;width:100px;height:auto;border:1px solid #aca899;padding:2px;background:#F0F0F0; box-shadow:3px 3px 3px rgba(100,100,100,.6);-moz-box-shadow:3px 3px 3px rgba(100,100,100,.6);-webkit-box-shadow:3px 3px 3px rgba(100,100,100,.6);}
.index_dankuang li{}
.index_dankuang li a{padding:0 5px;width:90px;height:24px;line-height:24px;background:#F0F0F0;display:block;}
.index_dankuang a:hover,.index_dankuang a:active{color:#FFF;background:#c23333;width:90px;}

/**********************************未解决弹框********************************/
.unsolve_xinxi_d{width:421px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;background:#000;}
.unsolve_xinxi_dan{width:421px;height:357px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.unsolve_xinxi_dan_title{width:421px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.unsolve_xinxi_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.unsolve_xinxi_dan_title a{float:right;height:38px;width:30px;}
.unsolve_xinxi_dan_title a img{margin-top:11px;}
.unsolve_xinxi_dan_con{width:381px;padding:0 20px;padding-top:5px;height:319px;float:left;}
.unsolve_xinxi_dan_con li b{height:30px;line-height:30px;padding-left:10px;}
.unsolve_xinxi_dan_con input{width:376px;height:28px;line-height:28px;border:1px solid #CCC;color:#666;padding-left:3px;font-size:14px;}
.unsolve_xinxi_dan_con textarea{width:376px;height:54px;line-height:24px;color:#666;border:1px solid #CCC;font-size:14px;padding-left:3px;}
.unsolve_xinxi_dan_con a{float:right;margin-left:10px;margin-top:8px;}
.unsolve_xinxi_dan_con .unsolve_xinxi_an1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an1.jpg) no-repeat;border:none;cursor:pointer;}
.unsolve_xinxi_dan_con .unsolve_xinxi_an2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}

/**********************************未解决弹框********************************/












