@charset "utf-8";


.gztable01{
	background: #fafcff;
}
.gz-cn2{
	border: 1px solid #ceebcd;
	background: #f6fbf6;
}
.gzul > .active a, .gzul > .active a:hover{
	color: #467a44;
}
.gzul li a, .gzul > .active a{
	color: #467a44;
}
.gzul li a:hover{
	color: #467a44;
}
.gztable01 .gzul02 > .active a, .gztable01 .gzul02 > .active a:hover{
	background: #ceebcd;
	color: #467a44;
	border: 1px solid #ceebcd;
}
.gztable01 .gzul02 li a{
	background: #eff4ef;
	color: #888;
	border: 1px solid #eff4ef;
}
.gztable01 .gzul02 li a:hover{
	color: #467a44;
}
.gztable01 .gzform01 table{
	background-color: #ceebcd;
	border: 0px solid #ceebcd;
}
.gztable01 .gzform01 table td.question{
	color: #000000;
}
.gztable01 .gzform01 table td{
	background: #f6fbf6;
}