
@charset "utf-8";
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
body, button, input, select, textarea {
    font: 12px/1.5 'Microsoft Yahei',arial,sans-serif;
}
input, select, textarea {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    text-align: inherit;
}
fieldset, img {
    border: 0 none;
}
iframe {
    display: block;
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
del {
    text-decoration: line-through;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}
q:before, q:after {
    content: "";
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
a:hover {
    text-decoration: underline;
}
ins, a {
    text-decoration: none;
}
.fn-clear:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.fn-clear {
}
body .fn-hide {
    display: none;
}
.fn-left, .fn-right {
    display: inline;
}
.fn-left {
    float: left;
}
.fn-right {
    float: right;
}
a:hover, a:active {
    text-decoration: none;
}
input[type="submit"], input[type="reset"], input[type="button"], button {
}
