/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#333;}
a:hover{color:#004da7;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/



/**********************************弹框********************************/
.ImportShade{position:absolute;width:441px;height:auto;text-align:center;display:inline-block;}
.ImportShade_d{width:421px;height:auto;display:inline-block;text-align:left;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);background:#000;/*实现IE背景透明*/}

.ImportShade_dan{position:relative;width:419px;height:100%;display:inline-block;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;}

.ImportShade_dan_title{width:100%;height:38px;line-height:38px;background:#004da7;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;}
.ImportShade_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.ImportShade_dan_title a{float:right;height:38px;width:30px;}
.ImportShade_dan_title a img{margin-top:11px;}

.ImportShade_dan_con{width:100%;height:auto;padding-top:5px;margin-bottom:15px;height:auto;}
.ImportShade_dan_con ul{width:auto;display:block;padding:0 20px;clear:both;}
.ImportShade_dan_con li{width:100%;height:auto;float:left;margin-bottom:10px;}
.ImportShade_dan_con li span{width:80px;height:100%;line-height:28px;color:#333;display:block;float:left;}
.ImportShade_dan_con li span a{font-size:14px;color:#333;}
.ImportShade_dan_con li span a:hover,.ImportShade_dan_con li span a:active{text-decoration:underline;}
.ImportShade_dan_con li p{width:291px;height:100%;color:#666;line-height:24px;float:left;}
.ImportShade_dan_con li input{width:150px;padding-left:3px;height:24px;line-height:24px;border:1px solid #CCC;}
.ImportShade_dan_con .anniu{width:auto;height:50px;line-height:30px;margin-top:10px;margin-bottom:0;}
.ImportShade_dan_con .ImportShade_aa1{width:67px;text-align:center;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;border:none;cursor:pointer;}