/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#666;}

img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/


/*
*********************************弹框*******************************
.index_d{width:421px;height:269px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;实现FF背景透明，文字不透明
filter:Alpha(opacity=50);background:#000;实现IE背景透明position:absolute;}
.index_dan{width:421px;height:269px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.index_dan_title{width:421px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.index_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.index_dan_title a{float:right;height:38px;width:30px;}
.index_dan_title a img{margin-top:11px;}
.index_dan_con{width:381px;padding:0 20px;padding-top:5px;height:191px;float:left;}
.index_dan_con li{width:100%;float:left;margin-top:9px;}
.index_dan_con li .shurukuang{width:210px;margin-right:17px;}
.index_dan_con li b{height:24px;line-height:24px;font-weight:normal;margin-right:6px;float:left;}
.index_dan_con li .dian{margin-top:2px;border:none;}
.index_dan_con li span{float:left;height:24px;line-height:24px;margin-left:5px;display:inline;}
.index_dan_con li img{float:left;}
.index_dan_con li input{height:24px;line-height:24px;border:1px solid #CCC;color:#666;padding-left:3px;font-size:14px;float:left;}
.index_dan_con li p input{width:120px;height:24px;line-height:24px;float:left;border:1px solid #CCC;margin-right:20px;margin-top:0px;}
.index_dan_con li p .wu{margin-right:0;}
.index_dan_con li select{width:122px;height:24px;line-height:24px;border:1px solid #CCC;padding:2px;float:left;margin-top:1px;margin-right:44px;}
.index_dan_con li .se{width:122px;height:18px;line-height:18px;border:1px solid #CCC;padding:2px;float:left;margin-top:1px;margin-right:44px;}
.index_dan_con li .wu{margin-right:0;}
.index_dan_con .index_dan_line{width:100%;height:1px;line-height:1px;display:block;background:url(../images/right_line.jpg) repeat-x;margin-top:15px;margin-bottom:0;}
.index_dan_con a{float:right;margin-left:10px;margin-top:8px;}
.index_dan_con .index_aa2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/index_dan_ico2.jpg) no-repeat;border:none;cursor:pointer;}
.index_dan_con .index_aa1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}


*/


/**********************************筛选弹框********************************/
.index_d{width:290px;height:auto;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/background:#000;/*实现IE背景透明*/position:absolute;}
.index_dan{width:100%;height:auto;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;display:inline-block;}
.index_dan_title{width:100%;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.index_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.index_dan_title a{float:right;height:38px;width:30px;}
.index_dan_title a img{margin-top:11px;}
.shai_con{width:100%;height:330px;float:left;overflow:auto;}

.shai_con table{width:100%;}
.shai_title{background:#eee;}
.shai_title td{border-bottom:1px solid #e3e3e3;color:#333;font-weight:bold;}

.shai_con td{text-align:center;height:30px;line-height:30px;padding:0 5px;color:#666;}





