/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#333333;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#004da7;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/



/**********************************弹框********************************/
.index_d{width:auto;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);/*实现IE背景透明*/display:inline-block;}
.index_dan{width:auto;display:inline-block;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;padding-bottom:10px;}
.index_dan_title{width:100%;height:38px;line-height:38px;background:#004da7;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.index_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.index_dan_title a{float:right;height:38px;width:30px;}
.index_dan_title a img{margin-top:11px;}
.index_dan_con{min-width:898px;width:auto;padding:0 20px;padding-top:5px;float:left; overflow-y:auto;overflow-x:hidden;position:relative;}
.index_dan_con li{width:100%;float:left;margin-bottom:10px;}
.index_dan_con table{border-bottom:1px solid #cfcfcf;border-right:1px solid #cfcfcf;}
.index_dan_con table td{border:1px solid #cfcfcf;border-bottom:none;border-right:none;}

.index_dan_con .biaoti{text-align:left;width:auto;height:auto;line-height:22px;color:#333333;font-weight:bold;overflow-y:auto;_width:92%;max-height:62px;_height:62px;padding:10px;float:left;}
.index_dan_con table .diyi1{width:20%;background:#f7f7f7;}
.index_dan_con table .dier1{width:40%;background:#f7f7f7;}
.index_dan_con table .disan1{width:40%;background:#f7f7f7;}

.index_dan_con table .diyi{width:20%;}
.index_dan_con table .dier{width:40%;}
.index_dan_con table .disan{width:40%;}

.index_dan_con table .wenzi1{width:auto;*+margin-right:-20px;line-height:20px;height:auto;max-height:277px;_height:95px;padding:5px;text-align:left;color:#666;overflow-x:hidden;overflow-y:auto;float:left;_width:92%;*+padding-right:20px;}
.yan1{background-color:#299f22;}
.yan2{background-color:#EF15A9;}
.yan3{background-color:#dc1919;}

.index_dan_con table .wenzi1 a{color:#333; text-decoration:none;}

.index_dan_con table .wenzi1 a:hover,.index_dan_con table .wenzi1 a:active{color:#004da7; text-decoration:underline;}

 

.index_d .shangmian{width:100%;height:30px;display:block;_width:100%;float:left;margin-bottom:10px;}
.index_d .shangmian p{float:right;height:30px;line-height:23px;position: relative;}
.index_d .shangmian .dian{width:auto;margin-top:0px;border:none;margin-right:5px;float:left;height:30px;line-height:30px;}
.index_d .shangmian span{float:left;height:30px;line-height:30px;margin-right:25px;}



.hide{display: none;}


.xgai{width:100%;height:30px;position:absolute;left:0;top:48px;clear:both;}
.xgai_con{width:auto;margin:0 20px;}
.xgai .pdiv{margin-left:10px;height:24px;width:auto;float:left;}
.xgai .pleft{height:24px;line-height:24px;width:60%;float:left;text-align:left;}
.xgai .pcenter{height:24px;line-height:24px;width:20%;float:left;text-align:left;}
.xgai .pright{height:24px;line-height:24px;width:20%;float:left;text-align:left;}
.xgai img{margin-right:5px;margin-top:2px;}

.index_dan_con table .diyi2{width:20%;background:#eee;}
.index_dan_con table .dier2{width:40%;background:#eee;}
.index_dan_con table .disan2{width:40%;background:#eee;}

