.gonggao_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gonggao_titile_left{float:left;color:#666;}
.gonggao_titile_left a{height:44px;line-height:44px;padding:0 10px;background:url(../images/fankui/fankui_sanjiaoxing.jpg) no-repeat left center;}
.gonggao_titile_left .none{background:none;padding-left:0;}
.gonggao_titile_right{float:right;}
.gonggao_titile_right a{width:67px;height:28px;line-height:28px;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}

.slzs_con{width:auto;margin:0 10px;height:390px;margin-top:10px;position:relative;}
.slzs_left{width:auto;height:100%;margin-right:200px;}
.slzs_con_nr{background:#FFF;width:100%;}

.slzs_con_nr .dangqian{width:auto;height:auto;border-bottom:1px solid #e3e3e3;padding-left:10px;margin:0 10px;}

.slzs_con_nr .dangqian_1{width:100%;height:31px;line-height:31px;}
.slzs_con_nr .dangqian_2{width:auto;height:auto;line-height:18px;color:#666666;margin-bottom:10px;}
.dangqian_2 a{text-decoration:none;color:#CC0000;}
.slzs_con_nr h1{width:auto;}
.slzs_con_nr h1 a{width:auto;color:#333;font-size:14px;font-weight:bold; text-decoration:underline;float:left;}
.slzs_con_nr h2{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}
.slzs_con_nr h3{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}
.slzs_con_nr h4{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}

.slzs_con_nr h5{width:auto;font-size:12px;font-weight:normal;float:right;color:#666666;}
.slzs_con_nr h5 form{float:right;}
.slzs_con_nr h5 label{margin-left:15px;float:right;display:inline;}
.slzs_con_nr h5 label input{float:left;margin-top:9px;margin-right:4px;width:auto;height:auto;}
.slzs_con_nr h5 a{float:left;font-weight:normal;width:auto;padding:0 10px;height:24px;line-height:24px;color:#fff;background:#67A909;margin-right:10px;display:inline;}
.slzs_con_nr h5 .hongse{background:#DE0C0F;}
.slzs_con_nr h6{width:auto;font-size:12px;font-weight:normal;float:right;color:#666666;margin-right:20px;}

.shipin{width:auto;height:auto;line-height:34px;background:#f6f6f6;margin:0 20px 10px 20px;text-align:center;padding:10px;}
.shipin .sp{width:100%;min-width:550px;height:auto;text-align:center;}

.dq_wz{width:auto;line-height:24px;margin:0 20px 0px 20px;}
.dq_wz a{color:#c2292c; text-decoration:underline;}

.slzs_con_nr .xiamian{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-right:10px;}
.slzs_con_nr .xiamian p{float:right;}
.slzs_con_nr .xiamian input{float:left;margin-right:5px;margin-top:11px;}
.slzs_con_nr .xiamian b{font-weight:normal;}

.dkfi_news{width:auto;height:34px;line-height:34px;margin:0 10px;padding-right:10px;background:url(../images/fankui/right_line.jpg) repeat-x bottom left;}
.dkfi_news p{width:auto;margin-left:10px;float:left;display:inline;}
.dkfi_news p a{width:auto;color:#666666;font-size:14px;font-weight:bold;text-decoration:underline;float:left;float:left;}
.dkfi_news p a:hover,.dkfi_news p a:active{color:#004da7;text-decoration:underline;}
.dkfi_news span{width:auto;float:right;}
.dkfi_news span a{width:auto;color:#666666;font-size:12px;font-weight:normal;text-decoration:underline;float:left;float:left;}
.dkfi_news span a:hover,.dkfi_news span a:active{color:#e30000;text-decoration:underline;}


.slzs_right{width:192px;height:100%;position:absolute;right:0;top:0;}
.slzs_right_title{width:192px;height:24px;line-height:24px;}
.slzs_right_title li{width:63px;height:24px;float:left;margin-right:1px;position:relative;}
.slzs_right_title li a{width:61px;text-align:center;height:22px;line-height:24px;text-align:center;background:#e8e8e8;float:left;border:1px solid #dfdfdf;}
.slzs_right_title li p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico1.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li b{position:absolute;top:0;right:0px;background:url(../images/fankui/titile_ico3.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li:hover p,.slzs_right_title li:active p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title li:hover b,.slzs_right_title li:active b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}

.slzs_right_title li:hover a,.slzs_right_title li:active a{background:#004da7;color:#FFF;border:none;border-bottom:1px solid #004da7;height:23px;}

.slzs_right_title .dq a{width:61px;text-align:center;height:23px;line-height:24px;text-align:center;float:left;background:#004da7;color:#FFF;border:none;border-bottom:1px solid #004da7;}
.slzs_right_title .dq p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq:hover p,.slzs_right_title li:active p{position:absolute;top:0;left:0;background:url(../images/fankui/titile_ico4.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq:hover b,.slzs_right_title li:active b{position:absolute;top:0;right:2px;background:url(../images/fankui/titile_ico2.jpg) no-repeat;width:3px;height:3px;}
.slzs_right_title .dq:hover a,.slzs_right_title li:active a{background:#004da7;color:#FFF;border:none;border-bottom:1px solid #004da7;height:23px;}


.slzs_right_con{width:192px;height:100%;background:#f6f6f6;}
.slzs_right_con li{width:auto;margin:0 10px;height:31px;line-height:31px;background:url(../images/fankui/right_line.jpg) repeat-x bottom left;}


.slzs_con_nr .dangqian_3{width:100%;height:31px;line-height:31px;}
.dangqian_3 p a{width:auto;color:#666666;font-size:14px;font-weight:bold;text-decoration:underline;float:left;float:left;}
.dangqian_3 p a:hover,.dkfi_news p a:active{color:#004da7;text-decoration:underline;}

.dangqian_3 a{color:#999;float:right;padding-right:10px;}
.dangqian_3 a:hover,.dangqian_3 a:active{color:#004da7; text-decoration:underline;}

.dangqian_1 h1 a{text-decoration:none;width:100%;}
.dkfi_news p a{text-decoration:none;}
.dangqian_3 p a{text-decoration:none;}
.slzs_right_con ul li{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;text-align:left;}

.slzs_right_con{width:192px;height:100%;background:#f6f6f6;}
.slzs_right_con li{width:auto;margin:0 10px;height:31px;line-height:31px;background:url(../images/fankui/right_line.jpg) repeat-x bottom left;}
.slzs_right_con input{float:left;margin-top:9px;_margin-top:5px;*+margin-top:5px;margin-right:5px;margin-left:5px;display:inline;} 
.slzs_right_con a:hover,.slzs_right_con a:active{ text-decoration:underline;color:#004da7;}
.slzs_right_con .slzs_anniu{padding-top:10px;padding-bottom:10px;height:28px;}

.slzs_anniu a{background:url(../images/gonggao_bg.jpg) no-repeat;width:67px;height:28px;line-height:28px;margin-right:10px;display:block;float:left;color:#FFF;text-align:center;}
.slzs_right_con .slzs_anniu a:hover,.slzs_right_con .slzs_anniu a:active{text-decoration:underline;color:#FFF;}

