.gaoji{width:auto;height:130px;background:#fff;margin:10px 10px 0 10px;clear:both;}
.gaoji_1{width:40%;float:left;}
.gaoji_1 li{width:100%;float:left;margin-bottom:6px;}
.gaoji_1 input{width:205px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.gaoji_1 label{float:left;height:24px;line-height:24px;}
.gaoji_1 label input{width:20px;height:24px;border:none;float:left;padding:0;}
.gaoji_1 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px}
.gaoji_1 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}
.gaoji_2{width:30%;float:left;}
.gaoji_2 li{width:100%;float:left;margin-bottom:6px;}
.gaoji_2 input{width:115px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.gaoji_2 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px}
.gaoji_2 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}

.gaoji_3{width:30%;float:right;}
.gaoji_3 li{width:100%;float:left;margin-bottom:6px;}
.gaoji_3 input{width:115px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.gaoji_3 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px;}
.gaoji_3 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}
.gaoji_3 .an1{background:url(../images/ggzs_bg2.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:left;color:#FFF;margin-left:45px;border:none;display:inline; cursor:pointer;}
.gaoji_3 .an2{background:url(../images/ggzs_bg1.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:left;color:#FFF;border:none;margin-left:10px;display:inline;cursor:pointer;}

.gaoji_title{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gaoji_title_left{float:left;font-weight:bold;color:#666;}
.gaoji_title_left span{color:#004da7;}
.gaoji_title_right{float:right;}
.gaoji_title_right a{width:37px;height:34px;line-height:34px;text-align:center;color:#666;float:right;font-size:12px;font-weight:bold;margin-right:10px;display:inline;}
.gaoji_title_right input{border:none;float:right;height:auto;width:auto;height:34px;line-height:34px;}

.gaoji_con{width:auto;margin:0 10px;margin-top:10px;position:relative;}
.gaoji_left{width:auto;border:1px solid #e3e3e3;}

.gaoji_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.gaoji_con_title h1{width:20%;font-size:14px;font-weight:bold;float:left;color:#004da7;}
.gaoji_con_title h1 b{padding-left:20px;}
.gaoji_con_title h2{width:20%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.gaoji_con_title h3{width:20%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.gaoji_con_title a{padding-right:10px;color:#004da7;}
.gaoji_con_title img{margin-top: 13px;}
/**background:url(../images/gaoji_ico1.jpg) no-repeat right center;
background:url(../images/gaoji_ico2.jpg) no-repeat right center;
**/
.gaoji_con_title a:hover{padding-right:10px;color:#e30000;}
.gaoji_con_title h4{width:20%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.gaoji_con_title h5{width:15%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}



.gaoji_con_nr{background:#FFF;width:100%;}
.gaoji_con_nr ul{clear:both;}
.gaoji_con_nr li{width:auto;height:31px;line-height:31px;background:url(../images/right_line.jpg) repeat-x bottom;margin:0 10px;}
.gaoji_con_nr .dangqian{width:auto;height:auto;background:url(../images/right_line.jpg) repeat-x bottom;padding-bottom:10px;}
.gaoji_con_nr .dangqian .dangqian_1{width:auto;height:31px;line-height:31px;}
.gaoji_con_nr .dangqian .dangqian_2{height:auto;width:auto;padding:10px;background:#fafafa;margin:0 10px 0px 10px;line-height:20px;color:#666;}
.dangqian_2 table{border:none;margin:0;padding:0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;margin-bottom:10px;background:#FFF;}
.dangqian_2 table td{margin:0;padding:0;border-top:1px solid #CCC;border-left:1px solid #CCC;height:30px;line-height:30px;border-bottom:none;border-right:none;}
.dangqian_2 table tr{margin:0;padding:0;border:#CCC;}
.gaoji_con_nr h1{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gaoji_con_nr h1 a{font-weight:normal;float:left;padding-left:10px;}
.gaoji_con_nr h2{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gaoji_con_nr h3{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gaoji_con_nr h4{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gaoji_con_nr h5{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}

.gaoji_ss{width:440px;height:32px;line-height:32px;text-align:center;margin:30px auto 0px auto;}
.gaoji_ss .gaoji_ss_kuang{width:325px;height:30px;line-height:30px;padding-left:5px;border:1px solid #004da7;font-size:12px;float:left;}
.gaoji_ss a{font-size:12px;float:left;}
.gaoji_ss input{margin:0;padding:0;float:left;}
.gaoji_ss_anniu{width:90px;height:30px;line-height:30px;background:#004da7;text-align:center;color:#FFF;border:0px solid #004da7; cursor:pointer;font-size:12px;float:left;}


.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #c3dcf8;color:#004da7;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #c3dcf8;color:#004da7;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}

.gonggao_con_nr_fenye .dang{height:22px;line-height:22px;color:#004da7;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #308fff;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:hover{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}








