.quanwen{width:auto;height:130px;background:#fff;margin:10px 10px 0 10px;clear:both;}
.quanwen_1{width:40%;float:left;}
.quanwen_1 li{width:100%;float:left;margin-bottom:6px;}
.quanwen_1 input{width:205px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.quanwen_1 label{float:left;height:24px;line-height:24px;}
.quanwen_1 label input{width:20px;height:24px;border:none;float:left;padding:0;}
.quanwen_1 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px}
.quanwen_1 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}
.quanwen_2{width:30%;float:left;}
.quanwen_2 li{width:100%;float:left;margin-bottom:6px;}
.quanwen_2 input{width:115px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.quanwen_2 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px}
.quanwen_2 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}

.quanwen_3{width:30%;float:right;}
.quanwen_3 li{width:100%;float:left;margin-bottom:6px;}
.quanwen_3 input{width:115px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding-left:3px;}
.quanwen_3 select{width:120px;height:22px;line-height:22px;border:1px solid #ccc;float:left;padding:2px 2px 2px 0px;}
.quanwen_3 p{width:70px;height:24px;line-height:24px;text-align:center;float:left;}
.quanwen_3 .an1{background:url(../images/ggzs_bg2.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:left;color:#FFF;margin-left:45px;border:none;display:inline; cursor:pointer;}
.quanwen_3 .an2{background:url(../images/ggzs_bg1.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:left;color:#FFF;border:none;margin-left:10px;display:inline;cursor:pointer;}

.quanwen_title{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.quanwen_title_left{float:left;font-weight:bold;color:#666;}
.quanwen_title_left span{color:#004da7;}

.quanwen_con{width:auto;margin:0 10px;position:relative;}
.quanwen_left{width:auto;height:100%;}


.quanwen_con_nr{background:#FFF;width:100%;}
.quanwen_con_nr ul{clear:both;}
.quanwen_con_nr li{width:auto;height:auto;line-height:31px;border-bottom:1px solid #e3e3e3;margin:0 10px;padding-left:10px;}

.quanwen_con_nr .dangqian_1{width:auto;height:31px;line-height:31px;}


.quanwen_con_nr .dangqian_2{width:auto;height:24px;line-height:24px;}
.quanwen_con_nr .dangqian_2 a{background:url(../images/sanjiaoxing.jpg) no-repeat right center;padding-right:10px;}
.quanwen_con_nr .dangqian_2 a:hover{color:#333; text-decoration:underline;}
.quanwen_con_nr .dangqian_3{width:auto;height:100%;line-height:18px;color:#666666;margin-bottom:10px;}
.quanwen_con_nr h1{width:auto;float:left;margin-right:20px;}
.quanwen_con_nr h1 a{width:auto;color:#333;font-size:14px;font-weight:bold; text-decoration:underline;float:left;}
.quanwen_con_nr h2{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}
.quanwen_con_nr h3{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}
.quanwen_con_nr h4{width:auto;font-size:12px;font-weight:normal;float:left;color:#666666;margin-right:20px;}


.gaoji_ss{width:440px;height:32px;line-height:32px;text-align:center;margin:30px auto 0px auto;}
.gaoji_ss .gaoji_ss_kuang{width:325px;height:30px;line-height:30px;padding-left:5px;border:1px solid #004da7;font-size:12px;float:left;}
.gaoji_ss a{font-size:12px;float:left;}
.gaoji_ss input{margin:0;padding:0;float:left;}
.gaoji_ss_anniu{width:90px;height:30px;line-height:30px;background:#004da7;text-align:center;color:#FFF;border:0px solid #004da7; cursor:pointer;font-size:12px;float:left;}


.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #c3dcf8;color:#004da7;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #c3dcf8;color:#004da7;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}

.gonggao_con_nr_fenye .dang{height:22px;line-height:22px;color:#004da7;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #308fff;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:hover{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}



/********************弹出框************************/
.quanwen_dan{width:auto;height:auto;position:absolute;left:0;top:20px;border:3px solid #004da7;background:#FFF;border-radius:3px;padding:10px;display:block;_width:440px;z-index: 200;}
.quanwen_dan_left{width:auto;_width:190px;border-right:1px solid #ccc;height:auto;float:left;}
.quanwen_dan_left li{width:auto;border-bottom:1px solid #CCC;height:28px;line-height:28px;padding-left:20px;padding-right:10px;}
.quanwen_dan_right{width:auto;_width:249px;height:auto;float:left;}
.quanwen_dan_right li{width:auto;border-bottom:1px solid #CCC;height:28px;line-height:28px;padding-left:30px;padding-right:10px;}
.quanwen_dan .none{border-bottom:none;}
.quanwen_dan_left li{position:relative}
.quanwen_dan_left .zhong{width:10px;height:10px;position:absolute;left:5px;top:9px;}
.quanwen_dan_right li{position:relative}
.quanwen_dan_right .zhong{width:10px;height:10px;position:absolute;left:15px;top:9px;}



