/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#333;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/



/**********************************弹框标题******************************display:inline-block;**/
.fdong{display:none; position:absolute;width:783px;height:auto;text-align:center;top:50ox;left:150px;}
.fkui_d{width:100%;height:auto;display:inline-block;text-align:left;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);background:#000;/*实现IE背景透明*/}

.fkui_dan{position:relative;width:auto;height:100%;display:inline-block;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;}

.fkui_dan_title{width:100%;height:38px;line-height:38px;background:#004da7;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;}
.fkui_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.fkui_dan_title a{float:right;height:38px;width:30px;}
.fkui_dan_title a img{margin-top:11px;}

.shili_dan_con{width:100%;height:34px;line-height:34px;background:#f6f6f6;border-bottom:1px solid #cdcdd5;}
.shili_dan_left{height:34px;line-height:34px;width:157px;float:left;text-align:center;border-right:1px solid #cdcdd5;font-weight:bold;color:#333333;}
.shili_dan_center{height:34px;line-height:34px;width:463px;float:left;text-align:center;border-right:1px solid #cdcdd5;font-weight:bold;color:#333333;}
.shili_dan_center input{width:200px;height:22px;line-height:22px;padding:0 3px;border:1px solid #cccccc;background:#FFF;color:#666;}
.shili_dan_center .anniu1{width:49px;height:22px;line-height:22px;color:#FFF;border:none;background:url(../images/shili_anniu1.jpg) no-repeat;text-align:center;margin-left:10px;cursor:pointer;}
.shili_dan_right{height:34px;line-height:34px;width:157px;float:left;text-align:center;font-weight:bold;color:#333333;}

/**********************************弹框内容********************************/
.shili_dan_con1{width:100%;height:auto;background:#f6f6f6;clear:both;}

/*****************左边***********************/
.shili_dan_left1{height:369px;width:157px;float:left;text-align:left;border-right:1px solid #cdcdd5;color:#333333;overflow-x:auto;overflow-y:auto;position:relative;}
.xinxi_con_nr_left{width:147px;height:100%;padding:0 5px;position:absolute;left:0;top:0;float:left;}
.xinxi_con_nr_left .xinxi_biaoti span a{background:none;}
.xinxi_con_nr_left .xinxi_biaoti span a:active{background:url(../images/index_right_title_bg.jpg) repeat-x;}
.xinxi_biaoti1{width:147px;line-height:34px;height:100%;background:url(../images/index_right_title_bg.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0; cursor:pointer;}
.xinxi_biaoti1 img{margin-top:13px;margin-left:5px;float:left;}
.xinxi_biaoti1:hover{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}   
.xinxi_biaoti1:active{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}
.xinxi_biaoti1 a{width:147px;color:#FFF;font-size:14px;font-weight:bold;padding-left:5px;line-height:34px;height:34px;}
.xinxi_biaoti1 a:hover{width:147px;line-height:34px;height:34px;color:#FFF;}
.xinxi_biaoti1 a:active{width:147px;line-height:34px;height:34px;color:#FFF;padding-left:5px;}
.xia{height:auto;width:auto;background:#f6f6f6;border-top:1px solid #d1d1d1;}
.xia li{height:22px;line-height:22px;width:auto;color:#333;}
.xia a{font-size:12px;width:auto;display:block;font-weight:normal;height:22px;line-height:22px;color:#666;background:none;padding-left:30px;}
.xia a:hover{height:22px;line-height:22px;font-size:12px;width:auto;font-weight:normal;color:#333;background:#ece9e9;}
.xia a:active{padding-left:30px;height:22px;line-height:22px;font-size:12px;width:auto;font-weight:normal;color:#FFF;background:#6fb1ff;}

/*****************中间***********************/
.shili_dan_center1{height:369px;width:463px;float:left;text-align:center;border-right:1px solid #cdcdd5;color:#333333;}
.shili_dan_center1_top{height:335px;width:100%;float:left;text-align:center;color:#333333;overflow:auto;}
.shili_dan_center1_top b{color:#333;}
.shili_dan_center1_top tbody tr:hover{background-color: #CCCCCC;cursor: default;}
.shili_dan_center1_top td{height:24px;line-height:24px;color:#666;}

.shili_dan_center1_bottom{height:33px;line-height:33px;width:100%;float:left;text-align:left;background:#f6f6f6;border-top:1px solid #cdcdd5;color:#004da7;}
.shili_dan_center1_bottom span{color:#333333;margin:0 8px;}

.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:4px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #c3dcf8;color:#004da7;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #c3dcf8;color:#004da7;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye span{height:22px;line-height:22px;border:1px solid #c3dcf8;color:#a70e10;background:#FFF;margin-right:5px;margin-left:0;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye .dang{height:22px;line-height:22px;color:#004da7;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #308fff;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:hover{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}
.gonggao_con_nr_fenye .dang:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}



/*****************右边***********************/
.shili_dan_right1{height:369px;width:157px;float:left;text-align:center;color:#333333;overflow:hidden;}
.shili_dan_right1_top{height:335px;width:157px;float:left;text-align:left;border-right:1px solid #cdcdd5;color:#333333;}
.shili_dan_right1_con{height:305px;width:157px;float:left;text-align:left;border-right:1px solid #cdcdd5;color:#333333;overflow-y:auto;overflow-x:auto;}
.shili_dan_right1_con li{height:30px;line-height:30px;width:167px;margin:0;padding:0;}
.shili_dan_right1_con input{margin-top:9px;margin-left:12px;margin-right:8px;_margin-top:5px;*+margin-top:4px;_margin-left:3px;_margin-right:2px;*+margin-left:3px;*+margin-right:2px;float:left;display:inline;}
.shili_dan_right1_con p{width:130px;overflow:hidden;float:left;white-space:nowrap;text-overflow:ellipsis;margin-left:5px;}
.shili_dan_right1_con img{margin-top: 9px;cursor: pointer;}
.shili_dan_right1_an{height:30px;line-height:30px;background:#FFF;width:157px;float:left;padding:0 15px;}
.shili_dan_right1_an a{margin-right:56px;float:right;display:inline;width:49px;height:22px;line-height:22px;background:url(../images/shili_anniu1.jpg) no-repeat;text-align:center;color:#FFF;}
.shili_dan_right1_an .duibi{background:url(../images/shili_anniu2.jpg) no-repeat;}
.shili_dan_right1_bottom{height:33x;line-height:33px;width:137px;padding:0 10px;float:left;text-align:left;border-right:1px solid #cdcdd5;color:#004da7;background:#f6f6f6;border-top:1px solid #cdcdd5;}
.shili_dan_right1_bottom span{color:#333333;margin:0 8px;}


