
html {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #000000;
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul {
    list-style: none outside none;
}
caption, th {
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: "";
}
abbr, acronym {
    border: 0 none;
    font-variant: normal;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select {
    font-size: 100%;
}
legend {
    color: #000000;
}
html {
    background-color: #F8F7F5;
}
body {
   body {
    background-color: #F5F5F5;
    color: #222222;
    font-family: Helvetica,STHeiti STXihei,Microsoft JhengHei,Microsoft YaHei,Tohoma,Arial;
    height: 100%;
    padding: 15px 0;
	position: relative;
	min-width:320px;
}

}
body > .tips {
    display: none;
    left: 50%;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 200px;
    z-index: 100;
}
.page {
    padding: 15px;
}
.page .page-error, .page .page-loading {
    line-height: 30px;
    position: relative;
    text-align: center;
}
.btn {
    background-color: #FCFCFC;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: #222222;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.icons {
    background: url("../images/icons176ed4.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    height: 25px;
    overflow: hidden;
    position: relative;
    width: 25px;
}
.icons.arrow-r {
    background: url("../images/brand_profileinweb_arrow@2x176ed4.png") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
    height: 16px;
    width: 12px;
}
.icons.check {
    background-position: -25px 0;
}
#activity-detail .page-bizinfo .header #activity-name {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    word-break: normal;
    word-wrap: break-word;
}
.activity-info {
}
.activity-meta {
    color: #8C8C8C;
    display: inline-block;
    font-size: 11px;
    margin-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
}
.activity-meta.no-extra {
    margin-left: 0;
}
.activity-info .text-ellipsis {
    display: inline-block;
    max-width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a.activity-meta {
    outline: 0 none;
    text-decoration: none;
}
a.activity-meta:active {
    color: #242424;
}
a.activity-meta:active .icon_link_arrow {
    background: url("../images/link_arrow_right_hl176ed4.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
}
.activity-info .icon_link_arrow {
    margin-left: 3px;
    margin-top: -5px;
}
.icon_link_arrow {
    background: url("../images/link_arrow_right176ed4.png") no-repeat scroll 0 0 / 100% auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 7px;
    vertical-align: middle;
    width: 7px;
}
#activity-detail .page-bizinfo #biz-link.btn {
    background: url("../images/brand_profileinweb_bg@2x176ed4.png") no-repeat scroll center center / 100% 100% rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 42px;
    padding: 12px 12px 12px 62px;
    position: relative;
    text-align: left;
}
#activity-detail .page-bizinfo #biz-link.btn:hover {
    background-image: url("../images/brand_profileinweb_bg_HL@2x176ed4.png");
}
#activity-detail .page-bizinfo #biz-link.btn .arrow {
    position: absolute;
    right: 15px;
    top: 25px;
}
#activity-detail .page-bizinfo #biz-link.btn .logo {
    height: 42px;
    left: 5px;
    overflow: hidden;
    padding: 6px;
    position: absolute;
    top: 6px;
    width: 42px;
}
#activity-detail .page-bizinfo #biz-link.btn .logo img {
    position: relative;
    width: 42px;
    z-index: 10;
}
#activity-detail .page-bizinfo #biz-link.btn .logo .circle {
    background: url("../images/brand_photo_middleframe@2x176ed4.png") no-repeat scroll center center / 100% 100% rgba(0, 0, 0, 0);
    height: 54px;
    left: 0;
    position: absolute;
    top: 0;
    width: 54px;
    z-index: 100;
}
#activity-detail .page-bizinfo #biz-link.btn #nickname {
    color: #454545;
    font-size: 15px;
    text-shadow: 0 1px 1px #FFFFFF;
}
#activity-detail .page-bizinfo #biz-link.btn #weixinid {
    color: #A3A3A3;
    font-size: 12px;
    line-height: 20px;
    text-shadow: 0 1px 1px #FFFFFF;
}
#activity-detail .page-content {
    margin: 18px 0 0;
    padding-bottom: 18px;
}
#activity-detail .page-content .media {
    margin: 18px 0;
}
#activity-detail .page-content .media img {
    width: 100%;
}
#activity-detail .page-content .text {
    color: #3E3E3E;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
}
#activity-detail .page-content .text p {
    min-height: 1.5em;
}
#activity-list .header {
    font-size: 20px;
}
#activity-list .page-list {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin: 18px 0;
    overflow: hidden;
}
#activity-list .page-list .line.btn {
    border-radius: 0 0 0 0;
    margin: 0;
    text-align: left;
}
#activity-list .page-list .line.btn .checkbox {
    height: 25px;
    line-height: 25px;
    padding-left: 35px;
    position: relative;
}
#activity-list .page-list .line.btn .checkbox .icons {
    background-color: #CCCCCC;
    left: 0;
    position: absolute;
    top: 0;
}
#activity-list .page-list .line.btn.off .icons {
    background-image: none;
}
.vm {
    vertical-align: middle;
}
.tc {
    text-align: center;
}
.db {
    display: block;
}
.dib {
    display: inline-block;
}
.b {
    font-weight: 700;
}
.clr {
    clear: both;
}
.text img {
    height: auto !important;
    max-width: 100% !important;
}
.page-toolbar {
    overflow: hidden;
    padding-top: 18px;
}
.page-toolbar a {
    color: #607FA6;
    font-size: 14px;
    text-decoration: none;
    text-shadow: 0 1px #FFFFFF;
}
.page-url {
    float: left;
}
.page-toolbar a.page-imform {
    color: #7B7B7B;
    float: right;
}

.comment-total{
	color: #fff; font-size: 20px; padding: 10px 15px; margin: 10px,1px;
	
}

.comment-body{
	padding:10px 0; margin: 10px,1px; font-size:12px;
}

.comment-form{
	font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin: 10px;

}

.comment-form p{
	 margin-bottom: 10px;
}

.page-bizinfo{margin:0 15px;}

#activity-detail .page-content {
    padding: 18px;
}

