html, body {
	/*position:relative;
	height:100%;*/
	color:#222;
	font-family:Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
	/*background-color:#f0f0f0;*/
	margin:0;
	padding: 0;
	text-decoration: none;
}
body >.tips {
	position:fixed;
	display:none;
	top:50%;
	left:50%;
	z-index:100;
	text-align:center;
	padding:20px;
	width:200px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset, img {
	border:0;
}
address, caption, cite, code, dfn,  th, var {
	font-style:normal;
	font-weight:normal;
}
ol, ul {
	list-style: none outside none;
	margin:0;
	padding: 0;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
a {
	color:#000000;
	text-decoration: none;
}
.left{ float:left}
.right{ float:right}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
	font-variant:normal;
}
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input, textarea, select {
*font-size:100%;
}
legend {
	color:#000;
}

.page {
	padding:15px;
}
.page .page-error, .page .page-loading {
	text-align:center;
	position:relative;
	line-height:30px;
}
.btn {
	display:block;
	color:#222;
	text-decoration:none;
	font-size:15px;
	/*font-weight:bold;*/
	background-color:#fcfcfc;
	margin:0 0 15px 0;
	padding:10px;
	text-align:center;
	cursor:pointer;
}
.icons {
	position:relative;
	border-radius:5px;
	width:25px;
	height:25px;
	overflow:hidden;
}
.icons.arrow-r {
	background:url(http://t2.qpic.cn/mblogpic/0554ea3ff3100778dbea/2000) no-repeat center center;
	width:12px;
	height:16px;
	background-size:100%;
}

.page-content {
	margin:18px 0; display:none;
}
.page-content .media {
	margin:18px 0;
}
.page-content .media img, .page-content .text img {
	width:100%;
}
.page-content .text {
	font-size:12px;
	line-height:20px;
	color:#3e3e3e;
	word-break:normal;
	word-wrap:word-break;
}
#activity-list .header {
	font-size:20px;
}
#activity-list .page-list {
	margin:18px 0;
	border-radius:5px;
	border:1px solid #ccc;
	overflow:hidden;
}
#activity-list .page-list .line.btn {
	border-radius:0;
	margin:0;
	text-align:left;
}
#activity-list .page-list .line.btn .checkbox {
	height:25px;
	line-height:25px;
	position:relative;
	padding-left:35px;
}
#activity-list .page-list .line.btn .checkbox .icons {
	background-color:#ccc;
	position:absolute;
	top:0;
	left:0;
}
#activity-list .page-list .line.btn.off .icons {
	background-image:none;
}
#activity-list #save.btn {
	background-image:-webkit-gradient(linear, left top, left bottom, from(#22dd22), to(#009900));
	background-image:-webkit-linear-gradient(#22dd22, #009900);
	background-image:-moz-linear-gradient(#22dd22, #009900);
	background-image:-ms-linear-gradient(#22dd22, #009900);
	background-image:-o-linear-gradient(#22dd22, #009900);
	background-image:linear-gradient(#22dd22, #009900);
}


.clr {
	display:block;
	clear:both;
	height:0;
	overflow:hidden;
}

.linktitle {
	color:#777777;
	padding:10px 0 10px 5px;
	color: #999999;
	font-size: 12px;
	margin: 0;
}
.linkbox {
	margin:0 5px 10px 5px;
	overflow:hidden;
	text-align:center;
}
.link {
	display: inline-block;
	width:63px;
	height:20px;
	color: #999999;
	font-size: 12px;
	line-height:30px;
	padding-top:55px;
	margin:10px 1px;
	text-align:center;
	color:#808080;
	text-decoration:none;
	background-size:50px auto;
	background-repeat:no-repeat;
	background:url(/static/bg-face.png?1) no-repeat;
}
.linktitle, .tjwx dl {
	border-bottom: 1px solid #C5C5C5;
	box-shadow: 0 1px 0 #FFFFFF;
	cursor: pointer;
	margin: 5px 0;
	overflow: hidden;
	padding-bottom: 5px;
}
.tjwx dd {
	float: right;
	margin-right: -70px;
	width: 100%;
}
.tjwx dt {
	float: right;
	height: 50px;
	padding: 0;
	width: 70px;
}
.tjwx dl h3 {
	color: #5A5A5A;
	font-size: 14px;
	line-height: 1.8;
}
.tjwx dl p {
	color: #999999;
	line-height: 1.5;
	padding-right: 8px;
	font-size: 12px;
}
.tjwx a {
	text-decoration:none;
	display:block;
}
.tj_base {
	color: #808080;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin: 5px 0;
	padding-top: 50px;
	text-align: center;
	text-decoration: none;
	width: 70px;
}
.tj_base img {
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	height: 50px;
	width: 50px;
}
.btnbox {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 -3px 10px 3px #E2E2E2;
	height: 38px;
	line-height: 38px;
	margin-top: 25px;
	overflow: hidden;
	text-align: center;
	width: 100%;
}
.btnbox a {
	color: #3F3F3F;
	display: inline-block;
	height: 100%;
	margin-left: -1px;
	overflow: hidden;
	text-decoration: none;
	border-right: medium none;
	width: 100%;
}
.btnbox a span {
	display: inline-block;
	height: 100%;
	padding-right: 5px;
	font-size: 18px;
}
.sharebtn {
	margin: 10px auto;
	height: 37px;
	width: 320px;
	font-size: 15px;
	color: #434343;
	line-height: 37px;
	text-align: center;
	border: solid 1px #D9D9D9;
	border-radius: 3px;
	cursor: pointer;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#F9F9F9));
}
.sharebtn span {
	display: inline-block;
	height: 100%;
	background: url(http://t2.qpic.cn/mblogpic/7081a1e6c49972930ec4/2000) no-repeat left center;
	background-size: 17px 17px;
	padding-left: 25px;
}
.tj_box {
	font-size: 12px;
	text-align: left;
}
.tj_box .face {
	width:68px;
	height:55px;
	text-align:center;
}
.tj_box .tj_base {
	padding-top: 5px;
	width:68px;
	height:90px;
	overflow:hidden;
	margin:0;
	vertical-align: top;
}
.tj_box .face img {
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
}
.tj_box .txt {
	width:70px;
	height:35px;
	text-align:center;
	line-height:18px;
}
div#content p {
	line-height:24px;
	table-layout: fixed;
    word-wrap:break-word;
    /*word-break:break-all;*/
	font-size:14px;
}
div#content p a {
	 color: #E40000;
    text-decoration: none;
}
div#content p a:hover {
    text-decoration: none;
}
.copyright{padding:8px;text-align:center;font-size:11px;color:#ccc;}
.copyright a{color:#ccc;}

	
/**/
h2 {
	font-size:16px;
}
h3 {
	font-size: 18px;
}
.marginb {
	display: block;
	margin-bottom: 15px;
}
.content {
	margin: 10px;
	text-decoration: none;
	word-wrap: break-word;
}
.content p {
	color: #666666;
	font-size: 14px;
	line-height: 1.5;
}
.content img {
	height: auto;
	max-width: 100%;
	border: 0 none;
}
/*cate1*/
#cate1{background-color: #F0EFEF;overflow-x: hidden;}
#cate1 .mainmenu {
	display: block;
    margin: 0 auto;
    padding: 5px;
   
}
#cate1 .mainmenu li {
	width:50%;
	float:left;
	display: block;
	margin-right: -0.5px;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn {
	display: block;
	text-decoration:none;
	color:#000;
	background-color: #ffffff;
	border-radius: 5px;
	margin:5px;
	box-shadow: 0 1px 3px #bebebe;-moz-box-shadow:0 1px 3px #bebebe;-webkit-box-shadow:0 1px 3px #bebebe;
}
#cate1 .mainmenu li .menubtn:hover {
	background-color: #f5f5f5;
}
#cate1 .mainmenu li a {
	display:block;
	padding:0px;
	font-size:14px;
	color: #000000;
	text-decoration: none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate1 .mainmenu li .menubtn .menumesg {
	padding:0px
}
#cate1 .mainmenu li .menubtn .menuimg {
	height:81px;
	/*max-height:106px;*/
	overflow:hidden;
	border-radius: 5px 5px 0 0;
	background-color: #F5F5F5;
}
#cate1 .mainmenu li div img {
	border:0;
	width:100%;
	border-radius: 5px 5px 0 0;
}
#cate1 .mainmenu li .menutitle {
	text-align:center;
	padding: 5px;
	text-decoration: none;
	color:#000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
/*cate2-4*/
#cate2{background-color: #F0EFEF;overflow-x: hidden;}
#cate3{background-color: #F0EFEF;overflow-x: hidden;}
#cate4{background-color: #F0EFEF;overflow-x: hidden;}
/*cate5*/
#cate5{ background-color:#F0EFEF;margin: 0 auto;overflow-x: hidden;}
#cate5 .mainmenu {
	display: block;
    margin:10px auto 10px;
    width: 100%;
}
#cate5 .mainmenu li {
	width:50%;
	float:left;
	display: block;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
}
#cate5 .menubtn {
	display: block;
	text-decoration:none;
	color:#000;
	background-color: #ffffff;
	padding:8px 10px;
	box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#cate5 .mainmenu li:nth-child(odd) .menubtn{
	margin: 2px 2px 1px 10px;
}
#cate5 .mainmenu li:nth-child(even) .menubtn{
	margin: 2px 10px 1px 2px;
}

#cate5 .menubtn .menumesg {
	padding:0px;
}
#cate5 .menubtn .menuimg {
	margin:0 auto;
	height:116px;
	padding: 6px;
    width: 116px;
	display:block;
	overflow:hidden;
	background-color: #F5F5F5;
	-webkit-border-radius:116px;
	-moz-border-radius:116px;
	border-radius:116px;
	box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.11) inset;
	-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.11) inset;
	-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.11) inset;
	
}
#cate5 .menubtn .menuimg2 {
	height:116px;
	width:116px;
	display:block;
	overflow:hidden;
	-webkit-border-radius:116px;
	-moz-border-radius:116px;
	border-radius:116px;
}

#cate5 .mainmenu li div img {
	border:0;
	height:123px;
}
#cate5 .mainmenu li .menutitle {
	padding: 5px 0;
	text-decoration: none;
	color:#000;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}
#cate5 .mainmenu li .menutext {
	color: #bbbbbb;
    display: block;
    font-size: 12px;
	line-height: 16px;
    height: 32px;
    overflow: hidden;
	text-align:center;
}
/*cate6*/
#cate6{
	background-color:#F0EFEF;
	margin: 0 auto;overflow-x: hidden;
}
#cate6 .mainmenu {
	display: block;
    margin:6px auto 10px;
    padding: 0 10px;
}
#cate6 .mainmenu li {
	float:left;
	display: block;
}


#cate6 .mainmenu li.li0:nth-child(1) .menumesg{
	background-color:#0072BC;float:left;display: block;
}

#cate6 .mainmenu li.li0:nth-child(5) .menumesg{
	background-color:#F98F2E;float:right;display: block;
}
#cate6 .mainmenu li.li0:nth-child(5) .menuimg{
	margin:0 100px 0 0;
}
#cate6 .mainmenu li.li0:nth-child(9) .menumesg{
	background-color:#01A31C;float:left;display: block;
}

#cate6 .mainmenu li.li0:nth-child(13) .menumesg{
	background-color:#FFC40D;float:right;display: block;
}
#cate6 .mainmenu li.li0:nth-child(13) .menuimg{
	margin:0 31% 0 0;
}
#cate6 .mainmenu li.li0:nth-child(17) .menumesg{
	background-color:#69C9D2;
}
#cate6 .mainmenu li.li0:nth-child(21) .menumesg{
	background-color:#92ABF8;
}
#cate6 .mainmenu li.li0:nth-child(25) .menumesg{
	background-color:#FF9999;
}
#cate6 .mainmenu li.li0:nth-child(29) .menumesg{
	background-color:#BAB7CA;
}
#cate6 .mainmenu li.li0:nth-child(33) .menumesg{
	background-color:#6DB886;
}


#cate6 .mainmenu li.li1:nth-child(10) {
    width: 100%;
	text-align: left;
	text-indent:10px;
}
#cate6 .mainmenu li.li1:nth-child(10) .menutitle {
	float:left;
}
#cate6 .mainmenu li.li1:nth-child(10) .menumesg {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li1:nth-child(10) .menuimg {
	display: block; width:auto;height: 48px;
}
#cate6 .mainmenu li.li1:nth-child(10) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li1:nth-child(10) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	height: 48px;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}

#cate6 .mainmenu li.li2:nth-child(11) {
    width: 100%;
	text-align: left;
	text-indent:10px;margin: 1% 0 0;
}
#cate6 .mainmenu li.li2:nth-child(11) .menutitle {
	float:left;
}
#cate6 .mainmenu li.li2:nth-child(11) .menumesg {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li2:nth-child(11) .menuimg {
	display: block; width:auto;height: 48px;
}
#cate6 .mainmenu li.li2:nth-child(11) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li2:nth-child(11) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	height: 48px;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}

#cate6 .mainmenu li.li3:nth-child(12) {
    width: 100%;
	text-align: left;
	text-indent:10px;margin: 1% 0 0;
}
#cate6 .mainmenu li.li3:nth-child(12) .menutitle {
	float:left;
}
#cate6 .mainmenu li.li3:nth-child(12) .menumesg {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li3:nth-child(12) .menuimg {
	display: block; width:auto;height: 48px;
}
#cate6 .mainmenu li.li3:nth-child(12) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li3:nth-child(12) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	height: 48px;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}

#cate6 .mainmenu li.li0:nth-child(n+16) {
	height:48px;
	text-align: left;
	text-indent:10px;margin:1% 0 0 0;
}
#cate6 .mainmenu li.li0:nth-child(n+16) .menubtn{
	padding:0;
}
#cate6 .mainmenu li.li0:nth-child(n+16) .menumesg{
	height:48px;width: 100%;
}
#cate6 .mainmenu li.li0:nth-child(n+16) .menuico{
	bottom: 12px;
}
#cate6 .mainmenu li.li0:nth-child(n+16) .menuimg{
	display:none
}
#cate6 .mainmenu li.li0:nth-child(n+16) .menutitle{
	display: block;
	color: #ffffff;
    font-size: 16px; width:auto;
    height: 48px; padding:0;
	text-align:left;
    line-height: 48px;
	float:left;
	margin-left:7px;
}

#cate6 .mainmenu li.li1:nth-child(n+17) {
    width: 100%;
	text-align: left;
	text-indent:10px;
}
#cate6 .mainmenu li.li1:nth-child(n+17) .menutitle {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li1:nth-child(n+17) .menumesg {
	float:left;
}
#cate6 .mainmenu li.li1:nth-child(n+17) .menuimg {
	display: block; width:auto;
}
#cate6 .mainmenu li.li1:nth-child(n+17) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li1:nth-child(n+17) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}

#cate6 .mainmenu li.li2:nth-child(n+18) {
    width: 100%;
	text-align: left;
	text-indent:10px;margin: 1% 0 0;
}
#cate6 .mainmenu li.li2:nth-child(n+18) .menutitle {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li2:nth-child(n+18) .menumesg {
	float:left;
}
#cate6 .mainmenu li.li2:nth-child(n+18) .menuimg {
	display: block; width:auto;
}
#cate6 .mainmenu li.li2:nth-child(n+18) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li2:nth-child(n+18) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}

#cate6 .mainmenu li.li3:nth-child(n+19) {
    width: 100%;
	text-align: left;
	text-indent:10px;margin: 1% 0 0;
}
#cate6 .mainmenu li.li3:nth-child(n+19) .menutitle {
	float:left;margin-left: 7px;
}
#cate6 .mainmenu li.li3:nth-child(n+19) .menumesg {
	float:left;
}
#cate6 .mainmenu li.li3:nth-child(n+19) .menuimg {
	display: block; width:auto;
}
#cate6 .mainmenu li.li3:nth-child(n+19) .menuimg img {
	display: none;
}
#cate6 .mainmenu li.li3:nth-child(n+19) .menutext {
	display: block; margin: 0 10px 0 0;
	padding-right:12px;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:#B0B0B0;
	font-size:12px;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}


#cate6 .mainmenu li .menubtn {
	
}
#cate6 .mainmenu li .menuimg{
	display:none; width:69%; height:111px; overflow:hidden; 
}
#cate6 .mainmenu li .menutext {
	display:none;
}
#cate6 .mainmenu li.li0 {
	 width: 100%;
	 margin-top: 1%;
}
#cate6 .mainmenu li.li0 .menubtn {
	color: #FFFFFF;
	display:block;
	
	
}
#cate6 .mainmenu li.li0 .menutitle {
	font-size: 24px;
    line-height: 24px;
    padding:10px 0;
	width: 55%;
	margin-left:10px;
}
#cate6 .mainmenu li.li0 .menuimg{
	display: block;  position:relative; box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15); margin-left:31%
}
#cate6 .mainmenu li.li0 .menumesg{
	display: block; position:relative;height:111px; width:30%;float: left;
	background-color:#999;box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
}
#cate6 .mainmenu li.li0  .menuico {
    display: block;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsBAMAAADsqkcyAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAGESURBVCiRdZO9SsNQFMdvTFW0Ci5OgvgEkslBRDMWB+0bKPgA6RPYxb2+gCDoKEZwFTq46RBXJ9E6dcngJ2nN35Nz7z25DeQM6c2/v5x7PpXS5rWugIeTJTVhjWuwDUNX9RMYGwWlOhVDLFsTea/4/CjwNwpX71adoZdLfdyl46GRe8C9RbaAX4G/y3u6Ft9H7oTVSPHJYaQYuMFuIy+CaQIML1scuKGfA+3Z63fE+xc9E/5TreDHyE2M+Rv20Qc64iVU88j4JYLgMc7VKj4kVYPv4JWiflIVfJEi7+FUVfA5yj9GW1XwabruBbbwgvv4Uymkfxb3kCtAqiE4aY5MCVNoWnacUNHywDhJ5Moi/4G+ckzndgWmAEdlOgJzOpK8wJy8LVUJc6lsYUuYC+u0wcA+K6ZpXYEXiqbZFs/KWETcYjsQxwY2A0Hj88Z1M/C6Hp+aYauMZiSTTIN8a9VykLn8F/q46Yw9L8lzsSRn7pLUrVTNAlJYhs9CNWFe6w54lOX+ByrVQGHwXOM3AAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent;
	background-size:22px auto;
    bottom: 8px;
    content: " ";
    height: 22px;
    position: absolute;
    right: 8px;
    width: 22px;
	text-indent:-999px;
	overflow:hidden;
    z-index: 1;
}
#cate6 .mainmenu li.li0  .menutext {
    display: block;
    font-size: 12px;
	background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    /*height: 25px;*/
    left: 0;
    line-height: 25px;
    position: absolute;
    text-align: center;
    width: 100%;
	padding:0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align:center;
}

#cate6 .mainmenu li.li1{
	background-color: #ffffff;
    text-align: center;
    margin: 1% 0 0 0;
    width: 30%;
	box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
}
#cate6 .mainmenu li.li1 .menubtn {
	color: #333333;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}
#cate6 .mainmenu li.li2{
	background-color: #ffffff;
    text-align: center;
    margin: 1% 1% 0 1%;
    width: 38%;
	box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
}

#cate6 .mainmenu li.li2 .menubtn {
	color: #333333;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}

#cate6 .mainmenu li.li3{
	background-color: #ffffff;
    text-align: center;
    margin: 1% 0 0 0;
    width: 30%;
	box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0px 3px 0 rgba(0, 0, 0, 0.15);
}
#cate6 .mainmenu li.li3 .menubtn {
	color: #333333;
    display: block;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
}


#cate6 .menubtn .menumesg {
	padding:0px;
}

#cate6 .mainmenu li div img {
	border:0; width:100%
}
/*cate7*/
#cate7{
	/*background:url("../images/themes/bg003.jpg") repeat scroll 0 0 transparent;*/
	background-color:#f5f5f5;
	margin: 0 auto;overflow-x: hidden;
	width:100%;
}
#cate7 .banner {
	margin-bottom: 25px;
}
#cate7 .banner img{
	width:100%;
	/*box-shadow:0 0 10px rgba(0, 0, 0, 0.06);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.06);
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.06);*/
}
#cate7 ul{
	display:block; margin-top:0;
}
#cate7 li{
	float:left; display:block;margin: 0 0 15px;
}
#cate7 .cateul li{
	float:left; display:block;margin: 0 0 15px;width: 33%;
}
#cate7 li{
	float:left; display:block;margin: 0 0 15px;
}
#cate7 #thelist li{
	margin:0;
}
#cate7 #indicator li{
	margin:0 4px 0 0;
}
#cate7 li.li0 .menubtn{
	text-align:center
}
#cate7 li.li1 .menubtn{
	border-top:0;
	text-align:center
}
#cate7 li.li2 .menubtn{
	text-align:center
}
#cate7 .menubtn img{
	width:65%; margin: 0 auto;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
#cate7 .menutitle {
	font-size:14px; color:#666; display:block; margin: 5px auto 0; width:72px;
	overflow: hidden;text-align: center;text-overflow: ellipsis;white-space: nowrap;
}

/*cate8*/
#cate8{
	/*background:url("../images/themes/bg003.jpg") repeat scroll 0 0 transparent;*/
	background-color:#f5f5f5;
	margin: 0 auto;overflow-x: hidden;
	width:320px;
}
#cate8 .banner {
	margin-bottom: 25px;
}

#cate8 .cateul{
	display:block; margin-top:0;
}
#cate8 .cateul li{
	float:left; display:block;margin: 0 0 15px;
}
#cate8 .cateul li.li0 .menubtn{
	width:120px;
	text-align:center
}
#cate8 .cateul li.li1 .menubtn{
	width:80px;
	border-top:0;
	text-align:center
}
#cate8 .cateul li.li2 .menubtn{
	width:120px;
	text-align:center
}
#cate8  .menubtn img{
	width:72px; height:72px; margin: 0 auto;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}
#cate8 .menutitle {
	font-size:14px; color:#666; display:block; margin: 5px auto 0; width:72px;
	overflow: hidden;text-align: center;text-overflow: ellipsis;white-space: nowrap;
}
/*popmenu*/
#popmenu{cursor:pointer; color:#fff; display:block; position:relative;  text-align: center; width: 200px; margin:0 auto}
#popmenu:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 50px;
    top: 50%;
    margin-top: -2px;
    border-width: 5px 5px 0 5px;
    border-style: solid;
    border-color: #fff transparent;
}

#overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#fff;opacity:0;filter:alpha(opacity=0);display:none;z-index: 4;}

#win{position:fixed;top:55px;left:50%;
    width: 200px;margin:0 0 0 -100px;display:none;z-index: 5;}


.dropdown {
    /* Size and position */
    position: relative;
	display:block;
    margin: 0 auto;
    padding: 5px;

    /* Styles */
    background-color: rgba(47, 47, 47, 1);
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
	box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 10px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: none;
	list-style: none outside none;

}

.dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 90px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: rgba(47, 47, 47, 0.9) transparent;    
}

.dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 88px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}
.dropdown li {
    background-color: rgba(58, 58, 58, 1);
    display: block;
    float: left;height: 37px;
    width: 50%;
}
.dropdown li span{
    border-color: #494949 #181818 #181818 #494949;
    border-left: 1px solid #494949;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
	line-height: 37px;
    display: block;
    font-size: 15px;
    height: 37px;
    text-align: center;
    text-shadow: 0 2px 2px #000000;
    width: 100%;
}
.dropdown li:hover {
    background-color: rgba(0, 0, 0, 0.9);
}


/*Listpage*/
.Listpage{
    position: relative;
    z-index: 2;
}
.fixed {
  /*position: fixed;*/
}
.top46{height:46px; padding:0; margin:0}
#ui-header{
  width: 100%;
  height: 46px;
  line-height:46px;
  z-index: 3;
  position: fixed;
left: 0;
top: 0;
right:0;
	}
#ui-header .fixed {
	display: block;
	margin: 0 auto;
    min-width: 320px;
	height: 45px;
	top: 0;
	border-bottom: 1px solid #D1D1D1;
	box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.15);
	background:#a30030;
	/*opacity: 0.95;*/
}
.ui-title{min-height: 46px; text-align: center;  font-size: 16px; font-weight:normal; display: block; margin: 10px 70px 0; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; display:none;text-indent: -10px;}
.ui-btn-left { position:absolute; top:0px; left:0px; background:url(../images/themes/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-left_pre { position:absolute; top:0px; left:0px; background:url(back.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right { position:absolute; top:0px; right:0px; background:url(../image/home.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px;margin:0; padding:0; background-size:28px auto;}
.ui-btn-right_menu { position:absolute; top:0px; right:0px; background:url(../images/themes/menu.png) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}
.ui-btn-right_home { position:absolute; top:0px; right:0px; background:url(../../img/home.jpg) no-repeat center center; display:block; width:50px; height:44px;text-indent: -9999px; margin:0; padding:0; background-size:24px auto;}


.focus {
	margin:0 auto 0px;
	position:relative;
	overflow:hidden
}
.focus img {
	display: block;
    margin: 0 auto;
    width: 100%;
}
.focus li {
	min-height: 32px;
    min-width: 320px;
}
.focus li a {
	color:#FFF;
	text-decoration: none;
}
.focus li span {
	width:100%;
	height:100%;
	display:block;
	position:absolute;
	left:0;
	top:0;
}
.focus li h2 {
	 bottom: 0;
    color: #FFFFFF;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
	
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.focus li .opacity {
	height:32px;
	background:#000;
	opacity:0.7;
	bottom: 0;
    display: block;
    font-weight: normal;
    height: 32px;
    position: absolute;
    width: 100%;
}
.focus .focusTit {
	width:100%;
	height:10px;
	text-align:center;
	position:absolute;
	left:0;
	bottom:8px;
}
.focus .focusTit span {
	width:5px;
	height:5px;
	background:#858585;
	border-radius: 10px;
	display:inline-block;
	margin:0 5px;
}
.focus .focusTit span.on {
	background:#249bff;
}

/*@media all and (max-width:600px) {
 .focus {
width:100%;
overflow:hidden
}
 .focus li {
width:100%;
}
 .focus img {
width:100%;
}
 .pubBox .bd li.boxImg .img {
height:auto;
max-height:140px;
}
 .pubBox .bd li.boxImg img {
width:100%;
}
}*/


#todayList {
	display: block; margin: 0 auto;
}
.todayList li {
	display: block;
	color: #222222;
	border-bottom:1px solid #DDDDDD;
	font-weight: bold;
	/*text-shadow: 0 1px 0 #FFFFFF;*/
	text-decoration: none;
	background:#F9F9F9;
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	position: relative;
	/*padding:10px 8px;*/overflow:hidden;
}
.todayList li.listhome2 a{
	padding:15px 30px 15px 8px;
	background: url("../images/ico-next.png") no-repeat scroll 98% center transparent;
	background-size: 10px auto;
}
.todayList li a{
	padding:10px 40px 11px 8px; display: block;
}
.todayList li.only2 a{
	padding:10px 40px 9px 15px;display: block;
}
.todayList li.only3 a{
	padding:10px 40px 9px 15px;display: block;
}
.todayList li.only4 a{
	padding:10px 40px 11px 8px; display: block;
}
.todayList li .img {
	width:75px;height:41px;float:left;margin:0 10px 0 0; display:inline;overflow:hidden;
}
.todayList li img {
	width:75px;float:left;
}

.todayList li:hover {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}
.todayList li:active {
	background-color:#eeeeee;
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

.todayList li h2 {
	font-size: 16px;
	color:#2f2f2f;
	font-weight:normal;
	height:20px;font-weight:normal;line-height:16px;padding:0;
max-width:100%;text-overflow:ellipsis;white-space:nowrap !important;white-space:normal;overflow:hidden;
}
.todayList li.only2 h2 {
	padding:6px 0 8px;
}
.todayList li.only3 h2 {
	padding:0;
}
.todayList li.only4 h2 {
	padding:0;
}
.todayList li p {
	display: block;
	font-size: 12px;
	color:#9C9C9C;
	line-height: 16px;
	font-weight: normal;
	margin-top: 2px 0 0 0;
	overflow: hidden;
	text-overflow: ellipsis;/*white-space: nowrap;*/
	padding-right:2px;
}
.todayList li.only3 p {
	white-space: nowrap;
}
.todayList li.only4 p {
	white-space: nowrap;
}
.todayList li p.onlyheight {
	height:16px; /*margin-bottom:5px*/
}
.todayList li .commentNum {
    color: #BFBFBF;
    font-size: 0.75em;
    padding-right: 5px;
    text-align: right;
	font-weight:normal;
}
.todayList li .icon {
	margin-top: -6px;
	position: absolute;
	top: 50%;
	right: 10px;
	height: 14px;
	width: 14px;
	background:url(../images/themes/jiantou.png) no-repeat 0 0 ;
	background-size: 14px 14px;
}

.todayList li.border-top-none {
	border-top:0px solid #DDDDDD
}
.todayList li.border-bottom-none {
	border-bottom:0px solid #DDDDDD
}
/*pages*/
#Page_wrapper .c-pnav-con {
	text-align:center;
	font-size:18px;
}
#Page_wrapper .c-pnav-con ul {
	list-style:none;
	display:inline-block;
}
#Page_wrapper .c-pnav-con ul li {
	display:inline-block;
	padding:5px 15px;
}
#Page_wrapper .c-pnav-con ul li:nth-child(2) {
width:85px;
}
#Page_wrapper .c-pnav-con ul li:nth-child(3) {
margin-left:-110px;
}
#Page_wrapper .c-pnav-con ul li:last-child {
	margin-left:0;
}
#Page_wrapper .c-pnav-con .c-p-sec {
	display:inline-block;
	margin:20px auto;
}
#Page_wrapper .c-pnav-con .c-p-sec div {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre {
	width:88px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	border-left:0 #d5d5d5 solid;
	border-right:1px #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-pre .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	position:absolute;
	top:4px;
	left:6px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next {
	width:88px;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next a {
	display:inline-block;
	width:70px;
	height:30px;
	line-height:30px;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	border:1px #D5D5D5 solid;
	overflow:hidden;
	border-radius:2px;
	-webkit-border-radius:2px;
	border-left:1px #d5d5d5 solid;
	border-right:0 #d5d5d5 solid;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p {
	display:inline-block;
	width:17px;
	height:30px;
	position:relative;
	overflow:hidden;
	vertical-align:top;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-next .c-p-p em {
	display:inline;
	-webkit-transform:rotate(45deg);
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
	position:absolute;
	top:4px;
	left:-12px;
	width:21px;
	height:21px;
	border:1px solid #ddd;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur {
	position:relative;
	height:30px;
	vertical-align:baseline;
	text-align:center;
	margin-left:5px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow {
	display:inline-block;
	width:88px;
	line-height:30px;
	border:1px solid #ddd;
	background-image:-webkit-gradient(linear, left top, right bottom, from(#fefefe), to(#e8e8e8));
	background-image:-webkit-linear-gradient(#fefefe, #e8e8e8);
	background-image:-moz-linear-gradient(#fefefe, #e8e8e8);
	background-image:-ms-linear-gradient(#fefefe, #e8e8e8);
	background-image:-o-linear-gradient(#fefefe, #e8e8e8);
	background-image:linear-gradient(#fefefe, #e8e8e8);
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-arrow span:first-child {
	margin-right:5px;
	width:50px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-down span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(225deg);
	margin-bottom:3px;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-cur .c-p-up span:last-child {
	display:inline-block;
	font-size:0;
	border-top:3px solid #666;
	border-left:3px solid #666;
	width:6px;
	height:6px;
	background-color:transparent;
	-webkit-transform:rotate(45deg);
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey {
	display:inline-block;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-grey a {
	color:#999;
}
#Page_wrapper .c-pnav-con .c-p-sec .c-p-select {
	position:absolute;
	top:0;
	left:0;
	height:30px;
	width:90px;
	opacity:0;
}
/*listhome1-2*/
#listhome1{background-color:#F0EFEF;margin: 0 auto;
    max-width: 640px;
    min-width: 320px;overflow-x: hidden;height: 100%;
    width: 100%;}
#listhome2{background-color:#F0EFEF;margin: 0 auto;
    max-width: 640px;
    min-width: 320px;overflow-x: hidden;}
/*listhome3*/
#listhome3{
	background-color:#F0EFEF;
	margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
}
#listhome3 .chatPanel{ 
}
#listhome3 .chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin: 15px 9px 0 10px;
}

#listhome3 .chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

#listhome3 .chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 4px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
#listhome3 .chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}

#listhome3 .chatPanel .media .mediaHead .time {
	margin:0px;
	margin-top: 5px;
	color:#8C8C8C;
	background:none;
	width:auto;
	font-size:12px;
	display:block;
}
#listhome3 .chatPanel .media .mediaImg {
	min-width: 260px;
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
#listhome3 .chatPanel .media .mediaImg img {
	width: 100%;
}
#listhome3 .chatPanel .mediaFullText .mediaContent {
	padding:0 0 10px;
	font-size:16px;
	text-align:left;
	color:#222222;
}
#listhome3 .chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px 0px;
	border-bottom:1px solid #D3D8DC;word-break:normal;
	word-wrap:word-break;
}
#listhome3 .chatPanel .mediaFullText .mediaContent p{
	max-height:40px; overflow:hidden; font-size:14px; 
	line-height: 1.5em;
}
#listhome3 .chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
#listhome3 .chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:13px;
	margin:8px 0px -2px 4px;
	background:url(../images/themes/ico-next2.png) no-repeat;
	background-size: 10px auto;
}
#listhome3 .chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}

#listhome3 .pagination{
	height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 320px;
}
#listhome3 .pagination div{
	display:inline-block;
}
#listhome3 .pagination a {
	margin: 0 ;
    padding: 6px 27px;
	border:1px solid #D1D1D1;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image:-moz-linear-gradient(top, #fff, #f2f2f2);
	background-image:-o-linear-gradient(top, #fff, #f2f2f2);
	background-image:linear-gradient(top, #fff, #f2f2f2);
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius:20px 20px;
	-moz-border-radius:20px/20px;
	border-radius:20px/20px;
	color:#666;
	text-shadow:0 1px #fff
}
#listhome3 .pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
	background-image:-webkit-linear-gradient(top, #fefefe, #dadada);
	background-image:-moz-linear-gradient(top, #fefefe, #dadada);
	background-image:-o-linear-gradient(top, #fefefe, #dadada);
	background-image:linear-gradient(top, #fefefe, #dadada)
}
#listhome3 .pagination a:active {
	background:#ececec
}
#listhome3 .pagination .disabled a, #listhome3 .pagination .disabled a:hover {
	background:none;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:A4A3A3;
}
#listhome3 .pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
#listhome3 .pagination .currentpage{
    line-height: 30px;
    width: 70px;
}
#listhome3 #dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:70px;
	opacity:0;
}
/*listhome4*/
#listhome4{
	background-color:#F0EFEF;
	margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
}
#listhome4 .chatPanel{ 
}
#listhome4 .chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin: 15px 9px 0 10px;
}

#listhome4 .chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

#listhome4 .chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 4px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
#listhome4 .chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}
#listhome4 .chatPanel .media .mediaHead .time {
	margin:0px;
	margin-top: 5px;
	color:#8C8C8C;
	background:none;
	width:auto;
	font-size:12px;
	display:block;
}
#listhome4 .chatPanel .media .mediaImg {
	min-width:260px;
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
#listhome4 .chatPanel .media .mediaImg img {
	width: 100%;
}
#listhome4 .chatPanel .mediaFullText .mediaContent {
	padding:0 0 10px;
	font-size:16px;
	text-align:left;
	color:#222222;
}
#listhome4 .chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px 0px;
	border-bottom:1px solid #D3D8DC;word-break:normal;
	word-wrap:word-break;
}
#listhome4 .chatPanel .mediaFullText .mediaContent p{
	max-height:40px; overflow:hidden; font-size:14px; 
	line-height: 1.5em;
}
#listhome4 .chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
#listhome4 .chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:10px;
	margin:8px 0px -2px 4px;
	background:url(../images/themes/ico-next2.png) no-repeat 0 0 ;
	background-size: 10px auto;
}
#listhome4 .chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}

#listhome4 .pagination{
	height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 320px;
}
#listhome4 .pagination div{
	display:inline-block;
}
#listhome4 .pagination a {
	margin: 0 ;
    padding: 6px 27px;
	border:1px solid #D1D1D1;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image:-moz-linear-gradient(top, #fff, #f2f2f2);
	background-image:-o-linear-gradient(top, #fff, #f2f2f2);
	background-image:linear-gradient(top, #fff, #f2f2f2);
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius:20px 20px;
	-moz-border-radius:20px/20px;
	border-radius:20px/20px;
	color:#666;
	text-shadow:0 1px #fff
}
#listhome4 .pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
	background-image:-webkit-linear-gradient(top, #fefefe, #dadada);
	background-image:-moz-linear-gradient(top, #fefefe, #dadada);
	background-image:-o-linear-gradient(top, #fefefe, #dadada);
	background-image:linear-gradient(top, #fefefe, #dadada)
}
#listhome4 .pagination a:active {
	background:#ececec
}
#listhome4 .pagination .disabled a, #listhome4 .pagination .disabled a:hover {
	background:none;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:A4A3A3;
}
#listhome4 .pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
#listhome4 .pagination .currentpage{
    line-height: 30px;
    width: 70px;
}
#listhome4 #dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:70px;
	opacity:0;
}
#listhome4 .list{
	margin:10px 10px 0;
	padding:9px 15px;
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
}
#listhome4 .newsmore{
	display:block;
	margin-top: 0;
	cursor: pointer;
	border-bottom:1px solid #E0E0E0;
}
#listhome4 .newsmore:last-child {
    border-bottom:0;
}

#listhome4 .olditem {
	display: block;
	padding: 10px 0;
	background-color: #ffffff;
	line-height:25px;
    border-radius: 0;
    box-shadow: 0;
	text-align: left;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}
#listhome4 .title {
    display: block;
	margin-left:0;
	color: #535353;
    font-size: 14px;
	padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
/*listhome5*/
#listhome5{
	background-color:#F0EFEF;
	margin: 0 auto;
    min-width: 320px;
	max-width: 640px;
	overflow-x: hidden;
}
#listhome5 .chatPanel{ 
}
#listhome5 #todayList{ margin:0 auto;
}
#listhome5 .chatPanel .mediaFullText {
	margin:20px 10px;
	
}
#listhome5 .chatPanel .time {
	margin:10px 0;
	color:#FFFFFF;
	width:auto;
	font-size:12px;
	display:block;
	float:left;
	background-color:#666;
	padding:10px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	border-radius:12px;
	position:relative;
	-webkit-box-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.14);
	-moz-box-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.14);
	box-shadow:0 2px 1px 0 rgba(0, 0, 0, 0.14);
	
}
#listhome5 .topding .chatPanel .time{background-color:#ff0000;}
#listhome5 .chatPanel .time .timey {
	margin:0px;
	color:#FFFFFF;
	font-size:12px;
	display:block;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#listhome5 .chatPanel .time .timem {
	margin:0px;
	color:#FFFFFF;
	font-size:9px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#listhome5 .chatPanel .time .timed {
	margin:0px;
	color:#FFFFFF;
	font-size:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
#listhome5 .chatPanel .time .timex {
	position:absolute;
	top:10px;
	right:-4px;
	background-color:#666;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	width:12px;
	height:12px;
	transform: rotate(45deg) ;
	-webkit-transform: rotate(45deg) ;
	-moz-transform: rotate(45deg) ;
	-o-transform: rotate(45deg) ;
	-ms-transform: rotate(45deg) ;
}
#listhome5 .topding .chatPanel .time .timex{background-color:#ff0000;}
#listhome5 .chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin-left:70px;
}

#listhome5 .chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

#listhome5 .chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 8px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
#listhome5 .chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}

#listhome5 .chatPanel .media .mediaImg {
	min-width: 200px;
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
#listhome5 .chatPanel .media .mediaImg img {
	width: 100%;
}
#listhome5 .chatPanel .mediaFullText .mediaContent {
	padding:0 0 10px;
	font-size:16px;
	text-align:left;
	color:#222222;
}
#listhome5 .chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px 0px;
	border-bottom:1px solid #D3D8DC;word-break:normal;
	word-wrap:word-break;
}
#listhome5 .chatPanel .mediaFullText .mediaContent p{
	max-height:40px; overflow:hidden; font-size:14px; 
	line-height: 1.5em;
}
#listhome5 .chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
#listhome5 .chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:10px;
	margin:8px 0px -2px 4px;
	background:url(../images/themes/ico-next2.png) no-repeat 0 0 ;
	background-size: 10px auto;
}
#listhome5 .chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}

#listhome5 .pagination{
	height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: right;
	padding-right: 8px;
}
#listhome5 .pagination div{
	display:inline-block;
}
#listhome5 .pagination a {
	margin: 0 ;
    padding: 6px 13px;
	border:1px solid #D1D1D1;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image:-moz-linear-gradient(top, #fff, #f2f2f2);
	background-image:-o-linear-gradient(top, #fff, #f2f2f2);
	background-image:linear-gradient(top, #fff, #f2f2f2);
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius:20px 20px;
	-moz-border-radius:20px/20px;
	border-radius:20px/20px;
	color:#666;
	text-shadow:0 1px #fff
}
#listhome5 .pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
	background-image:-webkit-linear-gradient(top, #fefefe, #dadada);
	background-image:-moz-linear-gradient(top, #fefefe, #dadada);
	background-image:-o-linear-gradient(top, #fefefe, #dadada);
	background-image:linear-gradient(top, #fefefe, #dadada)
}
#listhome5 .pagination a:active {
	background:#ececec
}
#listhome5 .pagination .disabled a, #listhome5 .pagination .disabled a:hover {
	background:none;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:A4A3A3;
}
#listhome5 .pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
#listhome5 .pagination .currentpage{
    line-height: 30px;
    width: 70px;
}
#listhome5 #dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:70px;
	opacity:0;
}
/*listhome6*/
#listhome6{
	background-color:#F0EFEF;
	margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
}
#listhome6 .chatPanel{ 
}
#listhome6 .chatPanel .media {
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin: 10px 10px 0;
}

#listhome6 .chatPanel .media .mediaPanel {
	padding:0px;
	margin:0px;
}

#listhome6 .chatPanel .media .mediaHead {
	/*height:48px;*/
		padding:15px 15px 4px;
	border-bottom:0px solid #D3D8DC;
	color:#000000;
	font-size:20px;
}
#listhome6 .chatPanel .media .mediaHead .title {
	line-height:1.2em;
	font-size:18px;
	display:block;
	text-align: left;/*height:25px;
		white-space:nowrap;
		text-overflow:ellipsis;
		-o-text-overflow:ellipsis;
		overflow:hidden;*/
	}
#listhome6 .chatPanel .media .mediaHead .time {
	margin:0px;
	margin-top: 5px;
	color:#8C8C8C;
	background:none;
	width:auto;
	font-size:12px;
	display:block;
}
#listhome6 .chatPanel .media .mediaImg {
	/*min-width: 260px;*/
	padding:0;
	margin:0 15px;
	overflow:hidden;
	position: relative;
	/*max-height:164px;*/
}
#listhome6 .chatPanel .media .mediaImg img {
	width: 100%;
    /*min-width: 260px;*/
}
#listhome6 .chatPanel .mediaFullText .mediaContent {
	padding:0 0 15px;
	text-align:left;
	color:#222222;
}
#listhome6 .chatPanel .mediaFullText .mediaContentP {
	margin:10px 15px;
	font-size:14px; 
	line-height: 1.5em;
	word-wrap:break-word;
}
#listhome6 .chatPanel .mediaFullText .mediaContentP img{
	max-width:100%;
}
#listhome6 .chatPanel .media .mediaFooter {
	-webkit-border-radius:0px 0px 12px 12px;
	-moz-border-radius:0px 0px 12px 12px;
	border-radius:0px 0px 12px 12px;
	padding: 0 15px;
}
#listhome6 .chatPanel .media .mesgIcon {
	display:inline-block;
	height:19px;
	width:13px;
	margin:8px 0px -2px 4px;
	background:url(../images/themes/ico-next2.png) no-repeat;
	background-size: 10px auto;
}
#listhome6 .chatPanel .media .mediaFooter .mesgIcon {
	margin:18px 3px 0 0;
}

#listhome6 .pagination{
	height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 320px;
}
#listhome6 .pagination div{
	display:inline-block;
}
#listhome6 .pagination a {
	margin: 0 ;
    padding: 6px 27px;
	border:1px solid #D1D1D1;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f2f2f2));
	background-image:-webkit-linear-gradient(top, #fff, #f2f2f2);
	background-image:-moz-linear-gradient(top, #fff, #f2f2f2);
	background-image:-o-linear-gradient(top, #fff, #f2f2f2);
	background-image:linear-gradient(top, #fff, #f2f2f2);
	-webkit-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);
	-webkit-border-radius:20px 20px;
	-moz-border-radius:20px/20px;
	border-radius:20px/20px;
	color:#666;
	text-shadow:0 1px #fff
}
#listhome6 .pagination a:hover {
	border:1px solid #bebebe;
	background:#fefefe;
	background-image:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RhZGFkYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
	background-size:100%;
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #dadada));
	background-image:-webkit-linear-gradient(top, #fefefe, #dadada);
	background-image:-moz-linear-gradient(top, #fefefe, #dadada);
	background-image:-o-linear-gradient(top, #fefefe, #dadada);
	background-image:linear-gradient(top, #fefefe, #dadada)
}
#listhome6 .pagination a:active {
	background:#ececec
}
#listhome6 .pagination .disabled a, #listhome6 .pagination .disabled a:hover {
	background:none;
	border:1px solid #cbcbcb;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:A4A3A3;
}
#listhome6 .pagination .allpage{
	position: relative;
    text-align: center;
    vertical-align: baseline;
	display: inline-block;
}
#listhome6 .pagination .currentpage{
    line-height: 30px;
    width: 90px;
}
#listhome6 #dropdown-select{position:absolute;
	top:0;
	left:0;
	height:30px;
	width:90px;
	opacity:0;
}
/*news*/
#news{background-color:#F0EFEF;margin: 0 auto;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;}
#activity-detail{background:#F0EFEF;}
#news .text{ margin:15px 0;font-size:14px; word-wrap: break-word;}
.text em{ font-style:italic}
.showpic img{
    width: 100%;margin-top: 5px;
}
.page-bizinfo{padding:15px 9px 0 10px;}
.page-bizinfo .header #activity-name {
	font-size:20px;
	color:#000;
	/*font-weight:bold;*/
	word-break:normal;
	word-wrap:break-word;
}
.page-bizinfo .header #post-date{
	font-size:11px;
	color:#8c8c8c;
	margin:0;
}
.page-bizinfo .header .commentNum{
	font-size:11px;
	color:#8c8c8c;
	margin:0;
	display:none;
}
.page-bizinfo #biz-link.btn {
	background:url(http://t2.qpic.cn/mblogpic/426c637092f06ffde172/2000) no-repeat center center;
	background-size:100% 100%;
	border:none;
	height:42px;
	position:relative;
	text-align:left;
	padding:12px;
	padding-left:62px;
}
.page-bizinfo #biz-link.btn .arrow {
	position:absolute;
	top:22px;
	right:15px;
}
.page-bizinfo #biz-link.btn .logo {
	position:absolute;
	padding:6px;
	width:42px;
	height:42px;
	overflow:hidden;
	top:6px;
	left:5px;
}
.page-bizinfo #biz-link.btn .logo img {
	width:42px;
	height:42px;
	position:relative;
	z-index:10;
	border-radius:15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.page-bizinfo #biz-link.btn .logo .circle {
	position:absolute;
	top:0;
	left:0;
	width:54px;
	height:54px;
	background:url(http://t2.qpic.cn/mblogpic/9d348430a143c680b1e4/2000) no-repeat center center;
	z-index:100;
	background-size:100% 100%;
}
.page-bizinfo #biz-link.btn #nickname {
	font-size:15px;
	color:#454545;
	/*text-shadow:0 1px 1px white;*/
}
.page-bizinfo #biz-link.btn #weixinid {
	font-size:12px;
	color:#a3a3a3;
	line-height:20px;
	/*text-shadow:0 1px 1px white;*/
}
.text img {
    max-width: 100%;
}
#news .list{
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 15px;
}
#news #recommend{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/ttext.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#news #olload{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/recommend.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
}
#news .newsmore{
	display:block;
	margin-top: 0;
	cursor: pointer;
	border-top:1px solid #E0E0E0;
}
#news .olditem {
	display: block;
	padding: 10px 0 9px 0;
	background-color: #ffffff;
	line-height:25px;
    border-radius: 0;
    box-shadow: 0;
	text-align: left;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}
#news .title {
    display: block;
	margin-left:0;
	color: #535353;
    font-size: 14px;
	padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
#news .footer {
    /*box-shadow:0 3px 6px #e2e2e2;*/
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	cursor: pointer;
	background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #DDDDDD;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	margin:10px;
	padding:15px;
	text-align:center;
	display: block;
}
#news .more{
    border: 1px solid #E0E0E0;
	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	border-radius:26px;
	cursor: pointer;
	background-color:#FFFFFF;
	margin:10px 0;
	padding:10px;
	text-align:center;
	display: block;
}
.footer .top{
	background: url("../images/newstop.png") no-repeat scroll left center transparent;
	background-size: 11px auto;
	display: block;
    margin: 0 auto;
    text-indent: 15px;
    width: 85px;
}
/*news2*/
#news2 {
	background-color:#F0EFEF;
    max-width: 640px;
    min-width: 320px;
	overflow-x: hidden;
	margin: 0 auto;
}
#news2 .page-bizinfo h1{ font-size: 18px;}
#news2 .text {
    color: #202022;margin-top: 5px;
}
#news2 .page-bizinfo{
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:15px 10px;
	padding:15px;
}
#news2 .list{
	border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px;
	padding:10px 15px;
}

#news2 #recommend{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/ttext.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
	border-bottom:1px solid #E0E0E0;
}
#news2 #olload{
	display: block;
	color: #535353;
	border: 0;
	text-align: left;
	font-size: 16px;
	border-radius: 0;
	height: 33px;
	line-height: 33px;
	text-decoration: none;
	margin: 0;
	text-indent:25px;
	background: url("../images/recommend.png") no-repeat scroll left center transparent;
	background-size: 20px auto;
	border-bottom:1px solid #E0E0E0;
}
#news2 .newsmore{
	display:block;
	margin-top: 0;
	cursor: pointer;
	border-top:1px solid #EDEDED;
}
#news2 .olditem {
	display: block;
	padding: 10px 0;
	background-color: #ffffff;
	line-height:25px;
    border-radius: 0;
    box-shadow: 0;
	text-align: left;
	background: url("../images/ico-next.png") no-repeat scroll right center transparent;
	background-size: 7px auto;
}
#news2 .title {
    display: block;
	margin-left:0;
	color: #535353;
    font-size: 14px;
	padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap !important;
}
#news2 .footer {
    border:0px solid #D1D1D1;
	box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color:#FFFFFF;
	margin:10px;
	padding:15px;
	text-align:center;
	cursor: pointer;
	display: block;
}
#news2 .more{
    border: 1px solid #E0E0E0;
	-webkit-border-radius:26px;
	-moz-border-radius:26px;
	border-radius:26px;
	cursor: pointer;
	background-color:#FFFFFF;
	margin:10px 0;
	padding:10px;
	text-align:center;
	display: block;
}


/*iscroll*/

.banner {
	width:100%;
	margin:0 auto;
	padding:0;
	background-color: #333333;
}
#wrapper {
	margin:0;
	width:100%;
	height:auto;
	float:left;
	position:relative;	/* On older OS versions "position" and "z-index" must be defined, */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
	overflow:hidden;
	
}

#scroller {
	height:auto;
	float:left;
	padding:0;
}

#scroller ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	text-align:left;
}

#scroller li {
	
	display:block; float:left;
	width:auto; height:auto;
	text-align:center;
	font-size:0px;
	padding:0;
	position:relative;
}
#scroller li a{
	
	display:block;
	padding:0;
	margin:0;
}
#scroller li p{
	position:absolute;
	z-index:2;
	display:block;
	width:100%;
	bottom:0;
	background-color:rgba(0, 0, 0, 0.5);
	color:#F4F4F4;
	font-size:14px;
	text-indent: 55px;
	line-height:24px;
	text-align: left;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding:0;
	margin:0;
}
#nav {
	float: right;
    margin-top: -15px;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 3;
}

#prev, #next {
	float:left;
	font-weight:bold;
	font-size:14px;
	padding:5px 0;
	width:80px;
	display: none;
}

#next {
	float:right;
	text-align:right;
}

#indicator > li {
	display:block; float:left;
	list-style:none;
	padding:0; margin:0;
}

#indicator {
	display: block;
    margin: 0 8px;
    padding: 0;
    width: auto;
}

#indicator > li {
	text-indent:-9999em;
	width:8px; height:8px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:#888;
	overflow:hidden;
	margin-right:4px;
}

#indicator > li.active {
	background:#DDDDDD;
}

#indicator > li:last-child {
	margin:0;
}
/*keditor*/
.tpcon{ font-size:14px; margin-bottom:10px;}
.tpcon img{ max-width:100%; text-align:center;}
.tpcon p{ padding:3px 0;}
.tpcon ol,.tpcon ul{ padding:5px 0;}
.tpcon ol li{list-style:decimal inside; padding-left:10px;}
.tpcon ul li{list-style:disc inside; padding-left:10px;}