/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#333333;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#c22a2c;}
img{vertical-align:top;border:0}
html{background:#f5f5f5;}
body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}


.top{width:100%;height:70px;background:url(../images/login_line.jpg) repeat-x bottom left;margin-bottom:70px;}
.top_logo{width:900px;height:70px;margin:0 auto;}
.top_logo b{height:70px;line-height:70px;color:#c22a2c;display:block; font-family:"微软雅黑",Arial;font-size:25px;text-shadow: 0 1px #ccc; font-weight:normal;}

.login{width:890px;height:356px;margin:0 auto;border:5px solid #e0e1e4;background:#FFF;}
.login_left{width:500px;height:356px;float:left;}
.login_right{width:310px;height:356px;float:left;padding:0 40px;}
.login_right ul{height:326px;padding-top:30px;}
.login_right li{width:310px;}
.login_right .wz{height:24px;line-height:24px;margin-top:10px;width:303px;padding-left:7px;color:#999999;}
.login_right .kuang{width:305px;height:32px;padding-left:3px;line-height:32px;border:1px solid #cccccc;position:relative;}
.login_right .kuang img{height:32px;width:32px;position:absolute;top:0px;right:0px;}
.login_right .kuang input{border:none;_border:none;background:none;}
.login_right .kuang .kuang1{width:272px;height:32px;line-height:32px;border:none;_border:none;_margin-right:33px;*+margin-right:33px;margin-right:33px;}
.login_right .kuang .kuang2{width:272px;height:32px;line-height:34px;border:none;_margin-right:33px;*+margin-right:33px;margin-right:33px;}
.login_right .yan{width:160px;height:32px;line-height:34px;border:1px solid #cccccc;text-align:center;}
.login_right .tijiao{display:block;text-align:center;background:url(../images/login_an.jpg) no-repeat;width:310px;height:34px;line-height:34px;margin-top:34px;}
.login_right .tijiao input{background:none;color:#FFF;border:none;font-size:16px; font-family:"微软雅黑"; cursor:pointer;height:34px;line-height:28px;width:310px;}

