input{ vertical-align:middle;}
.fw{font-weight:bold;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs36{font-size:36px;}

.ml10{margin-left:10px;}
.mt10{margin-top:10px;}

.cl_333{color:#333;}
.cl_666{color:#666;}
.cl_hongse{color:#c32a2c;}

.ff_english{font-family:Arial, Helvetica, sans-serif;}
.ff_wei{font-family:"微软雅黑";}

.satisfaction{width:832px;height:auto;background:#FFF;border-radius:6px;border:6px solid #3a3a3a; position:relative;}
.satisfaction_x a{background:url(../images/satisfaction_x1.png) no-repeat;width:28px;height:28px;position:absolute;right:-14px;top:-14px;}
.satisfaction_x a:hover,.satisfaction_x a:active{background:url(../images/satisfaction_x.png) no-repeat;}

.satisfaction_title{width:100%;height:96px;background:url(../images/title_bg1.jpg) no-repeat;border-bottom:1px solid #e7e7e7;}
.satisfaction_title_div1{width:245px;padding-left:15px;margin-right:20px;float:left;margin-right:25px;}
.satisfaction_title_div1 ul{margin-top:5px;margin-top:5px;}
.satisfaction_title_div1 li{margin-top:5px;color:#666;}
.satisfaction_title_div1 input{margin-left:15px;display:inline;width:15px;}


.satisfaction_title_div2{width:185px;padding-left:15px;float:left;}
.satisfaction_title_div2 ul{margin-top:5px;}
.satisfaction_title_div2 li{margin-top:5px;color:#666;}
.satisfaction_title_div2 label{margin-right:10px;height:24px;line-height:18px;float:left;width:80px;line-height:24px}
.satisfaction_title_div2 label input{width:15px;}


.satisfaction_title_div3{width:185px;padding-left:15px;float:left;margin-right:20px;}
.satisfaction_title_div3 ul{margin-top:5px;}
.satisfaction_title_div3 li{margin-top:5px;color:#666;}
.satisfaction_title_div3 textarea{height:45px;width:165px;line-height:20px;background:#FFF;border:1px solid #dddddd; resize:none;color:#666;font-size:12px;}

.satisfaction_title_div4{width:127px;float:left;text-align:center;}
.satisfaction_btn{background:#be2600;heihgt:30px;line-height:30px;width:80px;text-align:center;border:none;border-radius:3px;color:#FFF;margin-top:30px;cursor:pointer;}
.satisfaction_btn:hover{background:#ff3300;}
.satisfaction_btn:active{background:#ff3300;}

.satisfaction_title1{height:30px;line-height:30px;width:100%;background:#FFF;border-bottom:1px solid #dddddd;text-align:right;}
.satisfaction_title1 label{margin-right:15px;}
.satisfaction_title1 label input{width:15px;}


.satisfaction_title2{height:30px;line-height:30px;width:100%;background:#f6f6f6;border-bottom:1px solid #dddddd;}
.satisfaction_title2 p{width:337px;padding-left:15px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;color:#333;}
.satisfaction_title2 span{width:89px;float:left;}



.satisfaction_con{height:220px;width:100%;overflow-y:auto;overflow-x:hidden;}
.satisfaction_con ul{}
.satisfaction_con li{height:35px;line-height:35px;color:#666;border-bottom:1px solid #eaeaea;width:100%;float:left;}
.satisfaction_con p{width:337px;padding-left:15px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;}
.satisfaction_con span{width:89px;float: left;}


.fenye{height:40px;width:100%;background:#FFF;}