input{ vertical-align:middle;}
.fw{font-weight:bold;}
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs36{font-size:36px;}

.ml10{margin-left:10px;}
.mt10{margin-top:10px;}

.cl_333{color:#333;}
.cl_666{color:#666;}
.cl_hongse{color:#c32a2c;}

.ff_english{font-family:Arial, Helvetica, sans-serif;}
.ff_wei{font-family:"微软雅黑";}

.satisfaction{width:832px;height:auto;background:#FFF;border-radius:6px;border:6px solid #3a3a3a; position:relative;}
.satisfaction_x a{background:url(../images/satisfaction_x1.png) no-repeat;width:28px;height:28px;position:absolute;right:-14px;top:-14px;}
.satisfaction_x a:hover,.satisfaction_x a:active{background:url(../images/satisfaction_x.png) no-repeat;}

.satisfaction_title{width:100%;height:96px;background:url(../images/title_bg1.jpg) no-repeat;border-bottom:1px solid #e7e7e7;}
.satisfaction_title_div1{width:245px;padding-left:15px;margin-right:20px;float:left;margin-right:25px;}
.satisfaction_title_div1 ul{margin-top:5px;}
.satisfaction_title_div1 li{color:#666;}
.satisfaction_title_div1 input{margin-left:15px;display:inline;width:15px;}


.satisfaction_title_div2{width:185px;padding-left:15px;float:left;}
.satisfaction_title_div2 ul{margin-top:5px;}
.satisfaction_title_div2 li{margin-top:10px;color:#666;}
.satisfaction_title_div2 label{margin-right:15px;height:18px;line-height:18px;}
.satisfaction_title_div2 label input{width:15px;}


.satisfaction_title_div3{width:185px;padding-left:15px;float:left;margin-right:20px;}
.satisfaction_title_div3 ul{margin-top:5px;}
.satisfaction_title_div3 li{margin-top:10px;color:#666;}
.satisfaction_title_div3 textarea{height:40px;width:165px;line-height:20px;background:#FFF;border:1px solid #dddddd; resize:none;color:#666;font-size:12px;}

.satisfaction_title_div4{width:127px;float:left;text-align:center;}
.satisfaction_btn{background:#ff3300;heihgt:30px;line-height:30px;width:80px;text-align:center;border:none;border-radius:3px;color:#FFF;margin-top:30px;cursor:pointer;}
.satisfaction_btn:hover{background:#d62b00;}
.satisfaction_btn:active{background:#be2600;}

.satisfaction_title1{height:30px;line-height:30px;width:100%;background:#FFF;border-bottom:1px solid #dddddd;text-align:right;}
.satisfaction_title1 label{margin-right:15px;}
.satisfaction_title1 label input{width:15px;}


.satisfaction_title2{height:30px;line-height:30px;width:100%;background:#f6f6f6;border-bottom:1px solid #dddddd;}
.satisfaction_title2 p{width:337px;padding-left:15px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;color:#333;}
.satisfaction_title2 span{width:89px;float:left;}



.satisfaction_con{height:360px;width:100%;overflow-y:auto;overflow-x:hidden;}
.satisfaction_con ul{}
.satisfaction_con li{height:35px;line-height:35px;color:#666;border-bottom:1px solid #eaeaea;width:100%;float:left;}
.satisfaction_con p{width:337px;padding-left:15px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;}
.satisfaction_con span{width:89px;float: left;}


.fenye{height:40px;width:100%;background:#FFF;}


/*************弹层新增的css**********/
.review{width:610px;height:auto;background:#FFF;border-radius:6px; position:relative;}
.review_title{width:100%;height:40px;line-height:40px;background:#c22a2c;color:#FFF;}
.review_title font{margin-left:10px;font-size:14px; font-family:"微软雅黑";}

.review_title2{height:30px;line-height:30px;width:100%;background:#f6f6f6;border-bottom:1px solid #dddddd;}
.review_title2 p{width:207px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;color:#333;}
.review_title2 span{width:89px;float:left;}
.review_title2 font{width:89px;padding-left:15px;float:left;}

.review_con{height:324px;width:100%;overflow-y:auto;overflow-x:hidden;}
.review_con li{height:35px;line-height:35px;color:#666;border-bottom:1px solid #eaeaea;width:100%;float:left;}
.review_con p{width:207px;overflow: hidden;float: left;white-space: nowrap;text-overflow: ellipsis;margin-right:15px;}
.review_con font{width:89px;padding-left:15px;float:left;}
.review_con span{width:89px;float: left;}

.review_bottom{height:50px;width:100%;background:#f6f6f6;border-top:1px solid #dddddd;}
.review_btn{background:#ff3300;border-radius:3px;height:30px;line-height:30px;width:85px;text-align:center;color:#FFF;margin:10px 15px 0 0;float:right;display:inline-block;}
.review_btn:hover,review_btn:active{background:#e82e00;color:#FFF;}

/*********************统计报表******************/
.report{width:100%;}
.report_title{width:100%;height:40px;line-height:40px;;background:#f0f0f0;color:#333;}
.report_title p{float:left;margin-right:5px;}
.report_title input{height:24px;line-height:24px;width:70px;border:1px solid #abadb3;padding:0 3px;color:#666;}
.report_title font{line-height:20px;height:24px;width:auto;display:inline-block;}
.report_title .report_title_btn{background:#c72528;text-align:center;width:50px;height:25px;line-height:25px;border:none;color:#FFF;border-radius:3px;cursor:pointer;}
.report_title_btn:hover,.report_title_btn:active{background:#b51c1f;}
.report_title select{height:24px;line-height:24px;color:#666;width:auto;display:inline-block;*+margin-top:5px;}
.report_title td{padding-left:10px;background:url(../images/report_title_line.jpg) no-repeat top right;position:relative;}
.report_title .report_none{background:none;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.fl{float:left;}

.report_con{width:100%;overflow: hidden;}
.report_con_left_top{width:100%;height:350px;background:#f7f7f7;}

.report_con_title{height:33px;line-height:33px;background:#f6f6f6;width:auto;position:relative;border:1px solid #ddd;border-left:none;border-right:none;font-weight:bold;color:#666;}
.report_con_title_left{width:auto;margin-right:240px;height:auto;clear: both;}
.report_con_title_left p{width:28%;*+width:27%;float:left;}
.report_con_title_left p span{padding-left:32px;}
.report_con_title_left font{width:12%;float:left;font-size:12px;}
.report_con_title_right{width:238px;height:33px;position:absolute;right:0px;top:0px;background:#f6f6f6;clear: both;}


.report_con_con{width:100%;height:auto;display:inline-block;position:relative;border-bottom:1px solid #ddd;border-top:none;border-left:none;}
.report_con_left{width:auto;margin-right:240px;height:100%;background:#EEE;min-height:420px;}
.report_con_left ul{clear:both;}
.report_con_left li{height:34px;*+height:auto;line-height:34px;width:100%;float:left;border-bottom:1px solid #eaeaea;background:#FFF;display:inline-block;}
.report_con_left li div li{}
.report_con_left .bgcolor{background:#f7f7f7;}
.report_con_left p{width:28%;*+width:27%;display:block;}
.report_con_left font{width:12%;font-size:12px;display:block;}
.report_con_left .bgcolor font,.report_con_left .bgcolor p{color:#333;}
.report_con_left font,.report_con_left p{color:#666;float:left;}
.report_con_left a{color:#666; text-decoration:underline;}
.report_con_right{width:240px;height:100%;border-left:1px solid #ddd;position:absolute;right:0px;top:0px;background:#f6f6f6;}

.report_con_con img{padding:13px 0 0 20px;margin-right:5px;*+padding:2px 0 0 20px;}
.report_con_left_top a{float:left;}
.report_con_left_top p span{width:80%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;float:left;}
.report_con_left_bottom{height:70px;width:100%;background:#FFF;position:relative;}
.report_bottom_export{width:130px;height:70px;position:absolute;left:0px;top:0px;border-right:1px solid #ddd;}
.report_bottom_export a{width:72px;height:30px;line-height:30px;background:url(../images/export.jpg) no-repeat 5px 5px #FFF;border:1px solid #f4e6e6;display:inline-block; border-radius:3px;padding-left:28px;color:#a70e10;margin:20px 0 0 13px;}
.report_bottom_export a:hover{border-color:#fac5c5;}
.report_bottom_export a:active{border-color:#f7b5b5;}
.report_bottom_page{width:auto;margin-left:130px;height:auto;background:#CCC;}


.report_con_right_top{height:95px;width:100%;padding-top:20px;}
.report_con_right_circle1{height:115px;background:url(../images/circle_bg1.png) top center no-repeat;width:50%;float:left;}
.report_con_right_circle1 p,.report_con_right_circle2 p{width:79px;height:55px;text-align:center;margin:17px auto 0;}
.report_con_right_circle1 p span,.report_con_right_circle2 p span{width:100%;display:inline-block;color:#FFF;}
.report_con_right_circle2{height:115px;background:url(../images/circle_bg2.png) top center no-repeat;width:50%;float:left;}
.report_con_right_bottom{min-height:300px;}
.report_con_right_bottom_wz{width:150px;height:30px;line-height:30px;position:absolute;left:50px;top:370px;}
.report_con_right_bottom_wz p{width:5px;height:5px;overflow:hidden;display:inline-block;margin:13px 5px 0px 10px;float:left;}
.report_con_right_bottom_wz span{float:left;}
.jqplot-title{font-weight:bold;}
