@CHARSET "UTF-8";
/***********************通用代码**************************/
html, body{ margin:0;padding:0;border:0;width:100%;height:100%;}
img{vertical-align:top;border:0}
/***********************通用代码结束**************************/

.icon-ckwd{background:url('../images/q_ck.gif') no-repeat center;}
.icon-bb{background:url('../images/q_max.gif') no-repeat center center;}
.icon-sc1{background:url('../images/q_sc.gif') no-repeat center center;}
.icon-sc2{background:url('../images/wz_scwc2.png') no-repeat center center;}
.icon-bj{background:url('../images/q_bj.gif') no-repeat center center;}
.icon-fx{background:url('../images/wz_fx.png') no-repeat center center;}
.icon-zjgx{background:url('../images/wz_zjgx.png') no-repeat center center;}
.icon-ew{background:url('../images/ew_01.png') no-repeat center center;}
.icon-comp{background:url('../images/comp_01.png') no-repeat center center;}
.icon-rela{background:url('../images/relation_01.png') no-repeat center center;}
.icon-view{background:url('../images/q_view.gif') no-repeat center center;}
.icon-max{background:url('../images/max_01.png') no-repeat center center;}


/***********************栏目**************************/
.tab2{
	background-color: #F2F2F2;
	border: solid;
	border-color: #dfdfdf;
	border-width: 1px 0 0 0;
}
.tab2 td{
	border: solid;
	border-color: #dfdfdf;
	border-width: 0 1px 1px 0;
}

.con-content>span>p{text-indent:2em;}


.textarea_div{
	background-color: #f6f6fe;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    color: #555;
    display: inline-block;
    line-height: 24px;
    min-height: 30px;
    padding: 2px;
    width: 95%;
    word-break: break-all;
}