.f-size{
	font-size:16px;
	height:20px;
	line-height:36px;
	color:#777;
	vertical-align:bottom;
	font-weight:bold;
}
.f-size-t2{
	font-size:14px;
	height:30x;
	line-height:30px;
	color:#4F9CEE;
	font-weight:bold;
	vertical-align:top;
}
.f-color{
	font-size:16px;
	height:22px;
	line-height:22px;
}
.con-a{
	width:100%;
	height:auto;
	padding:5px 20px 15px;
	background-color:#e4e4e4;
}
.con-a h2{
	text-align:center;
	font-size:22px;
	font-weight:bold;
}
.con-b{
	background-color:white;
	padding:18px 1.5% 1px;
}
.con-p{
	height:auto;
	line-height:26px;
	text-indent:2.1em;
	color:#666;
}
.table i.ico-t1{
	display:inline-block;
	float: left;
	width:30px;
	height:30px;
	background:url(../images/biztpl_add.png) no-repeat center bottom;
	background-size:28px 28px;
	margin-right:6px;
}
.table i.ico-t2{
	display:inline-block;
	float: left;
	width:30px;
	height:30px;
	background:url(../images/wz_zjgx.png) no-repeat;
	background-size:30px 30px;
	margin-right:4px;
}
.table i.ico-t3{
	display:inline-block;
	float: left;
	width:26px;
	height:26px;
	background:url(../images/wz_zjgx.png) no-repeat;
	background-size:26px 26px;
	margin-right:4px;
	margin-left: 30px;
}
.ico-ask{
	background-color: #52c277;
	margin-top:10px;
}
.ico-answer { 
	background-color: #1cb7fd; 
	margin-top:8px;
}
.table:last-child input[type="text"]{
	background:#efefef;
	padding:2px 8px;
	color:#388EED;
	margin:10px auto 2px!important;
}
.ico-text{
	display: inline-block;
	text-align: center;
	vertical-align:top;
	font-size: 14px;
	width:28px; 
	height:29px;
	line-height:29px;
	font-style: normal;
	font-weight: normal;
	color: #fff;
	overflow: hidden;
	margin-right:5px;
	margin-left:60px;
	border-radius:4px;
}
.textarea2_div{
	width:82%;
	min-height:30px;
	display: inline-block;
	vertical-align: top;
	background-color:#f6f6fe;
	margin:8px 0;
	padding:2px 8px;
	line-height:24px;
	color:#555;
	word-break:break-all;
	border: 1px solid #cdcdcd;
	border-radius:4px;
}
.table >tbody> tr > td.con-c {
    border-top:none;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}