body,ul,li,p,input,button,form,table,tr,td,em,dl,dt,dd,h2,h3 {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6,em,i {
	font-weight: normal;
	font-style: normal;
}

body {
	background: #fafafa;
	font-family: "Microsoft Yahei",宋体,arial;
	font-size: 12px;
	line-height: 22px;
	overflow-x: hidden;
}

/**.test{
	position:absolute;
	z-index:3;
	width:auto;
	height:auto;
	border-radius:5px;
	box-shadow: 1px 1px 50px rgba(0,0,0,.3);
	border:6px solid #7E7E7E;
}**/

#mask {
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
	display: none;
	z-index: 2;
}

.drag {
	box-shadow: 0px 0px 10px #505050;
	border-radius: 4px;
	/*cursor: move;*/
}

/*-----------common----------*/
a {
	text-decoration: none;
	color: #666;
}

a:hover {
	text-decoration: underline;
}

ul,li {
	list-style: none;
}

button::-moz-focus-inner {
	border:0;
	padding:0;
}

.m-top {
	margin-top: 8px;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.sidebar {
	float: left;
	width: 250px;
	padding: 15px;
	height: 100%;
	position: fixed;
	background-color: white;
}

.right_sidebar {
	margin-left: 280px;
	height: 100%;
	padding: 0 15px 15px;
	background: #e4e4e4;
	clear:both
}

/*--------sidebar-------*/
.sidebar h2 {
	text-align: left;
	font-weight: 400;
	font: 18px/38px Microsoft Yahei;
	border-bottom: 1px solid #999;
}

.sidebar h3 {
	display: inline-block;
	float: left;
	width: auto;
	padding-left: 32px;
	font-style: normal;
	font-weight: normal;
	font: 16px/48px 'Microsoft Yahei';
	background: red;
}

.sidebar h3.ico-2 {
	background: url(../images/ico-8.png) no-repeat left center;
	background-size: 26px 26px;
	font-style: normal;
}

.sidebar h3.ico-3 {
	background: url(../images/ico-2.png) no-repeat left center;
	background-size: 26px 26px;
	float: right
}

.sidebar_cata {
	width: 242px;
	margin: 0px auto;
	display: block;
	font-family: 'Microsoft Yahei','\5b8b\4f53',sans-serif,arial,tahoma,;
}

.sidebar_cata .sidebar-list {
	width: auto;
	position: relative;
	float: left;
	width: 240px;
	height: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f2f2;
}

.sidebar_cata .sidebar-list ol {
	width: 200px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	word-break: break-all;
	word-wrap: break-word;
}

.sidebar_cata .sidebar-list ol li.level1 {
	line-height: 32px;
}

.sidebar_cata .sidebar-list ol li.level2 {
	line-height: 28px;
}

.sidebar_cata .sidebar-list ol li.level1 .text a {
	color: #388EED;
	font-size: 16px;
}

.sidebar_cata .sidebar-list ol li.level2 .text a {
	color: #555;
	font-size: 14px;
}

.sidebar_cata .sidebar-list ol li.level1 .index {
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	width: 15px;
	font-size: 16px;
	vertical-align: top;
	color: #63a0df;
}

.sidebar_cata .sidebar-list ol li.level1 .text {
	-moz-box-orient: vertical;
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	vertical-align: top;
	width: 200px;
}

.sidebar_cata .sidebar-list ol li.level2 .index {
	-moz-box-orient: vertical;
	color: #ccc;
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	padding-left: 10px;
	padding-right: 5px;
	vertical-align: middle;
	width: 5px;
}

.sidebar_cata .sidebar-list ol li.level2 .text {
	-moz-box-orient: vertical;
	display: inline-block;
	font-size: 12px;
	line-height: 21px;
	vertical-align: middle;
	color: #666;
	width: 165px;
}

/*--------sidebar_right---------*/
.head_top {
	width: 100%;
	box-sizing: border-box;
	padding: 8px 20px;
	height: 68px;
	position: fixed;
	background: #f2efee;
	box-shadow: 5px 5px 5px #bbb;
	z-index: 2;
}
.head_top>p{
	height: 30px;
	font: 12px/28px '宋体';
}
p.butt{
	text-align:right	
}
.head_top button {
	width: auto;
	height: 30px;
	color: #555;
	background: #e1e1e1;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: bold 14px/28px "宋体";
	padding: 0px 18px;
	margin-right: 10px;
	text-align:center;
	cursor: pointer;
}

button.head_top_tj{
	background: #fdcbcf;	
}
.head_top button:hover{
	box-shadow: 0 0 5px #e4e4e4;
}
button.head_top_tj:hover{
	box-shadow: 0 0 5px #fdcbcf;
}

.head_top input[type="checkbox"] {
	vertical-align: middle;
	margin-right: 3px;
}

.fix-height {
	height:85px;
}

/*=========================-head 表单-===================*/
.head_form {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 5px 1.5%;
	box-shadow: 5px 5px 5px #bbb;
	background: white;
	
}
.head_form > ul{
	width:98%;
	height:100%;
	margin:0 auto;
	padding-bottom:10px;
	overflow: hidden;
}
.head_form > ul > li{
    float: left;
    height:30px;
	line-height:30px;
	margin-top:10px;
	display:inline-block;
	*display:inline;
	width:50%;
}
.head_form > ul > li > button{
	border: 1px solid #999;
	font:13px/22px '宋体';
	width:auto;
	padding:1px 2px;
	color:#666;
	border-radius: 4px;
	background:#efefef;
	margin-left:2px;
	cursor:pointer;
	overflow:visible;
}

.head_form li.none {
	display: none;
}

.head_form input[type="text"] {
	border: 1px solid #cdcdcd;
	height: 28px;
	line-height: 28px;
	border-radius: 4px;
	width: 32%;
	background: #efefef;
	padding: 0px 8px;
	color: #388EED;
}

.head_form input.full {
	width: 48%;
}

.head_form input[type="button"] {
	width: 96px;
	height: 28px;
	line-height: 24px;
	border-radius: 4px;
	background: #efefef;
	padding: 0px 8px;
	color: #333;
	cursor: pointer;
	border: 1px solid #cdcdcd;
}

.head_form label {
	display: inline-block;
	*display:inline;
	*zoom:1;
	vertical-align: top;
	width: 88px;
	height: 30px;
	color: #666;
	font: 14px/30px "宋体";
	white-space: pre-wrap;
	text-align: center;
}

.head_form label > em {
	display: inline-block;
	width: auto;
	color: red;
	padding: 0 4px;
	font-weight: bold;
}

.head_form i {
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 30px;
	background:url('../images/ico-1.png') no-repeat center center;
	font: bold 14px/inherit arial;
	text-align: center;
	color: white;
}

.head_form i.check{
	background:url('../images/ico-26.png') no-repeat center center;
}
.head_form i.check_bg{
	background:url('../images/ico-27.png') no-repeat center center;
}

/*--------正文begin---------*/
.about {
	width: 94%;
	padding: 5px 3% 15px;
	height: auto;
	margin: 20px auto;
	box-shadow: 5px 5px 5px #bbb;
	background: white;
}

.content {
	width: 100%;
	height: auto;
	box-shadow: 5px 5px 5px #bbb;
}

.content h2.title {
	text-align: center;
	font: 22px/46px Microsoft Yahei;
	color: #333;
	background: #f2f2f2;;
}

.content_inner {
	background-color: white;
	padding: 1% 3%;
	width: 94%;
	margin: 0 auto;
	word-break: break-all;
}

.content_ul {
	margin-bottom: 20px;
}

.content_ul>li {
	border-bottom: 1px solid #ddd;
	height: auto;
	line-height: 40px;
	}

.content_ul>li:first-child {
	border-top: none;
}

.content_ul>li h2.title_1 {
	height:32px;
	font:800 18px/32px arial Microsoft Yahei;
	color: #555;
	display: inline-block;
	vertical-align: bottom;
	float:left
}

.content_ul>li h2.title_2 {
	font: 16px/32px arial Microsoft Yahei;
	color: #777;
	text-indent: 2em;
	font-weight: 600;
	display: inline-block;
	vertical-align: bottom;
	float:left
}

.content_ul>li span.add_zs {
	height:32px;
	margin-right: 32px;
	display: inline-block;
	font: 14px/32px "宋体";
	color: #666;
	cursor: pointer;
	float:right
}

.content_ul span i.ico-title_2 {
	display: inline-block;
	vertical-align: middle;
	background: url('../images/ico-4.png') no-repeat center center;
	width: 22px;
	height: 32px;
	cursor: pointer;
	padding-right: 8px;
}

.content_ul  span i.ico-title_2_2 {
	display: inline-block;
	background: url('../images/ico-2.png') no-repeat center bottom;
	width: 22px;
	height: 33px;
	cursor: pointer;
	padding-right: 8px;
	background-size: 22px 22px;
	vertical-align: bottom;
}

/*-----------------*/
.q_ask {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	height: auto;
}

.q_ask_show {
	width: 100%;
	margin: 0 auto;
}

.q_ask_show2 {
	width: 100%;
	margin: 0 auto 30px;
}

/**.q_ask_show em {
	display: block;
	font: 14px/20px '宋体';
	color: #333;
	padding-left: 6px;
}**/

.q_ask_show i.ico-move {
	display: inline-block;
	vertical-align: bottom;
	width: 18px;
	height: 22px;
	background: url(../images/ico-5.png) no-repeat center;
	cursor: pointer;
	position: absolute;
	left: -20px;
	top: 28px;
}

.q-ask-ico {
	position: absolute;
	right: -50px;
	top: -5px;
}

i.ico-add {
	display: inline-block;
	vertical-align: middle;
	height: 21px;
	width: 24px;
	cursor: pointer;
	background: url('../images/ico-add.png') no-repeat right center;
}
.q-ask-ico i.ico-add:hover {
	display: inline-block;
	vertical-align: middle;
	height: 21px;
	width: 24px;
	cursor: pointer;
	background: url('../images/ico-add_h.png') no-repeat right center;
}
i.ico-delete {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 22px;
	cursor: pointer;
	background: url('../images/ico-del.png') no-repeat right center;
}

i.ico-delete:hover {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 22px;
	cursor: pointer;
	background: url('../images/ico-del_h.png') no-repeat right center;
}

.q_ask_show i.ico-more:hover{
	background:url('../images/ico-35.png') no-repeat 99% center;
}

.q_ask_show i.ico-more{
	float:right;
	margin:0 6px;
	padding:0 8px;
	height: 36px;
	line-height: 36px;
	width:24px;
	cursor:pointer;
	background:url('../images/ico-36.png') no-repeat 99% center;
}

.q_ask_show span.q-ask-span{
	display: block;
	float: none;
	border: 1px solid #cdcdcd;
	height: 32px;
	line-height: 32px;
	border-radius: 2px;
	width: auto;
	margin:0 6px;
	padding:0 8px;
	color:#388EED;
	font-size:14px;
	background:#efefef;
}

.q_ask_show a#input_tag {
	display: inline-block;
	vertical-align: middle;
	width: 28px;
	height: 20px;
	background: url('../images/ico-13.png') no-repeat center top;
	background-size: 15px 15px;
}

.q_ask_add {
	width: auto;
	margin: 10px auto;
	padding: 0 8px;
	position: relative;
}

.q_ask_add em {
	display: block;
	text-indent: 0;
	font: 14px/22px arial;
	color: #333;
}

.q_ask_add input[type="text"] {
	border: 1px solid #cdcdcd;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
	width: 98%;
	padding: 2px 1%;
	color: #388EED;
	cursor: text;
	font-size: 14px;
	background: #efefef;
}

.q_ask_add i.ico-delete3 {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 18px;
	cursor: pointer;
	background: url('../images/ico-del.png') no-repeat center;
	position: absolute;
	right: -16px;
	top: 25px;
}

/*-------回答部分-----*/
.q_ask_con {
	width: auto;
	margin: 8px 6px;
	min-height: 26px;
	height: auto;
	background-color: #f6f6fe;
	padding: 6px 8px;
	line-height: 24px;
	color: #555;
	word-break: break-all;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	text-indent: 2em;
	font-size: 14px;
}

.q_ask_ans {
	width: 100%;
	padding: 1px;
	text-align: center;
	margin: 12px auto 5px;
}

.q_ask_ans .ico-add {
	background: url(../images/biztpl_add.png) no-repeat center center;
	display: inline-block;
	background-size: 18px 18px;
	float: left;
	width: 40px;
	height: 28px;
	cursor: pointer;
}

.q_ask_ans a {
	display: inline-block;
	vertical-align: middle;
	color: #777;
	font-size: 16px;
	font-weight: bold;
	height: 28px;
	line-height: 28px;
}

.q_ask_wz {
	width: auto;
	height: auto;
	padding: 2px 1%;
	border: 1px solid #ccc;
	background: #f2f2f2;
	margin: 0 auto 10px;
}

.q_ask_wz2 {
	width: auto;
	padding: 10px 1%;
	margin: 20px 6px 10px;
	min-height: 30px;
	height: auto;
	border: 1px solid #ccc;
}

.q_ask_bt {
	height: 50px;
	line-height: 50px;
	text-align: center;
}

.q_ask_bt button {
	width: 76px;
	height: 28px;
	line-height:28px;
	margin-right: 10px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-size: 14px;
	background: olive;
}

.q_ask_bt button.bj_confirm {
	background: #FF7D48;
	color: #fff;
}

.q_ask_bt button.bj_cancel {
	background: #C9C9C9;
}

.q_ask_bt button.bj_del {
	background: #F49930;
	color: #fff;
}

.q_js {
	width: auto;
	margin: 0 6px;
	padding: 2px;
	position: relative;
	padding-left: 1px;
}

.q_js a {
	display: inline-block;
	vertical-align: middle;
	float: right;
	color: #777;
	font-size: 16px;
	height: 26px;
	line-height: 26px;
}

.q_js i.ico_bj {
	background: url("../images/ico-2.png") no-repeat center center;
	background-size: 21px 21px;
	display: inline-block;
	float: left;
	height: 26px;
	cursor: pointer;
	margin-right: 6px;
	width: 22px;
}

.q_js i.ico-js {
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 18px;
	cursor: pointer;
	background: url('../images/ico-del.png') no-repeat center;
	position: absolute;
	right: -20px;
	top: 45%;
}

.q_js i.ico-js:hover {
	display: inline-block;
	background: url('../images/ico-del_h.png') no-repeat right center;
	position: absolute;
}

.about .q_js i.ico-pic {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	width: 22px;
	cursor: pointer;
	background: url('../images/zhai.png') no-repeat center;
	position: absolute;
	left: -25px;
	top: 20%;
}

.q_ask_show2 .q_js i.ico-pic {
	display: inline-block;
	vertical-align: top;
	height: 30px;
	width: 22px;
	cursor: pointer;
	background: url('../images/jie.png') no-repeat bottom;
	position: absolute;
	left: -25px;
	top: 0px;
}

.q_js_con {
	width:auto;
	height: auto;
	margin:0px;
	font: 14px/30px arial;
	color: #666;
	/***background: #f7f7f7;**/
	border: 1px dashed #bbbbbb;
	padding: 0.5% 1%;
	font-size: 14px;
	overflow: hidden;
}
.q_js_con img{
	display:block;
	margin:0 auto;
    max-height: 100%;
    max-width: 100%;
}
.q_ask_top {
	width: auto;
	margin: 20px 6px;
	height: auto;
	padding: 2px 1px;
	line-height: 30px;
}

.q_ask_top_h i {
	display: inline-block;
	font: 14px/33px '宋体';
	color: #333;
}

.q_ask_top_h i.add_ask {
	display: inline-block;
	vertical-align: bottom;
	float: right;
	text-align: left;
	background: url(../images/ico-09.gif) no-repeat left center;
	background-size: 24px 25px;
	text-indent: 30px;
	width: 110px;
	height: 28px;
	cursor: pointer;
}

.q_ask_top_h i.wd_ask {
	float: right;
	text-align: center;
	background: #ccc;
	color: #333;
	width: 120px;
	height: 28px;
	cursor: pointer;
}
.q_as {
    position: relative;
    z-index: 1;
}

.wait-pipei{
	width: 98%;
	margin: 20px auto;
	border: 1px #aaa dashed;
	padding-top: 0px;
	font: 12px/26px '宋体';
	clear: both;
}
.title-wait-pipei{
	width: 98%;
	margin: 0 auto;
	padding-top:8px;
	font: bold 16px/32px '宋体';
	color: #555;
	text-indent: 12px;
	border-bottom: 1px solid #ccc;
}
.title-dt{
	width: 94%;
	height: auto;
	margin: 12px auto 0;
	overflow:hidden;
}
.title-pipei{
	display: inline-block;
	height:100%;
	float:right;
	overflow: hidden;
}
.title-pipei span{
	display: inline-block;.
	height:32px;
	line-height:32px;
	font-size:14px;
}

.title-pipei span a{
	display: inline-block;
	width:auto;
	text-align:left;
	font-size:14px;
	color:#666;
	text-indent:0;
}
.wait-pipei i{
	display: inline-block;
 	vertical-align: top;
	width:20px;
	height:32px;
	cursor: pointer;
}
.wait-pipei i.ico-delete2 {
	background: url(../images/ico-3.png) no-repeat left center;
}

.wait-pipei i.ico-move {
	background: url(../images/ico-5.png) no-repeat left center;
}

/* 待匹配标准问拖拽按钮样式 */
i.arrows-move {
	display: inline-block;
	vertical-align: bottom;
	width: 18px;
	height: 22px;
	background: url(${pageContext.request.contextPath }/resource/biztpl/images/arrows-move.png) no-repeat center;
	cursor: pointer;
	left: -20px;
	top: 28px;
}

.wait-pipei label{
	width: auto;
	padding-right:8px;
	overflow:hidden;
}
.wait-pipei dd {
	width: 94%;
	height: auto;
	margin: 7px auto;
	overflow:hidden;
}
.wait-pipei dd div {
	border-top: 1px dashed #e2e2e2;
	border-left: 3px solid #018ccb;
	background: #f3f3f3;
	padding: 10px;
	display: none;
}

.content-tab {
	width: 98%;
	margin: 20px auto;
	font-family: "宋体";
}

.content-tab h2.title-table {
	height: 30px;
	line-height: 30px;
	color: #555;
	font-size: 16px;
	font-weight: bold;
}

.content-tab table {
	width: 100%;
	color: #444;
	border-collapse: collapse;
}

.content-tab table tr:nth-child (1){
	height: 36px;
	line-height: 36px;
}

.content-tab table tr:nth-child (2){
	background: #efefef;
}

.content-tab table td {
	width: auto;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border: 1px solid #ccc;
	text-align: center;
}

.content-tab .table_head {
	display: inline-block;
	vertical-align: bottom;
	width: 100%;
}

.content-tab .table_head span {
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	float: left;
	width: auto;
	padding: 0 10px;
}

.content-tab .table_head em {
	display: inline-block;
	vertical-align: bottom;
	float: right;
	color: #555;
	width: auto;
	padding: 5px 10px 0;
	cursor: pointer;
}

.content-tab table td i {
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	cursor: pointer;
}

.content-tab table td i.ico-on {
	width: 19px;
	height: 11px;
	cursor: pointer;
	background: url(../images/ico-on.png) no-repeat center center;
	background-size: 19px 11px;
}

.content-tab table td i.ico-off {
	width: 19px;
	height: 20px;
	background: url(../images/ico-off.png) no-repeat center center;
	background-size: 19px 20px;
}

.content-tab table td div {
	
}

.content-tab table td div input {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 14px;
	height: 14px;
}

/*这块有问题*/
.more2 {
	background: white none repeat scroll 0 0;
    position: absolute;
    z-index: 2;
}

.more2>li {
	float: left;
	width: auto;
	height: 32px;
	font: 12px/32px "宋体";
	color: #666;
	padding-left: 12px;
}

/**/
.wd_bj {
	width: 100%;
	height: auto;
	border: #e6dfdb 1px solid;
	background: white;
	margin: 10px auto;
	/*position: absolute;
	z-index:9999;*/
	position: relative;
}

.wd_bj h2 {
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	background: #efeffe;
	padding: 0 10px;
	color: #333;
	border-bottom: 1px solid #cdcdcd;
	font-weight: bold;
}

.wd_bj h2 em.wd_t {
	display: inline-block;
	width: auto;
	padding: 0 15px;
	color: red;
	font: 12px/26px arial,"Times New Roman","宋体";
}

.wd_bj h2 i.more {
	float: right;
	color: #777;
	font-size: 13px;
	background: url(../images/more.gif) no-repeat right center;
	padding-right: 12px;
	cursor: pointer;
}

.wd_bj .wd_p {
	padding: 5px 15px;
	text-indent: 2em;
	font: 13px/24px arial;
	color: #333;
	resize: both;
}

.drop_down {
	width: 100%;
	padding: 5px 0;
	height: auto;
	border: #e6dfdb 1px solid;
	border-top: none;
	position: relative;
	background: #fafafa;
	display: none;
}

.drop_down table {
	width: 100%;
	border-collapse: collapse;
}

.drop_down table td {
	text-align: left;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	font-family: '宋体';
	padding-left: 10px;
}

.drop_down table tr td:first-child {
	font-weight: 600;
	width: 8%;
	text-align: left;
	font-size: 14px;
}

.drop_down table tr td:last-child {
	width: auto;
}

.drop_down table td i.up {
	float: right;
	color: #777;
	font-size: 13px;
	background: url(../images/up.gif) no-repeat right center;
	padding-right: 12px;
	cursor: pointer;
}

.drop_down table td a {
	display: inline-block;
	width: auto;
	padding: 0 20px;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	background: url(../images/ico-fj.png) no-repeat 0 center;
	background-size: 18px 18px;
}

.q-ask-span input[type="text"] {
	background: #efefef none repeat scroll 0 0;
	border: 0px solid #cdcdcd;
	border-radius: 2px;
	color: #388eed;
	cursor: text;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	padding: 2px 1%;
	width: 80%;
}

span.cke_button__ansattr_label {
	display: inline;
}

span.cke_button__ansattr_icon {
	width: 0px;
}

.move {
	width: 94%;
	height: 300px;
	padding: 0 5px;
	text-indent: 12px;
	line-height: 22px;
	background: white;
	position: absolute;
	z-index: 1;
	overflow: auto;
}

.move h3 {
	height: 40px;
	line-height: 50px;
	font-size: 14px;
	color: #444;
	margin: 0px;
}

.move h3 i.close {
	line-height: 12px;
	background: url(../images/big-close.png) no-repeat center center;
	float: right;
	width: 24px;
	height: 24px;
	background-size: 12px 12px;
	cursor: pointer;
}

.move dl {
	margin-bottom: 10px;
}

.move dl dt {
	font-size: 14px;
}

.move dl dd {
	text-indent: 2em;
	font-size: 13px;
}

.move dl dd p {
	text-indent: 40px;
	font-size: 11px;
	width: 98%;
	height: 16px;
	line-height: 16px;
	color: #888;
	overflow: hidden;
}

.title-checked {
	background-color: #ffe6b0;
	border: 1px solid #ffb951;
	color: black;
	height: 16px;
	opacity: 0.8;
	padding-top: 0;
}

span.cke_button__embed_label {
	display: inline;
}

span.cke_button__embed_icon {
	width: 0px;
}

span.cke_button__ansattr_label{
	display: inline;
}
span.cke_button__ansattr_icon{
	width: 0px;
}

span.cke_button__zhiling_label{
	display: inline;
}
span.cke_button__zhiling_icon{
	width: 0px;
}

/*add 08-08 ask*/
.q_ans {
	margin-top: 10px;
	position: relative;
}

.wz_more {
	width: auto;
	height: auto;
	border: #e6dfdb 1px solid;
	box-sizing: border-box;
	background: white;
	margin: 10px 6px;
	position: relative;
	font: 14px/20px '宋体';
}

.mt {
	margin-top: 0;
}

em.question-answer {
	display: block;
	/**font: 14px/20px '宋体';**/
	padding-left: 6px;
	padding-bottom: -50px;
	left: -20px;
	position: absolute;
	
	
	color: #fff;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    height: 25px;
    line-height: 15px;
    margin-right: 5px;
    overflow: hidden;
    padding: 2px;
    text-align: center;
    vertical-align: text-bottom;
    width: 18px;
    top: 1px;
}
em.answer {
    background-color: #1cb7fd;
    background: url("../images/da.png") no-repeat scroll right center;
}
em.question {
    background-color: #52c277;
    background: url("../images/wen.png") no-repeat scroll right center;
}
.wz_more h2.wz_title {
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	background: #efeffe;
	padding: 0 10px;
	border-bottom: 1px solid #cdcdcd;
	
}

.gray {
	background: #f2f2f2 !important;
}

.wz_more em.wz_wd {
	display: inline-block;
	width: auto;
	padding: 0 15px;
	color: #666;
	font-size: 12px;
	font-weight: bold;
}

.wz_more i.wz_zk {
	float: right;
	color: #777;
	font-size: 13px;
	background: url('../images/more.gif') no-repeat right center;
	padding-right: 12px;
	cursor: pointer;
}

.wz_down {
	width: 100%;
	height: auto;
	border: #e6dfdb 1px solid;
	border-top: none;
	background: #fafafa;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.9);
}

.wz_down table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.wz_down table td {
	text-align: left;
	height: 28px;
	line-height: 28px;
	font-size: 13px;
	font-family: '宋体';
	padding-left: 10px;
}

.wz_down table tr td:first-child {
	font-weight: 600;
	width: 8%;
	text-align: left;
	font-size: 14px;
}

.wz_down table tr td:last-child {
	width: auto;
}

.wz_down table td i.wz_up {
	float: right;
	color: #777;
	font-size: 13px;
	background: url('../images/up.gif') no-repeat right center;
	margin-right: 10px;
	padding-right: 12px;
	cursor: pointer;
}

.wz_down table td a {
	display: inline-block;
	width: auto;
	padding: 0 20px;
	font-size: 13px;
	color: #666;
	font-weight: bold;
	background: url('../images/ico-fj.png') no-repeat 0 center;
	background-size: 18px 18px;
}

.ico_wz_m {
	color: #777;
	font-size: 14px;
	background: url('../images/more_wz.gif') no-repeat left center;
	cursor: pointer;
	height: 34px;
	line-height: 34px;
	width: 43px;
	color: #2698DD;
	padding-left: 12px;
	position: absolute;
	top: 0;
	right: -62px;
}

.ico_wz_d {
	display: inline-block;
	height: 22px;
	width: 36px;
	cursor: pointer;
	background: url('../images/ico-del.png') no-repeat right center;
	position: absolute;
	top: 50%;
	right: -36px;
}

.ico_wz_d:hover {
	display: inline-block;
	background: url('../images/ico-del_h.png') no-repeat right center;
	position: absolute;
}

.wz_more_c {
	color: #333;
	font: 13px/24px arial;
	padding: 5px 15px;
	resize: both;
	cursor: pointer;
}

.wz_more_c img {
	display:block;
	margin:0 auto;
    max-height: 100%;
    max-width: 100%;
}

.num {
	background-color: #f00;
	background-image: -webkit-linear-gradient(top, #f00, #c60000);
	background-image: -moz-linear-gradient(top, #FF7B4A, #FF0000);
	background-image: -ms-linear-gradient(top, #f00, #c60000);
	background-image: -o-linear-gradient(top, #f00, #c60000);
	color: #fff;
	font-family: Verdana;
	font-weight: normal;
	border-radius: 15px;
	position: absolute;
	display: inline-block;
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 1);
	text-shadow: -1px -1px 0 #000;
	width: 18px;
	height: 18px;
	font: 12px/18px arial;
	text-align: center;
}

a.em_num {
	font-style: normal;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
}

a.em_num:hover {
	text-decoration: none;
}

.wz {
	background:#f5f5ff;
	overflow: hidden;
}

.wz li{
    margin:5px 0 0 78px;
    list-style: none;
    font: 12px/26px arial,'Times New Roman',"宋体";
    color:#333;
    *zoom:1;
}

.wz li:after{
    content:'.';
    display: block;
    width:0;
    height:0;
    font-size:0;
    clear:both;
    visibility:hidden;
}

.wz_l {
	float: left;
    width: 78px;
    color: #555;
    margin-left: -78px;
    text-align: right;
    position:relative;
}	

.wz_r {
    height: auto;
    margin-left: 8px;
    padding: 0 10px;
}

.wz_fj{
	display:inline-block;
	color: #666;
    padding: 0 0 0 22px;
	background:url(../images/ico-fj.png) no-repeat left center ;   
}

.wz_xz{
	display: inline-block;
 	margin:0 2px;
	color:blue;
	text-decoration:underline;   
}

.wz_del {
    display: inline-block;
	background:url(../images/ico-20.png) no-repeat left center;
	width:14px;
	height:14px;
	cursor: pointer;
}

.wz_date{
	background: #f2f2f2;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    height: 24px;
    font:12px/24px "宋体";
    color:#444;
    padding: 0 12px;
    width: 150px;
}

.wz_up{
	float:right;
	color:#666;
	font-size:12px;
	background:url(../images/up.gif) no-repeat right center;
	margin-right:10px;
	padding-right:12px;
	cursor: pointer;
}
.wz_r em {
	color: red;
}
.more_2 {
    position: relative;
}
.more_2_dsj {
    background: rgba(0, 0, 0, 0) url("../images/ico-34.png") no-repeat scroll 0 0;
    bottom: -11px;
    height: 12px;
    position: absolute;
    right: 20px;
    width: 16px;
}
.more_2_ul {
    border: 1px solid #acacac;
    border-radius: 4px;
    height: 32px;
    overflow: hidden;
    padding: 0 4px;
    text-align: center;
    width: auto;
}
.more_2_ul > li {
    color: #666;
    float: left;
    font: 12px/32px "宋体";
    padding: 0 6px;
}
.fileName{
	float: left;
    padding-left: 10px;
}