body,ul,li,p,input,button,form,table,tr,td,em,dl,dt,dd,h2,h3{
	margin:0;
	padding:0;
}
h1,h2,h3,h4,h5,h6,em,i{
	font-weight:normal;
	font-style:normal;
}
body{
	background:#fafafa;
	font-family: arial Microsoft Yahei '宋体';
	font-size:12px;
}
#mask{ 
	position:absolute; 
	top:0; 
	left:0; 
	background:#000; 
	opacity:0.3; 
	filter:alpha(opacity=30);
	display:none; 
	z-index:1;
} 
.drag{
		box-shadow: 0px 0px 10px #505050;
		border-radius: 4px;
		/*cursor: move;*/
		}
/*-----------common----------*/
a{
	text-decoration:none;
	color:#666;
}
a:hover{
	text-decoration:underline;
}
ul,li{
	list-style:none;
}
.m-top{
	margin-top:8px;
}

.container{
	width:100%;
	height:100%;
	overflow: hidden;
	margin:0 auto;
}

.sidebar{
	float: left;
	width:250px;
	padding:15px;
	height:100%;
	position:fixed;
	background-color:white;
}

.right_sidebar{
	float:left;
	width:auto;
	margin-left:280px;
	height:100%;
	padding:0 15px 15px;
	background:#e4e4e4;
	
}
/*--------sidebar-------*/
.sidebar h2{
	text-align: left;
	font-weight: 400;
    font:18px/38px Microsoft Yahei;
    border-bottom:1px solid #999;
}

.sidebar h3{
	display: inline-block;
	float:left;
	width:auto;
	padding-left:32px;
	font-style:normal;
	font-weight:normal;
	font:16px/48px arial;
}

.sidebar h3.ico-2{
	background:url(../images03/ico-8.png) no-repeat left center;
	background-size:26px 26px;
	font-style:normal;
}

.sidebar h3.ico-3{
	background:url(image../images032.png) no-repeat left center;
	background-size:26px 26px;
	float: right
}

.sidebar_cata{
	width:230px;
	margin:0px auto; 
	display:block;
	background: red;
	font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
}

.sidebar_cata .sidebar-list {
    width: auto;
    position: relative;
    float:left;
    width:230px;
    padding-top: 8px;
    padding-bottom:8px;
    background-color: #f2f2f2;
}

.sidebar_cata .sidebar-list ol{
	width:177px;
	padding:8px 0;
}

.sidebar_cata .sidebar-list ol li.level1 {
    line-height: 36px;
}

.sidebar_cata .sidebar-list ol li.level2 {
    line-height: 28px;
}

.sidebar_cata .sidebar-list ol li.level1 .text a {
    color: #388EED;
    font-size:16px;
}

.sidebar_cata .sidebar-list ol li.level2 .text a {
    color: #555;
    font-size:14px;
}

.sidebar_cata .sidebar-list ol li.level1 .index {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    width: 18px;
    font-size: 16px;
    padding-left: 20px;
    vertical-align: top;
    color: #63a0df;
}

.sidebar_cata .sidebar-list ol li.level1 .text {
    -moz-box-orient: vertical;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    vertical-align: top;
    width: 129px;
}

.sidebar_cata .sidebar-list ol li.level2 .index {
    -moz-box-orient: vertical;
    color: #ccc;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 42px;
    padding-right: 5px;
    vertical-align: middle;
    width: 5px;
}

.sidebar_cata .sidebar-list ol li.level2 .text {
    -moz-box-orient: vertical;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    color: #666;
    width: 118px;
}


/*--------sidebar_right---------*/
.head_top{
	width:100%;
	box-sizing:border-box;
	padding:8px 20px;
	height:68px;
	position: fixed;
	background:#f2efee;
	box-shadow:5px 5px 5px #bbb;
	z-index:1;
}
.head_top button{
	width:96px;
	height:30px;
	line-height:18px;
	color:#555;
	cursor:pointer;
	background:#e1e1e1;
	border:1px solid #ccc;
	border-radius:3px;
	font-size:14px;
	font-weight:bold;
	padding: 0px 12px;
	margin-right:10px;

}
.head_top button:first-child{
	background:#fdcbcf;
}
.head_top button:first-child:hover{
	box-shadow: 0 0 5px #fdcbcf, 0 0 5px #fdcbcf;
}
.head_top p:first-child{
	float:right; 
	height:30px;
}
.head_top p:last-child{
	height:30px;
	float:left;
	font:12px/28px '宋体';
	clear:both
}
.head_top button:last-child:hover{
	box-shadow: 0 0 5px #e4e4e4, 0 0 5px #e4e4e4;
}
.head_top input[type="checkbox"]{
	vertical-align:middle;
	margin-right:3px;
}
.fix-height{
	height:78px;
}
.head_form{
	width:auto;
	height:auto;
	margin:0 auto;
	padding:5px 1.5% 20px;
	box-shadow:5px 5px 5px #bbb;
	background:white;
	overflow: hidden
}
.head_form li{
	width:100%;
    float: left;
	height:30px;
	line-height:30px;
	margin-top:10px;

}
.head_form button{
	border: 1px solid #999;
	height:30px;
	font:14px/22px '宋体';
	width:auto;
	padding:0 8px;
	color:#666;
	border-radius: 4px;
	background:#efefef;
	font-weight:bold;
	margin-left:15px;
	cursor:pointer;
	}
.head_form li.small{
	width:50%;
}
.head_form li.none{
	display: none;
}
.head_form input[type="text"]{
	border: 1px solid #cdcdcd;
	height: 28px;
	line-height: 28px
	border-radius: 4px;
	width: 40%;
	background:#efefef;
	padding:0px 8px;
	color:#388EED;
}
.head_form input.full{
	width:70%;
}

.head_form input[type="button"]{
	border: 1px solid #999;
	width:96px;
	height: 28px;
	line-height: 24px
	border-radius: 4px;
	background:#efefef;
	padding:0px 8px;
	color:#333;
	cursor:pointer;
	border:1px solid #cdcdcd;
}
.head_form input[type="button"]:hover {
  	outline: 5px auto -webkit-focus-ring-color;
}

.head_form ul li label{
	display: inline-block;
	font-size:14px;
	width:90px;
	height:30x;
	line-height:30px;
	text-align:center;
}	
.form-font1{
	display: inline-block;
	color:#666;
	font-weight:100px;
	vertical-align:top;
	white-space:pre-wrap;
}
.head_form em{
	display: inline-block;
	vertical-align: bottom;
	width:13px;
	font-size:16px;
	line-height:30px;
	font-style:normal;
	font-weight:bold;
	color:red;
}
.head_form i{
	display: inline-block;
	vertical-align: middle;
	font-style:normal;
	line-height:24px;
	width:24px;
	height:28px;
	background:url('../images03/ico-1.png') no-repeat center;
	background-size:24px 24px;
	margin-left:8px;
}
/*--------正文begin---------*/
.about{
	width:94%;
	padding:5px 3% 15px;
	height:auto;
	margin:20px auto;
	box-shadow:5px 5px 5px #bbb;
	background:white;
}
.content{
	width: 100%;
    height: auto;
    box-shadow:5px 5px 5px #bbb;
}
.content h2.title {
    text-align: center;
    font:22px/46px arial Microsoft Yahei;
    color:#333;
	background:#f2f2f2;;

}
.content_inner {
    background-color: white;
    padding:1% 3%;
    width:94%;
    margin:0 auto;
    word-break:break-all;
}
.content_ul{
	margin-bottom:20px;
	 }
.content_ul>li{
	border-bottom:1px solid #ddd;
	height:auto;
	line-height:40px;
}
.content_ul>li:first-child{
	border-top:none;
}
.content_ul>li h2.title_1 {
    font:18px/32px arial Microsoft Yahei;
    color:#555;
    font-weight: 800;
    display: inline-block;
    vertical-align: bottom;
}
.content_ul>li h2.title_2 {
    font:16px/32px arial Microsoft Yahei;
    color:#777;
    text-indent:2em;
    font-weight: 600;
    display: inline-block;
    vertical-align: bottom;
}
.content_ul>li span.add_zs {
    float:right;
    margin-right:32px;
    display: inline-block;
    vertical-align: bottom;
    font:14px/16px 宋体;
    color:#666;
    cursor:pointer;
}
.content_ul span i.ico-title_2 {
	display: inline-block;
	vertical-align: bottom;
    background:url('../images03/ico-4.png') no-repeat center bottom;
    width:22px;
    height:32px;
    cursor:pointer;
    padding-right:8px;
	background-size:15px 15px;
}
.content_ul  span i.ico-title_2_2 {
	display: inline-block;
    background:url('../images03/ico-2.png') no-repeat center bottom;
    width:22px;
    height:33px;
    cursor:pointer;
    padding-right:8px;
	background-size:22px 22px;
	vertical-align: bottom;
}

/*-----------------*/
.q_ask{
	width:96%;
	margin:0 auto;
	padding:10px 0 ;
	height:auto;
	
}
.q_ask_show{
	width:100%;
	margin:0 auto;
	position: relative;
	z-index:0;
}
.q_ask_show2{
	width:100%;
	margin:0 auto;
}
.q_ask_show em{
	display:block;
	font:14px/22px '宋体';
	color:#333;
	padding-left:6px;
}

.q_ask_show i.ico-move{
	display: inline-block;
	vertical-align: bottom;
	width:18px;
	height:28px;
	background:url(../images03/ico-5.png) no-repeat;
	background-size:16px 15px;
	cursor:pointer;
	position: absolute;
	left:-16px;
	top:35px;
}
.q_ask_show i.ico-delete{
	display:inline-block;
	vertical-align:middle;
    height:30px;
	width:18px;
	cursor:pointer;
	background:url('../images03/ico-3.png') no-repeat center;
	background-size:16px 20px;
	position: absolute;
	right:-16px;
	top:29px;
}
.q_ask_show i.ico-hide{
	float:right;
	color:red;
}
.q_ask_show span.q-ask-span{
	display: block;
	float: none;
	border: 1px solid #cdcdcd;
	height: 36px;
	line-height: 36px;
	border-radius: 2px;
	width: auto;
	margin:0 6px;
	padding:0 8px;
	color:#388EED;
	cursor:pointer;
	font-size:14px;
	background:#efefef url('../images03/ico-2.png') no-repeat 99% center;
	background-size:21px 21px;
	
}
.q_ask_show a#input_tag{
	display: inline-block;
	vertical-align: middle;
	width:28px;
	height:20px;
	background:url('../images03/ico-13.png') no-repeat center top;
	background-size:15px 15px;
}

.q_ask_add{
	width:auto;
	margin:10px auto;
	padding:0 8px;
	position: relative;
}
.q_ask_add em{
	display:block;
	text-indent:0;
	font:14px/22px arial;
	color:#333;
}
.q_ask_add input[type="text"]{
	border: 1px solid #cdcdcd;
	height: 28px;
	line-height: 28px;
	border-radius: 2px;
	width: 98%;
	padding:2px 1%;
	color:#388EED;
	cursor:text;
	font-size:14px;
	background:#efefef;
}
.q_ask_add i.ico-delete3{
	display:inline-block;
	vertical-align:middle;
    height:30px;
	width:18px;
	cursor:pointer;
	background:url('../images03/ico-3.png') no-repeat center;
	background-size:16px 20px;
	position: absolute;
	right:-16px;
	top:29px;
}

/*-------回答部分-----*/
.q_ask_con{
	width:auto;
	margin:8px 6px;
	min-height:26px;
	height:auto;
	background-color:#f6f6fe;
	padding:6px 8px;
	line-height:24px;
	color:#555;
	word-break:break-all;
	border: 1px solid #cdcdcd;
	border-radius:2px;
	text-indent:2em;
	font-size:14px;
}

.q_ask_ans{
	width:100%;
	padding:1px;
	text-align: center;
	margin:12px auto 5px;
}
.q_ask_ans .ico-add {
    background: url(../images03/biztpl_add.png) no-repeat center center;
    display: inline-block;
    background-size:28px 28px;
    float: left;
    width: 40px;
    height: 28px;
    cursor:pointer;
}
.q_ask_ans a{
	display: inline-block;
	vertical-align: middle;
    color: #777;
    font-size: 16px;
    font-weight: bold;
    height:28px;
    line-height: 28px;   
}
.q_ask_wz{
	width:auto;
	height:auto;
	padding:2px 1%;
	border:1px solid #ccc;
	background:#f2f2f2;
	margin:0 auto 10px;
}
.q_ask_wz2{
	width:auto;
	padding:10px 1%;
	margin:20px 6px 10px;
	min-height:30px;
	height:auto;
	border:1px solid #ccc;
}
.q_ask_bt{
	height:50px;
	line-height:50px;
	text-align:center
}
.q_ask_bt button{
	width:76px;
	height:28px;
	margin-right:10px;
	border-radius:4px;
	cursor:pointer;
	border:none;
	font-size:14px;
	background:olive;
}
.q_ask_bt button.bj_confirm{
	background:#FF7D48;
	color:#fff;
}
.q_ask_bt button.bj_cancel{
	background:#C9C9C9;
}
.q_ask_bt button.bj_del{
	background:#F49930;
	color:#fff;
}
.q_js{
	width:auto;
	margin: 0 6px;
	padding:2px;
	position: relative;
}
.q_js a{
	display: inline-block;
	vertical-align: middle;
	float:right;
    color: #777;
    font-size: 16px;
    height:26px;
    line-height: 26px;   
}
.q_js i.ico_bj {
    background:url("../images03/ico-2.png") no-repeat center center;
    background-size:21px 21px;
    display: inline-block;
    float: left;
    height:26px;
    cursor:pointer;
    margin-right: 6px;
    width: 22px;
}
.q_js i.ico-js{
	display:inline-block;
	vertical-align:middle;
    height:30px;
	width:18px;
	cursor:pointer;
	background:url('../images03/ico-3.png') no-repeat center;
	background-size:16px 20px;
	position: absolute;
	right:-20px;
	bottom:5px;
}
.q_js_con{
	clear:both;
	width:auto;
	min-height:30px;
	height:auto;
	margin: 0 0px;
    font:14px/30px arial; 
    color:#666;
    background:#f7f7f7;
    border:1px solid #ccc;
    text-indent:2em;
    padding:0.5% 1%;
    font-size:14px; 
}

.q_ask_top{
	width:auto;
	margin:20px 6px;
	height:auto;
	padding:2px 1px;
	line-height:30px; 

}
.q_ask_top_h i{
	display:inline-block;
	font:14px/33px arial;
	color:#333;
}
.q_ask_top_h i.add_ask{
	display: inline-block;
	vertical-align: bottom;
	float:right;
	text-align:left;
	background:url(../images03/ico-09.gif) no-repeat left center;
	background-size:24px 25px;
	text-indent:30px;
	width:110px;
	height:28px;
	cursor:pointer;
}
.q_ask_top_h i.wd_ask{
	float:right;
	text-align:center;
	background:#ccc;
	color:#333;
	width:120px;
	height:28px;
	cursor:pointer;
}

.content dl{
	width:98%;
	margin:20px auto;
	border:1px #aaa dashed;
	padding-top:10px;
	clear:both;
}
.content dl dt{
	width:98%;
	margin:0 auto;
	font:18px/40px arial;
	color:#666;
	font-weight:600;
	text-indent:1em;
	border-bottom:1px solid #ccc;
}
.content dl dd{
	width:94%;
	height:auto;
	line-height:26px;
	margin:12px auto;
	font-size:16px;
}
.content dl dd i.ico-delete2{
	display: inline-block;
	vertical-align: bottom;
	margin-left:12px;
	margin-right:5px;
	width:16px;
	height:20px;
	background:url(../images03/ico-3.png) no-repeat;
	background-size:13px 16px;
	cursor:pointer;
}
.content dl dd i.ico-move{
	display: inline-block;
	vertical-align: bottom;
	width:16px;
	height:20px;
	cursor:pointer;
	background:url(../images03/ico-5.png) no-repeat;
	background-size:15px 14px;
}

.content dl dd  div{
	border:1px solid #ccc;
	padding:10px;
	display: none;
}

.content-tab{
	width:98%;
	margin:20px auto ;
}
.content-tab h2.title-table{
	height:30px;
	line-height:30px;
	color:#555;
	font-size:16px;
	font-weight:bold;
}
.content-tab table{
	width:100%;
	color:#444;
	border-collapse:collapse;
}
.content-tab table tr:nth-child(1){
	height:36px;
	line-height:36px;
}
.content-tab table tr:nth-child(2){
	background:#efefef;
}
.content-tab table td{
	width:auto;
	height:30px;
	line-height:30px;
	font-size:14px;
	border:1px solid #ccc;
	text-align:center;
}
.content-tab .table_head{
	display: inline-block;
	vertical-align: bottom;
	width:100%;
}
.content-tab .table_head span{
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	float:left;
	width:auto;
	padding:0 10px;
}
.content-tab .table_head em{
	display: inline-block;
	vertical-align: bottom;
	float:right;
	color:#555;
	width:auto;
	padding:5px 10px 0;
	cursor:pointer;
}
.content-tab table td i{
	display: inline-block;
	vertical-align: middle;
	margin:0 auto;
	cursor:pointer;
}
.content-tab table td i.ico-on{
	width:19px;
	height:11px;
	cursor:pointer;
	background:url(../images03/ico-on.png) no-repeat center center;
	background-size:19px 11px;
}
.content-tab table td i.ico-off{
	width:19px;
	height:20px;
	background:url(../images03/ico-off.png) no-repeat center center;
	background-size:19px 20px;
}
.content-tab table td div{}
.content-tab table td div input{
	display: inline-block;
	vertical-align:middle;
	margin-right:5px;
	width:14px;
	height:14px;
}


/*这块有问题*/
.more2{
	width:160px;
	height:auto;
	border:1px solid #ccc;
	background:#fff;
	border-bottom:none;
	text-align: center;
	position: absolute;
	z-index:2;
}
ul.more2>li{
	height:30px;
	line-height:30px;
	font-size:13px;
	color:#666;
	text-align: left;
	padding-left:50px;
	border-bottom:1px solid #ccc
}
ul.more2>li:hover{
	background-color:#ddd;
}
/**/
.wd_bj{
	width:100%;
	height:auto;
	border:#e6dfdb 1px solid;
	background:white;
	margin:10px auto;
	position: relative;
}

.wd_bj h2{
	height:32px;
	line-height:32px;
	font-size:14px;
	background:#efeffe;
	padding:0 10px;
	color:#333;
	border-bottom:1px solid #cdcdcd;
	font-weight:bold;
}
.wd_bj h2 em.wd_t{
	display: inline-block;
	width:auto;
	padding:0 15px;
	color:#666;
	font-weight:bold;
}
.wd_bj h2 i.more{
	float:right;
	color:#777;
	font-size:13px;
	background:url(../images03/more.gif) no-repeat right center;
	padding-right:12px;
	cursor: pointer;
}
.wd_bj .wd_p{
	padding:5px 15px;
	text-indent:2em;
	font:13px/24px arial;
	color:#333;
	resize: both;
}
.drop_down{
	width:100%;
	padding:5px 0;
	height:auto;
	border:#e6dfdb 1px solid;
	border-top:none;
	position:absolute;
	z-index:99;
	background:#fafafa;
	display: none;
}
.drop_down table{
	width:100%;
	border-collapse:collapse;
}
.drop_down table td{
	text-align:left;
	height:28px;
	line-height:28px;
	font-size:13px;
	font-family: '宋体';
	padding-left:10px;
}
.drop_down table tr td:first-child{
	font-weight:600;
	width:8%;
	text-align:left;
	font-size:14px;
}
.drop_down table tr td:last-child{
	width:auto;
}
.drop_down table td i.up{
	float:right;
	color:#777;
	font-size:13px;
	background:url(../images03/up.gif) no-repeat right center;
	padding-right:12px;
	cursor: pointer;
}
.drop_down table td a{
	display:inline-block;
	width:auto;
	padding:0 20px;
	font-size:13px;
	color:#666;
	font-weight:bold;
	background:url(../images03/ico-fj.png) no-repeat 0 center;
	background-size:18px 18px;
}