	.dialog-main{
		width:99%; 
		height: 100%;
		margin:0 auto;
		border:1px solid #ccc;
		border-top: 5px solid #3370af;
		background:white;
		overflow: hidden;
	}
	.dialog-title {
		vertical-align: top;
		text-align: left;
		font-size: 14px;
		font-weight: bold;
		cursor: default;
		border-bottom: 1px solid #e5e5e5;
	}
	.dialog-title-span{
		position:relative;
		text-align:center;
		height:60px;
		line-height:60px;
	}
	.dialog-title-span em{
		display: inline-block;
		vertical-align: middle;
		width:15px;
		line-height: 26px;
		font-size:14px;
		color:red;
		font-weight:bold;
		text-align:center;
	}
	.dialog-title-span span{
		color:#555;
		margin-right:5px;
	}
	.dialog-title-span input{
		border: 1px solid #cdcdcd;
		height: 24px;
		line-height: 24px;
		border-radius: 4px;
		width: 40%;
		background:#fefefe;
		padding:0px 8px;
		color:#555;
		display: inline-block;
		vertical-align: middle;
	}
	.dialog-title-inner{
		height: 24px;
		line-height:24px;
		color: #555;
		overflow: hidden;
		cursor: default;
		font-size: 14px;
		font-weight: bold;
		padding-left:12px;
	}
	.dialog-close {
		position:absolute;
		display: inline-block;
		width: 19px;
		height: 19px;
		right:8px;
		top: 5px;
		cursor:pointer;
		background: url(../images/dialog-close.png) no-repeat center center;
	}
	.dialog-search {
		height:50px;
		line-height:50px;
		font-size: 13px;
		text-align:center;
		margin-left:220px;
	}
	.dialog-search span{
		width:220px;
		float:left;
		margin-left:-220px;
		text-align:center;
		position: relative;
	}
	.dialog-search input[type=text] {
		margin-left: 10px;
		width: 150px;
		height:20px;
		line-height:20px;
		padding:2px;
		outline: 0;
		display: inline-block;
		vertical-align: middle;
		-webkit-border-radius: 2px;
		border: 1px #8aa8ca solid;
	}
	.dialog-search input[type=button]  {
		display: inline-block;
		vertical-align: middle;
		width: 48px;
		cursor: pointer;
		background: #eef6ff;
		text-align: center;
		height:26px;
		line-height:24px;
		padding:0;
		-webkit-border-radius: 2px;
		font-size:13px;
		border: 1px #8aa8ca solid;
	}
	.dialog-content{
		width: 100%;
		height: auto;
		overflow:hidden;
		margin:0 auto;
	}
	#card-div-2{
		/* display: inline-block; */
		*display:inline;
		*zoom:1;
	}
	/* #card-div-2>ul>li{
		width:270px;
	}
	#card-div-2>ul>li:first-child{
		display: block;
	} */
	#card-div-2>ul>li>div{
		width:260px;
		height:30px;
		line-height: 30px;
		float:left;
		margin-left: 20px;
	}
	#card-div-2>ul>li>div input{
		display: inline-block;
		vertical-align:bottom;
		float:left;
		text-align: left;
		width:14px;
		height:33px;
	}
	#card-div-2>ul>li>div em{
		display: inline-block;
		vertical-align: bottom;
		float:left;
		font-size:13px;
		margin:0 5px 0 5px;
	}
	#card-div-2>ul>li>div i{
		display: inline-block;
		float:right;
		text-align:right;
		font-size:10px;
		width:30px;
		height:30px;
		background:url(../images/ico-7.png) no-repeat right center;
		background-size:14px 14px;
	}
	.card-ul{
		margin-top:5px;
		/* cursor: pointer; */
		padding: 1px 5px;
		line-height: 22px;
		margin: 3px;
		text-align:left;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
	}
	.card-ul-l{
		cursor: pointer;
		padding: 1px 5px;
		line-height: 22px;
		margin: 3px;
		text-align:left;
		word-break: break-all;
		word-wrap: break-word;
		overflow: hidden;
		margin-top:5px;
	}
	.card-ul-l li {
		padding-left:8px;
	}
	.card-ul-l > li > a {
		color:#555;
		font-weight:bold;
	}
	.card-ul-l li a {
		display: block;
		height: auto;
		cursor: pointer;
		background:url('../images/catalog_arrow_l.png') no-repeat right center;
	}
	.index{
		color: #333;
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		line-height: 16px;
		width: 6px;
		padding-right: 5px;
	}
	.card-ul-l li a:hover{
		border-radius: 5px;
		font-weight: bold;
		background:#A8C8F2 url('../images/catalog_arrow_l.png') no-repeat right center;
	}
	.con_{
		overflow:hidden;
		padding-left:220px;
		background-color: #f2f8ff;
		border: 1px solid #709cd2;
		text-align: center;
		font-size: 14px;
	}
	* html .con_{
		height:1%; 
	}
	.con_right{
		width:100%;
		border-left:220px solid #D9EAFF;
		margin-left:-220px;
		float:right;
		height: auto;
		text-align: left;
	}
	.con_left{
		background-color: #D9EAFF;
		width:220px;
		float:right;
		margin-left:-220px;
	}
	.con_left,.con_right {
		min-height: 50px;
		height: auto !important;
		height: 50px;
	}
	.dialog-f{
		width:100%;
		margin:0 auto;
		clear:both;
		height:70px;
		line-height: 60px;
		text-align: center;
		zoom: 1;
		font-family: arial,"宋体",sans-serif;
	}
	.dialog-f span{
		text-align: left;
		display: block;
		color:#666;
		font: 14px/28px Arial;
		cursor:pointer;
	}
	.dialog-f span i.ico-zdy{
		display: inline-block;
		vertical-align: middle;
		background:url('../images/ico-4.png') no-repeat center center;
		width:22px;
		height:30px;
	}
	.dialog-b {
		display: inline-block;
		*display: inline;
		*zoom:1;
		vertical-align:top;
		box-sizing:border-box;
		color:white;
		width:82px;
		height: 30px;
		line-height:26px;
		margin-left: 10px;
		cursor: pointer;
		font: 14px/30px Arial;
		text-align:center;
		border-radius:3px;
		font-weight: bold;
	}
	.dialog-b-l{
		background:#336eaa;
	}
	.dialog-b-l:hover{
		background:#3675b4;
	}
	.dialog-b-l-2{
		background:#ebebeb;
		color:#0163bf;
	}
	.dialog-b-l-2:hover{
		background:#f0f0f0;
		color:#0163bf;
	}
