body {
	background: #fafafa;
	font-family: "Microsoft Yahei",宋体,arial;
	font-size: 12px;
	line-height: 22px;
}
html,body,div,ul,li,p,input,button,form,table,tr,td,em,dl,dt,dd,h2,h3 {
	margin: 0;
	padding: 0;
	outline:0;
}
*html,*body{
	overflow: hidden;
}

ul,li{
	list-style:none;
}

a {
	text-decoration: none;
	color:#389CE8;
}

a:hover {
	text-decoration: underline;
}
body{
	margin:10px;
}