body {
	background: #fafafa;
	font-family: "Microsoft Yahei",宋体,arial;
	font-size: 12px;
	line-height: 22px;
}
body,div,ul,li,p,input,button,form,table,tr,td,em,dl,dt,dd,h2,h3 {
	margin: 0;
	padding: 0;
	outline:0;
}

ul,li{
	list-style:none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
.wzmt{
	margin-top:20px;
}
.right-sidebar{
	width:245px;
	height:auto;
	color:#666;
	font-size:12px;
	font-family:"宋体";
	margin:0 auto;
}
.wzgl{
	border:1px solid #ddd;
	background:white;
}
h2.title-wzgl{
	background:url(../images/p_gl.gif) no-repeat 15px center;
	padding-left:35px;
	border-bottom:1px solid #ddd;
	font:bold 16px/32px "宋体";
	color:#777;
}
.ul-wzgl{
	padding:8px 0;
}
.ul-wzgl li{
	height:26px;
	line-height:26px;
	padding-left:15px;
}
.ul-wzgl li a{
	color:#136ec2;

}
.wzsx{
	background:white;
	height:210px;
	border:1px solid #ddd;
	overflow: auto;
}
h2.title-wzsx{
	padding-left:15px;
	font:bold 16px/32px "宋体";
	color:#777;
}

.ul-wzsx li{
	height:26px;
	line-height:26px;
	padding-left:15px;
	overflow: hidden;
}
.ul-wzsx > li > span{
	display: inline-block;
	text-align:left;
	width:100px;
}
.wztag{
	background:white;
	border:1px solid #ddd;
	margin-bottom: 10px;
}
h2.title-wztag{
	font:bold 16px/32px "宋体";
	color:#777;
}

.view-span {
	width:202px;
	height:100px;
	text-align:center;
}
.view-span span{
	float:left;
	/* display: inline-block; */
	width:auto;
	padding:2px 6px;
	border-radius:4px;
	border:1px solid #ccc;
	background: white;
	margin:6px 0 0 6px;
}

/*tag-scroll*/
#main_demo{
	width:240px; 
	padding:10px 0;
	background:#efefef; 
	clear:both;
}

#slider {
	height: 1%;
	overflow: hidden;
}
#slider .viewport {
	float: left;
	width: 200px;
	height: 75px;
	overflow: hidden;
	position: relative;
}
#slider .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 202px;
	left: 0;
	top: 0;
}
#slider .overview li {
	float: left;
	height: 70px;
	width: 202px;
}
#slider .buttons {
	text-indent: -999em;
	float: left;
	width: 20px;
	height: 70px;
	overflow: hidden;
	position: relative;
}
#slider .prev {
	background:url("../images/ico-left.png") no-repeat center center;
}
#slider .next {
	background:url("../images/ico-right.png") no-repeat center center;
}
#slider .disable {
	visibility: hidden;
}
