@charset "utf-8";
/* CSS Document */
html{
	background:#f5f5f5;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td, tr, a,img
{
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0; 
	color:#333; font-family:'宋体',.Microsoft YaHei,"微软雅黑"; font-size:14px; line-height:24px; font-family: arial
}
 
table{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}

ul,li{ list-style-type:none;}
img{ border: none;}

a{ color:#136ec2; text-decoration:none;} 
a:hover{ color:#136ec2; text-decoration:underline;}
.pl20{ padding-left:24px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.mt20{ margin-top:20px;}
.ml20{ margin-left:20px;}
.mb20{ margin-bottom:20px;}
.left{ float:left;}
.right{ float:right;}

/*---------------------------1.html----------------------------*/
.kbs-page{ }

/*--------------a--------------*/
.detail-a{ width:100%; display:inline-block;}
.detail-b{ display:inline-block; margin-left: 20px; width: 300px; position:fixed;top:0;}
.detail-c{ width:100%; display:inline-block;}
.detail-d{ display:inline-block; margin-left: 30px;width: 300px; z-index: 3000; bottom: 20px; position:fixed; }
.a-title{height:auto;margin-top:15px; }

.a-title h1{ margin-left:22px;display:inline-block;font:32px/64px Microsoft Yahei; } 
.a-title h1 a.title-a{ display:inline-block;width:48px; height:26px; line-height:26px; border-radius:3px; font-size:14px; text-align:center;font-size:12px; color:#666; margin-left:12px; border:1px solid #c5c5c5; text-decoration:none;}
.a-title h1 a:hover{ cursor:pointer;color:white;background: #53a4f6;border:none;}

.about{font-size: 14px;word-wrap:break-word;color: #333;margin:10px auto 0 ;margin-left:35px;line-height: 24px;}

.title-b {width:100%;height:36px; line-height:36px;background:#f1f5fb;}
.a-title h2.title-h2{ padding:0 20px;font-size:20px; line-height:36px; width:auto; float:left; color:white;background:#71b3f7; } 
/*.a-title .title-a i{background: url(/library/jquery/js/jquery-easyui/themes/icons/sgbk_lemma_icon_sprite2.png) no-repeat}
.a-title .title-a i{display:inline-block; font-style:normal; width:14px; height:14px; margin:5px 7px 0 0;background-position:-100px -20px;}*/
.a-title em{ display:inline-block;width:60px; height:20px;border-radius:3px; border:1px solid #ddd; font-size:14px; line-height:20px; text-align:center; font-style: normal;}

.a-title p{font-size:20px; line-height:26px; text-indent:2em; padding-top: 15px; }/*--后增加--*/

.ab-title {margin-top:30px;}
.ab-title .title-h {background:url(../images/paraTitle-line_c5e6d61.png) repeat-x center center;clear:both;}
.ab-title .title-h h2{display:inline-block;border-left:12px solid #4f9cee;padding-left:16px; padding-right:8px;font-size:18px;height:26px; line-height:26px;width:auto; background:white;color:#555}
.ab-title p{font-size:14px; text-indent:2em; line-height:28px; padding-left: 15px; padding-top:12px;}
.contain {font-size:14px; text-indent:2em; line-height:28px; margin-left:30px;margin-right:30px; padding-top:12px; }

.a-line{ border-bottom:#dfdfdf solid 1px; width:100%; height:15px; float:left;}
.con-title{ /*height:30px;*/ /*margin-left: 20px;*/}
.f-bule{color:#136ec2;}


.con-content{ margin-left:35px; margin-top:15px;}
/*.con-content p{text-indent:20px; height:24px;line-height:24px;}*/

.con-catalog{margin:20px 0; height:auto;border-top:#dddddd solid 1px;border-bottom:#dddddd solid 1px;overflow: hidden}
.con-catalog ul{ min-height:130px; height:auto; display: inline-block;}
.con-catalog>ul>li{ float:left;width:180px;line-height:30px; border-left:1px solid #ebebeb; }
.con-catalog>ul>li:first-child{border-left:none;}
.con-catalog ul li.first-child{ width:80px;min-height:150px; line-height:150px; text-align:center; color:#333; font-size:18px; font-weight:400; }
.con-catalog ul li{ width:160px;line-height:30px; padding:0 10px;}
.con-catalog ul li ul{ text-align:center; border-top:0px; border-bottom:0px; padding:0 5px;}
.con-catalog ul li ul li{ width:auto;text-align:left;font-size:25px; color:red;}
.con-catalog ul li ul li :before{content:'.';font-size:18px;line-height:30px; padding-right:5px; color:#999;}
.normal{ margin-top:15px;margin-bottom:10px;}

/*--------------c--------------*/
.conb-title{}
.conb-title .title-h {background:url(../images/paraTitle-line_c5e6d61.png)repeat-x center center;clear:both;}
.conb-title  .title-h h2{display:inline-block;border-left:11px solid #93c1f4;padding-left:12px; padding-right:8px;font-size:16px; height:24px; line-height:24px;  width:auto; background:white; color:#666;}
/*.conb-title h2 span{ height:28px; width: 16px; display:inline-block; float:left; margin-right:5px; background-color: #4f9cee;}*/
.conb-title p{font-size:14px; text-indent:2.2em; line-height:28px; padding-left:15px;padding-top:12px; color:#666;}

.file {  width:100%; margin:15px auto 10px; height:auto;overflow: hidden; float:left; background:#fbfbfb;}/*----07-26 modify----*/
.file li{height:32px!important; line-height:32px; }
.file li a .file-con p{color:#136ec2;}
.file li a:hover .file-con p,.file ul li a:active .file-con p{color:#136ec2; text-decoration:underline; }
.file li span{ width:20px; height:20px; float:left; display:block;}
.file .name-a a span{ background:url(../images/detailicon.png) no-repeat -4px -11px;}/* txt*/
.file .name-b a span{ background:url(../images/detailicon.png) no-repeat -32px -11px;}/* excel*/
.file .name-c a span{ background:url(../images/detailicon.png) no-repeat -60px -11px;}/* word*/
.file .name-d a span{ background:url(../images/detailicon.png) no-repeat -88px -11px;}/* ppt*/
.file .name-e a span{ background:url(../images/detailicon.png) no-repeat -116px -11px;}/* pdf*/
.file .name-f a span{ background:url(../images/detailicon.png) no-repeat -142px -11px;}/* pic*/
.file .name-h a span{ background:url(../images/detailicon.png) no-repeat -168px -11px;}/* music*/
.file .name-i a span{ background:url(../images/detailicon.png) no-repeat -159px -44px;}/* video*/
.file .name-j a span{ background:url(../images/detailicon.png) no-repeat -159px -73px;}/* pic*/
.file li .file-con{ float:left;}
.file li .file-con p{ float:left; margin:0px 5px;}
.file li .file-con .file-preview{ float:left; display:block; background:url(../images/detailicon.png) no-repeat -16px -42px; width:58px; height:23px;}
.file li a:hover .file-con .file-preview,.file ul li a:active .file-con .file-preview{display:block; background:url(../images/detailicon.png) no-repeat -86px -42px; width:58px; height:23px;}

.con-from{  }
.kbs-from{ background-color:#fbfbfb; padding:20px;}
.kbs-from img{ width:100%;}

.c-meaubar{height:40px; background-color:#fbfbfb; clear:both;}/*----07-26 modify----*/
.c-meaubar ul{ width:auto!important; float:right; }
.c-meaubar ul li{ float:left; width:auto; padding:0 20px;line-height:40px;}
.c-meaubar ul .c-icona span{ display:block; width:26px; height:31px; background:url(../images/detailicon.png) no-repeat -16px -75px; float:left;}
.c-meaubar ul .c-iconb span{ display:block; width:27px; height:31px; background:url(../images/detailicon.png) no-repeat -63px -75px; float:left;}
.c-meaubar ul .c-iconc span{ display:block; width:25px; height:31px; background:url(../images/detailicon.png) no-repeat -110px -75px; float:left;}

/*--------------b--------------*/
.b-title ul li a{width:150px;float:left;background-color:#e7e7e7; height:40px;  text-align:center; display:block;}
.b-title ul li a:hover{ text-decoration:none;}
.b-title ul li .current{ background-color:#064da5;}
.b-title ul li .current div{ color:#ffffff;}

.b-title ul li a div{ width:100px;line-height:40px; padding-left:30px;}
.b-title ul .b-icona a span{ background:url(../images/detailicon.png) no-repeat -113px -218px; display:block; width:27px; height:32px; float:left; }
.b-title ul .b-icona a:hover span,.b-title ul .b-icona a:active span{ background:url(../images/detailicon.png) no-repeat -156px -218px; display:block; width:27px; height:32px; float:left;}
.b-title ul li a:hover{ background-color:#064da5; }
.b-title ul li a:hover div{ color:#ffffff; }

.b-title ul .b-iconb a span{ background:url(../images/detailicon.png) no-repeat -16px -218px; display:block; width:31px; height:32px; float:left;}
.b-title ul .b-iconb a:hover span,.b-title ul .b-icona a:active span{ background:url(../images/detailicon.png) no-repeat -58px -218px; display:block; width:31px; height:32px; float:left;}
.b-con{ background-color:#f6f6f6; min-height: 300px;}
.b-choose{ width:90%; margin:0 auto;}
.b-choose li{ height:45px; line-height:45px; border-bottom:#cac9c8  dashed 1px;}
.b-choose li span{ padding:0px 5px;}
.b-button{ width:206px; margin:0 auto;}
.b-button li{ float:left; margin-right:5px;}
.b-button li a{ background-color:#f1614a; border-radius:4px;width:98px; height:35px; display:block; color:#ffffff; line-height:35px; text-align:center;}
.b-button li a:hover,.b-button li a:active{ text-decoration:none; background-color:#fc8572;}


/*--------------d--------------*//*----modify--08-01----*/
.kbs_w{width:200px;height:330px;overflow:hidden;}
.kbs_n{overflow-y:scroll; overflow-x:hidden ;width:228px;height:100%;} 

/*end*/
.timeline {background:url(../images/timeline.jpg) repeat-y 10px;width:100%;float: left; }
.kbs-one{ padding:10px 0px;}
.kbs-one li .one-button  span{
	background: url(../images/detailicon.png) -51px -116px no-repeat;
	height: 23px;
	width:20px;
	display:block;
	 float:left;

	
}
.kbs-one li .one-button { line-height:40px; font-size:16px; text-indent:5px;}
.kbs-one li .kbs-two li span{
	background: url(../images/detailicon.png) -51px -122px no-repeat;
	height: 19px;
	width:24px;
	display:block;
	 float:left;
	 line-height:30px;
	}
.kbs-one li .kbs-two li{ text-indent:15px; line-height:28px;}
.kbs-circle{background: url(../images/detailicon.png) -77px -131px no-repeat;
	height: 23px;
	width:24px;
	display:block;
	 }
.kbs-one li ul .active span{ background:url(../images/detailicon.png) no-repeat -13px -122px; width:24px; height:20px;}

.kbs-fl .d-icona a span{ background:url(../images/detailicon.png) no-repeat -16px -165px; width:45px; height:45px; display:block; float:left;}
.kbs-fl .d-iconb a span{ background:url(../images/detailicon.png) no-repeat -75px -165px; width:45px; height:45px;  display:block; float:left;}
.kbs-fl{ width:45px;}
.kbs-fl .d-icona a{width:45px;height:55px; display:block; float:left; margin-top:15px;}


/*后增加 06-24*/
.blue{color:#1c7dea;}
.orange{color: #ee721f; height:26px;line-height:26px;}
.c-text-ask{background-color: #52c277;}
.c-text-answer { background-color: #1cb7fd; }
.c-text{display: inline-block;padding: 2px;text-align: center;vertical-align: text-bottom;font-size: 12px;
width:14px; height:15px;line-height: 15px;font-style: normal;font-weight: normal;color: #fff;overflow: hidden;margin-right:5px;}

.wenda_list{width:96%;height:auto; margin:10px 0 40px ;border:1px dashed #e1e1e1; word-break: break-all; float: right;}
 .wenda_list h2{border-left:6px solid #389ce8;font:16px/28px "Microsoft Yahei";font-weight:600;background:#f2f2f2; color:#389ce8; text-indent:6px;}
.wenda_list ul{width:96%;margin:0 auto;word-break: break-all;border-bottom:1px dashed #e8e8e8;}
.wenda_list ul:last-child{border:none;}
.wenda_list ul li{padding-top:5px;height:auto;} 
/*后增加 06-30*/
.catalog{margin:15px 0; display:inline-block;}

.catalog .catalog-h {
    float: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fbfbfb;
    font-family: arial,tahoma,'Microsoft Yahei','\5b8b\4f53',sans-serif;
}
.catalog .catalog-h .block-title {
    float: left;
    margin: 22px 0 0 20px;
    width: 62px;
    height: 48px;
    font-weight: 400;
    font:18px/48px Microsoft Yahei;
}

.catalog .catalog-h .catalog-list {
    display: inline-block;
    border-left: 1px solid #ebebeb;
    width: auto;
    position: relative;
    float:left;
    padding-top: 10px;
    padding-bottom:10px;
    background-color: #fff;
}
.catalog .catalog-h .catalog-list ol{
	width:177px;
	padding:8px 0;
}
.catalog .catalog-h .catalog-list ol:first-child {
    border-left: 0;
}
.catalog .catalog-h .catalog-list ol {
    float: left;
    border-left: 1px solid #ebebeb;
}
.catalog .catalog-h .catalog-list ol li.level1 {
    line-height: 28px;
}
.catalog .catalog-h .catalog-list ol li.level2 {
    line-height: 26px;
}
.catalog .catalog-h .catalog-list ol li.level1 .text a {
    color: #136ec2;
    font-size:16px;
}
.catalog .catalog-h .catalog-list ol li.level2 .text a {
    color: #666;
    font-size:14px;
}
.catalog .catalog-h .catalog-list ol li.level1 .index {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    width: 18px;
    font-size: 16px;
    padding-left: 20px;
    vertical-align: top;
    color: #63a0df;
}
.catalog .catalog-h .catalog-list ol li.level1 .text {
    -moz-box-orient: vertical;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    vertical-align: top;
    width: 129px;
}
.catalog .catalog-h .catalog-list ol li.level2 .index {
    -moz-box-orient: vertical;
    color: #ccc;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    padding-left: 36px;
    padding-right: 5px;
    vertical-align: middle;
    width: 5px;
}
.catalog .catalog-h .catalog-list ol li.level2 .text {
    -moz-box-orient: vertical;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    vertical-align: middle;
    width: 118px;
}