@charset "utf-8";
/* CSS Document */
html{
	background:#f5f5f5;
}
*html,*body{
    overflow: hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, table, th, td, tr, a,img
{
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    margin: 0;
    padding: 0; 
	color:#333; font-family:'宋体',.Microsoft YaHei,"微软雅黑"; font-size:14px; line-height:24px; font-family: arial
}
 
table{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;}

ul,li{ list-style-type:none;}
img{ border: none;}

a{ color:#136ec2; text-decoration:none;}
a{outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{ color:#136ec2; text-decoration:underline;}
.pl20{ padding-left:24px;}
.pt10{ padding-top:10px;}
.pt20{ padding-top:20px;}
.mt20{ margin-top:20px;}
.ml20{ margin-left:20px;}
.mb20{ margin-bottom:20px;}
.left{ float:left;}
.right{ float:right;}

/*---------------------------1.html----------------------------*/
.kbs-page{ }
.position{
   height:40px;
   line-height:40px;
   margin-bottom:5px;
   color:#333;
   font:bold 16px/40px "宋体";
   color:#444;
}
.position_title {
    font-weight:normal;
    color: #444;
}
/*--------------a--------------*/
.detail-a{ width:100%; display:inline-block; }
.detail-b{ display:inline-block; margin-left: 20px; width: 300px; position:fixed;top:0;}
.detail-c{ width:100%; display:inline-block; }
.detail-d{ display:inline-block; margin-left: 30px; z-index: 3000; bottom: 20px; position:fixed; }
.a-title{height:auto;margin-top:15px; }

.a-title h1{ margin-left:0px;display:inline-block;font:32px/40px Microsoft Yahei; } 
.a-title h1 a.title-a{ display:inline-block;width:48px; height:26px; line-height:26px; border-radius:3px; font-size:14px; text-align:center;font-size:12px; color:#666; margin-left:12px; border:1px solid #c5c5c5; text-decoration:none;}
.a-title h1 a:hover{ cursor:pointer;color:white;background: #53a4f6;border:none;}

.about{font-size: 14px;word-wrap:break-word;color: #333;margin:10px auto 0 ;margin-left:25px;line-height: 24px;}
.about>span{display:inline-block;width:auto;margin-right:5px;}
.title-b {width:100%;height:36px; line-height:36px;background:#f1f5fb;}
.a-title h2.title-h2{ padding:0 20px;font-size:20px; line-height:36px; width:auto; float:left; color:white;background:#71b3f7; } 
/*.a-title .title-a i{background: url(/library/jquery/js/jquery-easyui/themes/icons/sgbk_lemma_icon_sprite2.png) no-repeat}
.a-title .title-a i{display:inline-block; font-style:normal; width:14px; height:14px; margin:5px 7px 0 0;background-position:-100px -20px;}*/
.a-title em{ display:inline-block;width:60px; height:20px;border-radius:3px; border:1px solid #ddd; font-size:14px; line-height:20px; text-align:center; font-style: normal;}

.a-title p{font-size:20px; line-height:26px; text-indent:2em; padding-top: 15px; }/*--后增加--*/

.ab-title {/*margin-top:30px;*/}
.ab-title .title-h {background:url(../images/paraTitle-line_c5e6d61.png) repeat-x center center;margin-bottom: 5px;/*clear:both;*/}
.ab-title .title-h h2{display:inline-block;border-left:12px solid #4f9cee;padding-left:13px; padding-right:8px;font-size:18px;height:26px; line-height:26px;width:auto; background:white;color:#555}
.ab-title p{font-size:14px; text-indent:2em; line-height:28px; padding-left: 15px; padding-top:12px;}
.contain {font-size:14px; /* text-indent:2em; */height:auto; line-height: 24px;padding:5px 0;color: #555;margin-left:22px;display: inline-block;word-break: break-all;overflow: hidden;padding-right: 10px;}

.contain p{width:auto;}
/* 东航要求图片默认500*200 */
.contain img{
	width: 500px;
	height: 200px;
}
/* .c-text-ans img{
	width: 500px;
	height: 200px;
} */

.a-line{ border-bottom:#dfdfdf solid 1px; width:100%; height:15px; float:left;}
.con-title{ /*height:30px;*/ /*margin-left: 20px;*/}
.f-bule{color:#136ec2;}


.con-content{ margin-left:25px;}
/*.con-content p{text-indent:20px; height:24px;line-height:24px;}*/

.con-catalog{margin:20px 0; height:auto;border-top:#dddddd solid 1px;border-bottom:#dddddd solid 1px;overflow: hidden}
.con-catalog ul{ min-height:130px; height:auto; display: inline-block;}
.con-catalog>ul>li{ float:left;width:180px;line-height:30px; border-left:1px solid #ebebeb; }
.con-catalog>ul>li:first-child{border-left:none;}
.con-catalog ul li.first-child{ width:80px;min-height:150px; line-height:150px; text-align:center; color:#333; font-size:18px; font-weight:400; }
.con-catalog ul li{ width:160px;line-height:30px; padding:0 10px;}
.con-catalog ul li ul{ text-align:center; border-top:0px; border-bottom:0px; padding:0 5px;}
.con-catalog ul li ul li{ width:auto;text-align:left;font-size:25px; color:red;}
.con-catalog ul li ul li :before{content:'.';font-size:18px;line-height:30px; padding-right:5px; color:#999;}
.normal{ margin-top:15px;margin-bottom:10px;}

/*--------------c--------------*/
.conb-title{}
.conb-title .title-h {background:url(../images/paraTitle-line_c5e6d61.png)repeat-x center center;clear:both;margin-bottom: 5px;}
.conb-title  .title-h h2{display:inline-block;border-left:11px solid #93c1f4;padding-left:11px; padding-right:8px;font-size:16px; height:24px; line-height:24px;  width:auto; background:white; color:#666;}
/*.conb-title h2 span{ height:28px; width: 16px; display:inline-block; float:left; margin-right:5px; background-color: #4f9cee;}*/
/*
.conb-title p{font-size:14px; text-indent:2.2em; line-height:28px; padding-left:15px;padding-top:12px; color:#666;}
*/
.conb-title p {color: #666;font-size: 14px;line-height: 28px; }
.contain img {display: block;*float:left;margin: 0 auto;width:100%;max-height: 100%;max-width: 100%;}
.contain *{ width:100%;}
.contain table{width:auto!important}

.showorhideabs{
	float: right; margin-right: 10px;background-color: white;padding: 2px;
}

.file {  width:100%; margin:15px auto 10px; height:auto;overflow: hidden; float:left; background:#fbfbfb;}/*----07-26 modify----*/
.file li{height:32px!important; line-height:32px; }
.file li a .file-con p{color:#136ec2;}
.file li a:hover .file-con p,.file ul li a:active .file-con p{color:#136ec2; text-decoration:underline; }
.file li span{ width:20px; height:20px; float:left; display:block;}
.file .name-a a span{ background:url(../images/detailicon.png) no-repeat -4px -11px;}/* txt*/
.file .name-b a span{ background:url(../images/detailicon.png) no-repeat -32px -11px;}/* excel*/
.file .name-c a span{ background:url(../images/detailicon.png) no-repeat -60px -11px;}/* word*/
.file .name-d a span{ background:url(../images/detailicon.png) no-repeat -88px -11px;}/* ppt*/
.file .name-e a span{ background:url(../images/detailicon.png) no-repeat -116px -11px;}/* pdf*/
.file .name-f a span{ background:url(../images/detailicon.png) no-repeat -142px -11px;}/* pic*/
.file .name-h a span{ background:url(../images/detailicon.png) no-repeat -168px -11px;}/* music*/
.file .name-i a span{ background:url(../images/detailicon.png) no-repeat -159px -44px;}/* video*/
.file .name-j a span{ background:url(../images/detailicon.png) no-repeat -159px -73px;}/* pic*/
.file li .file-con{ float:left;}
.file li .file-con p{ float:left; margin:0px 5px;}
.file li .file-con .file-preview{ float:left; display:block; background:url(../images/detailicon.png) no-repeat -16px -42px; width:58px; height:23px;}
.file li a:hover .file-con .file-preview,.file ul li a:active .file-con .file-preview{display:block; background:url(../images/detailicon.png) no-repeat -86px -42px; width:58px; height:23px;}

.con-from{  }
.kbs-from{ background-color:#fbfbfb; padding:20px;}
.kbs-from img{ width:100%;}

.c-meaubar{height:32px;padding:3px;background-color:#f7f7f7; clear:both;}/*----07-26 modify----*/
.c-meaubar ul{ width:auto!important; float:right; }
.c-meaubar ul li{ float:left; width:auto; padding:0 20px;line-height:34px;}
.c-meaubar ul .c-icona span{ width:25px; height:34px; background:url(../images/q_wr.gif) no-repeat center ; float:left;}
.c-meaubar ul .c-iconb span{ width:25px; height:34px; background:url(../images/q_pl.gif) no-repeat center; float:left;}
.c-meaubar ul .c-iconc span{ width:25px; height:34px; background:url(../images/q_sc.gif) no-repeat center; float:left;}
.c-meaubar ul .c-icond span{ width:25px; height:34px; background:url(../images/q_fx.gif) no-repeat center; float:left;}
.c-meaubar ul .c-iconh span{ width:25px; height:34px; background:url(../images/q_qt.gif) no-repeat center; float:left;}

/*--------------b--------------*/
.b-title ul li a{width:150px;float:left;background-color:#e7e7e7; height:40px;  text-align:center; display:block;}
.b-title ul li a:hover{ text-decoration:none;}
.b-title ul li .current{ background-color:#064da5;}
.b-title ul li .current div{ color:#ffffff;}

.b-title ul li a div{ width:100px;line-height:40px; padding-left:30px;}
.b-title ul .b-icona a span{ background:url(../images/detailicon.png) no-repeat -113px -218px; display:block; width:27px; height:32px; float:left; }
.b-title ul .b-icona a:hover span,.b-title ul .b-icona a:active span{ background:url(../images/detailicon.png) no-repeat -156px -218px; display:block; width:27px; height:32px; float:left;}
.b-title ul li a:hover{ background-color:#064da5; }
.b-title ul li a:hover div{ color:#ffffff; }

.b-title ul .b-iconb a span{ background:url(../images/detailicon.png) no-repeat -16px -218px; display:block; width:31px; height:32px; float:left;}
.b-title ul .b-iconb a:hover span,.b-title ul .b-icona a:active span{ background:url(../images/detailicon.png) no-repeat -58px -218px; display:block; width:31px; height:32px; float:left;}
.b-con{ background-color:#f6f6f6; min-height: 300px;}
.b-choose{ width:90%; margin:0 auto;}
.b-choose li{ height:45px; line-height:45px; border-bottom:#cac9c8  dashed 1px;}
.b-choose li span{ padding:0px 5px;}
.b-button{ width:206px; margin:0 auto;}
.b-button li{ float:left; margin-right:5px;}
.b-button li a{ background-color:#f1614a; border-radius:4px;width:98px; height:35px; display:block; color:#ffffff; line-height:35px; text-align:center;}
.b-button li a:hover,.b-button li a:active{ text-decoration:none; background-color:#fc8572;}


/*--------------d--------------*//*----modify--08-01----*/
.kbs_w{width:210px;height:420px;overflow:hidden; margin-right:5px}
.kbs_n{overflow-y:scroll; overflow-x:hidden ;width:278px; height:100%;} 

/*end*/
.timeline {background:url(../images/timeline.jpg) repeat-y 10px;width:100%;float: left; }
.kbs-one{ padding:10px 0px;}
.kbs-one li .one-button span{
	background: url(../images/detailicon.png) -51px -116px no-repeat;
	height: 26px;
	width:26px;
	display:block;
	float:left;
}
.kbs-one li .one-button .span-new{
	background: url(../images/detailicon-new.png) no-repeat center;
	height: 26px;
	width:26px;
	float:left;
	margin-top: 7px;
}
.kbs-one li .one-button { line-height:40px; font-size:16px; text-indent:5px;}
.kbs-one li .kbs-two li span{
	background: url(../images/detailicon.png) -51px -122px no-repeat;
	height: 26px;
	width:26px;
	display:block;
	float:left;
	line-height:30px;
}
.kbs-one li .kbs-two li .span-new{
	background: url(../images/detailicon-new.png) no-repeat center;
	height: 26px;
	width:26px;
	float:left;
	line-height:30px;
}
.kbs-one li .kbs-two li{ line-height:28px;height:28px;overflow: hidden}

.kbs-one li em ,.kbs-two li em{
	padding-left:10px;
	/*display: block;*/
    /*font-size:12px;*/
	font-style:normal
	}
.kbs-circle{background: url(../images/detailicon.png) -77px -131px no-repeat;
	height: 23px;
	width:24px;
	display:block;
	 }
.kbs-one li ul .active span{ background:url(../images/detailicon.png) no-repeat -13px -122px; width:24px; height:20px;}

.kbs-fl .d-icona a span{ background:url(../images/detailicon.png) no-repeat -16px -165px; width:45px; height:45px; display:block; float:left;}
.kbs-fl .d-iconb a span{ background:url(../images/detailicon.png) no-repeat -75px -165px; width:45px; height:45px;  display:block; float:left;}
.kbs-fl{ width:45px;}
.kbs-fl .d-icona a{width:45px;height:55px; display:block; float:left; margin-top:15px;}


/*后增加 06-24*/
.blue{color:#1c7dea;}
.orange{color: #ee721f; height:26px;line-height:26px;float: left;width: 100%;}
.c-text-ask{background-color: #52c277;}
.c-text-answer { background-color: #1cb7fd;}
.c-text{padding: 2px;text-align: center;vertical-align: text-bottom;font-size: 12px;width:14px; height:15px;line-height: 15px;color: #fff;overflow: hidden; float:left;}

.wenda_list{height:auto;margin-left:22px;margin-bottom:10px;border:1px dashed #e1e1e1; word-break: break-all; overflow:hidden;background:white }
.wenda_list>h2{border-left:6px solid #389ce8;font:16px/28px "Microsoft Yahei";font-weight:600;background:#f2f2f2; color:#389ce8; text-indent:6px;}
.wenda_list>ul{width:96%;margin:10px auto;word-break: break-all;}
.wenda_list>ul>li{padding-top:5px;height:auto;} 
.wenda_list>ul>li img{/* display:block; width:100%; */ margin: 0 auto;max-height: 200px;max-width:500px;vertical-align:top;}
.c-text-ans{ margin-left:25px;line-height: 22px;}

/*后增加 06-30*/
.main_ml{
    background:white;
    margin-left:78px;
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
    height:50px;
}
.left_ml{
    width:78px;
    height:100%;
    margin-left:-78px;
    float:left;
    margin-top:-1px;
    _margin-bottom:-1px;
    background:white;
    /* position:relative; */
    border-top:1px solid #ebebeb;
    border-bottom:1px solid #ebebeb;
}
.right_ml{
    height:100%;
    overflow: hidden;
}
.right_u > li{
    float:left;
    width:33.3%;
    overflow:hidden;
    text-align:center;
} 
.block-title {
    margin-left: 20px;
    width: 62px;
    font:bold 16px/48px '宋体';
}
.catalog-list {
    display: inline-block;
    width: 94%;
    margin:0 auto;
    padding-top: 8px;
    background-color: #fff;
    border-left:1px solid #ebebeb;
    min-height:50px;
    font-family:'宋体';
}
.catalog-list ol{
    width:100%;
    width:100%;
    padding:0px 8px;
    text-align:left;
}
.catalog-list ol li.level1 {
    line-height: 26px;
    padding-left:8px;
    overflow:hidden;
    white-space:nowrap;
}
.catalog-list ol li.level2 {
    line-height: 24px;
    padding-left:16px;
    overflow:hidden;
    white-space:nowrap;
}
.catalog-list .level2 span.text{
	color:#999;
}
.catalog-list ol li.level1 .text a{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    color: #136ec2;
    overflow: hidden;
    white-space: nowrap;

}
.catalog-list ol li.level2 .text a{
    display: inline-block;
    vertical-align: top;
    color: #666;
    font-size:12px;
    overflow: hidden;
    white-space: nowrap;
    
}
.catalog-list ol li.level1 .index {
    color:#ccc;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font-size: 16px;
    color: #63a0df;
}
.catalog-list ol li.level2 .index {
    color: #ccc;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 10px;
}