.zhil{
	width: 255px; 
	height:auto;
	border:1px solid #ccc;
	padding:5px;
	font-family: '宋体';
	background:#f2f2f2;
}
.zhil > span{
	height:26px;
}

.zhil > span > label{
	width:70px;
	height:22px;
	padding-left:5px;
	font-size:14px;
	text-align:left;
	font-size:12px;
	float:left;
}
.zhil > span em {
	display: block;
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
	margin-left:79px;
	background:white;
}
.zhil > span i.url{
	background: #f2f2f2 url("../images/url.png") no-repeat scroll center center;
    float: right;
    height: 20px;
    width: 22px;
    cursor:pointer;
    border-left:1px solid #ccc;
}
.zhil > span i.remove{
	background: #f2f2f2 url("../images/zl01.png") no-repeat scroll center center;
    float: right;
    height: 20px;
    width: 22px;
    cursor:pointer;
    border-left:1px solid #ccc;
}
.zhil > span i.add{
	background: #f2f2f2 url("../images/zl02.png") no-repeat scroll center center;
    float: right;
    height: 20px;
    width: 22px;
    cursor:pointer;
    border-left:1px solid #ccc;
}
#zl003,#zl004{
	width:99.999%;
}
#zl001{
	width:128px;
}
#zl002{
	width:150px;
}
.zhil > span input{
	height:20px;
	line-height:20px;
	border:none;
	background:transparent;
	font-family: "宋体";
}
.zhil > span select{
	width:180px;
	height:22px;
	cursor:pointer;
	text-indent:12px;
	border:1px dashed red;
	display: inline-block;
	vertical-align: top;
}
.zhil select option{
	height:auto;
	padding-top:5px;
	padding-bottom:5px;
	text-indent:12px;
	vertical-align: bottom;
	border-bottom:1px solid #ccc;
}
.content > p.button{
	height:36px;
	line-height:40px;
	text-align:center;
}
.content > p > span{
	display: inline-block;
	width:50px;
	font:normal 12px/22px "宋体";
	border:1px solid #ddd;
	border-radius:4px;
	background:white;
	cursor: pointer;
}