@charset "utf-8";

.kbs-icon{
	background-image: url("wukong.png");
	background-repeat: no-repeat;
	font-size: 0;
}
.kbs-icon-help{
	background-position: -90px -423px;
	width: 11px;
	height: 11px;
	display: inline;
	margin: 5px 0 0 5px;
	float: left;
}
.kbs-icon-down{
	background-position: -296px -423px;
    width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}
.kbs-icon-up{
	background-position: -313px -423px;
	width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}


.kbs-office{
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	*margin: 2px;
}
.kbs-office-excel{
	background-image: url("../imgs/Excel.png");
}
.kbs-office-word{
	background-image: url("../imgs/Word.png");
}
.kbs-office-ppt{
	background-image: url("../PowerPoint.png");
}
.kbs-office-pdf{
	background-image: url("../imgs/pdf.png");
}
.kbs-office-txt{
	background-image: url("../imgs/txt.png");
}
.kbs-office-pic{
	background-image: url("../imgs/picture.png");
}
.kbs-office-rtf{
	background-image: url("../imgs/rtf.png");
}
.kbs-office-thumbs-up{
	background-image: url("../imgs/thumbs-o-up.png");
	cursor: pointer;
}
.kbs-office-thumbs-down{
	background-image: url("../imgs/thumbs-o-down.png");
	cursor: pointer;
}
.kbs-office-edit{
	background-image: url("../imgs/edit.png");
	cursor: pointer;
}
.kbs-office-editor{
	background-image: url("../imgs/editor.png");
	cursor: pointer;
}
.kbs-office-modify{
	background-image: url("../imgs/modify.png");
	cursor: pointer;
}
.kbs-office-visitnum{
	background-image: url("../imgs/visitnum.png");
	cursor: pointer;
}
.kbs-thumbs-text{
	float: left;
	margin: 5px 20px 0px 5px;
}
.kbs-office-preview{
	background-image: url("imgs/preview-sun.png");
	cursor: pointer;
}
.kbs-office-preview:hover{
	background-image: url("imgs/preview-moon.png");
	cursor: pointer;
}
.kbs-office-here{
	background-image: url("imgs/arrow-anywhere.png");
	cursor: pointer;
}
.kbs-office-btn{
	color: #000;
	cursor: pointer;
	padding: 0 3px 0 24px;
}
.kbs-office-btn:hover{
	color: #f82800;
}
.kbs-office-markread{
	background-image: url("imgs/markread.png");
	width: auto;
}
.kbs-office-correct{
	background-image: url("imgs/correct.png");
}
.kbs-office-eflow-edit{
	background-image: url("imgs/eflow-edit.png");
}
.kbs-office-eflow-read{
	background-image: url("imgs/eflow-read.png");
}
.kbs-office-fav{
	background-image: url("imgs/fav.png");
}
.kbs-office-resolve{
	background-image: url("imgs/resolve.png");
}