.fav-ball{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;background:#000;border-radius:10px;height:auto;width:auto;padding:10px;}
.fav-ball .main{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;padding-bottom:10px;border-radius:3px;height:90px;width:250px;}
.fav-ball .main .title{height:30px;line-height: 30px;width: 100%;border-top-right-radius:3px;border-top-left-radius:3px;border-bottom:1px solid #CCCCCC;background:none repeat scroll 0 0 #009883;}
.fav-ball .main .title b{color:#FFFFFF;float:left;font-size:14px;margin-left:7px;}
.fav-ball .main .title a{float: right;height:12px;width:12px;margin-top:8px;margin-right:5px;}
.fav-ball .main .fcontent{width: 100%;}
.fav-ball .main .fcontent .content-data{width:100%;height: 20px;padding: 7px 0;}
.fav-ball .main .fcontent .content-data select{width: 171px;}
.fav-ball .main .fcontent .bottom{height:28px;line-height:28px;width:100%;clear:both;}
.fav-ball .main .fcontent .bottom a{color:#FFFFFF;float:right;}
.fav-ball .main .fcontent .tijiao{background:url("../images/ggzs_bg2.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);height:28px;line-height:28px;margin-right:5px;text-align:center;width:67px;}
.fav-ball .main .fcontent .tijiao input{background: none;border: medium none;color: #FFFFFF;cursor: pointer;height: 28px;line-height: 28px;outline: medium none;width: 67px;}