.kbs-bookmark{
	background: url(../theme/bookmark.png);
	width: 16px;
	height: 16px;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.kbs-bookmark-collapse{
	background: url(../theme/bookmark.png);
	width: 16px;
	height: 16px;
	position: absolute;
	top: 72px;
	right: 2px;
	cursor: pointer;
}
.kbs-bookmark-64{
	background: url(../theme/bookmark.png);
	width: 64px;
	height:64px;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.kbs-bookmark-collapse-64{
	background: url(../theme/bookmark.png);
	width: 64px;
	height:64px;
	position: absolute;
	top: 72px;
	right: 2px;
	cursor: pointer;
}

.tree-node-selected .tree-title{
    background: #fbec88 none repeat scroll 0 0;
}

/* add by eko.zhan at 2015-10-09 Banner栏和左侧导航固定位置，只滚动主面板 */
.header{
	position: fixed;
	z-index: 99999;
}
.content_left_bg{
	position: fixed;
	background-color: #fff;
	z-index: 99998;
}
.content_line{
	position: fixed;
	z-index: 99998;
}
.content_right_top{
	margin-top: 83px;
}