table.box{
    font-family:"Courier New", Courier;
    font-size:12px;
    border:1px solid #C0C0C0;
    padding : 0px;
	line-height :18px;
}

.box th {
	color:#000000;
	padding-left : 5px;
	padding-top : 3px;
	padding-bottom : 3px;
	border-right : 1px dotted #C0C0C0;  
	border-bottom: 1px dotted #C0C0C0; 
}

.box td {
    font-family : "Courier New", Courier;
	font-size : 12px;
	color:#000000;
	padding-left : 5px;
	padding-top : 3px;
	padding-bottom : 3px;
	border-right : 1px dotted #C0C0C0;  
	border-bottom: 1px dotted #C0C0C0; 
}

.box td input{
	border:1px solid #C0C0C0;
}

.box td input[type="button"], .box td button{
	cursor: pointer;
	margin-right: 5px;
	font-weight: bolder;
	height: 25px;
}

.box tr.kbs-row td{
	color: #0000FF;
	font-weight: bolder;
}

.box tr.kbs-row td a{
	color: #0000FF;
}

.box tr.kbs-row td a:hover{
	color: #FF0000;
}