/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#666;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#004da7;}
img{vertical-align:top;border:0}
/*iframe嵌入空白 html{position:relative;_position:relative;*+position:relative;overflow-y:auto;}*/
body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;height:100%;}
/***********************通用代码结束**************************/


/***********************头部代码开始**************************/
.header{width:100%;height:70px;margin:0 auto;background:url(../images/top_bg.jpg) repeat-x;min-width:980px; position:relative;z-index:9999}
.header_left{width:320px;height:70px;float:left;position:absolute;}
.header_left b{margin-top:22px;margin-left:22px;height:26px;line-height:26px;color:#FFF;display:block; font-family:"微软雅黑",Arial;font-size:25px;text-shadow: 0 1px #434343; font-weight:normal;}

.header_center{width:300px;min-width:300px;max-height:533px;height:24px;line-height: 24px;margin-top:27px;margin-left:270px;overflow:hidden;float:left;display:inline;}
.header_center a{height:30px;line-height:30px;font-size:14px;color:#FFF;width:100%;}
.header_center a:hover,.header_center a:active{color:#FFF; text-decoration:underline;}

.header_right{width:550px;height:60px;padding-top:10px;position:absolute;right:0;top:0;}
.header_right_top{width:100%;height:24px;line-height:24px;float:right;text-align:right;margin-right:10px;display:inline;}
.header_right_top li{float:right;text-align:right;}
.header_right_top li a{padding:0 10px;height:24px;line-height:24px;background:url(../images/index_top_line.jpg) no-repeat right center;color:#FFF;}
.header_right_top li .meiyou{background:none;}
.header_right_top li a:hover{color:#FFF; text-decoration:underline;}
.header_right_bottom{width:100%;height:26px;line-height:26px;float:right;text-align:right;margin-right:10px;display:inline;}
.header_right_bottom li{float:right;text-align:right;}
.header_right_bottom li a{padding:0 10px;height:24px;line-height:24px;background:url(../images/index_top_line.jpg) no-repeat right center;color:#ddd;}
.header_right_bottom li .meiyou{background:none;}
.header_right_bottom li a:hover{color:#FFF; text-decoration:underline;}
/***********************头部代码结束**************************/

/***********************左边代码**************************/

.content_line{width:6px;height:100%;background:#004da7;float:left;display:inline-block;position:absolute;left:214px;top:0px;cursor: col-resize;}
.content_line img{position:absolute;left:2px;top:40%;}

.jiedian{width:100%;height:auto;clear:both;}
.jiedian li{height:30px;line-height:30px;width:100%;background:f6f6f6;border-bottom:1px solid #eee;color:#666;cursor:pointer;}
.jiedian li:hover,.jiedian li:active{background:#EEE;color:#000;}
.jiedian li a{padding-left:10px;color:#666;}
.jiedian li a:hover,.jiedian li a:active{color:#000;}


.content{width:100%;height:100%;overflow:hidden;}
.content_left_bg{width:210px;position:absolute;left:0;top:0px;height:100%;clear:both;border-left:4px solid #004da7;}
.content_left{width:100%;height:auto;clear:both;background:#FFF;margin-top:73px;}
.content_left .juli{margin:0 10px;clear:both;display:block;}
.content_left li{width:100%;height:auto;float:left;padding:0;}
.content_left .left_1{width:100%;height:29px;line-height:29px;float:left;background:#004da7;display:inline;overflow:hidden;}
.content_left .left_1 p{width:10px;display:block;height:29px;float:left;}

.content_left .left_1:hover{background:#004da7;}
.content_left .left_1 a{width:auto;height:29px;line-height:29px;display:block;font-size:14px;color:#FFF;font-weight:bold;background:url(../images/index_left_sanjiaoxing.jpg) right no-repeat;}
.content_left .left_1 a:hover{color:#FFF;font-weight:bold;}
.left_fen{height:auto;width:100%;background:#f6f6f6;float:left;border-bottom:1px solid #cccccc;display:inline;}
.content_left_ss{width:100%;float:left;height:50px;line-height:24px;margin-top:5px;margin-bottom:8px;}
.content_left_s1{margin:0 5px;width:auto;}
.content_left_s2{width:100%;display:block;background:#FFF;border:1px solid #CCC;height:22px;line-height:22px;float:left;padding:0;margin:0; position:relative;}
.content_left_ss .input_left{width:23px;max-width:25px;height:22px;position:absolute;left:0;top:0;}
.content_left_ss .input_right{width:100%;height:22px;line-height:22px;font-size:12px;color:#666;border:0px;background:none;display:inline-block;}
.content_left_ss .input_k{width:auto;margin-left:23px;}
.content_left_ss a{width:23px;max-width:21px;height:22px;float:left;}
.content_left_ss img{width:23px;height:22px;float:left;}
.content_left_ss input{width:100%;height:22px;line-height:22px;font-size:12px;color:#666;border:0px;background:none;float:left;}
.content_left_er{padding:0 5px;width:auto;}
.content_left_er ul{clear:both;margin:0;padding:0;}

.content_left_er .left_zong{height:auto;line-height:22px;width:100%;float:left;padding:0;}
.content_left_er .left_zong:hover{background:none;}
.content_left_er .left_zong:active{background:none;}
.content_left_er .left_zong:visited{background:none;}

.content_left_er .left_1_shang{height:22px;line-height:22px;float:left;width:100%;background:#da484a;color:#FFF;}
.content_left_er .left_1_shang span{margin-left:5px;}
.content_left_er .left_1_shang:hover{background:#da484a;cursor:pointer;}
.content_left_er .left_1_shang:active{background:#6fb1ff;}
.content_left_er .left_1_shang:visited{background:#6fb1ff;}
.content_left_er .left_1_shang a{color:#FFF;}
.content_left_er .left_1_shang a:hover{color:#FFF;}
.content_left_er .left_1_shang a:active{color:#FFF;}
.content_left_er .left_1_shang a:visited{color:#FFF;}

.content_left_er .left_1_shang span{margin-top:7px;margin-right:4px;width:9px;height:9px;float:left;background:url(../images/left_ico2.jpg) no-repeat;}
.content_left_er .left_1_shang span:hover{margin-top:7px;margin-right:4px;width:9px;height:9px;float:left;background:url(../images/left_ico1.jpg) no-repeat;}
.content_left_er .left_1_shang p{margin-top:7px;margin-right:4px;width:10px;height:9px;float:left;background:url(../images/left_ico4.jpg) no-repeat;}
.content_left_er .left_1_xia ul{clear:both;}
.content_left_er .left_1_xia li{height:22px;width:100%;display:block;float:left;}
.content_left_er .left_1_xia li p{margin-left:28px;display:inline;}
.content_left_er .left_1_xia li:hover{height:22px;background:#FFF;cursor:pointer;}
.content_left_er .left_1_xia li:active{background:#6fb1ff;}
.content_left_er .left_1_xia li:visited{background:#6fb1ff;}

.content_left .juli li .left_2{width:100%;height:auto;color:#FFF;line-height:29px;float:left;border-bottom:1px solid #cccccc;background:url(../images/index_left_title_bg.jpg) repeat-x;}
.content_left .juli li .left_2:hover{background:#004da7;color:#FFF;}
.content_left .juli li .left_2 p{width:10px;display:block;height:29px;float:left;padding:0;margin:0;}
.content_left .juli li .left_2 a{width:auto;height:29px;line-height:29px;display:block;font-size:14px;color:#333333;font-weight:bold;background:url(../images/index_left_sanjiaoxing1.jpg) right no-repeat;}
.content_left .juli li .left_2 a:hover{color:#FFF;font-weight:bold;background:url(../images/index_left_sanjiaoxing.jpg) right no-repeat;}


/***********************左边代码**************************/



/*********************右边上边代码**************************/
.content_right{width:auto;height:100%;background:#FFF;margin-left:220px;clear:both;}
.content_right_top{padding-top:10px;height:60px;width:100%;float:left;text-align:center;margin-bottom:5px;}
.content_right_bottom{height:100%;width:100%;float:left;display:inline-block;clear:both;}

.content_ss{width:450px;height:32px;text-align:center;position:relative;margin:0 auto;}
.content_ss .kuang{border:1px solid #004da7;border-right:none ;width:319px;height:30px;line-height:30px;padding-left:3px;font-size:14px;color:#333;float:left;}
.content_ss .anniu{width:54px;height:32px;line-height:32px;border:1px solid #004da7;border-left:none ;background:url(../images/index_anniu.jpg) no-repeat;position:absolute;left:323px;top:0;cursor:pointer;float:left;}
.content_ss .anniu:link {background:url(../images/index_anniu.jpg) no-repeat;}/* 未访问的链接 */
.content_ss .anniu:visited {background:url(../images/index_anniu2.jpg) no-repeat;}/* 已访问的链接 */
.content_ss .anniu:hover {background:url(../images/index_anniu1.jpg) no-repeat;} /* 当有鼠标悬停在链接上 */
.content_ss .anniu:active {background:url(../images/index_anniu2.jpg) no-repeat;}/* 被选择的链接 */

.content_ss span{height:32px;width:35px;display:inline;float:left;}
.content_ss span a{font-size:12px;height:32px;line-height:32px;color:#FFF;width:35px;background:url(../images/quanwen.jpg) no-repeat;display:block;float:left;}
.content_ss span a:hover,.content_ss span a:active{color:#FFF;text-decoration:none;background:url(../images/quanwen1.jpg) no-repeat;text-decoration:none;}
.content_ss p{height:32px;width:35px;margin-left:54px;display:inline;float:left;}
.content_ss p a{font-size:12px;height:32px;line-height:32px;color:#FFF;width:35px;background:url(../images/index_anniu5.jpg) no-repeat;display:block;float:left;}
.content_ss p a:hover,.content_ss span a:active{color:#FFF;text-decoration:none;background:url(../images/index_anniu6.jpg) no-repeat;text-decoration:none;}
.content_ss a{font-size:12px;height:32px;line-height:32px;color:#333;}
.content_ss a:hover{color:#e30000;text-decoration:underline;}

.content_gjz {width: 470px;height: 30px;margin: 0px auto;display: block;overflow: hidden;text-align: left;}
.content_gjz a{color:#004da7;font-size:12px;font-weight:normal;height:30px;line-height:30px;padding:0 10px;}
.content_gjz a:hover{color:#e30000;text-decoration:underline;}


/*********************右边上边代码***************************/

#backTop {position:fixed;bottom:50px;right:50px;display:none;z-index:3000;height:35px;width:35px;background-image: url(../images/icon_top.png)!important;/* FF IE7 */background-repeat: no-repeat;cursor:pointer;_position:absolute;_top:expression(documentElement.scrollTop+documentElement.clientHeight - this.offsetHeight-50);}
/*****目录搜索*****/
.dir_seniorSearch a {
	color: #333;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    max-width: 50px;
    width: 50px;
}

.dir_seniorSearch a:hover {
	color: #e30000;
	text-decoration: underline;
}