.content_title p{width:76px;height:24px;position:relative;float:left;margin-right:5px;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_wc{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#000000;background:url(../images/index_title_bg.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;display:block;margin-top: -23px;float: right;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 */


.content_title{width:100%;height:23px;}
.titile{margin:0 10px;height:23px;border-bottom:1px solid #dfdfdf;}
.content_title a{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#666666;background:url(../images/index_title_bg.jpg) no-repeat;}
.content_title a:link {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg.jpg) no-repeat;color: #000}     /* 未访问的链接 */
.content_title a:visited {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg2.jpg) no-repeat;color:#000;}  /* 已访问的链接 */
.content_title a:hover {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg2.jpg) no-repeat;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title a:active {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg1.jpg) no-repeat;color: #fff}   /* 被选择的链接 */

.content_content{margin:0 10px;border:1px solid #dfdfdf;}
.content_content_hide{display: none;}