@CHARSET "UTF-8";
.rem-ball{background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;background:#000;border-radius:10px;height:auto;width:auto;padding:10px;}
.rem-ball .main{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;padding-bottom:10px;border-radius:3px;height:180px;width:270px;}
.rem-ball .main .title{height:30px;line-height: 30px;width: 100%;border-top-right-radius:3px;border-top-left-radius:3px;border-bottom:1px solid #CCCCCC;background:none repeat scroll 0 0 #009883;}
.rem-ball .main .title b{color:#FFFFFF;float:left;font-size:14px;margin-left:7px;}
.rem-ball .main .title img{float: right;height:12px;width:12px;margin-top:8px;margin-right:5px;cursor: pointer;}
.rem-ball .main .fcontent{width: 100%;}
.rem-ball .main .fcontent .content-data{width:100%;height: 20px;padding: 7px;}
.rem-ball .main .fcontent .content-data select{width: 171px;}
.rem-ball .main .fcontent .bottom{height:28px;line-height:28px;margin-top:10px;width:100%;clear:both;}
.rem-ball .main .fcontent .bottom a{color:#FFFFFF;float:right;}
.rem-ball .main .fcontent .commit{background:url("../images/ggzs_bg2.jpg") no-repeat;border:none;color: #FFFFFF;cursor: pointer;height:28px;line-height:28px;margin-right:5px;text-align:center;width:67px;float:right;margin-top:10px;}

.content-data input {height:28px;line-height:22px;color:#666;padding-left:3px;font-size:14px;float:left;}
#deptSelect {width:252px;}
#startTime {width:133px;display: none;}
#endTime {width:133px;display: none;}
#rem_time {text-decoration: none;margin-left: 60px;}
#rem_time li {float: left;margin-right: 20px;line-height: 22px;}