@CHARSET "UTF-8";
.zhishi_titile{width:auto;height:34px;line-height:34px;background:#f6f6f6;margin:0 10px;padding-left:10px;color:#009883;font-size:14px;}
.zhishi_titile img{margin-top:8px;margin-right:8px;}
.zhishi_titile a{background:url(../images/zhishi_ico1.jpg) no-repeat left center;padding-left:10px;margin-right:12px;}
/****修改删除****/
.zhishi_titile .title_rem{float:left;margin-right: 30px;}
.zhishi_titile .edit_rem {float:left;margin-right: 30px;width:60px;height:30px;text-align: center;color: white;background-color: #009883;margin-top: 2px;cursor: pointer;}
	
.zhishi_con{width:auto;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}
.zhishi_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.zhishi_con_title table{width:100%;height:30px;line-height:30px;}
.zhishi_con_title tr{width:100%;display:block;}
.zhishi_con_title .biaoti{width:39%;font-size:14px;font-weight:bold;float:left;color:#009883;}
.zhishi_con_title .biaoti b{padding-left:20px;}
.zhishi_con_title td{width:20%;font-size:14px;font-weight:bold;float:left;color:#009883;}
.zhishi_con_title td a{color:#009883;}

.zhishi_con_title a{color:#009883;}
.zhishi_con_nr{background:#FFF;width:100%;overflow:auto;}

.zhishi_con_nr li{width:100%;height:30px;line-height:30px;vertical-align: middle;}
.zhishi_con_nr h1{width:39%;height:30px;line-height:30px;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h1 b{padding-left:10px;font-weight:normal;height:30px;line-height:30px; }
.zhishi_con_nr h2{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h3{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr h4{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}

.zhishi_con_title1{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.zhishi_con_title1 table{width:100%;height:30px;line-height:30px;}
.zhishi_con_title1 tr{width:100%;display:block;}
.zhishi_con_title1 .biaoti{width:32%;font-size:14px;font-weight:bold;float:left;color:#009883;}
.zhishi_con_title1 .biaoti b{padding-left:20px;}
.zhishi_con_title1 .select_all{width:6%;}
.zhishi_con_title1 .select_all input{margin-top: 9px;}
.zhishi_con_title1 td{width:20%;font-size:14px;font-weight:bold;float:left;color:#009883;}


.zhishi_con_nr1 li{width:100%;height:30px;line-height:20px;vertical-align: middle;}
.zhishi_con_nr1 h1{width:33%;height:30px;line-height:30px;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr1 h1 b{padding-left:10px;font-weight:normal;height:30px;line-height:30px; }
.zhishi_con_nr1 h2{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr1 h3{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr1 h4{width:20%;font-size:12px;font-weight:normal;float:left;color:#666666;}
.zhishi_con_nr1 h5{width:6%;float: left;margin-top: 5px;margin-left: 3px; vertical-align: middle;display:inline;}



.content_title p{width:76px;height:24px;position:relative;float:left;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;position:absolute;right:0;top:0;display:block;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 *
	


