.xin_titile{height:34px;line-height:34px;background:#f6f6f6;border-bottom:1px solid #e3e3e3;margin:0 10px;padding-left:10px;margin-top:10px;color:#009883;font-size:14px;}
.xin_con{width:380px;height:auto;margin:20px auto;*+margin-left: 45px; }
.xin_con li{width:395px;height:auto;float:left;}
.xin_con li input{width:393px;border:1px solid #ccc;height:28px;line-height:28px;padding-left:3px;color:#666;font-size:12px;}
.xin_con li span{height:30px;line-height:30px;width:395px;float:left;}
.xin_con li select{width:125px;height:28px;line-height:28px;border:1px solid #CCC;padding:5px 5px 5px 0px;}
.xin_con li option{padding:5px 5px 5px 5px;border-color:#CCC;float:left;font-size:12px;}
.xin_con li textarea{width:393px;height:93px;line-height:22px;border:1px solid #CCC;color:#666;font-size:12px;}
.xin_con li .xin_an1{width:67px;height:28px;line-height:28px;background:url(../images/xin_an1.jpg) no-repeat;float:left;border:none;cursor:pointer;outline:none;}
.xin_con li .xin_an2{width:67px;height:28px;line-height:28px;background:url(../images/xin_an2.jpg) no-repeat;float:left;border:none; cursor:pointer;}
.xin_con li a{margin-top:30px;float:right;margin-left:10px;outline:none;}


.content_title p{width:76px;height:24px;position:relative;float:left;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;position:absolute;right:0;top:0;display:block;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 */

