

.content_title p{width:76px;height:24px;position:relative;float:left;margin-right:5px;}
.content_title .xinjian_wz{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .xinjian_XX{width:8px;height:8px;background:none;position:absolute;right:0;top:3px;display:block;}
.content_title .xinjian_XX:link {height:8px;border:0;line-height:8px;background:none;color: #000}     /* 未访问的链接 */
.content_title .xinjian_XX:visited {height:8px;border:0;line-height:8px;background:none;color:#000;}  /* 已访问的链接 */
.content_title .xinjian_XX:hover {height:8px;border:0;line-height:8px;background:none;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title .xinjian_XX:active {height:8px;border:0;line-height:8px;background:none;color: #fff}   /* 被选择的链接 */


.content_title{width:100%;height:23px;}
.titile{margin:0 10px;height:23px;border-bottom:1px solid #dfdfdf;}
.content_title a{width:76px;height:24px;line-height:24px;float:left;text-align:center;margin-right:2px;color:#666666;background:url(../images/index_title_bg.jpg) no-repeat;}
.content_title a:link {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg.jpg) no-repeat;color: #000}     /* 未访问的链接 */
.content_title a:visited {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg2.jpg) no-repeat;color:#000;}  /* 已访问的链接 */
.content_title a:hover {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg2.jpg) no-repeat;color: #000;}    /* 当有鼠标悬停在链接上 */
.content_title a:active {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg1.jpg) no-repeat;color: #fff}   /* 被选择的链接 */


.content_title .index_dangqian{width:76px;height:24px;border:0;line-height:24px;color:#FFF;background:url(../images/index_title_bg1.jpg) no-repeat;}
.content_title .index_dangqian:link {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg1.jpg) no-repeat;color:#FFF}     /* 未访问的链接 */
.content_title .index_dangqian:visited {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg1.jpg) no-repeat;color:#FFF}  /* 已访问的链接 */
.content_title .index_dangqian:active {height:24px;border:0;line-height:24px;background:url(../images/index_title_bg1.jpg) no-repeat;color:#FFF}   /* 被选择的链接 */


.content_index{width:100%;height:100%;display:inline-block;clear:both;position:relative;margin-top:10px;}
.content_index_news{margin-left:10px;width:auto;height:100%;margin-right:196px;float:left;display:inline;}
.content_index_news li{width:50%;height:auto;float:left;}
.content_news1{width:auto;height:255px;float:left;margin-bottom:10px;position:relative;z-index:9999;margin-right:10px;}

.content_index_news_left{width:10px;height:255px;background:url(../images/index_news_left.jpg) no-repeat;position:absolute;left:0;top:0;}
.content_index_news_center{width:100%;height:255px;background:url(../images/index_news_center.jpg) repeat-x;}
.content_index_news_right{width:10px;height:255px;background:url(../images/index_news_right.jpg) no-repeat top right;position:absolute;right:0px;top:0;}


.content_news1_title{height:34px;line-height:34px;width:100%;float:left;padding-left:10px;}
.content_news1_title a{font-size:14px;color:#FFF;font-weight:bold;}
.content_news1_title p{float:left;}
.content_news1_title span{float:right;margin-right:20px;display:inline;color:#fed6d6;}
.content_news1_title span a{font-size:12px;font-weight:normal;color:#fed6d6;}
.content_news1_title span a:hover{font-weight:bold;font-size:14px;color:#FFF;}
.content_news1_title span .dangqian{font-weight:bold;font-size:14px;color:#FFF;}

.content_news1_con{float:left;width:auto;padding-left:10px;overflow:hidden}
.content_news1_con li{width:100%;height:31px;line-height:31px;float:left;border-bottom:1px dashed #CCC;}
.content_news1_con li span{float:right;margin-right:20px;color:#aaa;font-size:12px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;display:inline;}
.content_news1_con img{margin-top:15px;margin-right:5px;float:left;}
.content_news1_con li a{color:#333;float:left;}
.content_news1_con li a:hover{color:#c90d00;}
.content_news1_con .content_news1_more{width:100%;height:30px;line-height:30px;float:right;font-family:"宋体";text-align:right;display:inline;border-bottom:0px;text-align:right;}
.content_news1_con .content_news1_more a{float:right;color:#aaaaaa;margin-right:17px;display:inline;}
.content_news1_con .content_news1_more a:hover{color:#ff2400;text-decoration:underline;}



.content_news2{width:auto;height:255px;float:left;margin-bottom:10px;position:relative;z-index:9999;margin-right:10px;}
.content_news2_title{height:33px;line-height:33px;width:100%;padding-left:10px;}
.content_news2_title a{font-size:14px;color:#FFF;font-weight:bold;}
.content_news2_con{float:left;width:100%;overflow:hidden}
.content_news2_con li{width:100%;height:31px;line-height:31px;float:left;padding-left:10px;border-bottom:1px dashed #CCC;}
.content_news2_con li span{float:right;margin-right:20px;color:#aaa;font-size:12px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;display:inline;}
.content_news2_con li a{color:#333;float:left;}
.content_news2_con li a:hover{color:#c90d00;}
.content_news2_con img{margin-top:15px;margin-right:5px;float:left;}
.content_news2_con .content_news1_more{width:100%;height:30px;line-height:30px;float:right;font-family:"宋体";text-align:right;display:inline;border-bottom:0px;text-align:right;}
.content_news2_con .content_news1_more a{float:right;color:#aaaaaa;margin-right:17px;display:inline;}
.content_news2_con .content_news1_more a:hover{color:#ff2400;text-decoration:underline;}


.content_news3{width:auto;height:255px;float:left;margin-right:10px;margin-bottom:10px;position:relative;z-index:9999;background:#FFF;}
.content_news4{width:auto;height:255px;float:left;margin-bottom:10px;position:relative;z-index:9999;background:#FFF;margin-right:10px;}

.content_you{width:186px;height:100%;float:right;background:#f6f6f6;margin-right:10px;position:absolute;right:0;top:0px;display:inline-block;clear:both;padding:0;}
.content_you li{width:186px;line-height:34px;height:auto;background:url(../images/index_right_title_bg1.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0;}
.content_you li:link {background:url(../images/index_right_title_bg1.jpg) no-repeat;}    
.content_you li:visited {background:url(../images/index_right_title_bg1.jpg) no-repeat;} 
.content_you li:hover {background:url(../images/index_right_title_bg2.jpg) repeat-x;}   
.content_you li:active {background:url(../images/index_right_title_bg.jpg) repeat-x;}

.content_you li a{width:166px;padding:0 10px;line-height:34px;background:url(../images/index_right_sanjiaoxing1.jpg) 170px 13px no-repeat;float:left;color:#000;font-size:14px; font-weight:bold;}
.content_you li a:link {color:#000;}    
.content_you li a:visited {color:#000;} 
.content_you li a:hover{width:166px;padding:0 10px;line-height:34px;background:url(../images/index_right_sanjiaoxing2.jpg) 170px 13px no-repeat;color:#009883;}
.content_you li a:active{color:#FFF;background:url(../images/index_right_sanjiaoxing.jpg) 170px 13px no-repeat;}


.content_you .content_dq{width:186px;height:auto;line-height:34px;background:url(../images/index_right_title_bg.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;color:#FFF;}
.content_you .content_dq:hover{background:url(../images/index_right_title_bg.jpg) repeat-x;color:#FFF;}



.content_you .content_dq a{width:166px;padding:0 10px;line-height:34px;background:url(../images/index_right_sanjiaoxing.jpg) 170px 13px no-repeat;float:left;font-size:14px; font-weight:bold;color:#FFF;}
.content_you .content_dq a:hover{width:166px;padding:0 10px;line-height:34px;color:#FFF;background:url(../images/index_right_sanjiaoxing.jpg) 170px 13px no-repeat;}
.content_you .content_dq a:active{color:#FFF;}
.content_you .content_dq a:visited{color:#FFF;}



.dq_con{height:auto;width:auto;padding:0 10px;float:left;}
.content_you .dq_con a{height:auto;width:100%;line-height:22px;margin:0;padding:0;background:url(../images/right_line.jpg) repeat-x bottom left;font-size:12px;font-weight:normal;color:#666;}
.content_you .dq_con a:link {color:#666;background:url(../images/right_line.jpg) repeat-x bottom left;}  
.content_you .dq_con a:visited {color:#666;background:url(../images/right_line.jpg) repeat-x bottom left;} 
.content_you .dq_con a:hover{height:auto;width:100%;line-height:22px;background:url(../images/right_line.jpg) repeat-x bottom left;font-size:12px;margin:0;padding:0;font-weight:normal;color:#ff2400;}
.content_you .dq_con a:active{height:auto;width:100%;line-height:22px;background:url(../images/right_line.jpg) repeat-x bottom left;font-size:12px;margin:0;padding:0;font-weight:normal;color:#666;}


.content_you .dq_more{width:100%;float:right;margin-right:10px;font-family:"宋体";text-align:right;display:inline;color:#aaaaaa;}
.content_you .content_dq .dq_more a{color:#aaaaaa;float:right;background:none;font-size:12px; font-weight:normal;}
.content_you .dq_more a:hover{color:#ff2400;text-decoration:underline;background:none;font-size:12px;font-weight:normal;}
