.juese{width:auto;height:100%;position:relative;}
.juese_left{width:400px;height:100%;position:absolute;left:0px;top:0;border-right:1px solid #e3e3e3;}
.juese_left_title{width:auto;height:44px;line-height:44px;background:#f6f6f6;padding:0 10px;border-bottom:1px solid #e3e3e3;}
.juese_left_title a{width:63px;height:24px;line-height:24px;background:url(../../../resource/auther/images/juese/juese_an1.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}
.juese_left_title a:hover,.juese_left_title a:hover{ text-decoration:underline;}
.juese_left_con td{cursor:pointer;}
.juese_left_con{width:400px;height:100%;overflow:auto;border-right:1px solid #e3e3e3;}
.juese_left_con .ts{font-weight:bold;color:#333333;}
.juese_left_con .ts1 p{width:220px;height:24px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.juese_left_con td{height:24px;line-height:24px;color:#666;border-buttom:1px solid #CCC;}

/***********角色名背景颜色****************/
.juese_left_con .beijing1{background:#fff;}
.juese_left_con .beijing2{background:#eee;}
.juese_left_con .beijing3{background:#ddd;}
/***********鼠标点击或悬浮样式****************/
.hover{background-color:#CCC;}
.visited{background-color:#CCC;}
.des_role{background:url(../images/top_bg.jpg) repeat-x;color:#000;}
.even_role{text-align: center;}
/***********角色名背景颜色****************/
.des_role{background:url(../images/top_bg.jpg) repeat-x;}
.juese_right{width:auto;height:auto;clear:both;margin:0 0px 0 400px;display:block;border-left:0px solid #e3e3e3;border-top:none;}
.juese_right_bg{width:100%;height:auto;display:inline-block;}
.juese_right1{width:100%;height:100%;float:left;}
.juese_right1_title{width:100%;height:21px;line-height:21px;background:url(../../../resource/auther/images/juese/juese_title_bg.jpg) repeat-x;float:left;}
.juese_right1_title a{padding-left:10px;color:#FFF;font-weight:bold;}
.juese_right1_con{width:100%;height:auto;background:#fbfbfb;float:left;}
.juese_right1_con ul{clear:both;width:auto;padding-right:10px;}
.juese_right1_con li{width:100%;height:auto;float:left;margin-top:8px;position:relative;}
.juese_right1_con p{width:60px;height:30px;line-height:30px;text-align:center;position:absolute;left:0;top:0;}
.juese_right1_con b{width:auto;height:auto;border:1px solid #c2c2c2;padding:0 3px;margin:0 0 0 60px;display:block;}
.juese_right1_con input{width:100%;height:28px;line-height:28px;background:none;border:none;color:#666;}
.juese_right1_con textarea{width:100%;resize:none;height:44px;line-height:24px;font-size:12px;background:none;border:none;color:#666;}
.juese_right1_con a input{margin-bottom:10px;background:url(../../../resource/auther/images/juese/juese_an2.jpg) no-repeat;width:49px;line-height:22px;height:22px;display:block;float:right;margin-right:20px;color:#FFF;border:none; cursor:pointer;}
/***********分页样式****************/
.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:10px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:1px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
/***********分页样式end****************/
.juese_right2{width:100%;height:100%;float:left;}
.juese_right2_title{width:100%;height:21px;line-height:21px;background:url(../../../resource/auther/images/juese/juese_title_bg.jpg) repeat-x;float:left;}
.juese_right2_title a{padding-left:10px;color:#FFF;font-weight:bold;}
.juese_right2_title1{width:100%;height:30px;line-height:30px;background:#eef0f4;float:left;}
.juese_right2_title1 ul{padding-left:10px;}
.juese_right2_title1 li{padding-right:15px;float:left;}
.juese_right2_title1 a{float:left;}
.juese_right2_title1 img{margin-top:7px;margin-right:5px;float:left;}
.juese_right2_title1 a input{margin-bottom:10px;background:url(../../../resource/auther/images/juese/juese_an2.jpg) no-repeat;width:49px;margin-left:200px;margin-top:5px;height:22px;color:#FFF;border:none; cursor:pointer;}

.juese_right2_con{width:100%;height:353px;overflow-y:auto;overflow-x:hidden;background:#fbfbfb;float:left;}
.juese_right2_con ul{padding:0 10px;}
.dian1{width:100%;height:24px;line-height:24px;background:#da484a;color:#FFF;}
.dian1 img{margin-top:8px;float:left;margin-left:5px;display:inline;}
.dian1 input{margin-right:5px;margin-top:6px;float:left;margin-left:5px;display:inline;}

.dian2{width:100%;height:24px;line-height:24px;background:#FFF;color:#333333;}
.dian2 img{margin-top:8px;float:left;margin-left:32px;display:inline;}
.dian2 input{margin-right:5px;margin-top:6px;float:left;margin-left:5px;display:inline;}

.dian3{width:100%;height:24px;line-height:24px;background:#ece9e9;color:#333333;}
.dian3 img{margin-top:8px;float:left;margin-left:5px;display:inline;}
.dian3 input{margin-right:5px;margin-top:6px;float:left;margin-left:5px;display:inline;}

.dian4{width:100%;height:24px;line-height:24px;background:#fbfbfb;color:#333333;}
.dian4 img{margin-top:8px;float:left;margin-left:5px;display:inline;}
.dian4 input{margin-right:5px;margin-top:6px;float:left;margin-left:5px;display:inline;}

.juese_right2_con .anniu a input{margin-bottom:10px;background:url(../../../resource/auther/images/juese/juese_an2.jpg) no-repeat;width:49px;line-height:22px;height:22px;display:block;float:right;color:#FFF;border:none; cursor:pointer;}




.juese_right3{width:100%;height:100%;float:left;cursor:pointer;}
.juese_right3_title{cursor:pointer;width:100%;height:21px;line-height:21px;background:url(../../../resource/auther/images/juese/juese_title_bg1.jpg) repeat-x;float:left;}
.juese_right3_title a{padding-left:10px;color:#333333;font-weight:bold;cursor:pointer;}


.ssuo{width:210px;height:22px;line-height:22px;border:1px solid #CCC;background:#FFF;padding:0;margin:0;margin-top:3px;}
.ssuo a{margin:0;padding:0;}
.ssuo img{width:23px;height:22px;margin:0;}
.ssuo input{margin:0;padding:0;background:none;border:none;padding:0 3px;width:181px;color:#666;font-size:12px;}

