@CHARSET "UTF-8";
body{margin:0 auto;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
table{border-right:1px solid #CCC;border-bottom:1px solid #CCC} 
table td{border-left:1px solid #CCC;border-top:1px solid #CCC}
#role_manager{border:1px solid #999999; width:100%;height:100%;}

#left_role {width:36%;height:500px;}
#left_role .rolelist{background-color:#CCCCCC;}
#submit{ margin-bottom:6px;}
#rolename{ margin-bottom:6px;}
#roledesc{ margin-bottom:6px; width:270px; height:50px; margin-left:60px; margin-top:-15px;}
#role_title{ text-align: left; width:100%;} 
.des_role{background:url(../images/top_bg.jpg) repeat-x;}
.descrole{width:300px;}
.rolename{width:270px;}
.hover{background-color: #CCCCCC;}
.visited{background-color: #CCCCCC;}
.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:10px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:1px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}

#center_role{width:30%;height:500px;border-left:1px solid #999999;border-right:1px solid #999999;margin-left:36%;margin-top:-500px;}
#center_role .roleinfo{background-color:#CCCCCC;}

#right_role {width:34%;height:500px; margin-top:-500px; margin-left:66.15%}
#right_role .roleperms{background-color:#CCCCCC; margin-top:-30px;}
.right_title{ cursor:pointer; margin-bottom:3px;}
.permtitle{ width:100%; background-color:#CCCCCC;}
.permtree{ display:none;width:100%;height:350px;overflow:auto; }
.searchobject{width:183px;height:25px;border:1px solid #CCC;margin-top:5px;}
.searchobject img{width:23px;height:22px;float:left;}
.searchobject input{width:160px;height:22px;float:left; border:0px;margin-left:23px;margin-top:-22px;font-size:12px;color:#666;}


