.shezhi_title{width:auto;height:34px;color:#a80d13;line-height:34px;background:#f6f6f6;padding-left:10px;font-size:14px;font-weight:bold;}


.shezhi_con{width:auto;margin:0 10px;height:auto;}

.shezhi_con_nr{background:#FFF;width:100%;height:auto;}
.shezhi_con_nr ul{clear:both;padding:0 10px;}

.shezhi_left{width:30%;height:175px;float:left;padding-left:10%;}
.shezhi_left ul{padding-top:10px;}
.shezhi_left li{width:100%;height:24px;line-height:24px;}
.shezhi_left .hongse{background:#c22a2c;margin:10px 0;width:122px;height:80px;border:1px solid #d7d7d7;text-align:left;}
.shezhi_left .hongse1{font-weight:bold;text-align:left;}
.shezhi_left .hongse1 span{color:#c22a2c;}
.shezhi_left li{text-align:center;width:122px;}


.shezhi_center{width:30%;height:105px;float:left;}
.shezhi_center ul{padding-top:10px;}
.shezhi_center li{width:100%;height:24px;line-height:24px;}
.shezhi_center .hongse{background:#004da7;margin:10px 0;width:122px;height:80px;border:1px solid #d7d7d7;text-align:left;}
.shezhi_center .hongse1{font-weight:bold;text-align:left;}
.shezhi_center .hongse1 span{color:#004da7;}
.shezhi_center li{text-align:center;width:122px;}


.shezhi_right{width:30%;height:105px;float:left;}
.shezhi_right ul{padding-top:10px;}
.shezhi_right li{width:100%;height:24px;line-height:24px;}
.shezhi_right .hongse{background:#009883;margin:10px 0;width:122px;height:80px;border:1px solid #d7d7d7;text-align:left;}
.shezhi_right .hongse1{font-weight:bold;text-align:left;}
.shezhi_right .hongse1 span{color:#009883;}
.shezhi_right li{text-align:center;width:122px;}



.shezhi_left1{width:30%;height:105px;float:left;padding-left:5%;}
.shezhi_left1 ul{padding-top:10px;}
.shezhi_left1 li{width:100%;height:30px;line-height:30px;float:left;}
.shezhi_left1 span{width:90px;float:left;height:30px;overflow:hidden;}
.shezhi_left1 input{margin-right:5px;margin-top:9px;_margin-top:4px;*+margin-top:3px;float:left;}
.shezhi_left1 select{width:52px;heihgt:14px;line-height:14px;border:1px solid #cccccc;padding:4px;margin-left:5px;margin-top:6px;float:left;display:inline;_margin-top:4px;*+margin-top:3px;}

.shezhi_center1{width:30%;height:105px;float:left;}
.shezhi_center1 ul{padding-top:10px;}
.shezhi_center1 li{width:100%;height:30px;line-height:30px;float:left;}
.shezhi_center1 span{width:90px;height:30px;float:left;overflow:hidden;}
.shezhi_center1 input{margin-right:5px;margin-top:9px;_margin-top:4px;*+margin-top:3px;float:left;}
.shezhi_center1 select{width:52px;heihgt:14px;line-height:14px;border:1px solid #cccccc;padding:4px;margin-left:5px;margin-top:6px;float:left;display:inline;_margin-top:4px;*+margin-top:3px;}


.shezhi_right1{width:30%;height:105px;float:left;}
.shezhi_right1 ul{padding-top:10px;}
.shezhi_right1 li{width:100%;height:30px;line-height:30px;float:left;}
.shezhi_right1 span{width:100px;float:left;height:30px;overflow:hidden;}
.shezhi_right1 input{margin-right:5px;margin-top:9px;_margin-top:4px;*+margin-top:3px;float:left;}
.shezhi_right1 select{width:52px;heihgt:14px;line-height:14px;border:1px solid #cccccc;padding:4px;margin-left:5px;margin-top:6px;_margin-top:2px;*+margin-top:1px;float:left;display:inline;}

.shezhi_right2{width:30%;height:205px;margin-left: 50px;}
.shezhi_right2 ul{padding-top:10px;}
.shezhi_right2 li{width:100%;height:30px;line-height:30px;float:left;}
.shezhi_right2 span{width:100px;float:left;height:30px;overflow:hidden;}
.shezhi_right2 input{margin-right:5px;margin-top:9px;_margin-top:4px;*+margin-top:3px;float:left;}
.shezhi_right2 select{width:52px;heihgt:14px;line-height:14px;border:1px solid #cccccc;padding:4px;margin-left:5px;margin-top:6px;_margin-top:2px;*+margin-top:1px;float:left;display:inline;}



.anniu{width:auto;margin:0 10px;height:auto;}
.anniu .an1{background:url(../images/gaoji/ggzs_bg2.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:right;color:#FFF;margin-left:10px;border:none;display:inline;cursor:pointer;margin-bottom:10px;}
.anniu .an2{background:url(../images/gaoji/ggzs_bg1.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:right;color:#FFF;border:none;margin-right:5%;margin-left:10px;display:inline;cursor:pointer;margin-bottom:10px;}




#sortable1, #sortable2 { list-style-type: none; margin: 0; padding: 0 0 2.5em;  margin-right: 10px;float:left; width:100%;}
#sortable1 li, #sortable2 li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; float:left; }
#sortable1 li {width:43%;height:120px;line-height:120px;text-align:center;border:solid #ccc;color:#333;background-repeat: no-repeat;background-position:center center;}
#sortable2 li {width:98%;height:30px;line-height:30px;text-align:center;border:solid #ddd;color:#666;}
