


/**********************************弹框********************************/
.userShade{position:absolute;width:441px;height:auto;display:inline-block;}
.userShade_d{width:421px;height:auto;display:inline-block;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);background:#000;/*实现IE背景透明*/}

.userShade_dan{position:relative;width:419px;height:100%;display:inline-block;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;}

.userShade_dan_title{width:100%;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;}
.userShade_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.userShade_dan_title a{float:right;height:38px;width:30px;}
.userShade_dan_title a img{margin-top:11px;}

.userShade_dan_con{width:100%;height:auto;padding-top:5px;margin-bottom:15px;height:auto;}
.userShade_dan_con ul{width:auto;display:block;padding:0 20px;clear:both;}
.userShade_dan_con li{width:auto;height:30px;line-height:30px;margin-bottom:10px;}
.userShade_dan_con li span{width:60px;color:#333;float:left;}
.userShade_dan_con li p{width:auto;float:left;margin-top:3px;padding-right:100px;}
.userShade_dan_con li input{width:150px;padding-left:3px;height:24px;line-height:24px;border:1px solid #CCC;}
.userShade_dan_con .anniu{width:auto;height:30px;line-height:30px;margin-bottom:10px;}
.userShade_dan_con a{float:right;margin-left:12px;}
.userShade_dan_con .userShade_aa2{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;border:none;cursor:pointer;}
.userShade_dan_con .userShade_aa1{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg1.jpg) no-repeat;border:none;cursor:pointer;}

.userShade_dan_con li .riqi{position:relative;}