.gonggao_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gonggao_titile_left{float:left;font-weight:bold;color:#666;}
.gonggao_titile_left span{color:#a80d13;}
.gonggao_titile_right{float:right;}
.gonggao_titile_right a{width:67px;height:28px;line-height:28px;background:url(../images/gonggao_bg.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}
.gonggao_titile_right a:hover,.gonggao_titile_right a:active{color:#fff;}


.yonghu_titile{height:41px;line-height:41px;background:#edecec;border-top:1px solid #e3e3e3;margin:0 10px;}
.yonghu_titile li{width:auto;height:41px;line-height:41px;float:left;padding-left:15px;color:#666;}
.yonghu_titile li input{width:86px;height:22px;line-height:22px;border:1px solid #cccccc;padding-left:2px;}
.yonghu_titile .anniu{width:auto;height:30px;line-height:30px;margin-bottom:10px;}
.yonghu_titile a{float:right;margin-left:12px;background:url(../images/yonghu/yonghu_an1.jpg) no-repeat;width:58px;height:24px;line-height:24px;margin-top:8px;color:#FFF;text-align:center; cursor:pointer;}
.yonghu_titile a:hover,.yonghu_titile a:active{background:url(../images/yonghu/yonghu_an2.jpg) no-repeat;color:#FFF;}
.yonghu_titile a input{border:none;background:none;color:#FFF;cursor:pointer;width:58px;text-align:center;}

.gonggao_con{width:auto;margin:0 10px;}

.gonggao_con_nr{background:#FFF;width:100%;height:426px;}
.gonggao_con_nr table{border-right:1px solid #edecec;}
.gonggao_con_nr .tdbg{background:#fff9f9;font-weight:bold;color:#333333;}
.gonggao_con_nr .tdbg td{color:#333333;font-weight:bold;}
.gonggao_con_nr td{word-break:break-all;border:1px solid #edecec;border-top:none;border-right:none;color:#666;line-height:33px;text-align:center;}
.gonggao_con_nr .trfen{background:#fff9f9;}

.gonggao_con_nr_fenye{width:500px;margin:0 auto;height:43px;line-height:43px;text-align:center;}
.gonggao_con_nr_fenye span{height:43px;line-height:43px;color:#666666;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";float:left;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;margin-top:10px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";float:left;}
.gonggao_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}

/**********************************分页********************************/
.gonggao_con_nr_fenye .dangqian{height:22px;line-height:22px;color:#a70e10;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dangqian:hover{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.gonggao_con_nr_fenye .dangqian:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}

.gonggao_con_nr_fenye .an1{height:28px;line-height:28px;width:67px;color:#FFF;margin-left:10px;display:inline-block;padding:0;font-family:"宋体";border:none;background:none;margin-top:7px;float:left;display:inline;}
.gonggao_con_nr_fenye .an1:hover,.gonggao_con_nr_fenye .an1:active{border:none;background:none;}
.gonggao_con_nr_fenye .an1 .fkui_aa2{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg1.jpg) no-repeat;border:none;cursor:pointer;}
.gonggao_con_nr_fenye .an1 .fkui_aa1{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;border:none;cursor:pointer;}

/**********************************弹框********************************/
.gonggao_d{width:461px;height:437px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
background:#000;/*实现IE背景透明*/}
.gonggao_dan{width:461px;height:437px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.gonggao_dan_title{width:461px;height:38px;line-height:38px;background:#c1282a;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.gonggao_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.gonggao_dan_title a{float:right;height:38px;width:30px;}
.gonggao_dan_title a img{margin-top:11px;}
.gonggao_dan_con{width:421px;padding:0 20px;padding-top:5px;height:319px;float:left;}
.gonggao_dan_con li{margin-top:10px;float:left;width:421px;}
.gonggao_dan_con li b{width:60px;font-weight:normal;height:22px;line-height:22px;float:left;}
.gonggao_dan_con li input{width:356px;height:22px;line-height:22px;border:1px solid #CCC;color:#666;padding-left:3px;font-size:14px;float:left;}
.gonggao_dan_con li textarea{resize:none;width:356px;height:123px;line-height:24px;color:#666;border:1px solid #CCC;font-size:14px;padding:0;padding-left:3px;float:left;}
.gonggao_dan_con li select{width:122px;height:auto;line-height:22px;color:#666;border:1px solid #CCC;font-size:14px;padding:3px;float:left;}
.gonggao_dan_con label{float:left;height:22px;line-height:22px;margin-right:15px;}
.gonggao_dan_con label input{width:20px;border:none;}
.gonggao_dan_con li p{width:120px;height:22px;line-height:22px;float:left;border:1px solid #CCC;margin-right:10px;margin-top:0px;}
.gonggao_dan_con li p img{margin-right:5px;margin-top:-2px;}
.gonggao_dan_con li p a{float:right;margin-left:10px;margin-top:8px;}
.gonggao_dan_con a{float:right;margin-left:10px;}
.gonggao_dan_con .gonggao_an1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/gonggao_an1.jpg) no-repeat;border:none;cursor:pointer;}
.gonggao_dan_con .gonggao_an2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}