.xinxi_con{width:auto;height:520px;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}

.xinxi_con_title{width:auto;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;position:relative;}
.xinxi_con_kong{width:148px;height:100%;padding:0 5px;position:absolute;left:0;top:0;float:left;}
.xinxi_con_title_bt{width:auto;height:100%;margin-left:158px;}
.xinxi_con_title_bt h1{width:25%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.xinxi_con_title_bt h1 b{}
.xinxi_con_title_bt h2{width:25%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.xinxi_con_title_bt h3{width:25%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}
.xinxi_con_title_bt h4{width:25%;font-size:14px;font-weight:bold;float:left;color:#a70f0e;text-align:center;}

.xinxi_con_nr{background:#FFF;width:100%;height:100%;position:relative;}
.xinxi_con_nr_left{width:200px;height:100%;padding:0 5px;border-right:1px solid #e3e3e3;position:absolute;left:0;top:0;float:left;overflow-x:auto;overflow-y:auto;}
.xinxi_con_nr_left .xinxi_biaoti span a{background:none;}
.xinxi_con_nr_left .xinxi_biaoti span a:active{background:url(../images/index_right_title_bg.jpg) repeat-x;}

.xinxi_biaoti1{width:147px;line-height:34px;height:100%;background:url(../images/index_right_title_bg.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0; cursor:pointer;}
.xinxi_biaoti1 img{margin-top:13px;margin-left:5px;float:left;}
.xinxi_biaoti1:hover{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}   
.xinxi_biaoti1:active{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}
.xinxi_biaoti1 a{width:147px;color:#FFF;font-size:14px;font-weight:bold;padding-left:5px;line-height:34px;height:34px;}
.xinxi_biaoti1 a:hover{width:147px;line-height:34px;height:34px;color:#FFF;}
.xinxi_biaoti1 a:active{width:147px;line-height:34px;height:34px;color:#FFF;padding-left:5px;}

.xia{height:auto;width:auto;background:#f6f6f6;border-top:1px solid #d1d1d1;}
.xia li{height:22px;line-height:22px;width:auto;color:#333;}

.xia a{font-size:12px;width:auto;display:block;font-weight:normal;height:22px;line-height:22px;color:#666;background:none;padding-left:30px;}
.xia a:hover{height:22px;line-height:22px;font-size:12px;width:auto;font-weight:normal;color:#333;background:#ece9e9;}
.xia a:active{padding-left:30px;height:22px;line-height:22px;font-size:12px;width:auto;font-weight:normal;color:#FFF;background:#db6767;}

.xinxi_con_nr_left .xinxi_biaoti{width:147px;line-height:34px;height:34px;background:url(../images/index_right_title_bg1.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0; cursor:pointer;}
.xinxi_con_nr_left .xinxi_biaoti img{margin-top:12px;margin-left:5px;float:left;}

.xinxi_con_nr_left .xinxi_biaoti a{width:128px;color:#000;font-size:14px;font-weight:bold;background:url(../images/index_right_title_bg1.jpg) repeat-x;padding-left:19px;display:block;}
.xinxi_con_nr_left .xinxi_biaoti a:hover{width:128px;color:#a50e10;padding-left:19px;}
.xinxi_con_nr_left .xinxi_biaoti a:active{width:128px;color:#FFF;background:url(../images/index_right_title_bg.jpg) repeat-x;padding-left:19px;}



.xinxi_con_nr_right{width:auto;height:100%;margin-left:200px;padding-top:20px;}


.zuzhi{width:338px;height:250px;margin-left:20px;border:1px solid #bebebe;padding-top:10px;}
.zuzhi li{width:100%;height:auto;line-height:30px;display:block;margin-top:10px;float:left;}
.zuzhi span{width:70px;height:30px;line-height:30px;text-align:right;float:left;}
.zuzhi p{float:left;}
.zuzhi p input{height:28px;line-height:28px;border:1px solid #bebebe;width:247px;font-size:12px;color:#666;padding-left:3px;}
.zuzhi p textarea{height:73px;line-height:24px;border:1px solid #bebebe;width:247px;font-size:12px;color:#666;padding-left:3px;}
.zuzhi .anniu{width:auto;height:30px;line-height:30px;margin-top:10px;float:right;}
.zuzhi a{float:right;margin-right:17px;display:inline;}
.zuzhi .fkui_aa2{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg2.jpg) no-repeat;border:none;cursor:pointer;}
.zuzhi .fkui_aa1{width:67px;height:28px;line-height:28px;float:left;color:#FFF;background:url(../images/fankui/ggzs_bg1.jpg) no-repeat;border:none;cursor:pointer;}

