/****************浮层*****************/
body{width:100%;height:500px;}
.perm_d{width: 300px;height : 200px; position: absolute;top:0;left: 0; font-size: 12px;z-index: 10456;background-color: white;display: none;}
.perm_d .perm_d_t{height: 25px;line-height:25px;background-color: gray;}
.perm_d .perm_d_t span{float: left;color: white;margin-left: 2px;}
.perm_d .perm_d_t a{float: right;margin-right: 2px;cursor: pointer;color: white;}
.perm_d .perm_d_c{padding-left: 5px;}
.name{margin-left:9px;}
.perm_d .perm_d_u{padding-left: 5px;}
.update_name{margin-left:9px;}
/****************右键菜单**************/
div#rMenu {position:absolute;visibility:hidden; top:0; background-color:#999;width:140px;}
div#rMenu ul{margin-right:30px;}
div#rMenu ul li{cursor: pointer;list-style: none outside none;}
.hover{background-color: #DFDFDF;}