
.save_user_div{width:400px;height:300px;position:absolute;top:0;left: 0; font-size: 12px;z-index: 10456;background-color: white;display: none;}
.save_user_div .save_user_div_t{height:25px;line_height:25px;background-color: gray;}
.save_user_div .save_user_div_t span{float: left;color: white;margin-left: 2px;}
.save_user_div .save_user_div_t a{float: right;margin-right: 2px;cursor: pointer;color: white;}
.save_user_div .save_user_div_c{padding-left: 20px;padding-top: 10px;}

table{border-right:1px solid #CCC;border-bottom:1px solid #CCC} 
table td{border-left:1px solid #CCC;border-top:1px solid #CCC}
.users{background-color: red;}
.hover{background-color: #CCCCCC;}
.visited{background-color: #CCCCCC;}