.xinxi_con{width:auto;height:520px;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}

.xinxi_con_title{width:auto;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;position:relative;}
.xinxi_con_kong{width:148px;height:100%;padding:0 5px;position:absolute;left:0;top:0;float:left;}
.xinxi_con_title_bt{width:auto;height:100%;margin-left:158px;}
.xinxi_con_title_bt h1{width:25%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.xinxi_con_title_bt h1 b{}
.xinxi_con_title_bt h2{width:25%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.xinxi_con_title_bt h3{width:25%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}
.xinxi_con_title_bt h4{width:25%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}

.xinxi_con_nr{background:#FFF;width:100%;height:426px;position:relative;}
.xinxi_con_nr_left{width:147px;height:100%;padding:0 5px;border-right:1px solid #e3e3e3;position:absolute;left:0;top:0;float:left;}
.xinxi_con_nr_left .xinxi_biaoti span a{background:none;}
.xinxi_con_nr_left .xinxi_biaoti span a:active{background:none;}

.xinxi_con_nr_left .xinxi_biaoti1{width:147px;line-height:34px;background:url(../images/index_right_title_bg.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0; cursor:pointer;}
.xinxi_con_nr_left .xinxi_biaoti1:link{width:147px;background:url(../images/index_right_title_bg.jpg) no-repeat;}    
.xinxi_con_nr_left .xinxi_biaoti1:visited{width:147px;background:url(../images/index_right_title_bg.jpg) no-repeat;} 
.xinxi_con_nr_left .xinxi_biaoti1:hover{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}   
.xinxi_con_nr_left .xinxi_biaoti1:active{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}
.xinxi_con_nr_left .xinxi_biaoti1 a{width:147px;color:#FFF;font-size:14px;font-weight:bold;background:url(../images/left_ico2.jpg) no-repeat 5px 4px;padding-left:19px;line-height:34px;height:34px;}
.xinxi_con_nr_left .xinxi_biaoti1 a:link {width:147px;line-height:34px;height:34px;color:#FFF;background:url(../images/left_ico2.jpg) no-repeat 5px 4px;}    
.xinxi_con_nr_left .xinxi_biaoti1 a:visited{width:147px;line-height:34px;height:34px;color:#FFF;background:url(../images/left_ico2.jpg) no-repeat 5px 4px;} 
.xinxi_con_nr_left .xinxi_biaoti1 a:hover{width:147px;line-height:34px;height:34px;color:#FFF;background:url(../images/left_ico2.jpg) no-repeat 5px 4px;}
.xinxi_con_nr_left .xinxi_biaoti1 a:active{width:147px;line-height:34px;height:34px;color:#FFF;background:url(../images/left_ico2.jpg) no-repeat 5px 4px;padding-left:19px;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia{height:auto;background:#f6f6f6;border-top:1px solid #d1d1d1;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia li{height:22px;line-height:22px;width:auto;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia li:hover{background:#ece9e9;cursor:pointer;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia li:active{background:#6fb1ff;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia li:visited{background:#6fb1ff;}

.xinxi_con_nr_left .xinxi_biaoti1 .xia a{font-size:12px;width:auto;display:block;font-weight:normal;height:22px;line-height:22px;color:#666;background:none;padding-left:30px;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia a:link{font-size:12px;width:auto;font-weight:normal;color:#333;background:none}
.xinxi_con_nr_left .xinxi_biaoti1 .xia a:hover{font-size:12px;width:auto;font-weight:normal;color:#333;background:none;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia a:visited{font-size:12px;width:auto;font-weight:normal;color:#333;background:none;}
.xinxi_con_nr_left .xinxi_biaoti1 .xia a:active{font-size:12px;width:auto;font-weight:normal;color:#FFF;background:none;}


.xinxi_con_nr_left .xinxi_biaoti{width:147px;line-height:34px;height:34px;background:url(../images/index_right_title_bg1.jpg) repeat-x;border-bottom:1px solid #D1D1D1;float:left;padding:0; cursor:pointer;}
.xinxi_con_nr_left .xinxi_biaoti:link{width:147px;background:url(../images/index_right_title_bg1.jpg) no-repeat;}    
.xinxi_con_nr_left .xinxi_biaoti:visited{width:147px;background:url(../images/index_right_title_bg1.jpg) no-repeat;} 
.xinxi_con_nr_left .xinxi_biaoti:hover{width:147px;background:url(../images/index_right_title_bg2.jpg) repeat-x;}   
.xinxi_con_nr_left .xinxi_biaoti:active{width:147px;background:url(../images/index_right_title_bg.jpg) repeat-x;}
.xinxi_con_nr_left .xinxi_biaoti .xia{display:none;}


.xinxi_con_nr_left .xinxi_biaoti span a{background:none;}
.xinxi_con_nr_left .xinxi_biaoti span a:active{background:none;}
.xinxi_con_nr_left .xinxi_biaoti a{width:128px;color:#000;font-size:14px;font-weight:bold;background:url(../images/left_ico1.jpg) no-repeat 5px 11px;padding-left:19px;display:block;}
.xinxi_con_nr_left .xinxi_biaoti a:link {width:128px;color:#000;padding-left:19px;}    
.xinxi_con_nr_left .xinxi_biaoti a:visited{width:128px;color:#000;padding-left:19px;} 
.xinxi_con_nr_left .xinxi_biaoti a:hover{width:128px;color:#004da7;padding-left:19px;}
.xinxi_con_nr_left .xinxi_biaoti a:active{width:128px;color:#FFF;background:url(../images/left_ico2.jpg) no-repeat 5px 11px;padding-left:19px;}



.xinxi_con_nr_right{width:auto;height:100%;margin-left:158px;}
.xinxi_con_nr_con{width:100%;height:auto;display:inline-block;}
.xinxi_con_nr_con li{width:100%;height:30px;line-height:30px;float:left;}
.xinxi_con_nr_con li h1{font-size:12px;width:25%;font-size:12px;font-weight:normal;float:left;color:#c32a2c;text-align:center;}
.xinxi_con_nr_con li h1 a{font-size:12px;color:#c32a2c;}
.xinxi_con_nr_con li h1 a:hover{font-size:12px;color:#ff9501; text-decoration:underline;}
.xinxi_con_nr_con li h2{font-size:12px;width:25%;font-weight:normal;float:left;color:#666666;text-align:center;}
.xinxi_con_nr_con li h3{font-size:12px;width:25%;font-weight:normal;float:left;color:#666666;text-align:center;}
.xinxi_con_nr_con li h4{font-size:12px;width:25%;font-weight:normal;float:left;color:#666666;text-align:center;}

.xinxi_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.xinxi_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #f4e6e6;color:#a70e10;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.xinxi_con_nr_fenye a:hover{border:1px solid #f4e6e6;color:#d00c0d;background:#FFF; text-decoration:underline;}
.xinxi_con_nr_fenye a:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}

.xinxi_con_nr_fenye .dang{height:22px;line-height:22px;color:#a70e10;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.xinxi_con_nr_fenye .dang:hover{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}
.xinxi_con_nr_fenye .dang:active{border:1px solid #f7a3a3;color:#a30f0f;background:#f7edec; text-decoration:none;}




/**********************************弹框********************************/
.xinxi_d{width:421px;height:357px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
filter:Alpha(opacity=50);background:#000;/*实现IE背景透明*/; display:none;}
.xinxi_dan{width:421px;height:357px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.xinxi_dan_title{width:421px;height:38px;line-height:38px;background:#004da7;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.xinxi_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.xinxi_dan_title a{float:right;height:38px;width:30px;}
.xinxi_dan_title a img{margin-top:11px;}
.xinxi_dan_con{width:381px;padding:0 20px;padding-top:5px;height:319px;float:left;}
.xinxi_dan_con li b{height:30px;line-height:30px;padding-left:10px;}
.xinxi_dan_con input{width:376px;height:28px;line-height:28px;border:1px solid #CCC;color:#666;padding-left:3px;font-size:14px;}
.xinxi_dan_con textarea{width:376px;height:54px;line-height:24px;color:#666;border:1px solid #CCC;font-size:14px;padding-left:3px;}
.xinxi_dan_con a{float:right;margin-left:10px;margin-top:8px;}
.xinxi_dan_con .xinxi_an1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an1.jpg) no-repeat;border:none;cursor:pointer;}
.xinxi_dan_con .xinxi_an2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}
.xinxi_dan_con .xinxi_an3{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an3.jpg) no-repeat;border:none;cursor:pointer;}



