@charset "utf-8";


.gztable01{
	background: #F3EFE5;
}
.gz-cn2{
	border: 1px solid #ebdcbe;
	background: #fffaf0;
}
.gzul > .active a, .gzul > .active a:hover{
	color: #3b2b0a;
}
.gzul li a, .gzul > .active a{
	color: #3b2b0a;
}
.gzul li a:hover{
	color: #666;
}
.gztable01 .gzul02 > .active a, .gztable01 .gzul02 > .active a:hover{
	background: #d7c7a6;
	color: #3b2b0a;
	border: 1px solid #d7c7a6;
}
.gztable01 .gzul02 li a{
	background: #f5f2eb;
	color: #333;
	border: 1px solid #f5f2eb;
}
.gztable01 .gzul02 li a:hover{
	color: #c67e18;
}
.gztable01 .gzform01 table{
	background-color: #d7c7a6;
	border: 0px solid #d7c7a6;
}
.gztable01 .gzform01 table td.question{
	color: #000000;
}
.gztable01 .gzform01 table td{
	background: #fff5e1;
}