.gztable02 {
	width: 100%;
	height: 33px;
	overflow: hidden;
	background-color: #4473c2;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.gztable02 li {
	width: 19%;
	height: 33px;
	float: left;
}

.gztable02 li a {
	width: 100%;
	height: 33px;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height: 33px;
}

.gztable02 li a:hover,.gztable02 li a:active {
	color: #333;
	background-color: #6d91cf;
}

.gztable01 { *
	position: static;
}

.gztable01 .gzul02 { *
	position: static; *
	float: left;
}

.gztable01 .gzform01 { *
	float: right; *
	margin-left: 10px;
}

.kbs-global-gztable-css {
	position: fixed;
	height: 33px;
	right: 10px;
	top: 300px;
	width: 100%;
	border: 1px double #C1CDCD;
	text-align: center;
	cursor: pointer;
	z-index: 3333;
}

.gzcontent .gz-cn2 {
	height: 380px;
	overflow: auto;
}

a.openAttachment  , a.showAttachment {
	color: #A1A1A1;
}
.layer_tl{
	display: none;
}
.layer_tlb {
	position: absolute;
	z-index: 99999;
	margin-top: 5px;
	border: #d0d0d0 solid 1px;
	background-color: #ffffff;
	width: 500px;
	padding: 10px;
	left: 52%;
}

.layer_tlb ul li {
	float: left;
	height: 18px;
	width: 46%;
}
.fl {
    display: inline;
    float: left;
}

.layer_tla {
    left: 74px;
    position: absolute;
    z-index: 10;
    left: 95%;
}
.layer_tlb .btn_qr {
    text-align:center;
    margin-top: 10px;
}

input {
	background: rgba(0, 0, 0, 0)
		-moz-linear-gradient(center top, #f1f1f1 5%, #ffffff 0%) repeat scroll
		0 0;
	height: 20px;
	line-height: 30px;
	padding: 0 0 0 10px;
}