/* CSS Document */
body{width:100%;font-family:Microsoft YaHei,'微软雅黑',SimHei,'黑体','Arial';  }
a:link{	-webkit-tap-highlight-color:rgba(0,0,0,0);/*禁止链接高亮*/-webkit-touch-callout:none;/*禁止链接长按弹出选项菜单*/ }
img {-webkit-touch-callout:none; border:none;/*禁止图片长按弹出选项菜单*/}
img.down {-webkit-user-select:text;-webkit-touch-callout:pop;}
input,textarea,select{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-user-select:text;}

.clear{clear:both;}
.none{display:none;}
.fl{display:inline;float:left!important;}
.fr{display:inline;float:right!important;}
a{text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
body,html{min-height:100%; font-size:14px;}
body,html,ol,ul,h1,h2,h3,h4,h5,h6,p,ul,li,th,td,dl,dd,form,fieldset,legend,input,textarea,select,span{margin:0;padding:0;}
*{outline:none;}
ul,li{ list-style-type:none;}

/*------------------------index.html------------------------------*/
.kbs-topbg{ background:url(../images/topbg.png) repeat-x; height:83px; position:absolute; top:0px; left:0px; width:100%; color:#FFFFFF; line-height:68px; font-size:24px; text-indent:14px;}
.kbs-blank{ height:80px; clear:both;}
.kbs-leftside{ background-color:#20232a; width:250px;min-height:1000px; clear:both;}
.kbs-leftcon{ width:240px;margin:0 auto; }

.kbs-leftcon ul{ margin-top:10px;}
.kbs-leftcon ul li{ background:url(../images/leftbg_11.jpg) no-repeat; width:240px; line-height:40px;overflow:hidden;}
.kbs-leftcon ul li a{ float:left; color:#ffffff;}
.kbs-leftcon ul li a:hover{ float:left; color:#ed6811;}
.kbs-leftcon ul li h1{ float:right; font-weight:400; font-size:12px; color:#ffffff;display:block; padding:0px 8px;  background-color:#15171c; border:#3a3f48 solid 1px; line-height:20px; margin-top:11px; border-radius:15px;box-shadow:5px 5px 5px #000 inset;  }
.kbs-leftcon ul li ul li{ background-color:#373940; background-image:none;  color:#abacac; display:block; width:240px; height:35px; line-height:35px; }
.kbs-leftcon ul li ul li a{ font-size:12px; text-indent:50px; display:block; width:240px; height:35px;}
.kbs-leftcon ul li ul li a:hover{ background:url(../images/leftbg_08.jpg) no-repeat;width:240px; height:35px; color:#ed6811;}
.kbs-usbox{ width:220px; margin:0 auto;}

.kbs-first a span{ background:url(../images/leftbg_bg.png) no-repeat 0px 10px; width:20px; height:30px; display:block; float:left;}
.kbs-first a:hover span{ background:url(../images/leftbg_bg.png) no-repeat 0px -18px; width:20px; height:30px; display:block; float:left;}
.kbs-second a span{ background:url(../images/leftbg_bg.png) no-repeat -33px 10px; width:20px; height:30px; display:block; float:left;}
.kbs-second a:hover span{ background:url(../images/leftbg_bg.png) no-repeat -33px -18px; width:20px; height:30px; display:block; float:left;}
.kbs-third a span{ background:url(../images/leftbg_bg.png) no-repeat -66px 10px; width:20px; height:30px; display:block; float:left;}
.kbs-third a:hover span{ background:url(../images/leftbg_bg.png) no-repeat -66px -18px; width:20px; height:30px; display:block; float:left;}
.kbs-leftcon .kbs-first{ background:url(../images/leftbg_03.jpg) no-repeat; height:43px; line-height:43px;}
.kbs-leftcon ul li a{ text-indent:10px;}

/*--------------kbs-rightside-------------------*/
.kbs-contitle{ height:53px; line-height:53px; border-bottom:#f3f3f3 solid 1px;}
.kbs-usbox-b{ width:97%; margin:0 auto;}
.kbs-title{ font-size:22px;}
.kbs-now{ font-size:12px; color:#616161;}
.kbs-now a{ color:#8d8d8d;}


.kbs-conbar{ border-bottom:#e3e3e3 solid 1px; height:49px;color:#616161; font-size:14px;}
.kbs-inputbox{ height:25px; line-height:25px;border:#dddddd solid 1px; border-radius:5px;background-color:none;box-shadow:5px 5px 5px #f2f2f2 inset; width:200px;} 
.kbs-inputbox img{ float:right; margin:3px 3px 0px 0px;}
.input-from{ background-color:none; border:none; background:none; height:28px; line-height:28px; text-indent:5px;}


.kbs-fourth{ background-color:#f9f9f9; border-top:#ffffff solid 1px;border-bottom:#ffffff solid 1px; clear:both;}
.kbs-four li{ display:block; width:18%; margin-right:6%; border:#dedede solid 1px; float:left; margin-top:20px; margin-bottom:20px;border-radius:5px; min-height:150px;}
.kbs-four li .kbs-fourbox{ border:#ffffff solid 1px;border-radius:5px;min-height:148px;
FILTER: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#b8c4cb,endColorStr=red); /*IE 6 7 8*/ 

background: -ms-linear-gradient(top, #ffffff,#e4e4e4);        /* IE 10 */

background:-moz-linear-gradient(top,#ffffff,#e4e4e4);/*火狐*/ 

background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#ffffff), to(#e4e4e4));/*谷歌*/ 

background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e4e4e4));      /* Safari 4-5, Chrome 1-9*/

background: -webkit-linear-gradient(top, #fff, #e4e4e4);   /*Safari5.1 Chrome 10+*/

background: -o-linear-gradient(top, #fff, #e4e4e4);  /*Opera 11.10+*/

 }
.kbs-conmain{ border-top:#e3e3e3 solid 1px; color:#616161;}
.kbs-conn{ border-radius:5px; margin-left:15px;margin-top:2px;}
.kbs-conn li { float:left; }
.kbs-conn li a{ padding:5px 20px;background-color:#f9f9f9; color:#000;box-shadow:2px 2px 2px #dedede inset;  }
.kbs-conn li a:hover{ background-color:#fb914b; color:#ffffff;box-shadow:2px 2px 2px #fb914b inset;}
.kbs-conn .kbs-border-a a{ border-radius:5px 0px 0px 5px;}
.kbs-conn .kbs-border-a a:hover{ border-radius:5px 0px 0px 5px;}
.kbs-conn .kbs-border-b a{ border-radius:0px 5px 5px 0px;}
.kbs-conn .kbs-border-b a:hover{ border-radius:0px 5px 5px 0px;}


.kbs-contable ul li{ float:left; width:45%; border:#dedede solid 1px; border-radius:5px;margin-right:3%; min-height:300px; margin-bottom:20px;}
