@charset "utf-8";

body{
	margin: 3px;
	font-size: 14px;
}
body, button, input, select, textarea{
	font: 12px/1.5 Arial,Helvetica,sans-serif;
	color: #999;
}
.kbs-clear{
	clear: both;
}
.kbs-text-left{
	float: left;
}
.kbs-text-right{
	float: right;
}
.kbs-icon{
	background-image: url("wukong.png");
	background-repeat: no-repeat;
	font-size: 0;
}
.kbs-icon-help{
	background-position: -90px -423px;
	width: 11px;
	height: 11px;
	display: inline;
	margin: 5px 0 0 5px;
	float: left;
}
.kbs-icon-down{
	background-position: -296px -423px;
    width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}
.kbs-icon-up{
	background-position: -313px -423px;
	width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}
highlight{
	color: #FF0000;
}
.kbs-panel-tip{
	/*
	background-color: #fff;
	border: 1px solid #e8e8e8;
	*/
	background-color: #EBE9EA;
	border: 1px solid #d4d1d1;
	z-index: 999;
	display:none;
}
.kbs-nav, .kbs-nav-body{
	border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
	border: 1px solid #D4D1D1;
	margin-top: 10px;
	background-color: #F8F7F7;
}
.kbs-nav-body th{
	border-bottom: 1px solid #e8e8e8;
	line-height: 30px;
}
.kbs-nav-body td{
	border-bottom: 1px dotted #e8e8e8;
	color: #000;
}
.kbs-info{
	font-weight: bolder;
	cursor: pointer;
}
.kbs-detail{
	border-bottom: 1px dotted #e8e8e8;
	height: 36px;
	margin: 0;
	padding: 0 0 0 8px;
}

.kbs-question{
	padding: 12px 0 12px 8px;
	font-size: 22px;
	font-weight: bolder;
	color: #000;
	cursor: pointer;
}
.kbs-answer{
	font-size: 16px;
	line-height: 24px;
	color: #000;
	margin: 10px 0;
}
.kbs-item, .kbs-item-checked{
	padding-left: 20px;
	cursor: pointer;
	color: #000;
	float: left;
}
.kbs-btn-right {
	cursor: pointer;
	float: right;
	margin: 10px 0 0 2px;
    height: 30px;
    line-height: 30px;
    border: solid 0px #e8e8e8;
    padding: 0 9px;
    background: #fd5151;
}
.kbs-btn-right:hover {
    background: #ff971d;
}
.kbs-btn-right .kbs-item{
	padding-left: 8px;
	color: #fff;
}
.kbs-btn-right .kbs-item:hover{
	color: #fff;
}
.kbs-panel-tip .kbs-item{
	padding: 10px;
}
.kbs-panel-tip .kbs-item-detail{
	padding: 2px;
}
.kbs-condition .kbs-item{
	padding-left: 50px;
}
.kbs-condition .kbs-item-first{
	padding-left: 20px;
}
.kbs-item-checked{
	color: #FF0000;
}
.kbs-item:hover {
	color: #FF0000;
}
.kbs-input{
	border: solid 1px #dfdfdf;
    line-height: normal;
    font-family: arial;
}
button{
	background: #f82800;
	color: #fff;
	padding: 2px 8px;
	border: 0 none;
	cursor: pointer;
}
.btn-opt{
	
}
.btn-opt-checked{
	background: #D22000;
	cursor: default;
}
.kbs-att{
	
}
.kbs-att-title, .kbs-p4-title{
	padding-left: 20px;
	cursor: pointer;
	color: #000;
	float: left;
	margin-top: 3px;
}
.kbs-att-title:hover, .kbs-p4-title:hover{
	color: #f40;
}
.kbs-row-cate{
	font-size: 16px;
	font-weight: bolder;
	background-color: #fff;
}
.kbs-row-cate td{
	color: #35BDB2;
}
.kbs-row-question{
	cursor: pointer;
}
.kbs-row-question:hover{
	background-color: #EAEAEA;
}
.kbs-row-answer{
	display:none;
}
.kbs-row-answer td{
	color: #666;
	padding: 10px 10px;
	background-color: #FEFEFE;
}
.kbs-embed-title .kbs-text{
	font-size: 14px;
	font-weight: bolder;
	padding: 0 10px;
	line-height: 30px;
	cursor: pointer;
	float: left;
	
}
.kbs-embed-title .kbs-text:hover{
	color: #35bdb2;
}
.kbs-embed-title .kbs-bhname{
	float: right;
	font-size:14px;
	font-family:微软雅黑;
	line-height:28px;
	margin-left:220px;
	font-weight:bold;
	white-space:nowrap; 
	text-overflow:ellipsis;
	overflow: hidden;
}
.kbs-nav-body .kbs-embed-title{
	border-bottom: 0px;
	background-color: #fff;
	border-bottom: 0px;
	margin-left: 10px;
}
.kbs-nav-body .kbs-embed-content{
	color: #666;
	background-color: #fff;
}

.kbs-search-result{
	font-size: 14px;
	color: #000;
	float: left;
	margin-top: 20px;
	margin-left: 8px;
}
.kbs-search-result .kbs-i{
	font-weight: bolder;
	font-style: italic;
	color: #35bdb2;
}
.kbs-search-result .kbs-i-checked{
	/*font-weight: bolder;
	font-style: italic;*/
	border: 1px solid #ddd;
	color: #ff0000;
	padding: 2px 10px;
	margin: 1px;
	cursor: pointer;
}
.kbs-search-result .kbs-i-checked:hover{
	/*font-weight: bolder;
	font-style: italic;
	color: #ff0000;*/
	text-decoration: line-through;
	border: 1px solid #ff0000;
}
.kbs-panel-embed{
	width: 360px;
	background: #fff;
}
.kbs-panel-embed table{
	border: 1px solid #000;
}
.kbs-panel-embed table td{
	border: 1px dotted #000;
	color: #000;
	line-height: 24px;
	padding-left: 3px;
}


.kbs-office{
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin: 2px;
}
.kbs-office-excel{
	background-image: url("imgs/Excel.png");
}
.kbs-office-word{
	background-image: url("imgs/Word.png");
}
.kbs-office-ppt{
	background-image: url("imgs/PowerPoint.png");
}
.kbs-office-pdf{
	background-image: url("imgs/pdf.png");
}
.kbs-office-txt{
	background-image: url("imgs/txt.png");
}
.kbs-office-pic{
	background-image: url("imgs/picture.png");
}
.kbs-office-p4page{
	background-image: url("imgs/p4page.png");
}
.kbs-office-thumbs-up{
	background-image: url("imgs/thumbs-o-up.png");
	cursor: pointer;
}
.kbs-office-thumbs-down{
	background-image: url("imgs/thumbs-o-down.png");
	cursor: pointer;
}
.kbs-office-edit{
	background-image: url("imgs/edit.png");
	cursor: pointer;
}
.kbs-office-editor{
	background-image: url("imgs/editor.png");
	cursor: pointer;
}
.kbs-office-modify{
	background-image: url("imgs/modify.png");
	cursor: pointer;
}
.kbs-office-visitnum{
	background-image: url("imgs/visitnum.png");
	cursor: pointer;
}
.kbs-thumbs-text{
	float: left;
	margin: 5px 20px 0px 5px;
}
.kbs-office-preview{
	background-image: url("imgs/preview-sun.png");
	cursor: pointer;
}
.kbs-office-preview:hover{
	background-image: url("imgs/preview-moon.png");
	cursor: pointer;
}
.kbs-office-here{
	background-image: url("imgs/arrow-anywhere.png");
	cursor: pointer;
}
.kbs-office-btn{
	color: #000;
	cursor: pointer;
	padding: 0 3px 0 24px;
}
.kbs-office-btn:hover{
	color: #f82800;
}
.kbs-office-markread{
	background-image: url("imgs/markread.png");
	width: auto;
}
.kbs-office-correct{
	background-image: url("imgs/correct.png");
}
.kbs-office-eflow-edit{
	background-image: url("imgs/eflow-edit.png");
	width: auto;
}
.kbs-office-eflow-read{
	background-image: url("imgs/eflow-read.png");
	width: auto;
}
.kbs-office-fav{
	background-image: url("imgs/fav.png");
}
.kbs-office-resolve{
	background-image: url("imgs/resolve.png");
}