@charset "utf-8";

body{
	margin: 3px;
	font-size: 14px;
}
body, button, input, select, textarea{
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;
	color: #999;
}
.kbs-clear{
	clear: both;
}
.kbs-text-left{
	float: left;
}
.kbs-text-right{
	float: right;
}
.kbs-icon{
	background-image: url("wukong.png");
	background-repeat: no-repeat;
	font-size: 0;
}
.kbs-icon-help{
	background-position: -90px -423px;
	width: 11px;
	height: 11px;
	display: inline;
	margin: 5px 0 0 5px;
	float: left;
}
.kbs-icon-down{
	background-position: -296px -423px;
    width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}
.kbs-icon-up{
	background-position: -313px -423px;
	width: 7px;
    height: 4px;
	display: inline;
	margin: 8px 0 0 5px;
	float: left;
}
highlight{
	color: #FF0000;
}
.kbs-panel-tip{
	background-color: #fff;
	border: 1px solid #e8e8e8;
	z-index: 999;
	display:none;
}
table.kbs-nav, table.kbs-nav-body{
	border-collapse: collapse;
    border-spacing: 0;
	width: 100%;
	border: 1px solid #e8e8e8;
	margin-top: 10px;
}
.kbs-nav-body th{
	border-bottom: 1px solid #e8e8e8;
}
.kbs-nav-body td{
	border-bottom: 1px dotted #e8e8e8;
	color: #000;
}
.kbs-info{
	font-weight: bolder;
	cursor: pointer;
}
td.kbs-detail{
	border-bottom: 1px dotted #e8e8e8;
	height: 36px;
	margin: 0;
	padding: 0 0 0 8px;
}
.kbs-item, .kbs-item-checked{
	padding-left: 20px;
	cursor: pointer;
	color: #000;
	float: left;
}
.kbs-btn-right {
	cursor: pointer;
	color: #000;
	float: right;
	margin: 10px 0 0 2px;
    height: 24px;
    line-height: 24px;
    border: solid 1px #e8e8e8;
    padding: 0 9px;
    background: #f6f6f6;
}
.kbs-btn-right:hover{
	color: #ff0000;
}
.kbs-btn-right .kbs-item{
	padding-left: 8px;
}
.kbs-panel-tip .kbs-item{
	padding: 10px;
}
.kbs-panel-tip .kbs-item-detail{
	padding: 2px;
}
.kbs-condition .kbs-item{
	padding-left: 50px;
}
.kbs-condition .kbs-item-first{
	padding-left: 20px;
}
.kbs-item-checked{
	color: #FF0000;
}
.kbs-item:hover {
	color: #FF0000;
}
.kbs-input{
	border: solid 1px #dfdfdf;
    line-height: normal;
    font-family: arial;
}
button{
	background: #f82800;
	color: #fff;
	padding: 0 8px 2px;
	border: 0 none;
	cursor: pointer;
}
button:hover{
	background: #f40;
}
.kbs-question{
	font-size: 18px;
	font-weight: bolder;
	color: #000;
	cursor: pointer;
}
.kbs-answer{
	line-height: 24px;
	color: #000;
	margin: 10px 0;
}
.kbs-att{
	
}
.kbs-att-title{
	padding-left: 20px;
	cursor: pointer;
	color: #000;
	float: left;
	margin-top: 3px;
}
.kbs-att-title:hover{
	color: #f40;
}

.kbs-row-question{
	cursor: pointer;
}
.kbs-row-question:hover{
	background-color: #EAEAEA;
}
.kbs-row-answer{
	display:none;
}


.kbs-office{
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	float: left;
	margin: 2px;
}
.kbs-office-excel{
	background-image: url("imgs/Excel.png");
}
.kbs-office-word{
	background-image: url("imgs/Word.png");
}
.kbs-office-thumbs-up{
	background-image: url("imgs/thumbs-o-up.png");
	cursor: pointer;
}
.kbs-office-thumbs-down{
	background-image: url("imgs/thumbs-o-down.png");
	cursor: pointer;
}
.kbs-thumbs-text{
	float: left;
	margin: 5px 20px 0px 5px;
}
.kbs-office-preview{
	background-image: url("imgs/preview-sun.png");
	cursor: pointer;
}
.kbs-office-preview:hover{
	background-image: url("imgs/preview-moon.png");
	cursor: pointer;
}
