/* CSS Document */
/*----------------------------------Author:lvzhaohua-----------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td,img{padding:0;margin:0 auto;border:0;}
body{background-color:#f8f7f5;font-family:"微软雅黑";}
body a{outline:none;blr:expression(this.onFocus=this.blur());}
input{outline:0 none;}
ol,ul,li,img{list-style-type: none;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;font-size: 100%;}
abbr,acronym { border: 0;}
.clearbh:after{height:0;visibility:hidden;display:block;clear:both;content:" ";}
.clearbh{ clear:both;font-size:0; height:0; overflow:hidden;display:inline-block;}
/* fix IE hack \*/
*html .clearbh{height:1%;}
/*--------------------------------全局样式结束------------------------------*/
.fl{float:left;}
.fr{float:right;}
.tl{text-align:left;}
.tr{text-align:right;}
.tc{text-align:center;}
.ov{overflow:hidden;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.p10{padding:10px;}
header,section{width:100%; min-width:320px;}
.header-cn{height:44px;background-color:#c5010c;box-shadow:0 2px 8px 0 #745656;line-height:44px;}
.header-cn a{width:50px;height:44px;display:inline-block;position:absolute;left:0px;top:0px;z-index:10;text-align:center;}
.header-cn h1{font-size:18px;text-align:center;text-shadow:1px 1px 1px #450004;color:#fff;}
.zy-box1{margin:10px;background-color:#fff;box-shadow:0px 0px 4px 0 #d2cabe;border:1px solid #cdcdcd;}
.zy-title01{background-color:#f0f0f0;border-bottom:1px solid #cdcdcd;line-height:40px;}
.zy-button01{padding:20px 10px;}
.zy-button01 p,.zy-button01 a{width:100%;height:40px;line-height:40px;font-size:16px;display:inline-block;text-align:center;border-radius:6px;}
.zy-button01 p{background-color:#d6d6d5;color:#fff;}
.zy-button01 a,.zy-button01 a:hover{text-decoration:none;background-color:#c5010c;color:#fff;text-shadow:1px 1px 1px #6B0305; backface-visibility:}
.cl01{color:#222;}
.cl02{color:#333;}
.cl03{color:#666;}
.cl04{color:#999;}
.tdline01{border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.tdline02{border-bottom:1px solid #cdcdcd;}
.tdline03{border-right:1px solid #cdcdcd;}
.no-content{padding:48px 0px 10px 0px;margin-top:35%;background:url(../images/icon01.jpg) center 0px no-repeat;}

.zy-title02{background-color:#f0f0f0;border-bottom:1px solid #cdcdcd;line-height:22px;padding:5px 10px;font-size:14px;}
.zy-content01{background:#fff;padding-bottom:10px;}
.zy-content01 li{width:100%;display:inline-block;padding:10px 0px;border-bottom:1px dotted #b8b8b8;position:relative;}
.zy-content01 li .books-img{width:104px;padding:0px 8px;float:left;}
.zy-content01 li .books-cn1{width:auto;margin:0px 10px 0px 120px;position:absolute;left:0;top:10px;z-index:100;}
.zy-content01 li .books-cn1 h2{height:22px;font-weight:bold;line-height:22px;text-align:left;font-size:14px;color:#c5010c;overflow:hidden;text-overflow:ellipsis;}
.zy-content01 li .books-cn1 p{font-size:13px;color:#666;line-height:22px;text-align:left;}


/*--------2014-02-27新增样式---------*/
.zy-bg01{background-color:#f2f2f2;}
.zy-homecn1{width:auto;padding:10px;}
.zy-homecn1 li{width:100%;}
.zy-homecn1 li div{width:50%;background-color:#fff;display:inline-block;}
.zy-homecn1 li div p{background-color:#f2f2f2;text-align:center;cursor:pointer;}
.zy-homecn1 li div .zy-homep1{padding:30px 0px 10px 0px;}
.zy-homecn1 li div .zy-homep2{padding:0px 0px 20px 0px;margin-bottom:2px;}
.zy-homecn1 li div .zy-homep2 a,.zy-homecn1 li div .zy-homep2 a:active{font-size:18px;color:#e51610;text-decoration:none;}
.zy-ml1{margin-left:1px;}
/*--------2014-02-27新增样式---------*/

