@CHARSET "UTF-8";


/*  -------------评论中星星选择的样式start-------------  */
.star_bg {
    width: 120px; height: 20px;
    background: url(../images/star.png) repeat-x;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 15px;
}
.star {
    height: 100%; width: 24px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background: url(../images/star.png) repeat-x 0 -20px!important;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 24px; }
.star_3 { left: 48px; }
.star_4 { left: 72px; }
.star_5 { left: 96px; }
.star_1:hover { width: 24px; }
.star_2:hover { width: 48px; }
.star_3:hover { width: 72px; }
.star_4:hover { width: 96px; }
.star_5:hover { width: 120px; }

label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

.score { position: absolute; clip: rect(0 0 0 0); }
.score:checked + .star {    
    background: url(../images/star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 24px; }
.score_2:checked ~ .star_2 { width: 48px; }
.score_3:checked ~ .star_3 { width: 72px; }
.score_4:checked ~ .star_4 { width: 96px; }
.score_5:checked ~ .star_5 { width: 120px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url(../images/star.png) repeat-x 0 -20px;
    left: 0; z-index: 1;
}
/*  -------------评论中星星选择的样式end-------------  */

