@CHARSET "UTF-8";
	
table.box {
	font-family: "Courier New", Courier;
	font-size: 12px;
	border-top: 1px solid #C0C0C0;
	border-left: 1px solid #C0C0C0;
	padding: 0px;
}

.box th {
	color: #000000;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	text-align: right;
	width: 200px;
}

.box td {
	font-family: "Courier New", Courier;
	font-size: 12px;
	color: #000000;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	text-align: left;
}

.box_cell {
	font-family: "Courier New", Courier;
	font-size: 12px;
	border: 1px solid #C0C0C0;
	padding: 0px;
}

.box_cell th {
	font-size: 12px;
	text-align: right;
}

.box_cell td {
	text-align: left;
	padding-left: 5px;
}

.box_cell td [type="text"] {
	border: 1px solid #C0C0C0;
	width: 100%;
}

.box_cell td input[type="button"],.box td button {
	cursor: pointer;
	margin-right: 5px;
	font-weight: bolder;
	height: 25px;
}
