@CHARSET "UTF-8";

div#cateMenu {background-color:#DFDFDF;text-align:left;padding:2px;width:80px;position:absolute;display:none;}
div#cateMenu ul {margin:1px 0;padding:0 5px;cursor: pointer;list-style: none outside none;background-color:#ECECED;}
div#cateMenu ul li {margin:0;padding:2px 0;display:none;}
div#cateMenu ul li:hover{background-color:#C29D71;}
.rTab th {text-align: left}
.rTab td {float: left;margin-left: 25px;}
.rTab td input {line-height: 20px;}

.fkui_aa2{width:67px;height:28px;line-height:28px;float:right;color:#FFF;background:url(${pageContext.request.contextPath}/theme/${sessionScope.session_user_key.userInfo.userTheme}/resource/auther/images/fankui/ggzs_bg2.jpg) no-repeat;border:none;cursor:pointer;}

.kbs-conn{ border:none;line-height:30px;margin-top:2px;}
.kbs-conn li { float:left; }
.kbs-conn li a{ padding:5px 20px;background-color:white;border:#e0e0e0 solid 1px; }