@charset "utf-8";
/*--------*/
*{padding:0;margin:0;border:0; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-touch-callout:none; -webkit-user-select:none;/*禁止链接长按弹出选项菜单*/}
body{width:100%;font-family:Microsoft YaHei,'Arial','微软雅黑',SimHei ,'黑体';  }
a:link{	-webkit-tap-highlight-color:rgba(0,0,0,0);/*禁止链接高亮*/-webkit-touch-callout:none;/*禁止链接长按弹出选项菜单*/ }
img {-webkit-touch-callout:none; border:none;/*禁止图片长按弹出选项菜单*/}
img.down {-webkit-user-select:text;-webkit-touch-callout:pop;}
input,textarea,select{-moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;-webkit-user-select:text;}

.clear{clear:both;}
.none{display:none;}
.fl{display:inline;float:left!important;}
.fr{display:inline;float:right!important;}
a{text-decoration:none;}
em{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle}
body,html{min-height:100%; font-size:12px;color:#4b4b4b;}
body,html,ol,ul,h1,h2,h3,h4,h5,h6,p,ul,li,th,td,dl,dd,form,fieldset,legend,input,textarea,select,span{margin:0;padding:0;}
*{outline:none;}
ul,li{ list-style-type:none;}

/*------------------------1.html------------------------------*/
.page_all{ width:1022px; margin:0 auto; border:#e9edf0 solid 1px; background-color:#ffffff;}
.px_top_meau{ width:100%; background-color:#ece9e9; height:30px;}
.px_top_meau ul{ width:300px; margin:0 auto; }
.px_top_meau ul li{ float:left; background-color:#ece9e9;line-height:30px; text-align:center;}
.px_top_meau ul li a{ width:100px; height:30px; display:block;color:#4b4b4b; }
.px_top_meau ul .ts{ background-color:#ffffff;width:100px; height:30px; display:block; }

.usbox{ padding:15px 15px 20px 15px;}
.px_mystudy{ background:url(../images/top_colour.png) no-repeat;}
.px_mystudy ul li{ width:79px; height:79px; margin-right:15px; text-align:center; float:left; color:#ffffff;padding-top:15px;}
.px_mystudy ul li span{ font-size:18px; line-height:25px;}
.px_usbox{ border-top:#e9edf0 solid 1px;}
.px_box{ border:#ffffff solid 1px; background-color:#f6f8f9;}


 select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url("../images/icon_xl.png") no-repeat scroll 98% center transparent;/*箭头图标*/
  padding-right: 14px;
 
}
.px_select select{ 
   height:25px; line-height:23px;border:#dddddd solid 1px; border-radius:5px;background-color:none;  box-shadow:3px 3px 5px #f2f2f2 ; width:70px; text-indent:5px;
}
/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
 select::-ms-expand { display: none; }
 
.px_lb_title select{ 
   height:25px; line-height:23px;border:#dddddd solid 1px; border-radius:5px;background-color:#ffffff;  box-shadow:3px 3px 5px #f2f2f2 ; width:70px; text-indent:5px;
}

.px_from li{ width:453px; border:#e7e7e7 solid 1px; float:left; margin-right:28px; background-color:#ffffff;}
.px_xx_title{ text-align:center; font-size:14px; width:305px; height:25px; display:block; line-height:25px; margin:0 auto; color:#ffffff;}
.px_01{ background-color:#6e479e;}.px_02{ background-color:#08cbff;}.px_03{ background-color:#ffa800;}
.px_select { width:150px; margin:0 auto;}
.px_select .px_s{ float:left; margin:5px 0px;}
.px_from_b{ margin-top:15px;border:#e7e7e7 solid 1px; background-color:#ffffff; width:936px;}
.px_box_from{ margin:5px 15px; height:200px;}

.orange{ color:#ff7200;}
.gray{ color:#979797;}
.px_lb_title{ margin:1px; background-color:#e5e5e5; height:28px; padding-left:14px; line-height:28px;}
.px_lb_title .px_s{ margin-right:14px;}
.pers_35{ width:35%;}.pers_20{ width:20%;}.pers_15{ width:15%;}.pers_10{ width:10%;}
.px_lba{ float:left;width:453px;border:#e7e7e7 solid 1px;margin-right:28px;}
.px_lb{ margin-top:15px;}
.px_lb_con{min-height:218px; background-color:#ffffff;}
.px_lb_con ul{ width:92%; margin:0 auto; line-height:30px; }
.px_lb_con ul li{ float:left;} 
.px_lb_con ul:first-child { height:35px; border-bottom:#e5e5e5 solid 1px; line-height:35px;}

/*------------------------2.html------------------------------*/
.px_b_left{ width:173px;border:#e9edf0 solid 1px; margin-left:1px; float:left;}
.px_b2_left{ width:171px; border:#ffffff solid 1px; background-color:#f8f7f7;}
.px_b_title{ background-color:#c22b2c; height:32px; color:#ffffff; line-height:32px; text-align:center;}

.px_b_con{ background-color:#f8f6f7;}

.pc_b_a a{ color:#4b4b4b;}
.pc_b_a li{border-bottom:#ebe9ea solid 1px; line-height:32px;}
.pc_b_a li a{ width:100%; height:32px;}
.pc_b_a li a:hover{ background-color:#ffffff; width:100%; height:32px; display:block;}
.pc_b_a li a .pc_minus{ background:url(../images/px_ks_10.jpg) no-repeat; width:15px; height:10px; margin:10px 0px 0px 5px;display:block;}
.pc_b_a li a .pc_plus{ background:url(../images/px_ks_07.jpg) no-repeat; width:15px; height:10px; margin:10px 0px 0px 5px;display:block;}
.pc_b_a li a span{ width:20px; height:30px; display:block; float:left;}
.pc_b_b a{ color:#888888;}.pc_b_c a{ color:#888888;}
.pc_b_b a:hover{ color:#4b4b4b;}.pc_b_c a:hover{ color:#4b4b4b;}
.pc_b_b{ margin-left:10px;}
.pc_b_c{ margin-left:10px;}
.pc_b_b li{border-bottom:none;}
.pc_b_c li{border-bottom:none;}


.px_b_right{ float:right; width:846px;}

.px_title{ height:25px; line-height:25px;}
.px_title span{ color:rgba(255,0,4,1.00); font-style:italic;}
.px_b_top ul li{ float:left;}
.px_b_top{ height:60px; width:100%; background-color:#FFFFFF; clear:both;}
.px_kc_01{width:10%; line-height:27px; text-align:center;}
.px_kc_01 a{ color:#ffffff;background-color:#c4292f; border-radius:5px; width:100%;height:27px; display:block;}
.px_kc_01 a:hover{background-color:#eb3037; }
.px_kc_02{ width:70%; }
.px_kc_03{ width:20%;line-height:27px; }
.px_kc_03 a{ width:100%;text-align:center;color:#ffffff;background-color:#c4292f; border-radius:5px 5px 0px 0px;width:100%;height:27px;display:block;}
.px_kc_03 a:hover{background-color:#eb3037; }

.px_search{ width:230px; margin:0 auto;}
.kbs-inputbox{ height:28px; line-height:28px;border:#dddddd solid 1px; border-radius:5px;background-color:none;box-shadow:5px 5px 5px #f2f2f2 inset; width:230px; } 
a:hover .kbs-inputbox{ height:26px; line-height:26px;border:#c22b2c solid 2px; border-radius:5px;background-color:none;box-shadow:5px 5px 5px #f2f2f2 inset; width:228px;} 
a:hover .kbs-inputbox img{ float:right; margin:3px 3px 0px 0px;}
.kbs-inputbox img{ float:right; margin:5px 5px 0px 0px;}
.input-from{ background-color:none; border:none; background:none; height:28px; line-height:28px; text-indent:5px; width:205px;}

.px_b_kc{ border-top:#e9edf0 solid 1px;}
.px_b_box{ border-top:#ffffff solid 1px; background-color:#f6f8f9;}

.px_hang ul li{ border:#e7e7e7 solid 1px; background-color:#ffffff; width:258px; float:left; margin-right:12px;}
.px_xk{ margin:8px; position:relative;}
.px_xk img{ width:242px; height:149px;}
.layer_a{ position:absolute; width:190px; height:90px; color:#ffffff; top:26px; left:25px; text-align:center; font-size:18px;}
.px_xk_zi{ line-height:28px; margin:15px 10px 15px 10px; width:170px; height:75px; }
.blue{ background-color:hsla(214,61%,58%,0.80);}
.green{ background-color:hsla(88,57%,57%,0.80);}
.orange_r{ background-color:hsla(27,92%,62%,0.80);}

.px_hang ul li .px_xk_con{ width:242px; }
.px_hang ul li .px_xk_con ul li{ float:left; color:#a7a7a7; border:none; width:auto; line-height:22px;}
.px_hang ul li .px_xk_con ul li span{ width:40px; float:left;}
.pers50{ width:50%; }
.px_l_star5{ background:url(../images/px_star_lit.png) no-repeat 40px -59px; width:112px; height:16px;}
.px_l_star4{ background:url(../images/px_star_lit.png) no-repeat 40px 5px; width:112px; height:16px;}
.px_l_star3{ background:url(../images/px_star_lit.png) no-repeat 40px -11px; width:112px; height:16px;}
.px_l_star2{ background:url(../images/px_star_lit.png) no-repeat 40px -27px; width:112px; height:16px;}
.px_l_star1{ background:url(../images/px_star_lit.png) no-repeat 40px -43px; width:112px; height:16px;}
.px_b_d{ float:left; clear:both;}

/*-----------------------------3.html------------------------------*/
.exam_top{ background-color:#ffffff; height:90px;}
.examtop_left{ width:85%;}
.examtop_left ul{ width:25%; float:left;}
.examtop_left ul li{ line-height:30px;color:#888888;}
.examtop_left ul li span{ color:#4b4b4b;}
.examtop_right{ width:15%;}
.examtop_left ul li .px_red{color:rgba(255,0,4,1.00); font-size:35px;}
.examtop_right a{ width:100%; height:48px;  color:#ffffff;background-color:#c4292f; border-radius:5px; display:block; font-size:18px; line-height:48px; text-align:center; }
.examtop_right a:hover{background-color:#eb3037; }

.eaxm_title{ font-size:14px; color:#070707; line-height:24px;}
.exam_con{ background-color:#ffffff; border:#eaeef1 solid 1px;}

.exam_a{ margin-bottom:15px;}
.exam_a span{color:#888888; line-height:28px;}
.exam_a ul li a{ color:#4b4b4b;line-height:24px;}
.dx{ margin-top:15px;}
.exam_b{margin-bottom:15px;width:100%; float:left; }
.exam_b span{color:#888888; line-height:28px;}
.exam_b ul li a{ color:#4b4b4b;line-height:24px;}
.exam_b ul li{ float:left; width:15%;}
.input-exam{ border-bottom:#e7e7e7 solid 1px; width:150px;}
.exam_c span{color:#888888; line-height:25px;}
.exam_ca{background-color:#eeeeee; width:100%;}
.text-exam{ width:100%;}
.exam_a span .correct{ background-color:#f45b58; color:#ffffff; padding:0px 3px; display:inline;}
.exam_a span .incorrect{ background-color:#68c14f; color:#ffffff; padding:0px 3px; display:inline;}
.exam_b span .correct{ background-color:#f45b58; color:#ffffff; padding:0px 3px; display:inline;}
.exam_b span .incorrect{ background-color:#68c14f; color:#ffffff; padding:0px 3px; display:inline;}

.exam_a ul li .ans-yes{ background-color:#f45b58; color:#ffffff; padding:0px 3px; display:none;}
.exam_b ul li .ans-yes{ background-color:#f45b58; color:#ffffff; padding:0px 3px; display:none;}

.exam-cover{width: 100%; height: 100%; top: 0; left: 0; background: #b3b3b3; position: fixed; z-index: 99; display: block; filter:alpha(Opacity=50); -moz-opacity:0.5; opacity: 0.5;}
.flc{float: left; margin-top: 150px; margin-left: 35%;}


/*------------------------4.html------------------------------*/
.px_ks_left{ width:236px;border:#e9edf0 solid 1px; margin-left:1px; float:left; background-color:#ffffff; min-height:500px;}
.px_ks2_left{ width:234px; border:#ffffff solid 1px;}
.ks_time .ks_title{ width:135px; margin-top:5px; float:right;}
.ks_time ul li{ float:left; width:45px;}
.ks_time ul li a{ background-color:#f5f5f5; color:#4b4b4b;width:45px; display:block; text-align:center;height:22px; line-height:22px;}
.ks_time ul .ts a{ background:#c22b2c; color:#ffffff; width:45px; display:block;text-align:center; height:22px; line-height:22px;}

.ks_time .ks_time_box{ width:225px; margin:0 auto; clear:both; }
.ks_time .ks_time_box li{ width:100%;}
.ks_time .ks_time_box li ul li{ float:left; color:#b2b2b2; line-height:25px;}
.ks_time .ks_time_box li ul .p1{ width:50%;}
.ks_time .ks_time_box li ul .p2{ width:35%}
.ks_time .ks_time_box li ul .p3{ width:15%}

.px_ks_right{float:right; width:783px;}
.px_ks_top{height:60px;  background-color:#FFFFFF; clear:both; }
.px_ks_zt select{ 
   height:30px; line-height:25px;border:#dddddd solid 1px; border-radius:5px;background-color:none;  box-shadow:3px 3px 5px #f2f2f2 ; width:115px; text-indent:5px;}
.px_ks_zt div{line-height:32px; }
.px_ks_zt{ float:left;}
.px_ks_zt .kbs-inputbox{ margin-left:3px; margin-top:2px; line-height:28px;}

.px_ks_table li{ float:left; height:40px; line-height:40px;text-align:center;}
.px_ks_white li{ background-color:#ffffff; height:35px;float:left; line-height:35px; text-align:center;}
.px_ks_blue li{background-color:#f7f8fa; height:35px;float:left; line-height:35px; text-align:center;}
.exam_btn a{ display:block;background-color:#c22b2c; color:#ffffff; border-radius:5px; height:25px; margin-top:5px; line-height:25px;}
.exam_btn a:hover{ background-color:#dc3334;}
.px_ks_table,.px_ks_white,.px_ks_blue{ padding:15px 15px 20px 15px;}

.ck_btn a{display:block;background-color:#538bd5; color:#ffffff; border-radius:5px; height:25px; margin-top:5px; line-height:25px;}
.ck_btn a:hover{ background-color:#5f9def;}

/*----------------------------5.html------------------------------*/
.class_top{ margin:40px;}
.class_left img{ padding:5px; border:#e7e7e7 solid 1px;}
.class_right{ margin-left:18px;}
.class_right h1{font-size:30px; font-weight:400; line-height:50px; color:#4b4b4b;}
.class_right h2{ font-size:14px;color:#4b4b4b; line-height:24px;}
.class_right h2 a{ background-color:#f8f8f8; border-radius:15px; padding:2px 8px; color:#999999;}
.class_right h2 a:hover{ background-color:#eeeeee;}
.class_right h3{ margin-top:30px; }
.class_right h3 a{ color:#c22b2c; border:#c22b2c solid 1px;padding:5px 15px;border-radius:15px;}
.class_right h3 a:hover{ background-color:#c22b2c; color:#ffffff;}
.class_right ul li{float:left; margin-top:30px;line-height:35px;  text-align:center; margin-right:5px;}

.class_right h4 ul .btn_std a{ background-color:#c22b2c; color:#ffffff; width:100px; height:35px; display:block;border-radius:5px;  }
.class_right h4 ul .btn_std a:hover{background-color:#dc3334;}
.class_right h4 ul .btn_int a{ background-color:#f79647; color:#ffffff; width:100px; height:35px; display:block;border-radius:5px; }
.class_right h4 ul .btn_int a:hover{background-color:#ffb070;}

.class_title ul { margin:0px 40px; height:50px;}
.class_title ul li a{ color:#ababab; display:block; width:70px; height:40px; line-height:40px; text-align:center; float:left; }
.class_title ul .ts a{ color:#4b4b4b; border-top:#c22b2c solid 3px; line-height:34px;}

.class_conn{ background-color:#ffffff; border:#eaeef1 solid 1px; margin:0px 40px; }
.class_contitle{ border-bottom:#eaeef1 solid 1px; height:75px;}
.class_contitle .class_l{ width:110px;  text-align:center; border-right:#f1f1f1 solid 1px;}
.class_contitle h1{ font-size:30px; font-weight:400; text-align:center;}
.class_contitle h2{ color:#ababab; font-weight:200; font-size:14px; text-align:center;}
.class_contitle .class_r span{ display:block; margin-left:15px;}
.class_contitle .class_r .class_star5{ background:url(../images/px_star_max.png) no-repeat 0px -25px;  height:30px;width:135px;display:block; margin-top:5px;}
.class_contitle .class_star4{ background:url(../images/px_star_max.png) no-repeat 0px 8px;  height:38px;width:135px;display:block;}
.class_contitle .class_star3{ background:url(../images/px_star_max.png) no-repeat 0px -55px; height:30px;width:135px;display:block; margin-top:10px;}
.class_contitle .class_star2{ background:url(../images/px_star_max.png) no-repeat 0px -81px;height:30px;width:135px;display:block; margin-top:8px;}
.class_contitle .class_star1{ background:url(../images/px_star_max.png) no-repeat 0px -111px; height:30px;width:135px;display:block; margin-top:10px;}

.comment_list span{ color:#ababab;}
.comment_list{ width:100%; padding-bottom:8px; border-bottom:#eaeef1 solid 1px; }
.comment_list ul li div{ margin-top:-20px;}
.comment_list ul li:first-child{ margin-top:10px;}
.comment_list ul li{ line-height:18px;}
.comment_time{ margin-top:15px;}
