.ggzs_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border:1px solid #e3e3e3;border-top:none;}

.ggzs_titile a{width:auto;height:28px;line-height:28px;color:#c02829;float:left;margin-left:10px;margin-top:8px;font-size:12px;text-decoration:underline;}
.ggzs_titile a:hover{color:#c02829;text-decoration:underline;}
.ggzs_titile a:active{color:#c02829;text-decoration:underline;}


.ggzs_con{width:auto;height:460px;margin:0 10px;border:1px solid #e3e3e3;border-top:none;}


.ggzs_con_nr{background:#FFF;width:530px;height:380px;margin:0 auto;padding-top:40px;}
.ggzs_con_nr li{width:530px;text-align:center;}
.ggzs_con_nr li b{width:530px;font-size:24px;color:#a50e10;margin-bottom:5px;height:30px;line-height:30px;}
.ggzs_con_nr .date{text-align:center;}
.ggzs_con_nr .date b{width:auto;font-size:12px;font-weight:normal;color:#333;margin-left:15px;margin-bottom:0;}
.ggzs_con_nr .date span{color:#666;margin-right:15px;}
.ggzs_con_nr .kuang{width:470px;background:#f6f6f6;height:140px;padding:20px 30px 0 30px;text-align:left;}
.ggzs_con_nr .kuang span{height:70px;line-height:24px;width:470px;float:left;color:#666;}
.ggzs_con_nr .kuang a{line-height:24px;width:470px;float:left;color:#c22a2c; text-decoration:underline;}

.ggzs_con_nr .button1{background:url(../images/ggzs_bg1.jpg) no-repeat;height:28px;line-height:28px;width:67px;float:right;margin-right:10px;display:inline;margin-top:20px;color:#FFF;text-align:center;}
.ggzs_con_nr .button2{background:url(../images/ggzs_bg2.jpg) no-repeat;height:28px;line-height:28px;width:67px;float:right;margin-right:10px;display:inline;margin-top:20px;color:#FFF;text-align:center;}
/**********************************右边底部浮动框********************************/

.ggzs_dan{width:221px;height:138px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;background:#c1282a;position:fixed;z-index:2999;right:0;bottom:0;display:none;}
.ggzs_dan_title{width:221px;height:38px;line-height:38px;float:left;}
.ggzs_dan_title b{font-size:14px;color:#FFF;margin-left:10px;float:left;display:inline;}
.ggzs_dan_title a{float:right;height:38px;width:30px;}
.ggzs_dan_title a img{margin-top:11px;}
.ggzs_dan_con{width:197px;padding:0 10px;padding-top:5px;height:93px;float:left;background:#FFF;margin:0 2px 2px 2px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;float:left;}
.ggzs_dan_con b{text-align:center;width:197px;height:30px;line-height:30px;display:inline-block;overflow: hidden;}
.ggzs_dan_con a{line-height:18px;color:#666;}
.ggzs_dan_con a:hover{line-height:18px;color:#666; text-decoration:underline;}
.ggzs_dan_con a:active{line-height:18px;color:#c02829; text-decoration:underline;}



