.gonggao_titile{width:auto;height:44px;line-height:44px;background:#f6f6f6;margin:0 10px;padding-left:10px;font-size:14px;border-bottom:1px solid #e3e3e3;}
.gonggao_titile_left{float:left;font-weight:bold;color:#666;}
.gonggao_titile_left span{color:#004da7;}
.gonggao_titile_right{float:right;}
.gonggao_titile_right a{width:67px;height:28px;line-height:28px;background:url(../images/gonggao_bg.jpg) no-repeat;display:block;text-align:center;color:#FFF;float:right;margin-right:8px;margin-top:8px;font-size:12px;}

.gonggao_con{width:auto;height:480px;margin:0 10px;margin-top:10px;border:1px solid #e3e3e3;}
.gonggao_con_title{width:100%;background:#f6f6f6;height:33px;line-height:33px;border-bottom:1px solid #e3e3e3;}
.gonggao_con_title .hh1{width:39%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:left;}
.gonggao_con_title .hh1 b{padding-left:20px;}
.gonggao_con_title td{width:15%;font-size:14px;font-weight:bold;float:left;color:#004da7;text-align:center;}

.gonggao_con_nr{background:#FFF;width:100%;height:446px;}

.gonggao_con_nr tr{width:100%;height:30px;line-height:30px;float:left;}
.gonggao_con_nr .hh2{width:39%;height:30px;font-size:12px;font-weight:normal;color:#666666;text-align:center;display:block;float:left;overflow:hidden;}
.gonggao_con_nr .hh2 input{margin-right:8px;margin-left:20px;margin-top:8px;float:left;_margin-top:2px;*+margin-top:3px;}
.gonggao_con_nr .hh2 span{width:auto;display:inline-block;float:left;}
.gonggao_con_nr .hh2 span b{width:100%;height:30px;font-weight:normal;float:left;overflow:hidden;text-overflow:ellipsis;}
.gonggao_con_nr td{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}
.gonggao_con_nr a{cursor: pointer;}

.gonggao_con_nr_fenye{width:auto;height:24px;line-height:24px;text-align:center;margin:20px auto;}
.gonggao_con_nr_fenye a{height:22px;line-height:22px;border:1px solid #c3dcf8;color:#004da7;background:#FFF;margin-right:5px;padding:0 10px;display:inline-block; font-family:"宋体";}
.gonggao_con_nr_fenye a:hover{border:1px solid #c3dcf8;color:#004da7;background:#FFF; text-decoration:underline;}
.gonggao_con_nr_fenye a:active{border:1px solid #308fff;color:#004da7;background:#e4f0ff; text-decoration:none;}


/**********************************弹框********************************/
.gonggao_d{width:461px;height:437px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:10px;background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0 !important;/*实现FF背景透明，文字不透明*/
background:#000;/*实现IE背景透明*/}
.gonggao_dan{width:461px;height:437px;background:#FFF;border:1px solid #CCC;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;clear:both;position:relative;}
.gonggao_dan_title{width:461px;height:38px;line-height:38px;background:#004da7;border-bottom:1px solid #CCC;border-top-left-radius:3px;border-top-right-radius:3px;float:left;}
.gonggao_dan_title b{font-size:14px;color:#FFF;margin-left:20px;float:left;display:inline;}
.gonggao_dan_title a{float:right;height:38px;width:30px;}
.gonggao_dan_title a img{margin-top:11px;}
.gonggao_dan_con{width:421px;padding:0 20px;padding-top:5px;height:319px;float:left;}
.gonggao_dan_con li{margin-top:10px;float:left;width:421px;}
.gonggao_dan_con li b{width:60px;font-weight:normal;height:22px;line-height:22px;float:left;}
.gonggao_dan_con li input{width:356px;height:22px;line-height:22px;border:1px solid #CCC;color:#666;padding-left:3px;font-size:14px;float:left;}
.gonggao_dan_con li textarea{resize:none;width:356px;height:123px;line-height:24px;color:#666;border:1px solid #CCC;font-size:14px;padding:0;padding-left:3px;float:left;}
.gonggao_dan_con li select{width:122px;height:auto;line-height:22px;color:#666;border:1px solid #CCC;font-size:14px;padding:3px;float:left;}
.gonggao_dan_con label{float:left;height:22px;line-height:22px;margin-right:15px;}
.gonggao_dan_con label input{width:20px;border:none;}
.gonggao_dan_con li p{width:120px;height:22px;line-height:22px;float:left;border:1px solid #CCC;margin-right:10px;margin-top:0px;}
.gonggao_dan_con li p img{margin-right:5px;margin-top:-2px;}
.gonggao_dan_con li p a{float:right;margin-left:10px;margin-top:8px;}
.gonggao_dan_con a{float:right;margin-left:10px;}
.gonggao_dan_con .gonggao_an1{width:67px;height:28px;line-height:28px;float:left;background:url(../images/gonggao_an1.jpg) no-repeat;border:none;cursor:pointer;}
.gonggao_dan_con .gonggao_an2{width:67px;height:28px;line-height:28px;float:left;background:url(../images/xin_an2.jpg) no-repeat;border:none;cursor:pointer;}



/*******************添加的css样式*************************/
.shaixuan{background:#FFF;width:100%;height:auto;}
.shaixuan table{height:auto;width:100%;}
.shaixuan tr{width:100%;}
.shaixuan td{height:30px;line-height:30px;text-align:center;color:#666;}
.shaixuan td a{margin-right:5px;padding-right:5px; cursor: pointer;}
.shaixuan td input{vertical-align:middle;margin-left:5px;}
.shaixuan td p{}
.shaixuan .shaixuan_title{width:100%;background:#f6f6f6;height:35px;line-height:35px;font-weight:900;}
.shaixuan .shaixuan_title td{border-bottom:1px solid #E3E3E3;}


.shaixuan_overflow{width:100%;height:40px;line-height:40px;background:#EEE;display:inline-block;}
.shaixuan_overflow .shaixuaninput{border:1px solid #ccc;height:20px;line-height:20px;padding:0 3px;margin-right:8px;margin-left:3px;width:85px;margin-top:9px !important;*margin-top:1px;}
.shaixuan_overflow .mingzi{border:1px solid #ccc;height:20px;line-height:20px;padding:0 3px;margin-right:5px;width:53px;text-align:left;}
.shaixuan_overflow select{margin:0 5px;margin-top:10px;*margin-top:1px;}
.shaixuan_overflow td{width:auto !important;margin-left:10px;text-align:center;}
.shaixuan_overflow a{background:#004da7;color:#FFF;height:25px;line-height:25px;width:60px;margin-right:10px;display:block;float:left;margin-top:7px;*margin-top:1px;}
.shaixuan_overflow a:hover,.shaixuan_overflow a:active{background:#00489c;color:#FFF;}



.gonggao_con_cr{background:#FFF;width:100%;height:auto;}

.gonggao_con_cr tr{width:100%;height:30px;line-height:30px;float:left;}
.gonggao_con_cr .hh2{width:39%;height:30px;font-size:12px;font-weight:normal;color:#666666;text-align:center;display:block;float:left;overflow:hidden;}
.gonggao_con_cr .hh2 input{margin-right:8px;margin-left:20px;margin-top:8px;float:left;_margin-top:2px;*+margin-top:3px;}
.gonggao_con_cr .hh2 span{width:auto;display:inline-block;float:left;}
.gonggao_con_cr .hh2 span b{width:100%;height:30px;font-weight:normal;float:left;overflow:hidden;text-overflow:ellipsis;}
.gonggao_con_cr td{width:15%;font-size:12px;font-weight:normal;float:left;color:#666666;text-align:center;}


.popup-box{border:3px solid #004da7;}
.popup-title{background:#004da7;line-height:38px;align:left;}
.popup-title b{font-size:14px;color:#FFF;margin-left:10px;float:left;display:inline;}
.popup-title a{float:right;height:38px;width:30px;}
.popup-title img{float:right;margin-top:8px;margin-right:5px;cursor:hand;}	
.popup-notice-con a{line-height:18px;color:red;text-decoration:none;}
.popup-notice-con a:hover{line-height:18px;color:#666; text-decoration:underline;}
.popup-notice a:active{line-height:18px;color:#c02829; text-decoration:underline;}
.popup-notice-con a b{font-size:14px;margin-right:5px;}
.popup-notice-title{font-size:18px;font-weight:bolder;}
.popup-notice-subtitle{font-size:12px;}	
