.f-div{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;border-radius:10px;width:260px;height:80px;padding:10px;position:absolute;z-index:9000000;}
.f-diva{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;clear:both;display:inline-block;padding-bottom:10px;border-radius:3px;height:70px;width:260px;}
.f-diva .f-div-t {height:30px;line-height: 30px;width: 100%;border-top-right-radius:3px;border-top-left-radius:3px;border-bottom:1px solid #CCCCCC;background:none repeat scroll 0 0 #c1282a;}
.f-diva .f-div-t b{color: white;margin-left:10px;}
.f-diva .f-div-t a {color: white;float: right;height:12px;width:12px;margin-top:8px;margin-right:5px;}
.f-diva .f-div-c {margin-top: 5px;padding: 3px;}
.f-diva .f-div-c input{width: 130px; height: 22px;}

