body {
	background: #fafafa;
	font-family: "Microsoft Yahei",宋体,arial;
	font-size: 12px;
	line-height: 22px;
}
html,body,div,ul,li,p,input,button,form,table,tr,td,em,dl,dt,dd,h2,h3 {
	margin: 0;
	padding: 0;
	outline:0;
}
*html,*body{
	overflow: hidden;
}

ul,li{
	list-style:none;
}

a {
	text-decoration: none;
	color:#389CE8;
}

a:hover {
	text-decoration: underline;
}
.w_box{
	width:100%;
	margin:0px auto ;
	background:#F7F5F6;
	overflow: hidden;
}
/*-------------begin--------------*/
.tab_top{
	height:48px;
	padding-right:20px;
	text-align:right;
}

.l-btn-icon-left .l-btn-text {
    margin: 0 4px 0 24px;
}

.l-btn-icon-left .l-btn-icon {
    left: 3px;
}

.l-btn-icon {
    display: inline-block;
    font-size: 1px;
    height: 16px;
    line-height: 16px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}

.l-btn {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid #dddddd;
    border-radius: 0;
    color: #777;
    margin-top:10px;
}

.l-btn-left {
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    vertical-align: top;
}

.l-btn-text {
    display: inline-block;
    font-size: 12px;
    line-height: 24px;
    margin: 0 4px;
    padding: 0;
    vertical-align: top;
    width: auto;
}

.icon-ckwd {
    background: url("wz_ckda.png") no-repeat 5px 1px;
}
.icon-view {
    background: url("view_01.png") no-repeat center center;
}
.icon-bb {
    background: url("wz_bb.png") no-repeat center center;
}
.icon-bj {
    background: url("wz_bj.png") no-repeat center center;
}
.icon-sc1 {
    background: url("wz_sc2.png") no-repeat center center;
}
.icon-ckwd {
    background: url("wz_ckda.png") no-repeat 5px 1px;
}

/*-------------begin--------------*/
.tab_position{
	height:30px;
	color:#333;
	border-bottom:1px solid #ccc;
}
.tab_pos_title{
	float: left;
    margin-left: 20px;
    font:bold 16px/30px "宋体";
    color:#555;
}
.tab_pos_title > em{
	font-style:normal;
	color: #389ce8;
}
.tab_pos_time{
    margin-left: 20px;
    float:right;
    margin-right:290px;
    color:#666;
    font:normal 16px/30px "宋体";
}
/*-------------begin-------------*/
.w_con{
	font:13px/24px "宋体";
	color:#555;
	margin:0 auto; 
	margin-left:18px;
	overflow: hidden;
	padding-bottom: 20px;
}

.w_table{
	margin-left:208px;
	background:white;
	display:none;
}
.w_table > table {
	border-collapse: collapse;
	text-align:left;
	background:transparent;
	line-height:24px;
	width:100%;	
}
.w_table > table td{
	height:100%;
	overflow: hidden;
	border:1px solid #ddd;
	padding:8px 12px 0px;
}
.w_table > table > thead {
	overflow: hidden
}
.w_table > table > thead th{
	border:1px solid #ddd;
	padding:0 12px;
	font-weight:normal;
}
.w_table > table img{
	display: block;
	max-width:100%;
	width:100%;
}
.w_table > table table{
	width:auto!important
}
.w_table_con{
	margin-left:10px;
	*margin-left:10px;
	font-weight:normal;
	text-align:center;
	background: white;
}
.w_about{
	height:22px;
	font:bold 14px/22px "宋体";
	color:#389CE8;
	text-align:left;
	padding-top:8px;
}
.w_about_con{

}
.td_title{
	width:180px;
	min-width:180px;
	text-align:left;
}
.tab_head{
	margin-left:198px;
	height:37px;
	clear:both;
}
.tab_head .viewport {
	float: left;
	height:37px;
	width:100%;
	overflow: hidden;
	position: relative;
}
.tab_head ul.overview{
	height:37px; 
	background:#F7F8FA;
	overflow: hidden;
	float:left;	
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.tab_head ul.overview > li{
	float:left;
	width:185px;
	text-overflow: hidden;
	white-space: nowrap;
	font:bold 16px/26px "宋体";
	padding:8px 8px;
	background:url(line.png) no-repeat left center;
	color:#666;
	text-align:center;
	cursor:pointer;
}

.none{
	background-image:none!important;
}

.tab_head .prev {
	background:#F7F8FA url("ico-left.png") no-repeat center left;
}
.tab_head .disable {
	visibility: hidden;
}
.tab_head .next {
	background:#F7F8FA url("ico-right.png") no-repeat center right;
}
.tab_head a.buttons {
	float: left; 
	height: 37px;
	overflow: hidden;
	position: relative;
	width: 10px;
}

.tab_head .overview .on{
	 background: #044A88;
	 color: #fff;
}
.tab_con{
	display:none;
}
.tab_head .tabnav >li.on{
	background: #1C99FF;
	color: #fff;
}
.tab_head ul.overview li:hover{
    background: #044A88;
    color:#fff;
}

.tabnav {
    float: left;
    width: 205px;
    clear:left;
}
.tabnav > li {
    border: 1px solid #ddd;
    cursor: pointer;
    margin-top:1px;
    font:bold 14px/34px "宋体";
    white-space:nowrap;
    color:#666;
    width:175px;
    padding:0 10px;
    background:white;
    clear:both;
}
.tabnav >li:hover, .tabnav > li.on{
    background-color: #1C99FF;
    color: #fff;
}
 
.tab_fj { width:100%; margin:8px auto;}
.tab_fj li{height:32px; height:auto;  line-height:32px;}
.tab_fj li span{ width:26px; height:32px;float:left;}
.tab_fj li a{display: inline-block;cursor: pointer;}
.tab_fj li span.file-doc{ background:url(doc.png) no-repeat center center;}
.tab_fj li span.file-xls{ background:url(xls.png) no-repeat center center;}
.tab_fj li span.file-p4{ background:url(p4.png) no-repeat center center;}
.tab_fj li a.file-name{color:#136ec2; text-decoration:underline}
.tab_fj li a.file-load{color:#136ec2;}

.tab-share{height:auto; overflow:hidden;}
.tab-share>ul{ width:auto; float:right; }
.tab-share>ul>li{ float:left; width:auto; height:28px; padding:0 20px;font:normal 12px/32px "宋体"; }
.tab-share>ul .c-icona span{ width:24px; height:32px; background:url(ico-qd.png) no-repeat center center; float:left;}
.tab-share>ul .c-iconb span{ width:24px; height:32px; background:url(ico-pl.png) no-repeat center center; float:left;}
.tab-share>ul .c-iconc span{ width:24px; height:32px; background:url(ico-sc.png) no-repeat center center; float:left;}
.tab-share>ul .c-icond span{ width:24px; height:32px; background:url(ico-fx.png) no-repeat center center; float:left;}

.right-sidebar{
	width:242px;
	height:auto;
	padding:0 20px;
	color:#666;
	font-size:12px;
	font-family:"宋体";
	float:right;
	clear:right;
}
.wzgl{
	border:1px solid #ddd;
	margin-top:35px;
	background:white;
}
h2.title-wzgl{
	background:url(wzgl.png) no-repeat 15px center;
	padding-left:35px;
	border-bottom:1px solid #ddd;
	font:bold 16px/32px "宋体";
	color:#777;
}
.ul-wzgl{
	padding:8px 0;
}
.ul-wzgl li{
	height:26px;
	line-height:26px;
	padding-left:15px;
}
.ul-wzgl li a{
	color:#136ec2;

}
.wzsx{
	background:white;
	height:auto;
	margin-top:20px;
	border:1px solid #ddd;
}
h2.title-wzsx{
	padding-left:15px;
	font:bold 16px/32px "宋体";
	color:#777;
}
.ul-wzsx{
	height:155px;
	overflow-y:hidden;
}
.ul-wzsx li{
	height:26px;
	line-height:26px;
	padding-left:15px;
	overflow: hidden;
}
.ul-wzsx > li > span{
	display: inline-block;
	text-align:left;
	width:70px;
}
.wztag{
	margin-top:8px;
}
h2.title-wztag{
	font:bold 16px/32px "宋体";
	color:#777;
}

.view-span {
	width:202px;
	height:100px;
	text-align:center;
}
.view-span span{
	float:left;
	width:auto;
	padding:2px 6px;
	border-radius:4px;
	border:1px solid #ccc;
	background: white;
	margin:6px 0 0 6px;
}

/*tag-scroll*/
#main_demo{
	width:242px; 
	padding:2px 0;
	background:#f6f6f6; 
	clear:both;
}
#slider {
	height: 1%;
	overflow: hidden;
}
#slider .viewport {
	float: left;
	width: 202px;
	height: 70px;
	overflow: hidden;
	position: relative;
}
#slider .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 202px;
	left: 0;
	top: 0;
}
#slider .overview li {
	float: left;
	height: 70px;
	width: 202px;
}
#slider .buttons {
	text-indent: -999em;
	float: left;
	width: 20px;
	height: 70px;
	overflow: hidden;
	position: relative;
}
#slider .prev {
	background:url(ico-left.png) no-repeat center center;
}
#slider .next {
	background:url(ico-right.png) no-repeat center center;
}
#slider .disable {
	visibility: hidden;
}

#backTop {position:fixed;bottom:50px;right:50px;display:none;z-index:3000;height:35px;width:35px;background-image: url(../images/icon_top.png)!important;/* FF IE7 */background-repeat: no-repeat;cursor:pointer;_position:absolute;_top:expression(documentElement.scrollTop+documentElement.clientHeight - this.offsetHeight-50);}