#main_demo{
	width:250px; 
	padding:10px 0;
	background:#efefef; 
	clear:both;
}

#slider {
	height: 1%;
	overflow: hidden;
}
#slider .viewport {
	float: left;
	width: 210px;
	height: 70px;
	overflow: hidden;
	position: relative;
}
#slider .overview {
	list-style: none;
	position: absolute;
	padding: 0;
	margin: 0;
	width: 210px;
	left: 0;
	top: 0;
}
#slider .overview li {
	float: left;
	height: 70px;
	width: 210px;
}
#slider .buttons {
	text-indent: -999em;
	float: left;
	width: 20px;
	height: 70px;
	overflow: hidden;
	position: relative;
}
#slider .prev {
	background:url("../images/ico-left.png") no-repeat center center;
}
#slider .next {
	background:url("../images/ico-right.png") no-repeat center center;
}
#slider .disable {
	visibility: hidden;
}
