/**
.f-div{width: 260px;height: 110px;position: absolute;left: 200px;border: 1px #929292 solid;z-index: 10001;background-color: white;}
.f-div .f-div-t {width: 100%; height: 20px;background-color: #929292;color: white;padding-top: 2px;}
.f-div .f-div-t a {color: white;}
.f-div .f-div-c {margin-top: 5px;padding: 3px;}
.f-div .f-div-c .link_btn {text-align: center;margin-top: 5px;}
.f-div .f-div-c .link_url{margin-top: 5px;}
.f-div .f-div-c .link_url input{margin-left:8px;}
.f-div .f-div-c input{width: 190px; height: 22px;}

**/
.f-div{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;border-radius:10px;width:263px;height:122px;padding:10px;position:absolute;z-index:9000000;}
.f-diva{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #CCCCCC;clear:both;display:inline-block;padding-bottom:10px;border-radius:3px;height:110px;width:260px;}
.f-diva .f-div-t {height:30px;line-height: 30px;width: 100%;color: white;border-top-right-radius:3px;border-top-left-radius:3px;border-bottom:1px solid #CCCCCC;background:none repeat scroll 0 0 #C2292B;}
.f-diva .f-div-t b{color: white;margin-left:10px;}
.f-diva .f-div-t a {color: white;float: right;height:12px;margin-right:10px;margin-top: 8px;}
.f-diva .f-div-c {margin-top: 5px;padding: 3px;}
.f-diva .f-div-c input{width: 130px; height: 22px;}
.f-diva .f-div-c .link_btn {text-align: center;margin-top: 5px;}
.f-diva .f-div-c .link_url{margin-top: 5px;}
.f-diva .f-div-c .link_url input{margin-left:8px;}
.f-diva .f-div-c input{width: 190px; height: 22px;}

