.shili_titile{width:auto;height:34px;line-height:34px;background:#004da7;margin:0 10px;padding-left:10px;font-size:14px;border:1px solid #e3e3e3;margin-top:10px;}
.shili_titile_left{float:left;}
.shili_titile_right{float:right;}
.shili_titile_right li{width:140px;float:right;color:#FFF;font-size:14px;}
.shili_titile_right input{margin-right:5px;float:left;margin-top:10px;_margin-top:5px;*+margin-top:6px;}
.shili_titile a{width:auto;height:34px;line-height:34px;color:#FFF;float:left;margin-left:10px;font-size:14px;text-decoration:none;font-weight:bold;}
.shili_titile a:hover{color:#FFF;text-decoration:underline;}
.shili_titile a:active{color:#FFF;text-decoration:underline;}


.shili_con{width:auto;height:auto;margin:0 10px;border:1px solid #e3e3e3;border-top:none;border-bottom:none;border-left:none;}
.shili_con table{table-layout:fixed;word-wrap:break-word;}
.shili_con td{border:1px solid #edecec;border-top:none;border-right:none;color:#666;font-size:14px;line-height:30px;text-align:center;}
.shili_con td b{color:#333333;font-size:14px;float:left;width:100%;}
.shili_con td p{width:100%;background:#f7f7f7;height:24px;line-height:24px;display:block;float:left;text-align:center;}
.shili_con td p a{width:auto;padding:0 10px;font-size:12px;color:#004da7;text-decoration:none;}
.shili_con td p a:hover,.shili_con td p a:active{ text-decoration:underline;}
.shili_con .kdu{width:15%;}

