.individual{width:100%;height:100%;position:relative;_overflow:hidden;margin-top:4px;}
.individual_left{width:76px;height:100%;min-height:450px;background:#ece9e9;text-align:center;position:absolute;left:0;top:0;}
.individual_left img{border:3px solid #fff;margin-top:4px;width:54px;height:54px;}
.individual_left li{height:70px;border-bottom:1px solid #dddddd;width:100%;overflow:hidden;position:relative;}
.individual_left a{margin-top:10px;height:65px;line-height:80px;display:inline-block;text-decoration:none;color:#666;}
.individual_left a:hover,.individual_left a:active{text-decoration:none;color:#c22a2c;}
.individual_ico1{background:url(../images/individual/individual_ico1.png) no-repeat top center;}
.individual_ico1:hover,.individual_ico1:active{background:url(../images/individual/individual_ico1hover.png) no-repeat top center;}
.individual_ico1-active{background:url(../images/individual/individual_ico1hover.png) no-repeat top center;}
.individual_ico2{background:url(../images/individual/individual_ico2.png) no-repeat top center;}
.individual_ico2:hover,.individual_ico2:active{background:url(../images/individual/individual_ico2hover.png) no-repeat top center;}
.individual_ico2-active{background:url(../images/individual/individual_ico2hover.png) no-repeat top center;}
.individual_ico3{background:url(../images/individual/individual_ico3.png) no-repeat top center;}
.individual_ico3:hover,.individual_ico3:active{background:url(../images/individual/individual_ico3hover.png) no-repeat top center;}
.individual_ico3-active{background:url(../images/individual/individual_ico3hover.png) no-repeat top center;}
.individual_ico4{background:url(../images/individual/individual_ico4.png) no-repeat top center;}
.individual_ico4:hover,.individual_ico4:active{background:url(../images/individual/individual_ico4hover.png) no-repeat top center;}
.individual_ico4-active{background:url(../images/individual/individual_ico4hover.png) no-repeat top center;}
.individual_ico5{background:url(../images/individual/individual_ico5.png) no-repeat top center;}
.individual_ico5:hover,.individual_ico5:active{background:url(../images/individual/individual_ico5hover.png) no-repeat top center;}
.individual_ico5-active{background:url(../images/individual/individual_ico5hover.png) no-repeat top center;}
.individual_ico6{background:url(../images/individual/individual_ico6.png) no-repeat top center;}
.individual_ico6:hover,.individual_ico6:active{background:url(../images/individual/individual_ico6hover.png) no-repeat top center;}
.individual_ico6-active{background:url(../images/individual/individual_ico6hover.png) no-repeat top center;}

.individual_left a .individual_circle{padding:0 3px;width:20px;border-radius:10px;position:absolute;left:45px;top:8px;background:#666;color:#FFF;height:16px;line-height:16px;font-family:"宋体";font-weight:bold;}
.individual_left a:hover .individual_circle,.individual_left a:active .individual_circle{width:20px;padding:0 3px;background:#c22a2c;color:#fff;height:16px;line-height:16px;}
.individual_left a .individual_circle-active{padding:0 3px;width:20px;border-radius:10px;position:absolute;left:45px;top:8px;background:#c22a2c;color:#FFF;height:16px;line-height:16px;font-family:"宋体";font-weight:bold;}

.individual_left a .individual_circle1{width:16px;border-radius:16px;position:absolute;left:45px;top:8px;background:#666;color:#FFF;height:16px;line-height:16px;text-align:center; font-family:"宋体";font-weight:bold;}
.individual_left a:hover .individual_circle1,.individual_left a:active .individual_circle1{width:16px;background:#c22a2c;color:#fff;height:16px;line-height:16px;}
.individual_left a .individual_circle1-active{width:16px;border-radius:16px;position:absolute;left:45px;top:8px;background:#c22a2c;color:#FFF;height:16px;line-height:16px;text-align:center; font-family:"宋体";font-weight:bold;}



.individual_right{width:auto;height:100%;margin:0 0 0 76px;min-height:515px;position:relative;}


.individual_right #tags #individual_select{margin:5px 10px 0 0;float:right;display:inline;}
#tags {height:35px;background:#ece9e9;width:100%;display:inline-block;_overflow:hidden;}
#tags LI {BACKGROUND: url(images/tagleft.gif) no-repeat left bottom;float:left;MARGIN-RIGHT:1px;height:35px;}
#tags LI A {width:auto;padding:0 6px;text-align:center;BACKGROUND: url(images/tagright.gif) no-repeat right bottom; FLOAT:left;COLOR: #333; LINE-HEIGHT: 35px;height:35px;TEXT-DECORATION: none;}
#tags LI.emptyTag {	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px}
#tags LI.selectTag {BACKGROUND-POSITION: left top; MARGIN-BOTTOM: -2px; POSITION: relative; HEIGHT: 35px}
#tags LI.selectTag A {BACKGROUND:url(../images/individual/individual_titlebg.png) no-repeat 0px 4px; COLOR: #c22a2c; line-height: 35px; height:35px}
#tagContent {PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px;PADDING-TOP: 1px;BACKGROUND-COLOR: #fff;}
.tagContent {DISPLAY: none;BACKGROUND:#fff; WIDTH:auto;HEIGHT:100%;_margin-left:5px;_float:left;}
#tagContent0{margin-left: 15px;margin-top: 15px;}
#tagContent1{margin-left: 15px;margin-top: 15px;}
    

#tagContent DIV.selectTag {DISPLAY: block;width:auto;}

.individual_table td{width:30%;padding:0 20px 0 0px;display:inline-block;float:left;_display:block;}

.content_news1_con .individual_img{float:left;vertical-align:middle;margin-top:8px;margin-left:5px;}
.content_news1{width:100%;height:195px;float:left;position:relative;z-index:999;margin:0px 0 20px 0;}
.content_index_news_left{width:10px;height:225px;background:url(../images/individual/index_news_left.jpg) no-repeat;position:absolute;left:0;top:0;}
.content_index_news_center{width:auto;height:225px;background:url(../images/individual/index_news_center.jpg) repeat-x;margin:0 10px;}
.content_index_news_right{width:10px;height:225px;background:url(../images/individual/index_news_right.jpg) no-repeat top right;position:absolute;right:0px;top:0;}
.content_news1_title{height:34px;line-height:34px;width:100%;}
.content_news1_title a{font-size:12px;color:#333;}
.content_news1_title a:hover,.content_news1_title a:active{color:#333;}
.content_news1_title p{float:left;}
.content_news1_title span{float:right;color:#fed6d6;}
.content_news1_title span a{font-size:12px;font-weight:normal;color:#fed6d6;}
.content_news1_title span a:hover{font-weight:bold;font-size:14px;color:#FFF;}
.content_news1_title span .dangqian{font-weight:bold;font-size:14px;color:#FFF;}
.content_news1_con{float:left;width:100%;overflow:hidden}
.content_news1_con ul{clear:both;}
.content_news1_con li{padding:0;margin:0;width:100%;height:31px;line-height:31px;float:left;border-bottom:1px dashed #CCC;}
.content_news1_con li span{float:right;margin-right:5px;color:#aaa;font-size:12px;font-family:Arial, Helvetica, sans-serif;font-weight:normal;display:inline;}
.content_news1_con img{margin-top:15px;margin-right:5px;float:left;}
.content_news1_con li a{color:#666;float:left;margin:0;padding:0;}
.content_news1_con li a:hover{color:#c90d00;}
.content_news1_con .content_news1_more{width:100%;height:30px;line-height:30px;float:right;font-family:"宋体";border-bottom:0px;text-align:right;background:none;}
.content_news1_con .content_news1_more a{float:right;color:#aaaaaa;}
.content_news1_con .content_news1_more a:hover{color:#ff9500;text-decoration:underline;}




.screening_btn{width:50px;height:22px;background:url(../images/individual/screening_btnico1.png) no-repeat 10px center #FFF;border:1px solid #e0dfdf;display:inline-block;line-height:22px;text-align:center;float:right;margin-right:10px;padding-left:12px;margin-top:6px}
.screening_btn:hover,.screening_btn:active{background:url(../images/individual/screening_btnico2.png) no-repeat 10px center #f6f6f6;color:#c22a2c;}
.individual_tdmax{min-width:70px;}
.individual_more{border:1px solid #e5e5e5;border-bottom:none;}
.individual_more .individual_tdbg{background:#f6f6f6;height:35px;line-height:35px;border-bottom:1px solid #e5e5e5;}
.pl10{padding-left:10px;}
.ml10{margin-left:10px;}
.fw{ font-weight:bold;}
.c666{color:#666;}
.individual_more .individual_moretr{padding:0 10px;}
.individual_more td{height:35px;line-height:35px;color:#666;background:url(../images/left_line.jpg) repeat-x bottom left;overflow:hidden;}
.individual_40{width:40%;}
.individual_15{width:15%;min-width:100px;}
.individual_10{width:10%;}
.individual_moretr .w15{width:15%;}
.fl{float:left;}
.mb10{margin-bottom:10px;}
.w100{width:80%;}
.w100 p{width:300px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.individual_select{width:20%;}
.rationalize{width:auto;_width:90px;min-width:90px;max-width:220px;}
.rationalize_select{position:relative;margin-right:10px;float:left;}
.rationalize_select_left{background:url(../images/individual/rationalize_selectleft.png) no-repeat;width:10px;height:24px;position:absolute;left:-10px;top:0;}
.rationalize_select_center{background:url(../images/individual/rationalize_selectcenter.png) repeat-x;width:auto;height:24px;line-height:24px}
#tags .rationalize_select_ico{cursor:pointer;width:100%;background:url(../images/individual/rationalize_selectico.png) no-repeat center right;height:24px;line-height:24px;}
#tags .rationalize_select_btn{width:auto;padding:0 10px 0 5px;height:24px;line-height:24px;}
.rationalize_select_right{background:url(../images/individual/rationalize_selectright.png) no-repeat;width:10px;height:24px;position:absolute;right:-10px;_right:0;top:0;}

#tags .rationalize_option{width:100%;height:100%;background:#FFF;border:1px solid #ddd;border-bottom:none;float:left;_width:87px;}
#tags .rationalize_option li{border-bottom:1px solid #ddd;height:30px;line-height:30px;width:100%;float:left;}
#tags .rationalize_option li a{height:30px;line-height:30px;width:100%;text-align:left;margin:0;padding:0 10px;display:inline-block;}
#tags .rationalize_option li:hover,#tags .rationalize_option li:active{background:#eee;}

/***********筛选条件****************/
.conditions{position:absolute;right:12px;top:52px;}
.conditions_title{width:240px;height:33px;line-height:33px;background:#c22a2c;border-bottom:1px solid #d1d1d1;color:#FFF;}
.conditions_con{width:220px;background:#f6f6f6;padding:10px;}
.conditions_con li{width:100%;margin-bottom:10px;}
.conditions_con font{width:60px;text-align:right;display:inline-block;color:#666;margin-right:3px;}
.conditions_con input{width:150px;color:#666;padding:0 2px;border:1px solid #d1d1d1;background:#FFF;height:22px;line-height:22px;}
.conditions_btn{width:48px;height:24px;line-height:24px;text-align:center;color:#FFF;background:#c22a2c;display:inline-block;}
.conditions_btn:hover,.conditions_btn:active{background:#a1191a;color:#FFF;}



/*********************用户设置**************************/
.user_settings{width:auto;padding-right:10px;}
.user_settings_line{background:url(../images/individual/user_settings_line.jpg) repeat-x center center;height:30px;line-height:30px;width:100%;}
.user_settings_line span{width:auto;background:#FFF;height:30px;line-height:30px;display:inline-block;padding-right:10px;}

.user_settings_head{height:108px;width:100%;margin:10px 0;}
.user_settings_head img{height:100px;height:100px;margin:0 10px 0 63px;border:1px solid #ddd;padding:3px;}
.user_settings_btn{width:auto;padding:0 15px;color:#FFF;background:#c22a2c;height:30px;line-height:30px;display:inline-block;margin-top:78px; border-radius:3px;}
.user_settings_btn:hover,.user_settings_btn:active{color:#FFF;background:#a1191a;}

.user_settings_personal{width:100%;height:100%;clear:both;}
.user_settings_personalleft{width:49%;border-right:1px solid #ddd;}
.user_settings_personalleft li{margin-bottom:10px;}
.user_settings_personalleft p{width:110px;text-align:right;margin-right:15px;float:left;height:30px;line-height:30px;color:#666;}
.user_settings_personalleft input{height:30px;line-height:30px;border:1px solid #CCC;padding:0 5px;color:#666;}
.user_settings_personalleft select{height:30px;line-height:24px;padding:5px;border:1px solid #CCC;color:#666;width:auto;margin:0; vertical-align:middle;}

.user_settings_personalright{width:49%;height:100%;position:relative;_overflow:hidden;}
.user_settings_personalright p{color:#666;margin:0 15px 0 20px;height:30px;line-height:30px;width:105px;text-align:right;left:0px;top:0px;z-index:1000;
display:inline-block;position:absolute;}
.pright{width:auto;height:230px;margin:0 0 0 140px;border:1px solid #ddd;position:relative;}
.user_settings_personalright textarea{width:100%;resize:none;height:230px;border:0;margin:0;display:inline-block;padding:0;position:absolute;left:0;top:0px;color:#666;line-height:20px;font-size:12px;}


.user_settingsbtn{width:100%;height:40px;text-align:right;margin-top:10px;position:absolute;left:0;bottom:0;}
.user_settingsbtn .an1{background:url(../images/individual/ggzs_bg2.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:right;color:#FFF;margin-left:45px;border:none;display:inline;cursor:pointer;}
.user_settingsbtn .an2{background:url(../images/individual/ggzs_bg1.jpg) no-repeat;height:28px;width:67px;line-height:28px;float:right;color:#FFF;border:none;margin-right:20px;margin-left:10px;display:inline;cursor:pointer;}

/*****************主题设置*************/
.themebg{background:#ece9e9;padding-top:10px;}

.shezhi_con_nr{background:#FFF;width:100%;height:auto;}
.shezhi_con_nr ul{clear:both;padding:0 10px;}


.shezhi_left{width:30%;height:175px;float:left;padding-left:10%;}
.shezhi_left ul{padding-top:10px;}
.shezhi_left li{width:100%;height:24px;line-height:24px;}
.shezhi_left .hongse{background:#FFF;margin:10px 0 0 0;width:124px;height:84px;border:1px solid #d7d7d7;text-align:left;overflow:hidden;padding:3px;}
.shezhi_left .hongse img{width:124px;height:84px;}
.shezhi_left .hongse1{font-weight:bold;text-align:center;height:35px;line-height:35px;background:#c22a2c;width:134px;margin-bottom:10px;}
.shezhi_left .hongse1 span{color:#FFF;}
.shezhi_left li{text-align:center;width:122px;}


.shezhi_center{width:30%;height:175px;float:left;}
.shezhi_center ul{padding-top:10px;}
.shezhi_center li{width:100%;height:24px;line-height:24px;}
.shezhi_center .hongse{background:#FFF;margin:10px 0 0 0;width:124px;height:84px;border:1px solid #d7d7d7;text-align:left;overflow:hidden;padding:3px;}
.shezhi_left .hongse img{width:124px;height:84px;}
.shezhi_center .hongse1{font-weight:bold;text-align:center;height:35px;line-height:35px;background:#004da7;width:134px;margin-bottom:10px;}
.shezhi_center .hongse1 span{color:#FFF;}
.shezhi_center li{text-align:center;width:122px;}


.shezhi_right{width:30%;height:175px;float:left;}
.shezhi_right ul{padding-top:10px;}
.shezhi_right li{width:100%;height:24px;line-height:24px;}
.shezhi_right .hongse{background:#FFF;margin:10px 0 0 0;width:124px;height:84px;border:1px solid #d7d7d7;text-align:left;overflow:hidden;padding:3px;}
.shezhi_right .hongse1{font-weight:bold;text-align:center;height:35px;line-height:35px;background:#009883;width:134px;margin-bottom:10px;}
.shezhi_right .hongse1 span{color:#FFF;}
.shezhi_right li{text-align:center;width:122px;}


#sortable1, #sortable2{margin:0;margin-right:10px;float:left;width:100%;}
#sortable1 li, #sortable2 li{margin:0 5px 10px 5px;font-size:12px;float:left;border:solid red;background:#FFF;text-align:center;color:#666;}
#sortable1 li{width:43%;height:120px;line-height:120px;}
#sortable2 li{width:98%;height:24px;line-height:24px;}




