@CHARSET "UTF-8";

/*提交按钮*/
.sub_btn a {
	background:url(../../auther/images/gonggao_bg.jpg) no-repeat scroll 0 0;
  	color: #fff;
  	display: block;
  	float: right;
  	font-size: 12px;
  	height: 28px;
  	line-height: 28px;
  	margin-right: 8px;
  	margin-top: 8px;
  	text-align: center;
  	width: 67px;
}
.background_theme{
	background:url(../../auther/images/index_anniu5.jpg) repeat scroll 0 0;
  	float: right;
  	height: 25px;
  	line-height: 25px;
  	width: 100%;
}
.font_style{
	float:left;
	font-size: 14px;
	padding-left: 5px;
	color: #fff;
}