/***********************通用代码**************************/
html,body,ul,li,p,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,form{margin:0; padding:0}
body{padding-top: 10px}
ul{list-style:none;}
.clear{ clear:both; height:0; overflow:hidden; height:0px;}
a{text-decoration:none;color:#666;}
a:hover{color:#004da7;}
img{vertical-align:top;border:0}

body{margin:0 auto;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
/***********************通用代码结束**************************/


/***********************头部代码开始**************************/
.header{width:100%;height:70px;margin:0 auto;background:url(../images/top_bg.jpg) repeat-x;min-width:980px;}
.header_left{width:220px;height:70px;float:left;}
.header_left img{margin-top:22px;margin-left:22px;}

.header_right{width:600px;height:55px;float:right;padding-top:15px;}
.header_right_top{width:100%;height:24px;line-height:24px;float:right;text-align:right;margin-right:20px;display:inline;}
.header_right_top a{font-size:14px;color:#FFF;}
.header_right_top a:hover{color:#FFF; text-decoration:underline;}
.header_right_bottom{width:100%;float:right;text-align:right;margin-right:10px;display:inline;}
.header_right_bottom li{float:right;text-align:right;}
.header_right_bottom li a{padding:0 10px;height:24px;line-height:24px;background:url(../images/index_top_line.jpg) no-repeat right center;color:#FFF;}
.header_right_bottom li .meiyou{background:none;}
.header_right_bottom li a:hover{color:#FFF; text-decoration:underline;}
/***********************头部代码结束**************************/

/***********************左边代码**************************/
.content{width:100%;height:100%;position:relative;clear:both;display:inline-block;z-index:999;min-width:980px;}
.content_left{width:170px;padding-left:4px;padding-right:6px;padding-top:3px;position:absolute;left:0;top:0;height:100%;display:inline-block;clear:both;margin:0;}
.left_sanjiaoxing{background:url(../images/left_sanjiaoxing.jpg) no-repeat;width:4px;height:7px;position:absolute;left:175px;top:50%;float:left;}
.content_left ul{clear:both;}
.content_left li{width:170px;height:auto;float:left;}
.content_left .left_1{margin:0 10px;width:148px;height:29px;line-height:29px;float:left;background:#004da7;display:inline;}
.content_left .left_1:hover{background:#004da7;}
.content_left .left_1 a{padding:0 10px;width:128px;height:29px;line-height:29px;display:block;font-size:14px;color:#FFF;font-weight:bold;background:url(../images/index_left_sanjiaoxing.jpg) 130px 12px no-repeat;}
.content_left .left_1 a:hover{color:#FFF;font-weight:bold;}
.left_fen{margin:0 10px;height:auto;width:148px;background:#f6f6f6;float:left;border-bottom:1px solid #cccccc;display:inline;}
.content_left_ss{width:136px;margin:0 5px;border:1px solid #CCC;float:left;background:#FFF;height:22px;line-height:22px;margin-top:5px;margin-bottom:8px;display:inline;}
.content_left_ss a{float:left;}
.content_left_ss img{width:23px;height:22px;float:left;}
.content_left_ss input{width:110px;height:22px;line-height:22px;font-size:12px;color:#666;padding-left:3px;border:0px;background:0;float:left;}
.content_left_er{padding:0 5px;width:138px;float:left;}
.content_left_er li{height:auto;line-height:22px;padding:0 5px;width:128px;float:left;}
.content_left_er li:hover{background:#ece9e9;cursor:pointer;}
.content_left_er li:active{background:#6fb1ff;}
.content_left_er li:visited{background:#6fb1ff;}
.content_left_er li span{margin-top:7px;margin-right:4px;width:9px;height:9px;float:left;background:url(../images/left_ico1.jpg) no-repeat;}
.content_left_er li p{margin-top:7px;margin-right:4px;width:10px;height:9px;float:left;background:url(../images/left_ico3.jpg) no-repeat;}
.content_left_er li a{height:22px;line-height:22px;color:#666;float:left;}
.content_left_er li a:hover{color:#333;}
.content_left_er li a:active{color:#FFF;}
.content_left_er li a:visited{color:#333;}

.content_left_er .left_zong{height:auto;line-height:22px;width:128px;float:left;padding:0;}
.content_left_er .left_zong:hover{background:none;}
.content_left_er .left_zong:active{background:none;}
.content_left_er .left_zong:visited{background:none;}

.content_left_er .left_1_shang{height:22px;line-height:22px;float:left;width:128px;padding:0 5px;background:#da484a;color:#FFF;}
.content_left_er .left_1_shang:hover{background:#da484a;cursor:pointer;}
.content_left_er .left_1_shang:active{background:#6fb1ff;}
.content_left_er .left_1_shang:visited{background:#6fb1ff;}
.content_left_er .left_1_shang a{color:#FFF;}
.content_left_er .left_1_shang a:hover{color:#FFF;}
.content_left_er .left_1_shang a:active{color:#FFF;}
.content_left_er .left_1_shang a:visited{color:#FFF;}

.content_left_er .left_1_shang span{margin-top:7px;margin-right:4px;width:9px;height:9px;float:left;background:url(../images/left_ico2.jpg) no-repeat;}
.content_left_er .left_1_shang span:hover{margin-top:7px;margin-right:4px;width:9px;height:9px;float:left;background:url(../images/left_ico1.jpg) no-repeat;}
.content_left_er .left_1_shang p{margin-top:7px;margin-right:4px;width:10px;height:9px;float:left;background:url(../images/left_ico4.jpg) no-repeat;}

.content_left_er .left_1_xia li{height:22px;padding-left:28px;width:105px;display:block;float:left;}
.content_left_er .left_1_xia li:hover{height:22px;background:#FFF;cursor:pointer;}
.content_left_er .left_1_xia li:active{background:#6fb1ff;}
.content_left_er .left_1_xia li:visited{background:#6fb1ff;}

.content_left .left_2{margin:0 10px;width:148px;height:29px;line-height:29px;float:left;border-bottom:1px solid #cccccc;background:url(../images/index_left_title_bg.jpg) repeat-x;display:inline;}
.content_left .left_2:hover{background:#004da7;}

.content_left .left_2 a{padding:0 10px;width:128px;height:29px;line-height:29px;display:block;font-size:14px;color:#333333;font-weight:bold;background:url(../images/index_left_sanjiaoxing1.jpg) 130px 12px no-repeat;}
.content_left .left_2 a:hover{color:#FFF;font-weight:bold;background:url(../images/index_left_sanjiaoxing.jpg) 130px 12px no-repeat;}
.left_fen{margin:0 10px;height:auto;width:148px;background:#f6f6f6;float:left;}

/***********************左边代码**************************/



/*********************右边上边代码**************************/
.content_right{width:auto;height:100%;background:#FFF;margin:0 0px 0 180px;clear:both;}
.content_right_top{padding-top:25px;height:32px;width:100%;float:left;text-align:center;}
.content_right_bottom{width:100%;float:left;display:inline-block;clear:both;}

.content_ss{width:450px;height:32px;text-align:center;position:relative;margin:0 auto;}

.content_ss .kuang{border:1px solid #004da7;width:318px;height:30px;line-height:30px;padding-left:3px;font-size:14px;color:#333;float:left;}
.content_ss .anniu{width:54px;height:32px;line-height:32px;border:none;background:url(../images/index_anniu.jpg) no-repeat;position:absolute;left:322px;top:0;cursor:pointer;float:left;}
.content_ss .anniu:link {background:url(../images/index_anniu.jpg) no-repeat;}/* 未访问的链接 */
.content_ss .anniu:visited {background:url(../images/index_anniu2.jpg) no-repeat;}/* 已访问的链接 */
.content_ss .anniu:hover {background:url(../images/index_anniu1.jpg) no-repeat;} /* 当有鼠标悬停在链接上 */
.content_ss .anniu:active {background:url(../images/index_anniu2.jpg) no-repeat;}/* 被选择的链接 */

.content_ss span{height:32px;width:35px;margin-left:53px;display:inline;float:left;}
.content_ss span a{font-size:12px;height:32px;line-height:32px;color:#FFF;width:35px;background:url(../images/quanwen.jpg) no-repeat;display:block;float:left;}
.content_ss span a:hover{color:#FFF;text-decoration:none;background:url(../images/quanwen1.jpg) no-repeat;text-decoration:none;}
.content_ss a{font-size:12px;height:32px;line-height:32px;color:#333;}
.content_ss a:hover{color:#e30000;text-decoration:underline;}

.content_gjz{width:470px;height:30px;margin:0 auto;display:block;overflow:hidden;}
.content_gjz a{color:#004da7;font-size:12px;font-weight:normal;height:30px;line-height:30px;padding:0 10px;}
.content_gjz a:hover{color:#e30000;text-decoration:underline;}


/*********************右边上边代码***************************/
