
body {
    margin: 0 auto;
    max-width: 960px;
}
.ui-slider {
    height: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.ui-slider-wheel {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
}
.ui-slider-item > a {
    display: block;
    text-decoration: none;
}
.ui-slider-group {
    float: left;
    height: 100%;
}
.ui-slider-item {
    background-color: #E3E3E3;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-align: center;
    top: 0;
    width: 100%;
}
.ui-slider-item > p {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}
.ui-slider-dots {
    bottom: 6px;
    padding: 0 6px;
    position: absolute;
    right: 0;
    text-align: right;
}
.ui-slider-item img {
    background: none repeat scroll 0 0 #E7E7E7;
    height: 100%;
    width: 100%;
}
.ui-slider-item > p {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    font-size: 14px;
    padding: 2px 0;
    text-indent: 10px;
}
.ui-slider-dots b {
    background: none repeat scroll 0 0 rgba(144, 144, 144, 0.8);
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 6px;
    margin: 0 4px;
    width: 6px;
}
.ui-slider-dots .ui-slider-dot-select {
    background: none repeat scroll 0 0 #FFFFFF;
}
.menu-ul {
    width: 100%;
}
.menu-ul li {
    float: left;
    width: 50%;
}
.menu-ul li .menu-btn {
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 5px #999999;
    margin: 5px;
    overflow: hidden;
    position: relative;
}
.menu-ul li .menu-btn img {
    display: block;
    width: 100%;
}
.menu-ul li .desc {
    border-radius: 0 0 5px 5px;
    color: #333333;
    font-size: 14px;
    padding: 0 0 2px;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 640px) {
.temslide {
    height: 400px;
}
.menu-ul li .menu-btn img {
    height: 180px;
}
.ui-slider {
    height: 356px;
}
}
@media screen and (min-width: 480px) and (max-width: 640px) {
.temslide {
    height: 300px;
}
.menu-ul li .menu-btn img {
    height: 135px;
}
.ui-slider {
    height: 267px;
}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
.temslide {
    height: 160px;
}
.menu-ul li .menu-btn img {
    height: 90px;
}
.ui-slider {
    height: 178px;
}
}
.menu-ul-imground {
}
.menu-ul-imground li .menu-btn {
    padding: 15px 5px;
}
.menu-ul-imground .menu-btn .img {
    border: 5px solid #CCCCCC;
    border-radius: 65px 65px 65px 65px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    width: 120px;
}
.menu-ul-imground .menu-btn .img img {
    height: 120px;
    width: auto;
}
.menu-ul-imground .menu-btn .title {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0;
    text-align: center;
}
.menu-ul-imground .menu-btn .des {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    text-align: center;
}
.menu-ul-six {
    background: none repeat scroll 0 0 #EFEFEF;
    padding: 0 5px 10px;
}
.menu-ul-six li {
    margin-top: 10px;
}
.menu-ul-six li.li0 {
    height: 120px;
    width: 100%;
}
.menu-ul-six li.li0 .titlecon {
    background-color: #0072BC;
    display: inline;
    float: left;
    height: 120px;
    position: relative;
    width: 32%;
}
.menu-ul-six li.li0 .titlecon .title {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 24px;
    margin-left: 10px;
    padding: 10px 0;
    width: 55%;
}

.menu-ul-six li.li0 .imgcon {
    float: right;
    position: relative;
    width: 66%;
}
.menu-ul-six li.li0 .imgcon img {
    float: left;
    height: 120px;
    width: 100%;
}
.menu-ul-six li.li0 .imgcon .desc {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    padding: 6px 0;
    position: absolute;
    text-indent: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}
.menu-ul-six li.li1 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 60px;
    line-height: 60px;
    margin: 10px 1%;
    overflow: hidden;
    width: 32%;
}
.menu-ul-six li.li1 a {
    color: #333333;
    display: block;
    font-size: 20px;
    text-align: center;
}
.menu-ul-six li.li1:nth-child(4n-2) {
    margin-left: 0;
}
.menu-ul-six li.li1:nth-child(4n) {
    float: right;
    margin-right: 0;
}
.menu-ul-six li.li0:nth-child(1) .titlecon {
    background-color: #0072BC;
    display: block;
    float: left;
}
.menu-ul-six li.li0:nth-child(5) .titlecon {
    background-color: #F98F2E;
    display: block;
    float: right;
}
.menu-ul-six li.li0:nth-child(5) .imgcon {
    float: left;
}
.menu-ul-six li.li0:nth-child(9) .titlecon {
    background-color: #01A31C;
    display: block;
    float: left;
}
.menu-ul-six li.li0:nth-child(13) .titlecon {
    background-color: #FFC40D;
    display: block;
    float: right;
}
.menu-ul-six li.li0:nth-child(13) .imgcon {
    float: left;
}
.menu-ul-six li.li0:nth-child(17) .titlecon {
    background-color: #69C9D2;
}
.menu-ul-six li.li0:nth-child(21) .titlecon {
    background-color: #92ABF8;
}
.menu-ul-six li.li0:nth-child(25) .titlecon {
    background-color: #FF9999;
}
.menu-ul-six li.li0:nth-child(29) .titlecon {
    background-color: #BAB7CA;
}
.menu-ul-six li.li0:nth-child(33) .titlecon {
    background-color: #6DB886;
}
.menu-ul-three li {
    width: 33%;
}
.menu-ul-three li .menu-btn {
    box-shadow: none;
}
.menu-ul-three li .menu-btn .title {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 0;
    text-align: center;
}
.menu-wordul {
    width: 100%;
}
.menu-wordul li {
    background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
.menu-wordul li a {
    display: block;
    padding: 10px 40px 10px 10px;
}
.menu-wordul li h3 {
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    padding: 2px 0;
}
.menu-wordul-desc li h3 {
    line-height: 20px;
}
.menu-wordul li p {
    color: #999999;
    font-size: 14px;
    font-weight: bold;
}

.menu-wordul li .ui-icon-down {
    background-position: -216px -1px;
}
.menu-wordul li .img {
    display: inline;
    float: left;
    height: 45px;
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 80px;
}
.menu-wordul li .img img {
    width: 80px;
}
.wrap:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.menu-ul-et {
    background-color: #151515;
    margin: 0 auto;
    overflow-x: hidden;
}
.menu-ul-et .mainmenu {
    display: block;
    margin: 0;
    padding: 2px;
}
.menu-ul-et .mainmenu li {
    border-radius: 0 0 0 0;
    float: left;
    overflow: hidden;
    width: 25%;
}
.menu-ul-et .mainmenu li .menubtn {
    background-color: #0C68CF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    color: #000000;
    margin: 2px;
    overflow: hidden;
    text-decoration: none;
}
.menu-ul-et .mainmenu li a {
    -moz-user-select: none;
    color: #000000;
    font-size: 14px;
    padding: 0;
    text-decoration: none;
}
.menu-ul-et .mainmenu li .menubtn .menuimg {
    overflow: hidden;
    position: relative;
}
.menu-ul-et .mainmenu li div img {
    border: 0 none;
    border-radius: 0 0 0 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.menu-ul-et .mainmenu li .menutitle {
    bottom: 5px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.menu-ul-et .mainmenu li:nth-child(1), .menu-ul-et .mainmenu li:nth-child(6), .menu-ul-et .mainmenu li:nth-child(7), .menu-ul-et .mainmenu li:nth-child(8), .menu-ul-et .mainmenu li:nth-child(13), .menu-ul-et .mainmenu li:nth-child(14), .menu-ul-et .mainmenu li:nth-child(15) {
    width: 49.9%;
}
.menu-ele {
    width: 56%;
}
.menu-ele .box-item {
    display: block;
    float: left;
    height: 92px;
    margin-bottom: 8px;
    margin-left: 8px;
    outline: medium none;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 77px;
}
.menu-ele .box-item .txt {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.menu-ele .box-item .txt img {
    height: 45px;
    margin-top: 15px;
    width: 45px;
}
.menu-ele .box-item .txt span {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
}
.menu-ele .box-item .bg {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
