/*知识分类*/
.t-p-d{ position : absolute; z-index: 2000;border: 1px solid #F0F6E4; width : 185px; height: 290px; background-color : #F0F6E4; display : none;overflow: hide;}
.t-p-d .title1{background-color: #999999; height: 20px;font-size: 12px;color: white;}
.t-p-d .title1 .left{float: left;line-height: 20px;}
.t-p-d .title1 .right{float: right;line-height: 20px;}
.t-p-d .title1 .right a{text-decoration: none; color: red;}

/*部门分类*/
.t-p-d1{ position : absolute; z-index: 2000;border: 1px solid #F0F6E4; width : 185px; height: 240px; background-color : #F0F6E4; display : none;overflow: hide;}
.t-p-d1 .title1{background-color: #999999; height: 20px;font-size: 12px;color: white;}
.t-p-d1 .title1 .left{float: left;line-height: 20px;}
.t-p-d1 .title1 .right{float: right;line-height: 20px;}
.t-p-d1 .title1 .right a{text-decoration: none; color: red;}
