/** green **/
.tabs{
	border-bottom: 1px solid #ceebcd;
}
.tabs li{
	border: 1px solid #ceebcd;
}
.tabs li a.tabs-inner{
	background: #F6FBF5;
	color: #467a44;
}
.tabs li a.tabs-inner:hover{
	background: none !important;
}
.tabs li.tabs-selected a.tabs-inner{
	background: #0E9D89;
	color: #fff;
}
.tabs li.tabs-selected a.tabs-inner:hover{
	background: #0E56AB;
	color: #467a44;
}
.tabs li.tabs-selected{
	border-color: #ceebcd;
}
