/** green **/
.tabs{
	border-bottom: 1px solid #ebdcbe;
}
.tabs li{
	border: 1px solid #ebdcbe;
}
.tabs li a.tabs-inner{
	background: #FEFAEF;
	color: #c67e18;
}
.tabs li a.tabs-inner:hover{
	background: none !important;
}
.tabs li.tabs-selected a.tabs-inner{
	background: #C33333;
	color: #fff;
}
.tabs li.tabs-selected a.tabs-inner:hover{
	color: #c67e18;
}
.tabs li.tabs-selected{
	border-color: #ebdcbe;
}
